<div class="form-group">
  <div class="push-top push-bottom">
      <h4>Confirm Gift</h4>
      <p>You are giving <strong>{{dto.amount | currency}}</strong> to <strong>{{dto.program['Name']}}</strong> with <svg viewBox="0 0 160 100" class="icon icon-cc_visa confirm-cc-icon"> <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{brand}}"></use></svg> ending in {{last4}}<span ng-if="dto.mockPledge">
            <!-- TEMPORARY - if this is towards a specific commitment, we want to put the commitment owner's full name here to make it clear who it's going to -->
            towards <strong>First Last's</strong> commitment
      </span>.&nbsp;
      <a href="" ng-click="give.goToChange(give.dto.amount, give.dto.donor, give.dto.email, give.dto.program, give.view)" tabindex="-1" class="text-secondary">Change</a>
  </div>
      <button ng-click="confirmDonation()" ng-class="{disabled: processing}" class="btn btn-primary btn-lg btn-block-mobile give-button" autofocus>
        <span ng-if="processing">Giving...</span>
        <span ng-if="!processing">Give {{dto.amount | currency}}</span>
        <svg viewBox="0 0 32 32" class="icon-medium icon-arrow-right9">
	      <use xlink:href="#arrow-right9"></use>
        </svg>
      </button>
</div>
