<section class="current-series">
  <figure class="container text-center wow fadeIn">
    <img ng-if="currentSeries.picture" class="img-responsive imgix-fluid" data-src="{{ currentSeries.picture }}">
    <figcaption>Current Series</figcaption>
  </figure>

  <main class="container" id="series">
    <article class="wow fadeInUp">
      <h2>{{ currentSeries.title }} <small>{{ currentSeries.runningDates }}</small></h2>
      <p class="lead">{{ currentSeries.description | htmlToPlainText }}</p>
      <p class="small">Topics covered:</p>
      <ul class="topic-list">
        <li ng-repeat="tag in currentSeries.tags">
          <a href="/search?q={{ tag | replaceNonAlphaNumeric }}">{{ tag }}</a>
        </li>
      </ul>
      <p ng-show="currentSeries.trailer">
        <a class="btn btn-primary embeded" ng-click="currentSeries.open('lg')">Watch Trailer</a>
        <a class="btn btn-primary link" href="{{ currentSeries.trailer }}">Watch Trailer</a>
      </p>
    </article>
    <aside id="schedule">
      <schedule class="wow fadeInUp">
        <div class="well">
          <h3>Live Stream Schedule</h3>
          <hr>
          <div dynamic-content="$root.MESSAGES.streamingLandingSchedule.content | html"></div>
        </div>
      </schedule>
    </aside>
  </main>
</section>