<div ng-if="!addEvent.allowAccess() && addEvent.viewReady" class="alert alert-danger" role="alert">
  <div dynamic-content="$root.MESSAGES.mptool_invalid_access.content | html"></div>
</div>

<div ng-if="addEvent.allowAccess()">
  <preloader full-screen='true' ng-show="!addEvent.viewReady"> </preloader>

  <div class="col-md-6 col-md-offset-3" ng-show="addEvent.viewReady">
    <h1>Create/Edit Event <br/> <small ng-show="addEvent.currentPage() == 2"> {{addEvent.event.eventTitle}} <small> </h1>
    <form name="addEvent.allData"  novalidate>

      <add-event ng-if="addEvent.currentPage() == 1" event-data='addEvent.event'> </add-event>
      <add-room ng-if="addEvent.currentPage() == 2"  room-data='addEvent.rooms'> </add-room>

      <button class="btn btn-standard pull-right" ng-click="addEvent.next()" ng-show="addEvent.currentPage() == 1">
        <svg viewBox="0 0 32 32" class="icon icon-arrow-right9">
          <use xlink:href="#arrow-right9"></use>
        </svg>
        Next
      </button>

      <button type="input"
              class="btn btn-primary pull-right"
              ng-click="addEvent.submit()"
              ng-show="addEvent.currentPage() == 2"
              ng-class="{disabled: addEvent.processing}">
        Submit Request
      </button>

      <button class="btn btn-standard pull-right" ng-click="addEvent.back()" ng-show="addEvent.currentPage() == 2 && !addEvent.isEditMode()">
        <svg viewBox="0 0 32 32" class="icon icon-arrow-left9">
          <use xlink:href="#arrow-left9"></use>
        </svg>
        Back
      </button>

    </form>
  </div>
</div>
