<div class="form-group col-md-12" ng-class="{'has-error': profile.validation.showErrors(profile.pform, 'undividedRsvpKickoff')}" >
  <label ng-class="{required: formField.required}" ng-show="formField.field.label"dynamic-content="formField.field.label | html"></label>
  <label ng-show="formField.field.description" dynamic-content="formField.field.description | html"></label>
  <div ng-repeat='attribute in formField.data.attributeTypes[attributeTypeIds.UNDIVIDED_RSVP_KICKOFF].attributes'>
    <label class="radio-inline">
      <input type="radio"
             name="attributeRsvpKickoff"
             ng-value="attribute"
             ng-model="formField.data.groupParticipant.singleAttributes[attributeTypeIds.UNDIVIDED_RSVP_KICKOFF].attribute" /> {{attribute.name}}
    </label>
  </div>
</div>
