<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/main.css") %>">
  </head>
  <body class="crds-legacy-styles">
    <%= render CrossroadsInterface.SharedView, determine_page_type(@page_type), %{content_blocks: @content_blocks, payload: @payload } %>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>

