<!DOCTYPE html>
<html lang="en">
  <head>
    <script·src="https://use.typekit.net/ccb3vpa.js"></script>
    <link rel="stylesheet" href="<%= static_path(assigns[:conn], "/css/main.css") %>">
  </head>
<body class="crds-legacy-styles">
  <%= raw(assigns[:payload]) %>
</body>
