<div class="modal-header">
  <h3 class="modal-title">Confirm Password</h3>
</div>
<form ng-submit="pwModal.ok()" id="pwModal.confirmForm" name="pwModal.confirmForm" role="form" novalidate>
  <div class="modal-body" ng-switch on="pwModal.modalTypeItem">
    <div dynamic-content="$root.MESSAGES.verifyEmailOnlyCredsChange.content | html" ng-switch-when="emailOnly"></div>
    <div dynamic-content="$root.MESSAGES.verifyOtherCredsChange.content | html" ng-switch-when="notEmailOnly"></div>
    <label>Password</label>
    <password-field required="true" passwd="pwModal.passwd" submitted="navlogin.$submitted" prefix="passwordPrefix"></password-field>
  </div>
  <div class="modal-footer">
    <a ui-sref="forgotPassword" href="/forgot-password" target="_blank" class="pull-left">Forgot password?</a>
    <button class="btn btn-standard" type="button" ng-click="pwModal.cancel()">Cancel</button>
    <button type="submit" btn-loading="pwModal.saving" data-loading-text="Saving..." class="btn btn-primary btn-block-mobile" type="button" ng-click="pwModal.ok()" title="confirmrequest">Confirm</button>
  </div>
</form>
