.crds-legacy-styles {
  @import 'helpers/variable-overrides.scss';
  @import '_bootstrap.scss';
  @import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');
  @import 'helpers/browser-specific-styles.scss';
  @import 'helpers/style-overrides.scss';
  @import 'helpers/gradient.scss';
  @import 'helpers/match-column-heights.scss';
  @import 'helpers/utilities.scss';
  @import 'base/brand.scss';
  @import 'base/typography.scss';
  @import 'layout/header.scss';
  @import 'layout/content.scss';
  @import 'layout/footer.scss';
  @import 'layout/forms.scss';
  @import 'modules/badges.scss';
  @import 'modules/billboard.scss';
  @import 'modules/brandbar.scss';
  @import 'modules/buttons.scss';
  @import 'modules/cards.scss';
  @import 'modules/closable-tags.scss';
  @import 'modules/crds-card.scss';
  @import 'modules/crds-hero.scss';
  @import 'modules/crds-modal.scss';
  @import 'modules/group-detail-about.scss';
  @import 'modules/group-participants-cards.scss';
  @import 'modules/group-requests.scss';
  @import 'modules/group-search-filter.scss';
  @import 'modules/group-cards.scss';
  @import 'modules/carousel.scss';
  @import 'modules/color-swatch.scss';
  @import 'modules/dropdowns.scss';
  @import 'modules/FormlyBuilder.scss';
  @import 'modules/grid.scss';
  @import 'modules/growl.scss';
  @import 'modules/menu-icon.scss';
  @import 'modules/jquery.fullPage.scss';
  @import 'modules/mock-controls.scss';
  @import 'modules/modal.scss';
  @import 'modules/modal-ng2.scss';
  @import 'modules/password.scss';
  @import 'modules/roll-call.scss';
  @import 'modules/sprites.scss';
  @import 'modules/header-video.scss';
  @import 'modules/icon.scss';
  @import 'modules/iframe.scss';
  @import 'modules/img-link.scss';
  @import 'modules/labels.scss';
  @import 'modules/mailchimp.scss';
  @import 'modules/media-player.scss';
  @import 'modules/media-list.scss';
  @import 'modules/nav.scss';
  @import 'modules/ng-tags-input.scss';
  @import 'modules/no-data.scss';
  @import 'modules/popover.scss';
  @import 'modules/progress-bars.scss';
  @import 'modules/social-share.scss';
  @import 'modules/terms.scss';
  @import 'modules/timeline.scss';
  @import 'modules/timepicker.scss';
  @import 'modules/videojs.scss';
  @import 'pages/atrium.scss';
  @import 'pages/blog.scss';
  @import 'pages/brave.scss';
  @import 'pages/camps.scss';
  @import 'pages/childcare_dashboard.scss';
  @import 'pages/commitment.scss';
  @import 'pages/corkboard.scss';
  @import 'pages/dashboard.scss';
  @import 'pages/easter.scss';
  @import 'pages/explore.scss';
  @import 'pages/give.scss';
  @import 'pages/go-volunteer.scss';
  @import 'pages/group-resources.scss';
  @import 'pages/group-dashboard.scss';
  @import 'pages/home.scss';
  @import 'pages/live.crossroads.scss';
  @import 'pages/media.scss';
  @import 'pages/media_topics.scss';
  @import 'pages/nextsteps.scss';
  @import 'pages/serve.scss';
  @import 'pages/signin-register.scss';
  @import 'pages/spark.scss';
  @import 'pages/styleguide.scss';
  @import 'pages/superbowl.scss';
  @import 'pages/thefeed.scss';
  @import 'pages/errorpage.scss';
  @import 'pages/go_trip_giving.scss';
  @import 'pages/group_finder.scss';
  @import 'pages/group-search-results.scss';
  @import 'pages/profile.scss';
  @import 'animate/animate.scss';
  @import 'pages/my-trip.scss';
  @import 'pages/search.scss';
  @import 'pages/streaming.scss';
  @import 'pages/create-event.scss';
  @import 'helpers/utilities.scss';
  @import 'lib/angular-aside.scss';
  @import 'lib/angular-growl.scss';
  @import 'lib/ng-img-crop.scss';
  @import url('//crossroads-media.s3.amazonaws.com/documents/styles/hotfix.css');
}

.crds-styles {
  @import 'crds-styles/assets/stylesheets/bootstrap';
}
