<!--TO DO: This is an interim solution until we have a dynamic class on the HTML or enhance the preloader directive to allow defining of svg -->
<link rel="stylesheet" href="https://cloud.typography.com/6239114/7589552/css/fonts.css">
<style type="text/css">
  #preloader g path {
    stroke: #222222 !important;
  }
</style>

<div class="brave-cont clearfix" ng-class="{'bravePage': bravePage }">
  <div class="brave-background dark-bg imgix-fluid-bg img-background clearfix" data-src="//crds-cms-uploads.imgix.net/content/images/bravebgsm.jpg">
    <video autoplay="true" loop="true" muted="" id="brave-teaser-video" class="brave-teaser-video">
      <source src="https://s3.amazonaws.com/crds-cms-uploads/media/video/Ocean-Background-for-Web-stnd3.mp4" type="video/mp4">
    </video>
    <div class="black-opacity-bg">
    </div>
    <div class="brave-black-bg clearfix">
      <div class="container clearfix brave-container">
        <header>
          <nav class="navbar navbar-static-top">
            <div class="container">
              <div class="row">
                <a ui-sref="brave-at-home" class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4 push-ends soft-top">
                  <img class="img-responsive" src="https://crds-cms-uploads.imgix.net/content/images/brave-logo.png" alt="BRAVE" />
                </a>
              </div>
            </div>
          </nav>
        </header>

        <div class="row soft-bottom clearfix">
          <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 soft-bottom">
            <preloader ng-if="app.resolving" full-screen='true'> </preloader>
            <div ui-view ng-if="!app.resolving"> </div>
          </div>
        </div>

      </div><!--/container-->
    </div><!--/brave-black-bg -->
  </div><!--/brave-background-->
</div><!--/brave-cont-->
<div class="brave-steps" ng-if="bravePage">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        Step: {{bravePage}}
      </div><!--/col-sm-8-->
    </div><!--/row-->
  </div>
</div><!--/brave-steps-->
