<div class="container">
  <div ng-if="!checkBatchProcessor.allowAccess()" class="alert alert-danger" role="alert">
    Sorry, you do not have access to run this tool.  Please contact an administrator.
  </div>

  <div class="row">
    <div ng-if="checkBatchProcessor.allowAccess()" ng-init="checkBatchProcessor.activate()" class="col-md-12">
      <div ng-if="checkBatchProcessor.error" class="alert alert-danger" role="alert">
        <strong>{{checkBatchProcessor.batch.name}}</strong> did not submit. Please try again.
      </div>

      <div ng-if="checkBatchProcessor.success" class="alert alert-success" role="alert">
        <strong>{{checkBatchProcessor.batch.name}}</strong> was successfully submitted.
      </div>

      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6">
          <h2>EZ Scan Check Batch Processor</h2>
        </div>
      </div>

      <div class="row" ng-if="checkBatchProcessor.success">
        <div class="col-xs-6 col-sm-6 col-md-6">
          <h3>Batch Information</h3>
          <label>Batch Name:&nbsp;</label><span>{{checkBatchProcessor.batch.name}}</span><br/>
          <label>Program Name:&nbsp;</label><span ng-if="checkBatchProcessor.program">{{checkBatchProcessor.program.Name}}</span><br/>
          <label>Total Checks in Batch:&nbsp;</label><span>{{checkBatchProcessor.checkCounts.total}}</span><br/>
          <label>Total Checks to Import:&nbsp;</label><span>{{checkBatchProcessor.checkCounts.notExported}}</span><br/>
          <label>Checks Already Imported:&nbsp;</label><span>{{checkBatchProcessor.checkCounts.exported}}</span>
        </div>
      </div>

      <div class="form-group" ng-if="checkBatchProcessor.error || !checkBatchProcessor.success">
        <form name="checkBatchProcessorForm" ng-submit="checkBatchProcessor.processBatch(this)">
          <div class="row">
            <div class="form-group col-xs-6 col-sm-6 col-md-6" ng-class="{'has-error': checkBatchProcessorForm.$submitted && checkBatchProcessorForm.batch.$invalid }">
              <label class="control-label required" for="batch">EZ Scan Batch Name</label>
              <ui-select ng-model="checkBatchProcessor.batch" name="batch" id="batch" ui-select-required>
                <ui-select-match placeholder="Click here to choose check batch...">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="batch in checkBatchProcessor.batches | filter: $select.search track by batch.id">
                  <div ng-class="batch.status == 'exported' ? 'brand-warning' : ''">
                    <div ng-bind-html="batch.name | highlight: $select.search"></div>
                    <small>
                      Scan Date: <span ng-bind-html="''+batch.scanDate | date: 'MMM d, yyyy' | highlight: $select.search "></span>
                    </small>
                  </div>
                </ui-select-choices>
              </ui-select>
              <ng-messages for="checkBatchProcessorForm.batch.$error" ng-if="checkBatchProcessorForm.$submitted && checkBatchProcessorForm.batch.$invalid">
                <ng-messages-include src="on-submit-messages"></ng-messages-include>
              </ng-messages>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-xs-6 col-sm-6 col-md-6">
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="checkBatchProcessor.showClosedBatches" id="showClosedBatches" ng-change="checkBatchProcessor.filterBatches()" />
                  Include Exported Batches
                </label>
              </div>
            </div>
          </div>

          <br/>

          <div class="row">
            <div class="form-group col-xs-6 col-sm-6 col-md-6">
              <label class="control-label" for="program">Program</label>
              <ui-select ng-model="checkBatchProcessor.program" name="program" id="program" required>
                <ui-select-match placeholder="Click here to choose the program...">{{$select.selected.Name}}</ui-select-match>
                <ui-select-choices repeat="program in checkBatchProcessor.programs | filter: $select.search track by program.ProgramId">
                  <div ng-bind-html="program.Name | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
            </div>
          </div>

          <div class="row" style="margin-top: 15px;">
            <div class="col-xs-6 col-sm-6 col-md-6">
              <button ng-disabled="checkBatchProcessor.processing"
                      class="btn btn-primary btn-lg btn-block-mobile give-button">
                Import Donations
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
