<div class="modal-header">
  <h3 class="modal-title">Send a message</h3>
</div>
<div class="modal-body">
  <div class="error" ng-if="contactModal.errors.unknown">An unknown error has occurred, please contact support</div>
  <form name="contactMessage" ng-submit="contactModal.send()" role="form" novalidate>
    <div class="form-group">
      <label for="subject">Subject</label>
      <input id="subject" ng-model="contactModal.subject" placeholder="subject" type="text" class="form-control">
      <span class="error" ng-if="contactModal.errors.subject">Subject is required</span>
    </div>
    <div class="form-group">
      <label for="body">Message</label>
      <textarea name="body" id="body" cols="30" rows="3" placeholder="message" ng-model="contactModal.message" required class="form-control"></textarea>
      <span class="error" ng-if="contactModal.errors.message">Message is required</span>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-link pull-left" type="button" ng-click="contactModal.cancel()">Cancel</button>
  <button type="submit" btn-loading="contactModal.sending" data-loading-text="Sending..." class="btn btn-primary" type="button" ng-click="contactModal.send()">Send</button>
</div>
