<div class="col-sm-12">
  <div class="series-info push-bottom">
    <div class="well media-well clearfix hard">
      <div class="row">
        <div class="col-md-4 col-sm-5">
          <div class="series-image-container sixteen-nine">
            <img data-src="{{series.selected.image.filename}}" class="img-responsive imgix-fluid img-full-width mobile-push-bottom center">
          </div><!--/series-image-container-->
        </div>
        <div class="col-md-8 col-sm-7">
          <div class="mobile-push push-right">
            <h2 class="push-top mobile-flush-top">{{ series.selected.title }}</h2>
            <div dynamic-content="series.selected.description | html" />
          </div> <!--/mobile-push-->
        </div> <!--/col-sm-5-->
      </div> <!--/row-->
    </div> <!--/well-->
  </div> <!--/series-info-->

  <div class="row">
    <media-list-card items="series.messages" type="messages" />
  </div>
</div><!--/col-sm-12-->
