<li>
  <a href="http://crds.ch/pod-music">
    <svg viewBox="0 0 25 32" class="icon icon-apple">
      <use xlink:href="#apple"></use>
    </svg>
     iTunes Music
  </a>
</li>
<li>
  <a href="https://soundcloud.com/crdschurch">
    <svg viewBox="0 0 25 32" class="icon icon-soundcloud">
      <use xlink:href="#soundcloud"></use>
    </svg>
     Subscribe on SoundCloud
  </a>
</li>
<li><hr></li>
<li>
  <div class="dropdown-menu-content">
    <span class="dropdown-rss-link">
      <svg viewBox="0 0 32 32" class="icon icon-link">
        <use xlink:href="#link"></use>
      </svg>
      <rss-feed link="http://crds.ch/pod-music"></rss-feed>
    </span>
  </div>
</li>
