<li>
  <a href="http://crds.ch/pod-vid">
    <svg viewBox="0 0 25 32" class="icon icon-apple">
      <use xlink:href="#apple"></use>
    </svg>
     iTunes Video
  </a>
</li>
<li>
  <a href="https://www.youtube.com/user/crdschurch">
    <svg viewBox="0 0 25 32" class="icon icon-youtube-play">
      <use xlink:href="#youtube-play"></use>
    </svg>
     Subscribe on YouTube
  </a>
</li>
<li><hr></li>
<li>
  <div class="dropdown-menu-content">
    <span class="dropdown-rss-link">
      <svg viewBox="0 0 32 32" class="icon icon-link">
        <use xlink:href="#link"></use>
      </svg>
      <rss-feed link="http://crds.ch/pod-vid"></rss-feed>
    </span>
  </div>
</li>
