<li>
  <a href="https://itunes.apple.com/us/podcast/crossroads-church-audio/id254202585?mt=2">
    <svg viewBox="0 0 25 32" class="icon icon-apple">
      <use xlink:href="#apple"></use>
    </svg>
     iTunes Audio
  </a>
</li>
<li>
  <a href="https://itunes.apple.com/us/podcast/crossroads-church-video/id312696731?mt=2">
    <svg viewBox="0 0 25 32" class="icon icon-apple">
      <use xlink:href="#apple"></use>
    </svg>
     iTunes Video
  </a>
</li>

<li>
  <a href="http://pca.st/8AoN">
    <svg viewBox="0 0 25 32" class="icon icon-android">
      <use xlink:href="#android"></use>
    </svg>
     Pocket Cast Audio
  </a>
</li>
<li>
  <a href="http://pca.st/hXAb">
    <svg viewBox="0 0 25 32" class="icon icon-android">
      <use xlink:href="#android"></use>
    </svg>
     Pocket Cast Video
  </a>
</li>
<li><hr></li>
<li>
  <div class="dropdown-menu-content">
    <span class="dropdown-rss-link">
      <svg viewBox="0 0 32 32" class="icon icon-link">
        <use xlink:href="#link"></use>
      </svg>
      <rss-feed link="http://crds.ch/pod-audio"></rss-feed>
    </span>
  </div>
</li>
<li>
  <div class="dropdown-menu-content">
    <span class="dropdown-rss-link">
      <svg viewBox="0 0 32 32" class="icon icon-link">
        <use xlink:href="#link"></use>
      </svg>
      <rss-feed link="http://crds.ch/pod-video"></rss-feed>
    </span>
  </div>
</li>
