<div dynamic-content="$root.MESSAGES.goVolunteerLaunchSiteQuestion.content | html"></div>

<div class="row">
  <div class="form-group col-xs-12">
    <a ng-repeat="locs in goLaunchSite.locations" ng-click="goLaunchSite.submit(locs)">
      <div class="media card-item media-card-link">
        <div class="media-left col-xs-3 col-sm-3 col-md-2 soft-half site-image-filter" ng-class="{ 'arch-yellow-filter' : !goLaunchSite.isCrossroadsSite() }">
          <img class="media-object img-responsive imgix-fluid" data-src="{{locs.imageUrl}}" alt="{{locs.location}}" title="" />
        </div>
        <div class="media-body soft-half-ends soft-half-right">
          <h3 class="media-heading flush-bottom">{{locs.location}}</h3>
          <p class="flush-bottom small">{{locs.address}}<br>{{locs.city}}, {{locs.state}} {{locs.zip}}</p>
        </div>
      </div>
    </a>
  </div>
</div>
