<div ng-if="!evt.ready">
  <preloader full-screen='true'> </preloader>
</div>
<ng-form name="eventForm" ng-show="evt.ready">
  <div class="form-group" ng-class="{'has-error': evt.validation.showErrors(eventForm, 'eventTitle')}">
    <label class="required">Event Title</label>
    <input type="text" name="eventTitle" class="form-control" ng-model="evt.eventData.eventTitle" required>
    <ng-messages for="eventForm.eventTitle.$error" ng-if="evt.validation.showErrors(eventForm, 'eventTitle')">
      <span ng-message="required">
          <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
      </span>
    </ng-messages>
  </div>

  <div class="row">
    <!-- Event Type -->
    <div class="col-md-6">
      <div class="form-group" ng-class="{'has-error': evt.validation.showErrors(eventForm, 'eventType')}">
        <label class="required">Event Type</label>
        <select class="form-control" name="eventType" required ng-model="evt.eventData.eventType" ng-change="evt.eventTypeChanged()"
          ng-options="type.dp_RecordName for type in evt.eventTypes track by type.dp_RecordID">
            <option value=''>-- Choose an EventType -- </option>
          </select>
        <ng-messages for="eventForm.eventType.$error" ng-if="evt.validation.showErrors(eventForm, 'eventType')">
          <span ng-message="required">
              <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
          </span>
        </ng-messages>
      </div>
    </div>

    <!-- Congregation -->
    <div class="col-md-6">
      <div class="form-group" ng-class="{'has-error': evt.validation.showErrors(eventForm, 'congregation')}">
        <label class="required">Site (Congregation)</label>
        <select class="form-control" name="congregation" required ng-model="evt.eventData.congregation" ng-options="congregation.dp_RecordName for congregation in evt.crossroadsLocations track by congregation.dp_RecordID"
          ng-change="evt.resetRooms()">
            <option value=''>-- Choose a Site --</option>
          </select>
        <ng-messages for="eventForm.congregation.$error" ng-if="evt.validation.showErrors(eventForm, 'congregation')">
          <span ng-message="required">
              <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
          </span>
        </ng-messages>
      </div>
    </div>
  </div>
  <div class="form-group" ng-class="{'has-error': evt.validation.showErrors(eventForm, 'program')}">
    <label class="required">Program</label>
    <select class="form-control" name="program" ng-model="evt.eventData.program" required ng-options="program.Name for program in evt.programs track by program.ProgramId">
        <option value="">-- Choose a Program --</option>
      </select>
    <ng-messages for="eventForm.program.$error" ng-if="evt.validation.showErrors(eventForm, 'program')">
      <span ng-message="required">
          <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
      </span>
    </ng-messages>
  </div>

  <div ng-show="evt.childcareSelected()">
    <!-- Max Age -->
    <div class="form-group" ng-class="{'has-error': evt.validation.showErrors(eventForm, 'maximumAge') && evt.childcareSelected() }">
      <label class="required">Maximum Age:</label>
      <input type="number" class="form-control" ng-model="evt.eventData.maximumAge" ng-required="evt.childcareSelected()" name="maximumAge"
        ng-max="12" ng-min="0" ng-show="true" ng-disabled="false">

      <ng-messages for="eventForm.maximumAge.$error" ng-if="evt.validation.showErrors(eventForm, 'maximumAge') && evt.childcareSelected()">
        <span ng-message="required">
                <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
        </span>
        <span ng-message="max">
                <span dynamic-content="$root.MESSAGES.childcareAgeMessage.content | html"></span>
        </span>
        <span ng-message="min">
                <span dynamic-content="$root.MESSAGES.childcareAgeMessage.content | html"></span>
        </span>
      </ng-messages>
    </div>

    <!-- Min Participants -->
    <div class="form-group" ng-class="{'has-error': evt.validation.showErrors(eventForm, 'minimumChildren') && evt.childcareSelected()}">
      <label class="required">Minimum Number of Children:</label>
      <input type="number" class="form-control" ng-model="evt.eventData.minimumChildren" ng-required="evt.childcareSelected()"
        ng-change="evt.checkMinMax(eventForm)" name="minimumChildren" ng-min="0" ng-show="true" ng-disabled="false">

      <ng-messages for="eventForm.minimumChildren.$error" ng-if="evt.validation.showErrors(eventForm, 'minimumChildren') && evt.childcareSelected()">
        <span ng-message="required">
                <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
        </span>
        <span ng-message="min">
                <span dynamic-content="$root.MESSAGES.childcareMinimumMessage.content | html"></span>
        </span>
        <span ng-message="minmax">
                <span dynamic-content="$root.MESSAGES.childcareMinMaxMessage.content | html"></span>
        </span>
      </ng-messages>
    </div>

    <!-- Max Participants -->
    <div class="form-group" ng-class="{'has-error': evt.validation.showErrors(eventForm, 'maximumChildren') && evt.childcareSelected()}">
      <label class="required">Maximum Number of Children:</label>
      <input type="number" class="form-control" ng-model="evt.eventData.maximumChildren" ng-required="evt.childcareSelected()"
        ng-change="evt.checkMinMax(eventForm)" name="maximumChildren" ng-min="0" ng-show="true" ng-disabled="false">

      <ng-messages for="eventForm.maximumChildren.$error" ng-if="evt.validation.showErrors(eventForm, 'maximumChildren') && evt.childcareSelected()">
        <span ng-message="required">
                <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
        </span>
        <span ng-message="min">
                <span dynamic-content="$root.MESSAGES.childcareMinimumMessage.content | html"></span>
        </span>
        <span ng-message="minmax">
                <span dynamic-content="$root.MESSAGES.childcareMinMaxMessage.content | html"></span>
        </span>
      </ng-messages>
    </div>
  </div>

  <div class="form-group" ng-class="{'has-error': evt.validation.showErrors(eventForm, 'primaryContact')}">
    <label class="required">Staff Contact</label>
    <select class="form-control" name="primaryContact" ng-model="evt.eventData.primaryContact" required ng-options="evt.formatContact(contact) for contact in evt.staffContacts track by contact.contactId">
        <option ng-if="!evt.eventData.primaryContact" value="">-- Choose a Staff Contact</option>
      </select>
    <ng-messages for="eventForm.primaryContact.$error" ng-if="evt.validation.showErrors(eventForm, 'primaryContact')">
      <span ng-message="required">
          <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
      </span>
    </ng-messages>
  </div>

  <!-- hiding the minutes for setup/teardown for now... but may bring back at a later date -->
  <div class="row" ng-show="false">
    <div class="col-md-6">
      <div class="form-group" ng-class="{'has-error': evt.validation.showErrors(eventForm, 'minutesSetup')}">
        <label class="required">Minutes for Setup</label>
        <input type="number" class="form-control" name="minutesSetup" ng-model="evt.eventData.minutesSetup" required>
        <ng-messages for="eventForm.minutesSetup.$error" ng-if="evt.validation.showErrors(eventForm, 'minutesSetup')">
          <span ng-message="required">
            <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
          </span>
          <span ng-message="num">
            <span dynamic-content="$root.MESSAGES.invalidNumber.content | html"></span>
          </span>
        </ng-messages>

      </div>
    </div>
    <div class="col-md-6" ng-class="{'has-error': evt.validation.showErrors(eventForm, 'minutesCleanup')}">
      <div class="form-group">
        <label class="required">Minutes for Cleanup</label>
        <input type="number" class="form-control" name="minutesCleanup" ng-model="evt.eventData.minutesCleanup" required>
        <ng-messages for="eventForm.minutesCleanup.$error" ng-if="evt.validation.showErrors(eventForm, 'minutesCleanup')">
          <span ng-message="required">
              <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
          </span>
          <span ng-message="naturalNumber">
              <span dynamic-content="$root.MESSAGES.invalidNumber.content | html"></span>
          </span>
        </ng-messages>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="form-group well" ng-class="{'has-error': evt.validation.showErrors(eventForm, 'startDate')}">
        <label class="required">Start Date</label>
        <p class="input-group">
          <input type="text" class="form-control" name="startDate" datepicker-popup="MM/dd/yyyy" ng-model="evt.eventData.startDate"
            is-open="evt.startDateOpened" ng-required="true" close-text="Close" />
          <span class="input-group-btn">
              <button type="button"
                      class="btn btn-default"
                      ng-click="evt.startDateOpen($event)">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
            </span>
        </p>
        <label class="required">Start Time</label>
        <timepicker ng-model="evt.eventData.startTime" show-meridian="true">
        </timepicker>
        <ng-messages for="eventForm.startDate.$error" ng-if="evt.validation.showErrors(eventForm, 'startDate')">
          <span ng-message="required">
              <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
          </span>
          <span ng-message="date">
              <span dynamic-content="$root.MESSAGES.invalidData.content | html"></span>
          </span>
        </ng-messages>

        <div class="form-group" ng-class="{'has-error': evt.validDateRange(eventForm)}">
          <div ng-show="evt.eventData.eventType.Allow_Multiday_Event">
            <label class="required">End Date</label>
            <p class="input-group">
              <input type="text" class="form-control" name="endDate" datepicker-popup="MM/dd/yyyy" ng-model="evt.eventData.endDate" is-open="evt.endDateOpened"
                ng-required="true" close-text="Close" />
              <span class="input-group-btn">
              <button type="button"
                      class="btn btn-default"
                      ng-click="evt.endDateOpen($event)">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
            </span>
            </p>
          </div>
          <ng-messages for="eventForm.endDate.$error" ng-if="evt.validDateRange(eventForm)">
            <span ng-message="required">
              <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
            </span>
            <span ng-message="date">
              <span dynamic-content="$root.MESSAGES.invalidData.content | html"></span>
            </span>
            <span ng-message="endDate">
              <span dynamic-content="$root.MESSAGES.endDateTooSmall.content | html"></span>
            </span>
          </ng-messages>
          <label class="required">End Time</label>
          <timepicker ng-model="evt.eventData.endTime" show-meridian="true">
          </timepicker>
        </div>
      </div>
    </div>

  </div>
  </div>
  <div class="form-group" ng-class="{'has-error': evt.validation.showErrors(eventForm, 'participantsExpected')}">
    <label class="required">Number of Participants Expected</label>
    <input ng-pattern="/^([1-9]|[1-9][0-9]|[1-9][0-9][0-9]|[1-9][0-9][0-9][0-9]|[1-9][0-9][0-9][0-9][0-9])$/" type="text" name="participantsExpected"
      class="form-control" maxlength="5" ng-model="evt.eventData.participantsExpected" required>
    <ng-messages for="eventForm.participantsExpected.$error" ng-if="evt.validation.showErrors(eventForm, 'participantsExpected')">
      <span ng-message="required">
          <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
      </span>
      <span ng-message="pattern">
          <span>Please enter a valid number.</span>
      </span>
    </ng-messages>
  </div>
  <div class="form-group">
    <label>
        <input type="checkbox" name="donationBatch" ng-model="evt.eventData.donationBatch"> Is this a GO Trip?
        <label>
      </div>
      <div class="form-group">
        <label>
          <input type="checkbox" name="sendReminder" ng-model="evt.eventData.sendReminder"> Send Participants a Reminder
        </label>
  </div>

  <div class="form-group " ng-class="{'has-error': evt.validation.showErrors(eventForm, 'reminderDays')}" ng-show="evt.eventData.sendReminder == 1">
    <label ng-class="{'required': evt.eventData.sendReminder == 1}">Reminder Days</label>
    <select class="form-control" name="reminderDays" ng-model="evt.eventData.reminderDays" ng-required="evt.eventData.sendReminder == 1"
      ng-options="days.dp_RecordName for days in evt.reminderDays track by days.dp_RecordID">
          <option value="">-- Choose days out to remind --</option>
        </select>
    <ng-messages for="eventForm.reminderDays.$error" ng-if="evt.validation.showErrors(eventForm, 'reminderDays')">
      <span ng-message="required">
          <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
      </span>
    </ng-messages>
  </div>

</ng-form>