<div class="live-stream" ng-if="stream.inProgress">

  <div class="pushdown-container" ng-if="stream.displayCounter">
    <div class="container">
      <div class="iframe-wrapper">
        <iframe allowfullscreen="" frameborder="0" height="100" id="slider-iframe" src="//crossroads-media.s3.amazonaws.com/documents/crds-live-slider/index.html" width="800"></iframe>
      </div>
      <a class="pull-right btn-dismiss" href="#" ng-click="stream.displayCounter = false">Dismiss</a>
    </div>
  </div>
  <div class="dark-bg">
    <header class="container clearfix">
      <a class="navbar-brand logo pull-left" href="http://crossroads.net">
        <svg class="icon-logo" viewBox="0 0 800.416 115.217">
          <use xlink:href="#logo" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
      </a>
      <a href="/live" class="pull-right" data-dismiss="modal" ><span class="glyphicon glyphicon-remove"></span></a>
    </header>
    <section>
      <div class="container">
        <videojs-player></videojs-player>
      </div>
    </section>
  </div>

  <div class="container digital-program-container">

    <section class="related digital-program bg" ng-show="stream.dontMiss.length">
      <header class="clearfix">
        <h2>don't miss</h2>
      </header>

      <content-card ng-repeat="event in stream.dontMiss" content="event"></content-card>

    </section>
    <section class="participate digital-program bg" ng-show="stream.beTheChurch.length" >
      <div class="row">

        <header class="clearfix">
          <h2>be the church</h2>
        </header>

        <article class="promo" ng-repeat="promo in stream.beTheChurch">
          <figure>
            <linked-content href="{{ promo.url }}" target="_blank">
              <img ng-src="{{ promo.image }}" alt="" class="img-responsive"  title="{{ promo.title }}">
            </linked-content>
          </figure>
          <section>
            <h3 title="{{ promo.title }}"><linked-content href="{{ promo.url }}" target="_blank">{{ promo.title | truncate: 38 }}</linked-content></h3>
            <div ng-bind-html="promo.description"></div>
          </section>
        </article>

      </div>
    </section>

  </div>
</div>