<h3> Camp Deposit </h3>

<div>
  <preloader full-screen='false' ng-show='!$ctrl.viewReady'> </preloader>
  <p ng-show='$ctrl.viewReady'>

    <div ng-if="!$ctrl.hasProductInfo()" dynamic-content="$root.MESSAGES.campProductSummaryMissing.content | html"></div>

    <div ng-if="$ctrl.hasProductInfo()">
      <div dynamic-content="$root.MESSAGES['campDepositInfo_' + $ctrl.state.toParams.campId].content | html"></div>

      <ul>
        <li ng-repeat="option in $ctrl.productInfo.options" ng-class="{ bold: option.isCurrent, 'text-muted': !option.isCurrent }">
          {{ option.totalWithOptionPrice | currency:'$':0 }} registration (through {{ option.endDate | date:'M/d/yy' }})
        </li>
        <li ng-class="{ bold: $ctrl.isBasePriceCurrent, 'text-muted': !$ctrl.isBasePriceCurrent }">
          {{ $ctrl.productInfo.basePrice | currency:'$':0 }} registration (through {{ $ctrl.productInfo.basePriceEndDate | date:'M/d/yy' }})
        </li>
      </ul>

      <form ng-submit="$ctrl.submit()" novalidate name="$ctrl.productSummary" class="push-top">
        <div class="well soft-quarter" popover-template="'campFinancialAidInformation.html'" popover-is-open="$ctrl.showPopover" popover-placement="bottom" popover-trigger="none">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="financialAssistance" ng-model="$ctrl.model.financialAssistance">
              Apply for financial assistance. <a ng-click="$ctrl.togglePopover()">Read Important Information</a>
            </label>
          </div>
        </div>

        <script type="text/ng-template" id="campFinancialAidInformation.html">
          <div dynamic-content="$root.MESSAGES.campFinancialAidInfo.content | html"></div>
        </script>

        <p>
          A minimum deposit of <strong>{{ $ctrl.getMinimumDeposit() | currency:'$':0 }}</strong> is required today to complete camp registration.
        </p>

        <div class="push-top">
          <loading-button
            input-type='submit'
            normal-text='Next'
            loading-text='Next...'
            loading='$ctrl.submitting'
            loading-class='disabled'
            input-classes='btn btn-primary btn-block-mobile sm-pull-right'></loading-button>
        </div>
      </form>
    </div>
  </div>
</div>
