<div>
    <form role="form">
        <fieldset class="row">
            <legend class="col-sm-12">My Selected Skills</legend>
            <ul class="col-sm-12 current-skills-list list-inline">
                <li ng-repeat="skill in profileSkills.flatSkills | filter: { selected: true }">
                    <div class="label label-primary">
                        {{ skill.name }}
                        <i class="glyphicon glyphicon-trash" ng-click="profileSkills.removeSkill(skill)"></i>
                    </div>
                </li>
            </ul>
        </fieldset>

        <fieldset class="row add-skills">
            <p class="lead col-sm-12">Check off any super powers you may have.</p>
            <div class="form-group col-sm-12 row" ng-repeat="skillGroup in profileSkills.groupedSkills | orderBy: 'name'">
                <label class="col-sm-3">
                    {{ skillGroup.name }}
                    <br /><span class="text-muted">{{ skillGroup.description }}</span>
                </label>
                <div class="cat-skill-group col-sm-9">
                    <div ng-repeat="skill in skillGroup.skills | orderBy: 'sortOrder'" class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="skill.selected" ng-change="profileSkills.skillChange(skill)"> {{ skill.name }}
                        </label>
                    </div>
                </div>
            </div> <!-- /.form-group.col-sm-12 -->
        </fieldset>

    </form>
</div>
