<!-- <div ng-show="groupsignup.viewReady"> -->
<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <div ng-show="groupsignup.viewReady">
      <h1 class="page-header" dynamic-content="groupsignup.signupPage.title | html"></h1>

        <div ng-show="groupsignup.alreadySignedUp" dynamic-content="groupsignup.signupPage.existingMember | html"></div>

        <div >
          <p id="content" class="noPspace" dir="ltr"
             dynamic-content="groupsignup.signupPage.content | html"
             ng-show="groupsignup.showContent && !groupsignup.waitListCase && !groupsignup.alreadySignedUp && !groupsignup.showFull">
          </p>

          <p id="successMessage" dynamic-content="groupsignup.signupPage.success | html" ng-show="groupsignup.showSuccess && !groupsignup.waitListCase"></p>
          <p id="fullGroupMessage" dynamic-content="groupsignup.signupPage.full | html" ng-show="groupsignup.showFull"></p>
          <p id="waitListMessage" dynamic-content="groupsignup.signupPage.waitList | html" ng-show="groupsignup.showWaitList && groupsignup.waitListCase && !groupsignup.alreadySignedUp"></p>
          <p id="waitSuccessMessage" dynamic-content="groupsignup.signupPage.waitSuccess | html" ng-show="groupsignup.showWaitSuccess && groupsignup.waitListCase"></p>
          <p ng-show="groupsignup.showSuccess && !groupsignup.waitListCase && groupsignup.childCareAvailable">If you need childcare, sign up
            <a ui-sref="childcare-dashboard" href="/childcare">here</a> so we can plan!</p> 
        </div>
        <div class="row" ng-show="groupsignup.showContent">
          <div class="col-sm-12">
          <label ng-show="groupsignup.response.length > 1 && !groupsignup.alreadySignedUp">Select participants:</label>
          <label ng-show="groupsignup.response.length <= 1 && !groupsignup.alreadySignedUp">Signing up:</label>

          <form class="form-group" name="myForm" role="form" ng-submit="groupsignup.signup(myForm)" id="myForm">
              <div class="checkbox flush-top"
                   ng-repeat="person in groupsignup.response as people"
                   ng-class="{'has-error':!groupsignup.formValid && !person['userInGroup']}">
                <label ng-class="{'hidden-input': groupsignup.response.length <= 1}">
                  <span ng-show="groupsignup.response.length > 1">
                    <input name="input"
                           type="checkbox"
                           ng-checked="person.userInGroup"
                           ng-disabled="person.userInGroup || groupsignup.showFull"
                           ng-model="person.newAdd"
                           ng-true-value="'{{person.participantId}}'"
                           ng-false-value="''">
                    &nbsp;
                  </span>
                  <span>{{person.nickName}}</span>
                  <span>({{person.emailAddress}})</span>
                  <span ng-show="people.indexOf(person) === 0">
                    <a href="" ng-click="groupsignup.editProfile()">
                      <svg viewBox="0 0 32 32" class="icon icon-pencil4">
                        <use xlink:href="#pencil4"></use>
                      </svg>
                    </a>
                  </span>
                </label>
              </div>
            <p class="push-top" ng-show="!groupsignup.alreadySignedUp && !groupsignup.showFull">
              <loading-button
                 loading-text='Saving...'
                 normal-text='Sign Up'
                 input-type='submit'
                 input-classes='btn btn-primary push-half-bottom'
                 loading-class='disabled'
                 loading='groupsignup.saving' >
              </loading-button>
            </p>
          </form>
        </div><!--/col-sm-12-->
      </div><!--row-->
      <!--TODO this should use the Profile Modal -->
      <script type="text/ng-template" id="editProfile.html">
        <div class="modal-header">
          <a type="button" class="close" ng-click="groupsignup.modalInstance.close()">x</a>
          <h4 class="modal-title">Edit Profile</h4>
        </div>
        <div class="modal-body">
          <profile-personal
            contact-id='groupsignup.contactId'
            updated-person='groupsignup.response[0]'
            modal-instance="groupsignup.modalInstance"
            for-trips="false"
            locations='groupsignup.locations'
            allow-password-change="false"
            require-mobile-phone="false"
            button-text="groupsignup.profileButtonText" />
        </div>
      </script>
    </div>
  </div>
</div>
