<div class="radio-group">
  <div ng-repeat="(key, option) in to.options" class="checkbox clearfix">
    <div>
      <label>
        <input type="checkbox"
              id="{{id + '_'+ $index}}"
              ng-model="multiCheckboxCombo.checked[$index]"
              ng-change="multiCheckboxCombo.change()"
              class="formly-field-checkbox ng-valid ng-not-empty ng-valid-parse">
        <strong>{{option[to.labelProp || 'name']}}</strong>
      </label>
      <p class="soft-left ng-binding">{{option[to.descProp]}}</p>    
    </div>
    <div class="soft-left">
        <input type="input"
                id="{{id + '_'+ $index + '_detail'}}"
                ng-model="multiCheckboxCombo.detail[$index]"
                ng-change="multiCheckboxCombo.change()"
                ng-if="multiCheckboxCombo.checked[$index]"
                maxlength="{{to.maxFieldLength}}"
                placeholder="{{option[to.placeholder]}}"
                ng-disabled="{{option['disabled']}}"
                class="form-control ng-pristine ng-valid ng-empty push-half-bottom">
    </div>
  </div>
</div>
