<div class="radio-group">
  <div ng-repeat="(key, option) in to.options" ng-class="{ 'radio': !to.inline, 'radio-inline': to.inline }">
    <label>
      <input type="radio"
             id="{{id + '_'+ $index}}"
             tabindex="0"
             ng-value="option[to.valueProp || 'value']"
             ng-model="model[options.key]">
      <div ng-if="to.bold">
        <div ng-if="to.descInline"><strong>{{option[to.labelProp || 'name']}}</strong> {{option[to.descProp || 'name']}}</div>
        <div ng-if="!to.descInline"><strong>{{option[to.labelProp || 'name']}}</strong></div>
      </div>
      <div ng-if="!to.bold">
        <div ng-if="to.descInline">{{option[to.labelProp || 'name']}} {{option[to.descProp || 'name']}}</div>
        <div ng-if="!to.descInline">{{option[to.labelProp || 'name']}}</div>
      </div>
    </label>
    <div ng-if="!to.descInline"><label>{{option[to.descProp || 'name']}}</label></div>
  </div>
</div>
