<div class="form-group" >
    <div class="btn-group btn-group-sm account-type form-group" role="group">
        <button type="button" 
                class="btn btn-default" 
                ng-model="dto.view" 
                btn-radio="'bank'" 
                tabindex="-1" 
                ng-click="togglePaymentInfo()">
          Bank Account
        </button>
        <button type="button" 
                class="btn btn-default" 
                ng-model="dto.view" 
                btn-radio="'cc'" 
                tabindex="-1" 
                ng-click="togglePaymentInfo()">
          Credit Card
        </button>
    </div>

    <span>
      <a href="/confidentiality-and-security" target="_blank" tabindex="-1">
        <svg viewBox="0 0 21 32" class="icon icon-lock" focusable="false"><use xlink:href="#lock"></use></svg>
      </a>
    </span>

    <section ng-if="dto.view=='bank'">
      <bank-info account="dto.donor.default_source.bank_account_number"
                 account-holder-name="dto.donor.default_source.account_holder_name"
                 account-holder-type="dto.donor.default_source.account_holder_type"
                 bankinfo-submitted="bankInfoSubmitted"
                 change-account-info="dto.changeAccountInfo"
                 default-source="dto.donor.default_source"
                 declined-payment="dto.declinedPayment"
                 routing="dto.donor.default_source.routing">
      </bank-info>
    </section>

    <section ng-if="dto.view=='cc'" >
      <credit-card-info cvc="dto.donor.default_source.cvc"
                        exp-date="dto.donor.default_source.exp_date"
                        cc-number="dto.donor.default_source.cc_number"
                        billing-zip-code="dto.donor.default_source.address_zip"
                        bankinfo-submitted="bankInfoSubmitted"
                        default-source="dto.donor.default_source"
                        declined-payment="dto.declinedPayment"
                        change-account-info="dto.changeAccountInfo"
                        set-valid-card="setValidCard"
                        set-valid-cvc="setValidCvc"
                        cc-number-class="dto.ccNumberClass">
      </credit-card-info>
    </section>
</div>
