<script type="text/ng-template" id="tripAnonymousPopoverChange.html">
  <div dynamic-content="$root.MESSAGES.tripAnonymousGiverPopover.content | html"></div>
</script>

<div class="form-group">
	<donation-details
     amount="tripGiving.dto.amount"
     program="tripGiving.dto.program"
     amount-submitted="tripGiving.dto.amountSubmitted"
     show-initiative-option='false'
     show-frequency-option='false'>
	</donation-details>
  <div class="push-bottom">
    <div class="checkbox">
      <label>
        <input type="checkbox" name="anonymous" ng-model="tripGiving.anonymous" /> I want to give anonymously
        <span popover-template="'tripAnonymousPopoverChange.html'">
          <svg viewBox="0 0 32 32" class="icon icon-question-circle icon-subtle pointer">
            <use xlink:href="#question-circle"></use>
          </svg>
        </span>
      </label>
    </div>
    <div class="form-group">
      <label>Message to {{tripGiving.tripParticipant.participantName}}</label>
      <textarea class="form-control"
                name="message"
                ng-model="tripGiving.dto.message">
      </textarea>
    </div>
  </div>
	<bank-credit-card-details
     dto='tripGiving.dto'
     bank-info-submitted='tripGiving.dto.bankinfoSubmitted'
     show-check-class='tripGiving.showCheckClass'
     donor='tripGiving.dto.donor'
     email='tripGiving.dto.email'
     set-valid-card='setValidCard'
     set-valid-cvc='setValidCvc'
     account-state-name='tripGiving.account' >
  </bank-credit-card-details>
	<button ng-click="tripGiving.donationService.submitChangedBankInfo(tripGiving.tripForm)"
    ng-disabled="tripGiving.dto.processing"
    class="btn btn-primary btn-lg btn-block-mobile tripGiving-button">
		<span ng-if="tripGiving.dto.processing">Giving...</span>
		<span ng-if="!tripGiving.dto.processing">Give {{tripGiving.dto.amount | currency}}</span>
        <svg viewBox="0 0 32 32" class="icon-medium icon-arrow-right9">
	      <use xlink:href="#arrow-right9"></use>
        </svg>
	</button>
</div>
