<div class="form-group">
  <div class="push-top push-bottom">
    <h4>Confirm Gift</h4>
      <p>You are giving <strong>{{tripGiving.dto.amount | currency}} </strong> to <strong> {{tripGiving.dto.program.Name}}</strong> with
      <svg viewBox="0 0 160 100" class="icon icon-cc_visa confirm-cc-icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{tripGiving.dto.brand}}"></use>
      </svg> ending in <strong>{{tripGiving.dto.last4}}</strong> towards <strong>{{tripGiving.tripParticipant.participantName}}'s</strong> commitment.&nbsp;
      <a href="" ng-click="tripGiving.giveFlow.goToChange()" tabindex="-1" class="text-secondary">Change</a>
  </div>
      <button ng-click="tripGiving.donationService.confirmDonation()"
        ng-disabled="tripGiving.dto.processing"
        class="btn btn-primary btn-lg btn-block-mobile give-button"
        autofocus>
        <span ng-if="tripGiving.dto.processing">Giving...</span>
        <span ng-if="!tripGiving.dto.processing">Give {{tripGiving.dto.amount | currency}}</span>
        <svg viewBox="0 0 32 32" class="icon-medium icon-arrow-right9">
	      <use xlink:href="#arrow-right9"></use>
        </svg>
      </button>
</div>
