<div>
  <h1 class="page-header">Childcare</h1>

  <div ng-if='childcare.isError()'>
    <div class="alert alert-danger" role="alert">
      <div dynamic-content="$root.MESSAGES.notHeadofHousehold.content | html"></div>
    </div>
  </div>
  <div ng-if='!childcare.isError()'>
    <div dynamic-content="$root.MESSAGES.childcareIntro.content | html"></div>
    <div ng-if='childcare.isGroupsEmpty()'>
      <div class="alert alert-warning" role="alert">
        <div dynamic-content="$root.MESSAGES.childcareNoEvents.content | html"></div>
      </div>
    </div>

    <div ng-if="!childcare.isGroupsEmpty()">
      <div ng-repeat="evt in childcare.childcareObj.childcareDates">
        <legend class="push-half-bottom push-top soft-top"> {{evt.eventDate | date:'fullDate'}} </legend>
        <childcare-group
          ng-repeat='cg in evt.communityGroups'
          community-group='cg'
          event-date='evt.eventDate'
          cancelled='evt.cancelled'
        >
        </childcare-group>
      </div>
    </div>
  </div>
</div>
