<div class="row giving-history">
  <div class="col-sm-10 col-sm-offset-1">
    <h1 class="hidden-print page-header">Giving History</h1>
    <h1 class="visible-print-block page-header">Giving Statement</h1>
    <h2 class="subheading hidden-print">Your history of financial giving to crossroads</h2>
    <h3 class="subheading visible-print-block">Printed: {{giving_history_controller.currentDate | date:'M/d/yy'}}</h3>

    <div class="row push-top" ng-show="giving_history_controller.donation_history && giving_history_controller.donation_view_ready">
      <household-information profile="giving_history_controller.profile"></household-information>

      <div class="visible-print-block col-xs-6 text-right">
        <strong>Period : 01/01/{{giving_history_controller.beginning_donation_date | date:'yyyy'}} - {{giving_history_controller.ending_donation_date | date:'MM/dd/yyyy'}}</strong>
        <br />
        <div dynamic-content="$root.MESSAGES.give_disclaimer.content | html"></div>
      </div>
    </div>

    <preloader full-screen='false' ng-show="!giving_history_controller.overall_view_ready"> </preloader>

    <div ng-show="giving_history_controller.overall_view_ready">
      <preloader full-screen='false' ng-show="giving_history_controller.overall_view_ready && !giving_history_controller.donation_view_ready"> </preloader>

      <!-- DONATION GIVING HISTORY -->
      <div class="row">
        <!--  NO GIVING HISTORY - ng-show if no history  -->
        <div ng-show="!giving_history_controller.donation_history && giving_history_controller.donation_view_ready" class="no-data">
          <div class="col-sm-6 col-sm-offset-3">
            <svg viewBox="0 0 32 32" class="icon icon-clock3">
              <use xlink:href="#clock3"></use>
            </svg>
            <svg viewBox="0 0 18 32" class="icon icon-dollar">
              <use xlink:href="#dollar"></use>
            </svg>
            <div dynamic-content="$root.MESSAGES.no_giving_history.content | html">
            </div>
          </div><!--/col-sm-12-->
        </div><!--/no-data-->
      </div>
      <!--  END OF NO GIVING HISTORY  -->


        <!-- IS GIVING HISTORY - ng-show or ng-if on data from resource-->
        <div ng-show="giving_history_controller.donation_history && giving_history_controller.donation_view_ready">
          <div class="row">
            <div class="col-sm-6 clearfix hidden-print" ng-if="!giving_history_controller.donations_all">
              <a href="" class="btn btn-primary col-sm-6 col-md-5 col-xs-12 mobile-push-bottom disable" onClick="window.print();">Print Statement</a>
            </div>
            <div class="col-sm-6" ng-if="giving_history_controller.donations_all"></div>
            <div class="col-sm-6" giving-years
                 selected-year="giving_history_controller.selected_giving_year"
                 all-years="giving_history_controller.donation_years"
                 on-change="giving_history_controller.getDonations() || giving_history_controller.getSoftCreditDonations()"></div>

            <div class="col-sm-12">
              <donation-list
                donations-input="giving_history_controller.donations"
                donation-total-amount="giving_history_controller.donation_total_amount"
                donation-statement-total-amount="giving_history_controller.donation_statement_total_amount"></donation-list>
            </div>
          </div><!--/row-->
        </div>
        <!-- END OF IS GIVING HISTORY -->

        <!-- END OF DONATION GIVING HISTORY -->

      <!-- SOFT CREDIT DONATION HISTORY -->
      <div class="row">
        <div class="col-xs-12">
          <div class="other-gifts hidden-print push-top" ng-show="giving_history_controller.soft_credit_donation_history && giving_history_controller.soft_credit_donation_view_ready">
        <h3>Other Gifts</h3>
        <div dynamic-content="$root.MESSAGES.other_gifts.content | html"></div>

        <donation-list
          donations-input="giving_history_controller.soft_credit_donations"
          donation-total-amount="giving_history_controller.soft_credit_donation_total_amount"
          donation-statement-total-amount="giving_history_controller.soft_credit_donation_statement_total_amount"></donation-list>
      </div>
        </div>
      </div>
      <!-- END OF SOFT CREDIT DONATION HISTORY -->

      <div class="row hidden-print push-top">
        <div class="col-xs-12">
          <div dynamic-content="$root.MESSAGES.givingHistoryFooter.content | html"></div>
        </div>
      </div>

      <div class="row giving-statement-footer visible-print-block">
        <div class="col-xs-12">
          <div class="giving-statement-content clearfix">
            <div class="giving-statement-logo pull-left">
              <img src="//crossroads-media.s3.amazonaws.com/images/logo.svg" alt="crossroads">
            </div>
            <div class="statement-address text-uppercase pull-right">
              <small><div dynamic-content="$root.MESSAGES.single_line_address.content | html"></div></small>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div><!--/col-sm-10-->
</div><!--/row-->
