<ng-form name='household.householdForm' novalidate>
  <fieldset>
    <div class="col-sm-12">
      <legend>Your Household</legend>
      <span dynamic-content="$root.MESSAGES.profileHousholdHeader.content | html"></span>
      <p>
        <span ng-repeat="member in household.householdInfo.householdMembers">
            <strong>{{household.displayName(member)}}{{$last ? '' : ', '}}</strong>
          </span>
      </p>

      <div class="panel panel-default clearfix">
        <div class="panel-heading address-panel-heading clearfix" ng-click="household.isCollapsed = !household.isCollapsed">
          <div class="row">
            <a ng-click="household.isCollapsed = !household.isCollapsed" href="#" class="address-show" ng-show="household.isCollapsed">
              <svg viewBox="0 0 32 32" class="icon icon-pencil4">
                <use xlink:href="#pencil4"></use>
              </svg>
            </a>
            <a ng-click="household.isCollapsed = !household.isCollapsed" href="#" class="address-show" ng-show="!household.isCollapsed">
              <svg viewBox="0 0 18 32" class="icon icon-caret-up">
                <use xlink:href="#caret-up"></use>
              </svg>
            </a>
            <div ng-class="{'col-md-7':!household.modalInstance, 'col-lg-12':household.modalInstance}">
              <svg viewBox="0 0 32 32" class="icon icon-home">
                <use xlink:href="#home"></use>
              </svg>
              <span ng-if="household.householdInfo.addressLine1">
                {{household.householdInfo.addressLine1}} {{household.householdInfo.addressLine2}}, {{household.householdInfo.city}}, {{household.householdInfo.state}} {{household.householdInfo.postalCode}}
              </span>
              <span ng-if="!household.householdInfo.addressLine1">Set Address...</span>
            </div>
            <div ng-class="{'col-md-2':!household.modalInstance, 'col-lg-12':household.modalInstance}">
              <svg viewBox="0 0 32 32" class="icon icon-phone3">
                <use xlink:href="#phone3"></use>
              </svg>
              <span ng-if="household.householdInfo.homePhone">
                {{household.householdInfo.homePhone}}
              </span>
              <span ng-if="!household.householdInfo.homePhone">Set Home Phone...</span>
            </div>
            <div ng-class="{'col-md-3':!household.modalInstance, 'col-lg-12':household.modalInstance}">
              <svg viewBox="0 0 32 32" class="icon icon-crossroads">
                <use xlink:href="#crossroads"></use>
              </svg>
              <span ng-if="household.displayLocation(household.householdInfo.congregationId)">
              {{household.displayLocation(household.householdInfo.congregationId)}}
              </span>
              <span ng-if="!household.displayLocation(household.householdInfo.congregationId)">Set Crossroads Site...</span>
            </div>
          </div>
          <!--/row-->
        </div>
        <!--/panel-heading-->

        <div class="address-panel-body panel-body clearfix" collapse="household.isCollapsed">
          <div class="col-sm-12">
            <fieldset class="row">
              <ul class="list-group clearfix">
                <li class="list-group-item clearfix">
                  <div class="row">
                    <div class="form-group col-sm-6" ng-class="{'has-error': household.validation.showErrors(household.householdForm, 'addressLine1')}">
                      <label for="street" class="required">Street</label>
                      <input ng-model="household.householdInfo.addressLine1" type="text" name='addressLine1' class="form-control" id="addressLine1" placeholder="Enter street address" required>
                      <ng-messages for="household.householdForm.addressLine1.$error" ng-if="household.validation.showErrors(household.householdForm, 'addressLine1')">
                        <ng-messages-include src="on-submit-messages"></ng-messages-include>
                      </ng-messages>
                    </div>

                    <div class="form-group col-sm-6">
                      <label for="street2">Street 2</label>
                      <input ng-model="household.householdInfo.addressLine2" name="addressLine2" type="text" class="form-control" id="addressLine2" placeholder="Enter street address (cont.)">
                    </div>
                  </div>

                  <div class="row">
                    <div class="form-group col-sm-6" ng-class="{'has-error': household.validation.showErrors(household.householdForm, 'city')}">
                      <label for="city" class="required">City</label>
                      <input ng-model="household.householdInfo.city" name="city" type="text" class="form-control" id="city" placeholder="Enter city" required>
                      <ng-messages for="household.householdForm.city.$error" ng-if="household.validation.showErrors(household.householdForm, 'city')">
                        <ng-messages-include src="on-submit-messages"></ng-messages-include>
                      </ng-messages>
                    </div>
                    <div class="form-group col-sm-6" ng-class="{'has-error': household.validation.showErrors(household.householdForm, 'state')}">
                      <label for="state" class="required">State</label>
                      <select ng-model="household.householdInfo.state" ng-options="state.dp_RecordName as state.dp_RecordName for state in household.states" class="form-control col-sm-12" name="state" required>
                        <option value="" disabled="disabled" selected="selected" style="display:none"> -- Choose One -- </option>
                      </select>
                      <ng-messages for="household.householdForm.state.$error" ng-if="household.validation.showErrors(household.householdForm, 'state')">
                        <ng-messages-include src="on-submit-messages"></ng-messages-include>
                      </ng-messages>
                    </div>
                  </div>

                  <div class='row'>
                    <div class="form-group col-sm-6" ng-class="{'has-error': household.validation.showErrors(household.householdForm, 'zip')}">
                      <label for="zip" class="required">Zip</label>
                      <input ng-model="household.householdInfo.postalCode" type="text" class="form-control" id="zip" name="zip" placeholder="Enter zip code" required invalid-zip>
                      <ng-messages for="household.householdForm.zip.$error" ng-if="household.validation.showErrors(household.householdForm, 'zip')">
                        <ng-message when="invalidZip">
                          <span dynamic-content="$root.MESSAGES.invalidZip.content | html"></span>
                        </ng-message>
                        <ng-message when="required">
                          <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
                        </ng-message>
                      </ng-messages>
                    </div>

                    <div class="form-group col-sm-6">
                      <label for="county">County</label>
                      <input ng-model="household.householdInfo.county" type="text" class="form-control" id="county" name="country" placeholder="Enter county">
                    </div>
                  </div>

                  <div class="row">

                    <div class="form-group col-sm-6" ng-class="{'has-error': household.validation.showErrors(household.householdForm, 'country')}">
                      <label for="country" class="required">Country</label>
                      <select ng-model="household.householdInfo.foreignCountry" ng-options="country.dp_RecordName as country.dp_RecordName for country in household.countries" class="form-control col-sm-12" name="country" required>
                        <option value="" disabled="disabled" selected="selected" style="display:none"> -- Choose One -- </option>
                      </select>
                      <ng-messages for="household.householdForm.country.$error" ng-if="household.validation.showErrors(household.householdForm, 'country')">
                        <ng-messages-include src="on-submit-messages"></ng-messages-include>
                        <ng-messages-include src="on-pause-messages"></ng-messages-include>
                      </ng-messages>
                    </div>
                  </div>
                </li>
                <li class="list-group-item clearfix">
                  <div class="row">
                    <div class="form-group col-sm-6" id="homephonecont" ng-class="{'has-error': household.validation.showErrors(household.householdForm, 'homePhone') }">
                      <label for="homePhone">Home Phone</label>
                      <input ng-model="household.householdInfo.homePhone" type="text" class="form-control" id="homePhone" name="homePhone" placeholder="Enter home phone" ng-pattern="household.phoneFormat" ng-model-options="{updateOn: 'blur'}">
                      <ng-messages for="household.householdForm.homePhone.$error" ng-if="household.validation.showErrors(household.householdForm, 'homePhone')">
                        <span ng-message="pattern">
                          <span dynamic-content="$root.MESSAGES.invalidPhone.content | html"></span>
                        </span>
                      </ng-messages>
                    </div>
                  </div>
                </li>
                <li class="list-group-item clearfix">
                  <div class="row">
                    <div id="Site"
                         class="form-group col-sm-6"
                         ng-class="{'has-error': household.validation.showErrors(household.householdForm, 'crLocation')}">
                      <label for="crLocation" class="required">Crossroads Site</label>
                      <select class="form-control col-sm-12"
                              name="crLocation"
                              ng-model="household.householdInfo.congregationId"
                              ng-options="location.dp_RecordID as location.dp_RecordName for location in household.locations | orderBy: ['OnlineSortOrder', 'name']"
                              valid-dropdown-value="household.validLocations">
                        <option value="" disabled="disabled" selected="selected" style="display:none"> -- Choose One -- </option>
                      </select>
                      <ng-messages for="household.householdForm.crLocation.$error" ng-if="household.validation.showErrors(household.householdForm, 'crLocation')">
                        <ng-messages-include src="on-submit-messages"></ng-messages-include>
                        <ng-messages-include src="on-pause-messages"></ng-messages-include>
                      </ng-messages>
                    </div>
                  </div>
                </li>
              </ul>
            </fieldset>
          </div>
          <!--/col-sm-12-->
        </div>
        <!--/panel-body-->
      </div>
      <!--/panel-->
    </div>
    <!--/col-sm-12-->
  </fieldset>
</ng-form>
