<!doctype html>
<html>
<head>
  <meta charset="utf-8">

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-MFS4MJ');</script>
  <!-- End Google Tag Manager -->

  <!--Stripe Payment Methods-->
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>

  <title>CrdsEmbed</title>
  <base href="/embed">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
  <link rel="apple-touch-icon" sizes="57x57" href="//crossroads-media.s3.amazonaws.com/images/favicon/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="//crossroads-media.s3.amazonaws.com/images/favicon/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="//crossroads-media.s3.amazonaws.com/images/favicon/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="//crossroads-media.s3.amazonaws.com/images/favicon/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="//crossroads-media.s3.amazonaws.com/images/favicon/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="//crossroads-media.s3.amazonaws.com/images/favicon/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="//crossroads-media.s3.amazonaws.com/images/favicon/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="//crossroads-media.s3.amazonaws.com/images/favicon/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="//crossroads-media.s3.amazonaws.com/images/favicon/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="//crossroads-media.s3.amazonaws.com/images/favicon/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="//crossroads-media.s3.amazonaws.com/images/favicon/favicon-194x194.png" sizes="194x194">
  <link rel="icon" type="image/png" href="//crossroads-media.s3.amazonaws.com/images/favicon/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="//crossroads-media.s3.amazonaws.com/images/favicon/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="//crossroads-media.s3.amazonaws.com/images/favicon/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="//crossroads-media.s3.amazonaws.com/images/favicon/manifest.json">
  <link rel="shortcut icon" href="//crossroads-media.s3.amazonaws.com/images/favicon/favicon.ico">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="//crossroads-media.s3.amazonaws.com/images/favicon/mstile-144x144.png">
  <meta name="msapplication-config" content="//crossroads-media.s3.amazonaws.com/images/favicon/browserconfig.xml">
  <link rel="icon" type="image/x-icon" href="favicon.ico">

  <!--<script src="https://use.typekit.net/zjp2efd.js"></script>-->
  <script src="https://use.fontawesome.com/ccd1aba2f7.js"></script>

  <script src="https://use.typekit.net/ccb3vpa.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>

  <script>
   WebFontConfig = {
      typekit: { id: 'ccb3vpa' }
   };

   (function(d) {
      var wf = d.createElement('script'), s = d.scripts[0];
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js';
      s.parentNode.insertBefore(wf, s);
   })(document);
</script>
</head>
<body class="inline-giving">
  <!-- Google Tag Manager -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MFS4MJ"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <style>
  @-webkit-keyframes spinnerRotate {
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  @keyframes spin {
    100% {
      transform:rotate(360deg);
    }
  }
  .preloader {
    position: fixed;
    width: 75px;
    height: 75px;
    background: transparent;
    margin: 0 auto;
    -webkit-animation: spin 700ms linear infinite;
    animation: spin 700ms linear infinite;
    display: block;
    top: calc(20% - 37.5px);
    left: calc(50% - 37.5px);
  }
  .preloader-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  </style>

  <app-root data-iframe-height>
    <div class="preloader-wrapper">
      <svg viewBox="0 0 102 101" class="preloader"><g fill="none" fill-rule="evenodd"><g transform="translate(1 1)" stroke-width="2"><ellipse stroke="#eee" cx="50" cy="49.421" rx="50" ry="49.421"></ellipse><path d="M50 98.842c27.614 0 50-22.127 50-49.42C100 22.125 77.614 0 50 0" stroke-opacity=".631" stroke="#3B6E8F"></path></g></g></svg>
    </div>
  </app-root>

  <script src="<%= static_path(@conn, "/js/embed/polyfills.js")%>"
          type="text/javascript"  defer></script>
  <script src="<%= static_path(@conn, "/js/embed/vendor.js")%>"
          type="text/javascript"  defer></script>
  <script src="<%= static_path(@conn, "/js/embed/app.js")%>"
          type="text/javascript"  defer></script>

</body>
</html>
