<div class="push-top">
  <ng-form class="give-form" role="form" name="amountForm" novalidate>
    <div class="form-group">
       <donation-details amount="give.dto.amount" 
                         program="give.dto.program" 
                         amount-submitted="give.dto.amountSubmitted" 
                         programs-in="give.programsInput"
                         giving-type="give.dto.givingType"
                         recurring-start-date="give.dto.recurringStartDate">
       </donation-details>
       <button ng-click="give.branchOnGivingType()" ng-class="{disabled: give.dto.processing}" class="btn btn-primary btn-lg btn-block-mobile give-button">
         <span ng-if="give.dto.processing">Next...</span>
         <span ng-if="!give.dto.processing">Next</span><!--OLD GIVE {{give.amount | currency}} -->
         <svg viewBox="0 0 32 32" class="icon-medium icon-arrow-right9 text-right">
	       <use xlink:href="#arrow-right9"></use>
         </svg>
       </button>
      <div dynamic-content="$root.MESSAGES.give_info.content | html"></div>
    </div>
  </ng-form>
</div>
