<div class="review with-padding" ng-if="!host.pending">
  <div ng-if="host.timeError">
    Not Times available
  </div>
  <div class="text-center" dynamic-content="$root.MESSAGES.groupFinderHostReviewHeader.content | html"></div>

  <group-profile group="host.group"></group-profile>
  <p><a class="btn btn-next-question btn-block" btn-loading="host.requestPending" data-loading-text="Publishing..."  ng-if="host.showPublish" href="#" ng-click="host.publish()">Publish This Group</a></p>

  <div class="text-center" dynamic-content="$root.MESSAGES.groupFinderHostConfirmation.content | html"></div>

  <div ng-if="host.rejected" class="text-center has-error"><span>The group could not be published</span></div>
  <div ng-if="host.invalidTime" class="text-center has-error"><span>There was a problem with your meeting time, please go back and fix it</span></div>

  <br />
  <div class="clearfix">
    <a class="btn btn-previous-question pull-left" href="#" ng-click="host.goBack()">Back</a>
    <a class="btn btn-previous-question pull-right" href="#" ng-click="host.startOver()">Start Over</a>
  </div>
</div>
