<preloader full-screen='true' ng-show='!$ctrl.viewReady'> </preloader>

<div ng-show='$ctrl.viewReady' class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <div ng-if="$ctrl.update">
      <h3> Make Payment </h3>
      <div>
        The total amount  for camp: <strong> {{ $ctrl.invoiceTotal | currency }}</strong><br/>
        A remaining amount due: <strong> {{ $ctrl.paymentRemaining | currency}}</strong>
      </div>
    </div>
    <div ng-if="!$ctrl.update">
      <h3> Camp Deposit </h3>
      <div>
         The total amount for camp is <strong> {{ $ctrl.totalPrice | currency }}</strong>.
         A minimum deposit of <strong> {{ $ctrl.depositPrice | currency}}  </strong> is required to complete registration for camp.
      </div>
    </div>
    <div class="push-top row">
      <iframe
        src="{{$ctrl.buildUrl()}}"
        frameborder="0"
        class="camp-payment-widget"
        scrolling="no"> </iframe>
    </div>
  </div>
</div>
