<div dynamic-content="$root.MESSAGES.goVolunteerSpouseKnownQuestion.content | html" ng-if='goSpouse.spouseKnown'></div>
<div dynamic-content="$root.MESSAGES.goVolunteerSpouseUnknownQuestion.content | html" ng-if='!goSpouse.spouseKnown'></div>

<div class="row">
  <div class="col-xs-6">
    <button type="submit" class="btn btn-block btn-standard"  ng-click="goSpouse.submit(false)">No
    </button>
  </div>
  <div class="col-xs-6">
    <button type="submit" class="btn btn-block btn-primary-gc"  ng-click="goSpouse.submit(true)">Yes
    </button>
  </div>
</div>


<div dynamic-content="$root.MESSAGES.goVolunteerSpouseIncorrect.content | html" class="panel panel-default push-top" ng-if='goSpouse.spouseKnown'></div>
