<ng-form name="bankAccountForm"  ng-model="bankAccount">
     <section class="bank-section">
        <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1">
          <svg viewBox="0 0 231 42" class="icon-check">
            <use xlink:href="#check"></use>
          </svg>
        </div>
         <div class="form-group" ng-class="{'has-error': accountHolderTypeError() || bankAccount.declinedPayment }" >
             <label class="wide-label" for="accountHolderType">Account Holder Type</label>
             <label class="radio-inline">
                 <input type="radio"
                        name="accountHolderType"
                        value="individual"
                        ng-model="bankAccount.accountHolderType"
                        ng-change="resetDefaultBankPlaceholderValues()"
                        ng-required="!useExistingAccountInfo()" />
                 Personal
             </label>
             <label class="radio-inline">
                 <input type="radio"
                        name="accountHolderType"
                        value="company"
                        ng-model="bankAccount.accountHolderType"
                        ng-change="resetDefaultBankPlaceholderValues()"
                        ng-required="!useExistingAccountInfo()" />
                 Business
             </label>
             <ng-messages for="bankAccountForm.accountHolderType.$error" ng-if="bankAccountForm.accountHolderType.$dirty || bankinfoSubmitted">
                 <ng-messages-include src="on-submit-messages"></ng-messages-include>
             </ng-messages>
             <span ng-show="bankAccount.declinedPayment" dynamic-content="$root.MESSAGES.invalidPaymentMethodInformation.content | html"></span>
         </div>
         <div class="form-group" ng-class="{'has-error': accountHolderNameError() || bankAccount.declinedPayment }">
             <label for="accountHolderName" class="wide-label">Account Holder Name</label>
             <input type="text"
                    name="accountHolderName"
                    class="form-control"
                    ng-model="bankAccount.accountHolderName"
                    ng-keypress="resetDefaultBankPlaceholderValues()"
                    ng-required="!useExistingAccountInfo()"
                    ng-model-options="{ updateOn: 'blur' }"
                    placeholder="{{defaultBankPlaceholderValues.accountHolderName || 'E.g. Levi Spegal'}}">
             <ng-messages for="bankAccountForm.accountHolderName.$error" ng-show="blurAccountHolderNameError()">
                 <ng-messages-include src="on-blur-messages"></ng-messages-include>
             </ng-messages>
             <ng-messages for="bankAccountForm.accountHolderName.$error" ng-if="bankAccountForm.accountHolderName.$dirty || bankinfoSubmitted">
                 <ng-messages-include src="on-submit-messages"></ng-messages-include>
             </ng-messages>
             <span ng-show="bankAccount.declinedPayment" dynamic-content="$root.MESSAGES.invalidPaymentMethodInformation.content | html"></span>
         </div>
        <div class="form-group" ng-class="{'has-error': routingError() || bankAccount.declinedPayment }">
            <label for="routing" class="wide-label">Routing Number</label>
            <input type="tel" 
                   name="routing" 
                   class="form-control" 
                   ng-model="bankAccount.routing" 
                   maxlength="9" 
                   ng-keypress="resetDefaultBankPlaceholderValues()" 
                   ng-required="!useExistingAccountInfo()"  
                   ng-model-options="{ updateOn: 'blur' }"  
                   placeholder="{{defaultBankPlaceholderValues.routing}}" 
                   invalid-routing>
            <ng-messages for="bankAccountForm.routing.$error" ng-show="blurRoutingError()">
              <ng-messages-include src="on-blur-messages"></ng-messages-include>
            </ng-messages>
            <ng-messages for="bankAccountForm.routing.$error" ng-if="bankinfoSubmitted">
              <ng-messages-include src="on-submit-messages"></ng-messages-include>
            </ng-messages>
			<span ng-show="bankAccount.declinedPayment" dynamic-content="$root.MESSAGES.invalidPaymentMethodInformation.content | html"></span>
        </div>
        <div class="form-group" ng-class="{'has-error': accountError() || bankAccount.declinedPayment }">
            <label for="account">Account Number</label>
            <input type="tel" name="account" class="form-control" ng-model="bankAccount.account" maxlength="30" ng-keypress="resetDefaultBankPlaceholderValues()" ng-required="!useExistingAccountInfo()"  ng-model-options="{ updateOn: 'blur' }" placeholder="{{defaultBankPlaceholderValues.maskedAccount}}" invalid-account>
            <ng-messages for="bankAccountForm.account.$error" ng-show="blurAccountError()">
              <ng-messages-include src="on-blur-messages"></ng-messages-include>
            </ng-messages>
            <ng-messages for="bankAccountForm.account.$error" ng-if="bankinfoSubmitted">
              <ng-messages-include src="on-submit-messages"></ng-messages-include>
            </ng-messages>
			<span ng-show="bankAccount.declinedPayment" dynamic-content="$root.MESSAGES.invalidPaymentMethodInformation.content | html"></span>
  </section>
</ng-form>
