
<div class="group-card">
  <div class="group-images" ng-if="display==='host'">
    <img ng-src="{{getUserImage(group.contactId)}}" err-src="{{defaultImage}}" alt="" ng-if="group.isHost === false">
  </div>
  <div class="group-images" ng-if="display==='members' || !display">
    <img ng-src="{{getMemberImage(member)}}" err-src="{{defaultImage}}" alt="" ng-repeat="member in group.members | filter: { groupRoleId: participant_role_id } | limitTo: 3">
  </div>
  <div class="group-description" ng-if="!group.isPrivate">
    <p>{{groupDescription()}}. This group meets at <a target="_blank" href="{{group.mapLink}}">{{group.address.addressLine1}}, {{group.address.zip}}</a></p>
  </div>
  <div class="group-description" ng-if="group.isPrivate">
    <p>
      Private group
      <span ng-if="group.isHost === true">
        <br/>Currently has {{group.members.length - 1 || 'no'}} member<span ng-if="group.members.length > 2 || group.members.length <= 1">s</span>.
        <a ui-sref="group_finder.dashboard.group({groupId: group.groupId})">Invite Someone</a>
      </span>
    </p>
  </div>
  <div class="footer">
    <a class="select btn btn-primary" ng-if="group.isHost === true" ui-sref="group_finder.dashboard.group({groupId: group.groupId})">Select</a>
    <a class="select btn btn-primary" href="mailto:{{group.primaryContactEmail}}" ng-if="group.isHost === false">Email Host</a>
  </div>
</div>