<div class='group-participant'>
  <img class='img-responsive imgix-fluid group-participant-image' ng-src='{{groupDetailParticipantCard.participant.imageUrl}}' err-src='{{groupDetailParticipantCard.defaultProfileImageUrl}}'>
  <div class="group-participant-data">
    <div>
      <span class='group-participant-name'>
        {{groupDetailParticipantCard.participant.getDisplayName()}}
      </span>
      <span class='label label-standard label-sm push-half-left' ng-show='{{groupDetailParticipantCard.participant.isLeader()}}'>Leader</span>
      <span class='label label-standard label-sm push-half-left' ng-show='{{groupDetailParticipantCard.participant.isApprentice()}}'>Apprentice</span>
    </div>
    <div>
      <span class='group-participant-name'>
        <a href="mailto:{{groupDetailParticipantCard.participant.email}}">{{groupDetailParticipantCard.participant.email}}</a>
      </span>
    </div>
    <div class="push-half-top push-bottom" ng-if='!groupDetailParticipantCard.participant.me && !groupDetailParticipantCard.participant.primary && groupDetailParticipantCard.edit'>
      <div>
        <button type="button" class="btn btn-standard btn-sm" ng-click='groupDetailParticipantCard.invokeDeleteAction(groupDetailParticipantCard.participant)'>Remove</button>
        <button type="button" class="btn btn-primary btn-sm" ng-click='groupDetailParticipantCard.invokeRoleAction(groupDetailParticipantCard.participant)'>Change Role</button>
      </div>
    </div>
    <div class="push-half-top" ng-if="(groupDetailParticipantCard.participant.me || groupDetailParticipantCard.participant.primary) && groupDetailParticipantCard.edit"/>
  </div>
  <div>
    <small class='text-muted' ng-if='groupDetailParticipantCard.participant.me && groupDetailParticipantCard.edit' dynamic-content='$root.MESSAGES.groupToolEditParticipantsCantRemoveMyself.content | html'/>
    <!-- Only show if this is the primary participant AND it is not me (we don't want two messages...') -->
    <small class='text-muted' ng-if='groupDetailParticipantCard.participant.primary && !groupDetailParticipantCard.participant.me && groupDetailParticipantCard.edit' dynamic-content='$root.MESSAGES.groupToolEditParticipantsCantRemovePrimary.content | html'/>
  </div>
</div>