<!-- TODO Can this error handling be updated to utilize ngMessages? -->
<div class="alert alert-success" role="alert" ng-if="volunteer.created">
  <span dynamic-content="$root.MESSAGES.succesfulResponse.content | html"></span>
</div>

<div class="alert alert-danger" role="alert" ng-if="volunteer.rejected">
  <span dynamic-content="$root.MESSAGES.failedResponse.content | html"></span>
</div>

<preloader full-screen='true' ng-show="!volunteer.viewReady"> </preloader>

<div ng-show="volunteer.viewReady">
  <h1 class="page-header" dynamic-content="volunteer.pageInfo.title | html"></h1>
  <div>
    <p id="content" dir="ltr" dynamic-content="volunteer.pageInfo.content | html" ng-show="volunteer.showContent"></p>
    <p id="existingMemberMessage" dynamic-content="volunteer.pageInfo.existingMember | html" ng-show="volunteer.showAllSignedUp"></p>
    <p id="successMessage" dynamic-content="volunteer.pageInfo.success | html" ng-show="volunteer.showSuccess"></p>
  </div>

  <div ng-show="volunteer.showContent">
    <legend>Participants</legend>
    <form class="form-group" name="myForm" role="form" ng-submit="volunteer.save(myForm)" id="myForm">
      <p>
        <div class="checkbox" ng-repeat="participant in volunteer.participants as people">
          <label>
            <span>
              <input name="input" type="checkbox" ng-checked="volunteer.disableCheckbox(participant)" ng-disabled="volunteer.disableCheckbox(participant)" ng-model="participant.add">
            </span>
            <span ng-class="{'text-muted':volunteer.disableCheckbox(participant)}">
              <span>{{ participant.preferredName }}</span>
              <span ng-show="volunteer.displayEmail(participant.email)">({{ participant.email }})</span>
            </span>
            <span ng-show="participant.loggedInUser">
              <a href="" ng-click="volunteer.editProfile(participant)">
                <svg viewBox="0 0 32 32" class="icon icon-pencil4">
                  <use xlink:href="#pencil4"></use>
                </svg>
              </a>
            </span>
            <span ng-show="volunteer.displayPendingFlag(participant)" class="text-danger"> - pending</span>
          </label>
        </div>
      </p>
      <p>
        <input type="submit"
               name="submit_group_signup"
               value="Request to Join"
               id="submit_group_signup"
               class="btn btn-primary push-half-bottom">
      </p>
    </form>
  </div>
</div>
<!-- viewReady -->
