<div ng-if="authModal.hasTitle()" class="modal-header">
  <h3 class="modal-title">{{authModal.title()}}</h3>
</div>
<div class="modal-body">
  <div ng-if="authModal.hasContentBlock()">
    <div dynamic-content="$root.MESSAGES[authModal.contentBlockId()].content | html" class="push-bottom"></div>
  </div>

  <login-form ng-if="!authModal.registerView && !processing" login-callback='authModal.authCallback' register-callback='authModal.showRegister'></login-form>
  <register-form ng-if="authModal.registerView && !processing" login-callback='authModal.showLogin' register-callback='authModal.authCallback'></register-form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-standard" ng-click="authModal.cancel()">{{authModal.cancelButton}}</button>
</div>
