<div class="form-group col-md-12">
  <label ng-class="{required: formField.required}" ng-show="formField.field.label" dynamic-content="formField.field.label | html"></label>
  <p class="help-block" ng-show="formField.field.description" dynamic-content="formField.field.description | html"></p>
  <div ng-class="{'has-error': formField.validate('group')}">
    <div class="radio" ng-repeat='group in formField.data.availableGroups'>
      <label>
      <input type="radio"
             name="group"
             ng-value="group.groupId"
             ng-model="formField.data.group.groupId"
             ng-required="formField.required"/>
        {{formField.data.displayLocation(group.congregationId)}} ({{group.groupDescription}})
      </label>
    </div>

    <ng-messages for="formField.parentForm.group.$error" ng-if="formField.validate('group')">
      <span ng-message="required">
        <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
      </span>
    </ng-messages>
  </div>
</div>
