<table class="table gift-table push-top">
  <thead class="visible-print-table">
    <tr ng-if="!donationDoNotShowLabels">
      <th>Initiative / Payment Type</th>
      <th class="text-right">Amount / Date</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat-start="donation in donations track by $index"></tr>
    <tr ng-repeat-start="distribution in donation.distributions track by $index"></tr>
    <tr ng-repeat-end ng-class="{'hidden-print' : donation.status == 'Pending' || !donation.accounting_company_include_on_printed_statement}">
      <td>
        {{distribution.program_name}}
        <span ng-if="donation.status == 'Pending'" class="label label-default" tooltip-placement="right" tooltip="This payment is still in the process of being cleared by our accounting team.">Pending</span>
        <span ng-if="donation.status == 'Declined'" class="label label-danger" tooltip-placement="right" tooltip="This payment has been declined.">Declined</span>
        <span ng-if="donation.status == 'Refunded'" class="label label-info" tooltip-placement="right" tooltip="This is a refund that has been issued to you.">Refund</span>
        <span ng-if="!donation.accounting_company_include_on_printed_statement" class="label label-secondary" tooltip-placement="right" tooltip="{{$root.MESSAGES.givingHistoryGiftNotOnPrintedStatement.content | htmlToPlainText}}">{{donation.accounting_company_name}}</span>
        <div class="text-muted">
            <small>
              <span ng-show="donation.source.icon">
                <svg ng-attr-viewBox="{{donation.source.viewBox}}" ng-class="'icon icon-' + donation.source.icon + 'payment-type-icon'">
                    <use ng-attr-xlink:href="{{'#' + donation.source.icon}}" xlink:href=""></use>
                </svg>
              </span>
              {{donation.source.name}}
            </small>
        </div>
      </td>
      <td class="text-right">
        <div ng-class="{ 'dollar-amount-decline' : donation.status == 'Declined', 'dollar-amount' : donation.status != 'Declined'}">{{distribution.amount / 100 | currency:'$'}}</div>
        <div class="text-muted"><small>{{donation.date | date:'M/d/yy'}}</small></div>
      </td>
    </tr>
    <tr ng-repeat-end ng-hide="true"></tr>
  </tbody>
</table>
<h4 class="text-right hidden-print" ng-if="!donationDoNotShowLabels">Total: {{donationTotalAmount / 100 | currency: '$'}}</h4>
<h4 class="text-right visible-print-block" ng-if="!donationDoNotShowLabels">Total: {{donationStatementTotalAmount / 100 | currency: '$'}}</h4>
