<address class="col-sm-12 hidden-print">
    <strong id="householdNamePrint">{{profile.householdName}}</strong><br>
    <span id="addressLine1Print">{{profile.addressLine1}}</span>
    <span id="addressLine2Print" ng-if="profile.addressLine2">, {{profile.addressLine2}}</span><br>
    <span id="cityPrint">{{profile.city}}</span><span id="commaPrint" ng-if="profile.city && profile.state">, </span>
    <span id="statePrint">{{profile.state}}</span>
    <span id="postalCodePrint">{{profile.postalCode}}</span><br>
</address>

<address class="visible-print-block col-xs-6">
    <strong id="householdName">{{profile.householdName}}</strong><br>
    <span id="addressLine1">{{profile.addressLine1}}</span>
    <span id="addressLine2" ng-if="profile.addressLine2">, {{profile.addressLine2}}</span><br>
    <span id="city">{{profile.city}}</span><span id="comma" ng-if="profile.city && profile.state">, </span>
    <span id="state">{{profile.state}}</span>
    <span id="postalCode">{{profile.postalCode}}</span><br>
</address>
