<preloader full-screen='false' ng-show='!endGroup.ready'> </preloader>
<div ng-show='endGroup.ready' class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <div dynamic-content="$root.MESSAGES.groupToolEndGroupHeader.content | html"></div>
    <hr/>
    <form ng-submit="endGroup.endGroup()" novalidate name="endGroup.endGroupForm">
      <formly-form model="endGroup.model" fields="endGroup.fields" form="endGroup.endGroupForm"
        options="createGroup.options" ng-cloak>
        <div class="col-md-12 push-top text-center sm-text-right">
          <loading-button
              normal-text='Submit'
              loading-text='Submitting...'
              loading='endGroup.saving'
              loading-class='disabled'
              input-classes='sm-pull-right btn btn-primary submit-button btn-block-mobile mobile-push-half-bottom'
              type="submit"
              ng-click='endGroup.submit()'></loading-button>
          <button type="submit" class="btn btn-standard btn-block-mobile mobile-push-half-bottom" ng-click="endGroup.cancel()">Cancel</button>
        </div>
      </formly-form>
    </form>
  </div>
</div>
