<header ng-include="'templates/dashboard_header.html'"></header>

<div ui-view class="dashboard">
  <div class="container">
    <preloader full-screen='true' ng-show="dashboard.loading"></preloader>

    <div class="groups hosting" ng-if="dashboard.groups.hosting.length > 0 && !dashboard.loading">
      <div class="page-header">
        <h3>Groups you're hosting</h3>
      </div>
      <div class="group-cards">
        <group-card group="group" ng-repeat="group in dashboard.groups.hosting"></group-card>
      </div>

      <br />
      <p><a class="btn btn-standard-dark btn-block" ui-sref="group_finder.host({ step: 1 })">Host Another Group</a></p>
    </div>

    <div class="groups participating" ng-if="!dashboard.loading">
      <div class="page-header">
        <h3>Groups you've joined</h3>
      </div>
      <div class="group-cards" ng-if="dashboard.groups.participating.length > 0">
        <group-card display="host" group="group" ng-repeat="group in dashboard.groups.participating"></group-card>
      </div>
      <div class="group-cards" ng-if="dashboard.groups.participating.length == 0">
        <p class="help text-center">You haven't joined any groups yet.</p>
      </div>
      <p>
        <a class="btn btn-standard-dark btn-block" ui-sref="group_finder.join">
          <span ng-if="dashboard.groups.participating.length > 0">Join Another Group</span>
          <span ng-if="dashboard.groups.participating.length == 0">Join a Group</span>
        </a>
      </p>
    </div>

    <div class="help text-center" dynamic-content="$root.MESSAGES.groupFinderHostDashboardHelp.content | html"></div>

  </div>
</div>
