<div class="serve-signup-wrapper">
  <h1 class="page-header">Sign Up To Serve </h1>

  <div class="clearfix" data-ng-show="!serve.showNoOpportunitiesMsg() || !serve.showNoOpportunitiesMsg()">
    <button type="button" ng-if="serve.isLeader" class="btn btn-primary btn-block-mobile  mobile-flush-bottom sm-pull-right" ui-sref="serve-signup.message">Send Message </button>
    <div ng-include="'my_serve/myserve_icon_key.html'" class="hidden-xs"></div>
  </div>

  <div>
    <serve-team-refine-list last-date="serve.lastDate" serving-days="serve.groups" original="serve.original"> </serve-team-refine-list>
    <div ng-include="'my_serve/myserve_icon_key.html'" class="visible-xs"></div>

    <div class="serve-signup-cont clearfix col-sm-9 col-sm-pull-3 soft-ends">

      <div data-ng-show="serve.showNoOpportunitiesMsg() && !serve.filterState.isActive()">
        <span dynamic-content="$root.MESSAGES.noServingOpportunities.content | html"></span>
      </div>
      <div data-ng-show="serve.showNoOpportunitiesMsg() && serve.filterState.isActive()">
        <span dynamic-content="$root.MESSAGES.servingFilteredToNone.content | html"></span>
      </div>

      <form name='serveForm'>
        <div class="serve-day soft-bottom push-bottom" data-ng-repeat="group in serve.groups" ng-show="group.serveTimes.length > 0">
          <h4 class="flush-top">{{::serve.convertToDate(group.day) | date:'EEEE, MMMM dd, yyyy' }}</h4>
          <serve-tabs opportunity="opp" serve-date="group.day" ng-repeat="opp in group.serveTimes" ng-show="opp.servingTeams.length > 0" >
          </serve-tabs>
        </div>
        <!-- serve day -->
      </form>

      <div class="row text-center">
        <div class="col-sm-12">
          <button class="btn btn-block-mobile btn-standard" ng-show="serve.showButton()"  ng-click="serve.loadNextMonth()" ng-disabled="serve.loadMore"> {{serve.loadText}} </button>
        </div>
      </div>

    </div>
  </div>

</div>
