<div ng-if="!checkinDashboard.allowAdminAccess()" class="alert alert-danger" role="alert">
  <div dynamic-content="$root.MESSAGES.mptool_invalid_access.content | html"></div>
</div>

<div ng-if="checkinDashboard.allowAdminAccess()" class="form-group col-lg-12">
  <h1 class="page-header">Checkin Dashboard</h1>
  <div class="push-top">

    <div class="row push-bottom">
      <div class="col-lg-12">

        <div ng-show="checkinDashboard.displayFilter">
          <div class="row">
            <div class="col-lg-6">
              <date-range start-date="checkinDashboard.startDate" end-date="checkinDashboard.endDate" no-past-date="true" ></date-range>
            </div>
            <div class="col-lg-6">
              <site-filter site="checkinDashboard.site" on-change="checkinDashboard.loadEvents()"></site-filter>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div ng-show="checkinDashboard.eventsReady">
                <preloader full-screen='false' ng-show="checkinDashboard.eventsLoading"> </preloader>
                <div ng-show="!checkinDashboard.eventsLoading">
                  <event-filter label="Event" event="checkinDashboard.event" events="checkinDashboard.events" on-change="checkinDashboard.loadRooms()"></event-filter>
                </div>
              </div>
            </div>
          </div>
          <div class="row" ng-show="checkinDashboard.event.id != undefined && !checkinDashboard.roomsLoading">
            <div class="col-lg-6" style="margin-top: 5px;">
              <input type="submit" value="Hide Filters" class="btn btn-primary btn-sm" ng-click="checkinDashboard.toggleFilter()" />
            </div>
          </div>
        </div>
        <div ng-hide="checkinDashboard.displayFilter">
          <input type="submit" value="Display Filters" class="btn btn-primary btn-sm" ng-click="checkinDashboard.toggleFilter()" />
        </div>
        <div>
          <div class="row">
            <div class="col-lg-12">
              <event-rooms event-id="checkinDashboard.event.id" rooms="checkinDashboard.eventRooms"></event-rooms>
              <preloader full-screen='false' ng-show="checkinDashboard.roomsLoading"> </preloader>
            </div>
          </div>
        </div>

      </div>
    </div><!--/row-->
  </div>
</div>
