<ng-form name="roomsForm">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <th>Room</th>
        <th class="col-lg-2" style="white-space: nowrap">Room Name</th>
        <th style="white-space: nowrap">Allow Signin</th>
        <th class="col-lg-1"># of Volunteers</th>
        <th class="col-lg-1">Capacity</th>
        <th style="white-space: nowrap">Waiting to Checkin</th>
        <th style="white-space: nowrap">Checked into Room</th>
        <th>Kids/Volunteers ratio</th>
      </thead>
      <tbody>
        <tr ng-repeat="room in rooms track by $index">
          <td>
            {{ room.name }}
          </td>
          <td>
            <div ng-show="!room.editLabel" >
              <a href="#" ng-click="editRoom(room, $index)">{{ room.label || room.name }}</a>
            </div>
            <div ng-show="room.editLabel">
              <input type="text" id="label{{$index}}" ng-model="room.label" ng-blur="editRoom(room, $index)"/>
            </div>
          </td>
          <td>
            <input type="checkbox" ng-model="room.checkinAllowed" ng-change="updateRoom($index)"/>
          </td>
          <td>
            <h-number value="room.volunteers" min="0" max="1000" step="1" change="updateRoom($index)"></h-number>
          </td>
          <td>
            <h-number value="room.capacity" min="0" max="1000" step="1" change="updateRoom($index)"></h-number>
          </td>
          <td>
            {{ room.participantsSignedIn }}
          </td>
          <td>
            {{ room.participantsCheckedIn }}
          </td>
          <td>
            {{ ratio(room) }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-form>
