$brave-light-blue: #90D8F6;
$brave-medium-blue: #0088BE;
$padding-base-vertical: 6px;
$line-height-computed: 26px;
$screen-sm-min: 768px;
$brave-font-family: "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", Roboto, Helvetica, Arial, sans-serif;

.brave-background {
  min-height: 100vh;
}

.brave-container {
  position: relative;
  z-index: 2;
  font-family: $brave-font-family;
  font-style: normal;
  font-weight: 400;

  h1,h2,h3,h4,h5,h6 {
    font-family: $brave-font-family;
  }

  input[type="text"] {
    color: black;
  }

  .or-divider {
     span {
      background: white;
      padding: 0;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      display: inline-block;
      line-height: 25px;
      font-size: 11px;
      color: black;
      border: 3px solid black;
      text-transform: uppercase;
    }
  }

  .link-secondary {
    &:hover {
      color: $brave-light-blue;
    }
  }

  .progress-bar {
    min-width: 1px !important;
    position: absolute;
    background: $brave-medium-blue;
    z-index: 1;
  }
}

.btn-brave,
.btn-brave:visited,
.brave-container .btn-primary,
.brave-container .btn-primary:visited,
.dark-bg .btn-brave,
.dark-bg .btn-brave:visited,
.dark-bg a.btn-brave,
.dark-bg a.btn-brave:visited  {
  background-color: $brave-light-blue;
  border-radius: 0px;
  color: #000000 !important;
  transition: all 0.2s ease-in-out;
  box-shadow: none;
  letter-spacing: 2px;
  padding: $padding-base-vertical*2  $padding-base-vertical*4;
  border-color: $brave-light-blue;

  &:hover {
    background-color: darken($brave-light-blue, 10%);
    transform: translateY(-1px);
  }

  &.btn-brave-muted {
    background-color: rgba($brave-light-blue, .4);
    color: #fff !important;
    border: none;

    &:hover {
      background-color: rgba($brave-light-blue, .7);
    }
  }
}

.input-group {
  .btn-brave,
  .btn-brave:visited,
  .btn-brave,
  .dark-bg .btn-brave,
  .dark-bg .btn-brave:visited,
  .dark-bg a.btn-brave,
  .dark-bg a.btn-brave:visited  {
    padding: $padding-base-vertical $padding-base-vertical*2;

    &:hover {
      transform: none;
    }
  }
}

.input-brave {
  padding: $padding-base-vertical*1.5;
  color: #000;
}

.copy-text {
  background: rgba(255,255,255,.3);
  padding: $line-height-computed/2;
}

.brave-steps {
  display: none;
  position: fixed;
  bottom: 0;
  z-index: 7;
  right: 0;
  left: 0;
  text-align: center;
  background: rgba(0,0,0,.8);
  color: $brave-light-blue;
  width: 100%;
  height: $line-height-computed*2;
  line-height: $line-height-computed*2;
  font-family: $brave-font-family;
  font-style: normal;
  font-weight: 700;
}

.brave-steps.brave-show-steps {
  display: block;
}

.brave-teaser-video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  transition: 1s opacity;
  z-index: 1;
  display: none;

  @media (min-width: $screen-sm-min) {
    display: block;
  }
}

.black-opacity-bg {
  position: fixed;
  background: rgba(0,0,0,.5);
  top:0;
  bottom:0;
  left:0;
  right:0;
  content: "";
  display: block;
  z-index: 2;
  //min-height: 200%;

  @media (min-width: $screen-sm-min) {
    background: rgba(0,0,0,.75);
  }
}

.brave-progress {
  width: 100%;

  .bootstrap-progress {
    background: transparent;
    height: 100%;
    margin: 0px;
  }

  .brave-waveform {
    z-index: 3;
    position: relative;
  }
}

.brave-container {

  .plangular-progress {
    height: 100% !important;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: auto;
    position: absolute;
  }

  .bootstrap-progress {
    border-radius: 0px;
  }
}

.brave-player-left {
  a {
    background: $brave-light-blue;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;

    &:hover {
      background-color: darken($brave-light-blue, 10%);
    }

    .icon {
      color: #000 !important;
      fill: #000 !important;
    }
  }
}

.brave-player-right {
  //height: 60px;
}

.audio-loading {
  background: rgba(0,0,0,.3);
  width: 100%;

  .loading {
    width: $line-height-computed;
    height: $line-height-computed;
    margin-bottom: $line-height-computed/3;
    margin-top: $line-height-computed/3;
  }
}

.headphones-icon {
  max-width: 80px;
}

.moon-icon {
  max-width: 35px;
}

.dark-bg {
  .brave-icon-cont {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #fff;
    position: relative;

    .icon.icon-brave-play {
      margin-left: 2px;
    }
  }
}
