.create-event-wrapper {
  //Icon colors
  .icon-check-circle {
    color: $brand-success;
  }

  .icon-minus-circle {
    color: $brand-danger;
  }
  .icon-clock3 {
      color: $brand-warning;
  }

  .input-group input {
    width: 100% !important;
  }
  // May be useful in the future.
  // .ui-select-bootstrap > .ui-select-choices {
  //   max-height: 350px;
  // }

}