.card-content {
  ul.list-group {
    .go-trip-name {
      padding-left: 0px;

      p {
        margin-bottom: 0px;
        line-height: 1.5;
        padding: $line-height-computed/4 0;
      }
    }
  }
}

.go-trip-btn {
  right: -1px;
}

.go-trip-card {
  .card-img {
    img {
      background-color: $gray-lighter;
    }
  }
  
  .list-group {
    //margin-top: $line-height-computed/4;

    .list-group-item {
      padding-left: $grid-gutter-width/2;
    }
  }
}