$gf-blue: #0F2D49;
$gf-blue-light: #2C5671;
$gf-blue-lighter: #158EDA;
$gf-background: #2E5873;
$gf-tabs: #AEAEAE;
$gf-tabs-active: #5E5E5E;
$gf-border-radius: 1.25em;
$gf-danger: #c9302c;

.group-finder {

  // TODO Update this URL.
  background: $gf-blue url('https://crds-cms-uploads.imgix.net/content/images/group-finder-hero-banner.jpg') top center no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  padding: 0;

  // ---------------------------- Global

  &, h2, h3, h4 {
    color: $white;
  }

  h2 {
    margin-bottom: 0.25em;
    font-size: 145%;
    font-weight: 500;
  }

  h4 {
    text-transform: uppercase;
    font-size: 100%;
  }

  p.lead {
    font-size: 131%;
    font-weight: 200;
    line-height: 1.2;
  }

  header {
    @include clearfix;
  }

  .navbar-brand.logo {
    @include clearfix;
    color: $white;
    float: left;
    position: static;
    margin: 0 0 1em;
  }

  html[data-useragent*='MSIE'] select.form-control,html[data-useragent*='Trident'] select.form-control {
    background-color: #fff;
  }
  .has-error.validation {

    background-color: $gf-danger;
    color: $white;
    border-radius: 0.2em;
    span {
      color: $white;
      display: inline-block;
      padding: 2px 15px;
    }
  }

  .page-header {
    clear: both;
    border-bottom: lighten($cr-blue, 20);
    margin-bottom: 0;
  }

  .host,
  .dashboard,
  .summary,
  .results,
  .welcome {
    padding-bottom: 3em;
  }

  // ---------------------------- Buttons

  .btn-next-question {
    @include button-variant($white, $cr-blue, $cr-blue);
  }

  .btn-previous-question, .btn-start-over {
    @include button-variant($white, $gf-blue, $white);
    background: transparent;
    &:hover {
      background: darken($gf-blue-light, 5);
    }
  }

  .btn-standard-dark {
    max-width: 400px;
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 90%;
    font-weight: 500;
  }

  .btn-next-question,
  .btn-previous-question,
  .btn-start-over {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 90%;
  }

  .btns {
    margin-top: 2em;
    .btn {
      margin-bottom: 1em;
    }
  }

  .input-group-btn {
    font-size: inherit;
    > .btn-primary {
      @include border-right-radius(0.275em)
      text-transform: uppercase;
      font-weight: 500;
      border: none;
      padding: .515em 1.5em;
      font-size: 95%;
    }
  }

  // ---------------------------- Directives

  .group-card {
    background: $white;
    border: 5px darken($gray-lighter,5) solid;
    border-radius: $gf-border-radius;
    text-align: center;
    padding: 1em;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 1em;
    font-size: 90%;

    .btn {
      text-transform: uppercase;
      font-size: 90%;
      font-weight: 500;
    }

    .group-images {
      @include clearfix;
      img {
        width: 75px;
        height: 75px;
        max-width: 75px;
        border: 1px solid $gray-lighter;
        margin: 0 7px 15px;
      }
    }

    .group-description {
      padding: 0 2em;
      min-height: 3.25em;
    }
  }

  .group-invitation {
    .btn {
      height: 40px;
    }
  }

  .group-profile {
    background: $gray-lighter;
    color: $gray-dark;
    border-radius: $gf-border-radius;
    position: relative;
    overflow: hidden;
    font-size: 90%;
    line-height: 110%;
    border: 3px solid $cr-blue;
    margin-bottom: 1em;

    h4 {
      color: $gray-dark;
      text-transform: none;
    }

    header {
      background: $white;
    }
    header,
    > div {
      padding: 1.375em;
      hr {
        margin: 0 0 1em 0;
        border-color: darken($gray-lighter, 10);
      }
    }
    .list-unstyled {
      margin-bottom: 0;
      line-height: 140%;
      font-size: 90%;
      text-transform: capitalize;
      .downcase {
        text-transform: none;
      }
    }
    .media-heading {
      font-size: 125%;
      font-weight: 500;
    }
    .media-left {
      width: 70px;
      padding-right: 20px;
      img {
        width: 100px;
        height: 100px;
      }
      .img-circle {
        border: 3px solid $gray-lighter;
      }
    }
    .group-profile-picture {
      .profile-pic {
        background: transparent;
      }
      .profile-image {
        margin-top: 0;
      }
    }
    .group-type {
      margin-bottom: 1px;
      text-transform: uppercase;
      font-size: 90%;
      color: $gray-light;
    }
  }

  // ---------------------------- Dashboard

  .dashboard-header {
    h2 > small {
      color: $white;
      display: block;
      font-size: 97%;
      font-style: italic;
      font-weight: 200;
    }
    .btn-text {
      color: $white;
      text-decoration: underline;
      font-size: 90%;
    }
  }

  .dashboard {
    @include clearfix;
    background: $gray-lighter;
    &, h3, h4 {
      color: $gray-dark;
    }

    h4 {
      text-transform: none;
    }

    .page-header {
      margin: 0;
      text-align: center;
      h3 {
        font-weight: 300;
        text-transform: capitalize;
      }
    }

    .groups {
      margin-bottom: 1em;
    }

    .nav-tabs {
      border: none;

      & > li {
        width: 50%;
        & > a {
          border: none;
          background: $gf-tabs;
          border-radius: 0;
          color: $white;
          font-size: 90%;
          text-decoration: underline;
          margin-right: 0;
        }
        &:first-child > a {
          text-align: right;
          padding-right: 2em;
        }
        &:last-child > a {
          text-align: left;
          padding-left: 2em;
        }
        &.active > a {
          background: $gf-tabs-active;
        }
      }
    }

  }

  .group-cards {
    @include clearfix;
    @media (min-width: $screen-md-min) {
      max-width: 840px;
      margin: 0 auto;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;

      > * {
        display: block;
        -ms-flex: 1 50%;
        -webkit-flex: 1 50%;
        flex: 1 50%;
      }
    }
  }
  .media-card-profile {
    margin: 0 auto;
    max-width: 140px;
    max-height: 140px;
    margin-top: 1em;
  }

  .embed-responsive .embed-responsive-item {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
  }

  .group-detail {
    background: #FFF;
    padding-bottom: 3em;
    a {
      color: $gf-blue-lighter;
    }
    h3 {
      font-style: italic;
      font-weight: 200;
      font-size: 120%;
    }
    h4 {
      font-weight: 500;
    }
  }

  .member-detail {
    padding: 0 1em;
    h4 {
      margin-top: 0;
      line-height: 180%;
    }
    h4 > small {
      display: block;
    }
    ul {
      margin: 0 0 0 1.25em;
      padding: 0;
      li {
        font-size: 90%;
        line-height: 140%;
      }
    }
    .profile-image {
      border: none;
      max-width: 100%;
      margin: 0;
    }
  }

  // ---------------------------- QA Flow

  .question-wrapper {
    @include clearfix;
  }

  .radio input[type="radio"],
  .checkbox input[type="checkbox"] {
    margin-left: 0;
  }

  .question.form-group {
    .bordered {
      border: 1px solid $white;
      border-radius: 0.5em;
    }
    .checkbox,
    .radio {
      line-height: 110%;
      padding-left: 1em;
      border-bottom: 1px solid $white;
      &:last-child {
        border: none;
      }
      span {
        display: inline-block;
        padding: 0.3em 0 0.5em 0.4em;
      }
      label {
        display: block;
        width: 100%;
        padding-top: 5px;
      }
    }
    .radio, .radio + .radio,
    .checkbox, .checkbox + .checkbox {
      margin: 0;
      padding: 0.5em 1.25em;
    }
    textarea {
      border-radius: $gf-border-radius / 2;
      height: 7em;
      line-height: 115%;
      padding: 1em 1.25em;
      font-size: 95%;
      font-weight: 400;
    }
  }

  .rzNumber {
    font-size: 280%;
    line-height: 100%;
    font-weight: 600;
  }

  .help-block {
    color: $white;
    font-size: 90%;
    line-height: 130%;
    font-style: italic;
    margin-bottom: 1em;
  }

  .results {
    @include clearfix;
  }

  // ---------------------------- Other

  .welcome {
    max-width: 320px;
    margin: 0 auto;
    text-align: center;
    hr {
      border-color: lighten($cr-blue, 30);
    }
    h1 {
      text-transform: uppercase;
      line-height: 160%;
      > small,
      > span {
        font-weight: 100;
        color: #FFF;
        display: block;
        font-size: 180%;
      }
      > small {
        font-size: 50%;
        font-weight: 200;
      }
      > span.cr-logo-svg {
        @media (min-width: $screen-md-min) {
          margin-top: -13px;
        }
        margin-bottom: -10px;
        font-size: 80%;
        svg {
          max-width: 180px;
        }
      }
    }
    .page-header {
      img {
        margin-top: 0.125em;
        margin-bottom: 0.125em;
      }
    }
  }

  .timepicker {
    .btn-link {
      color: white;
    }
  }

  rzslider {
    margin-left: 10px;
    margin-right: 10px;
    width: 96%;

    .rz-bar {
      height: 12px;
      &.rz-selection {
        background-color: lighten($cr-blue,2);
      }
    }
    .rz-pointer {
      @include box-shadow(1px 4px 5px 0px rgba(50, 50, 50, 0.75));
      background-color: $white;
      top: -11px;
      &.rz-active:after {
        background-color: $gray-light;
      }
    }
    .rz-bubble {
      display: none;
    }
  }

  .responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow:
    hidden; max-width: 100%;
    iframe, object, embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
