.group-resource-tabs {
  .nav-tabs {
    border-bottom: 0px;

    > li {
      border-bottom: 0px;

      > a {
        font-size: .9rem;
        // margin: 5px 0px 5px 5px;
        margin: 0 $line-height-computed/2 $line-height-computed/2 0;
        @extend .btn;
        @extend .btn-standard;

        &:active {
          box-shadow: none;
        }
      }
    }

    > li.active > a,
    > li.active > a:hover,
    > li.active > a:focus {
      background: $brand-primary;
      color: #fff;
      border: 1px solid $brand-primary;
      position: relative;
    }
  }

  .tab-content {
    margin-top: $line-height-computed;
  }

  @media (min-width: $screen-sm-min) {
    .group-resource-item:nth-of-type(5n+1){
      clear:left;
    }
  }

  .group-resource-item {
    color: #000;
    transition: all .2s ease-in-out;

    &:hover {
      color: $gray;

      h5 {
        color: $gray;
      }

      .resource-img-cont {
        background: darken($gray-lighter, 10%);
      }
    }

    .free-resource {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 50px;
      height: 50px;
    }

    .icon {
      margin: $line-height-computed/1.75 $line-height-computed/2 0 0;
    }

    a {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
    }
  }

  .resource-img-cont {
    text-align: center;
    background: $gray-lighter;
    border: 1px solid $table-border-color;
    transition: all .2s ease-in-out;
    position: relative;

    @media (min-width: $screen-sm-min) {
      @include aspect-ratio(2.027,3);

      img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }

    img {
      margin: 0 auto;
      padding: $line-height-computed/5;
      max-height: 100%;
    }
  }

  em {
    font-family: $font-family-serif;
  }

  .group-category-title {
    border-bottom: 1px solid $table-border-color;
    font-weight: normal;
    margin-top: 0;
    padding-bottom: $line-height-computed/4;
  }

  .well {
    background: linear-gradient(135deg,#090f2a 1%,#356aa0 99%);
    // background: linear-gradient(135deg,#356aa0 1%,#090f2a 99%);
    color: white;

    a {
      color: white;
      text-decoration: underline;
      font-weight: bold;

      &:hover {
        text-decoration: none;
      }
    }
  }


}
