
.series-list {
	list-style: none;
	padding: 0;
}
.series-list li img {width: 100%;}

.media-well {
  background-color: $gray-darker;
  color: $gray-light;
  border: 1px solid $gray-darker;

  h2 {
    color: $gray-lighter;
  }
}

.series-image-container {
	overflow: hidden;
	position: relative;
	transform-style: preserve-3d;
	max-height: 210px;
}

.series-image-small {
	@include vertical-align;
	position: absolute;
	text-align: center;
	width: 100%;

	img {
		margin: 0 auto;
		@include box-shadow(0 3px 9px rgba(0,0,0,.8));
	}
}

.blurred-series-image {
	filter: blur(10px);
	filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='10');
}

.series-info {
  clear: both;

  h2 {
    font-weight: normal;
  }
}

.media-details .social-media-buttons a svg {
	color: $gray; //setting specifically so the default for .icon-twitter and .icon-facebook and be used elsewhere
}

/* Small devices (tablets, 768px and up) */
@media (max-width: $screen-xs-max) {
	.series-list li{
		width: 50%;
		float: left;
		margin-bottom: 30px;
		display: block;
	}
	.series-list li:nth-child(odd) {
		margin-right: 2%;
		clear: left;
	}
 }

.container-max {max-width: 1170px;}

.media-background {
  background: $gray-darker;

  iframe,video {
    margin: 0 auto;
  }

  img {
    // We have .fade on these to combat both images showing up in tabs before the JS loads
    opacity: 1;
  }
}

.message-body {
  .social-media-buttons {
    padding-top: 6px;
  }
}

.media-details {
  color: $gray-light;
  padding-bottom: ($line-height-computed*3);

  h5 {
    color: $gray-light;
  }

  h2 {
    color: $gray-lighter;
    font-weight: normal;
  }

  .message-header {
    hr {
      border-top: 1px solid $gray;
      margin: ($line-height-computed/2) auto;
    }
  }

  .label {
    color: $gray-lighter;
		margin-right: 5px;
  }
}

.message-weekend-summary {
  * {
	color: $gray-lighter;
  }

  a {
	color: $gray-lighter;
	font-weight: 400;

	svg {
	  margin-bottom: 2px;
	}
  }
}

@media (max-width: $screen-sm-min) {
  .message-body {
    .btn {
      width: 100%;
      margin-top: $line-height-computed/2;
    }
    .social-media-buttons {
      width: 100%;
			text-align: center;
    }
  }
}

.media-search {

  margin-bottom: 0;

  @media only screen and (max-width:  $screen-sm-min){
    margin-bottom: $line-height-computed !important;
  }

  @media (min-width: $screen-sm-min) {
    float: right;
  }

  .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
    margin-left: 0px;
  }
}

.message-action-buttons {
  .btn-block:first-child {
    margin-top: 5px;
  }
	.btn-group {
		margin-top: 0;
	}
}
.podcast-dropdown {
	hr {
		margin-top: 12px;
		margin-bottom: 12px;
	}
	color: $text-color;
}
.dropdown-rss-link {
	margin-bottom: 0;
	white-space: nowrap;
}

//Streaming Banner
.streaming-banner {
	position: relative;
	background-image: url('//crossroads-media.s3.amazonaws.com/images/streaming-banner-mobile.jpg');
  background-size: cover;
	background-position: top left;
	background-repeat: no-repeat;
	padding: $grid-gutter-width/2;
	margin-top: 2.5vw;
	margin-bottom: 2.5vw;
	@media (min-width: $screen-sm-min) {
		background-image: linear-gradient(to right, rgb(0,0,0) 1%, rgba(255,255,255,0) 45%), url('//crossroads-media.s3.amazonaws.com/images/streaming-banner-bg.jpg');
	}
	img {
		margin-top: -2.5vw;
		margin-bottom: -2.5vw;
	}
	a {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 1;
	}

	h2 {
		@extend .brand-font;
		color: white;
		margin: 0;
		line-height: 1;
		text-align: right;
		span {
			display: block;
		}
	}

	h4 {
		color: white;
		margin: 0;
		font-weight: 100;
		text-align: right;
		span {
			display: block;
		}
	}

	@media (min-width: $screen-sm-min) {
		h2 {
			padding-top: $line-height-computed/2;
			text-align: left;
			span {
				display: block;
			}
		}
		h4 {
			text-align: left;
		}
	}

	@media (min-width: $screen-md-min) {
		h2 {
			padding-top: $line-height-computed*2;
		}
	}

	@media (min-width: $screen-lg-min) {
		h2 {
			padding-top: $line-height-computed*3;
		}
	}
}

/***************************************************************************************
* Message Preview Include - used on _includes/media/message_preview.html
***************************************************************************************/
#video-player-box {
  background: #f8f3e5;
  padding: 10px 0 10px 10px;
  margin: 0 0 20px 0;
  position: relative;
}
