.event-list {
  list-style: none;
  margin: 0px;
  padding: 0px;

  .topic {
    background-color: $gray-lighter;
    margin-bottom: $line-height-computed;
    transition: all 0.5s;
    display: block;

    &:hover {
      background: darken($gray-lighter, 5%);

      time { 
        background-color: darken($brand-secondary, 5%);
      }
    }

    time {
      color: rgb(255, 255, 255);
      background-color: $brand-secondary;
      text-align: center;
      display: block;
      height: 50px;
      transition: all 0.5s;
    }
  }
}

.event-list .topic time > span {
  display: none;
}
.event-list .topic time > .day {
  display: block;
  font-size: 23px;
  font-weight: 100;
  line-height: 1;
  padding-top: 8px;
}
.event-list .topic time > .month {
  display: block;
  font-size: 10px;
  font-weight: 500;
  line-height: 1;
}
.event-list .topic .info {
  text-align: center;
  border-radius: 3px;
}
.event-list .topic .info .title {
  font-size: 16px;
  font-weight: 500;
  margin: 0px;
  height: 50px;
  padding-top: 6px;
  border-left: 1px solid lighten($gray-light, 20%);
  border-top: 1px solid lighten($gray-light, 20%);
  border-bottom: 1px solid lighten($gray-light, 20%);
  text-align: left;

}
.event-list .topic .info > .desc {
  font-size: 13px;
  font-weight: 300;
  margin: 0px;
}
.event-list .topic .info > ul {
  display: table;
  list-style: none;
  margin: 10px 0px 0px;
  padding: 0px;
  width: 100%;
  text-align: center;
}

.event-list .topic .info > ul > li {
  display: table-cell;
  cursor: pointer;
  color: rgb(30, 30, 30);
  font-size: 11pt;
  font-weight: 300;
      padding: 3px 0px;
}
  .event-list .topic .info > ul > li > a {
  display: block;
  width: 100%;
  color: rgb(30, 30, 30);
  text-decoration: none;
} 

.event-list .topic .info > ul > li:hover {
  color: rgb(30, 30, 30);
  background-color: rgb(200, 200, 200);
}
@media (min-width: 768px) {
  .event-list .topic {
    position: relative;
    height: 50px;
  }
  .event-list .topic time {
    float: left;
  }
  .event-list .topic .info {
    overflow: hidden;
  }
  .event-list .topic time {

  }
  .event-list .topic .info {
    position: relative;
    height: 50px;
    text-align: left;
  } 

  .event-list .topic .info > ul {
    position: absolute;
    left: 0px;
    bottom: 0px;
  }
}