$spark-red:             #EF4136;
$spark-purple:          #262262;
$spark-dark-grey:       #231F20;
$spark-grey:            #58595B;
$spark-light-grey:      #F1F2F2;
$spark-red-seethrough:  rgba(239, 65, 54, .66);
$spark-purple-seethrough:  rgba(29, 22, 79, .65);

.spark {
  background: #fff;
}

.spark-content-container {
  max-width: 2200px;
  margin: 0 auto;
  background: white;

  .spark-dates span {
    background: #F3684E;
  }
}

// Navigation

.navbar-spark {
  background: white;

  .navbar-nav {
    > li {
      float: left;

      > a {
        color: $spark-dark-grey;
        text-transform: uppercase;
        //font-weight: 400;

        &:hover {
          color: $spark-red;
          background: transparent;
        }
      }
    }
  }
}

// Intro

.spark-content-container .header-video-close-trigger {
  top: 70px;
}

.spark-intro, .spark-intro.header-video {
  background: $spark-light-grey url(https://crds-cms-uploads.imgix.net/content/images/redintro.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: $line-height-computed*2;

  @media (max-width: $screen-sm-min) {
    min-height: 475px !important;

    &.spark-interior-intro {
      min-height: 0px !important;
    }
  }
}

.intro-video-play {
  svg {
    color: rgba(00,00,00,.1);
    height: auto;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    max-width: 30%;
  }

  &:hover {
    cursor: pointer;

    svg {
      color: rgba(00,00,00,.25);
    }
  }
}

.spark-logo-cont,
.spark-logo-row,
.spark-logo-cols {
  padding-top: $line-height-computed/2;
  padding-bottom: $line-height-computed/2;
}

@media (min-width: 600px) and (max-width: $screen-sm-min) {
  .spark-logo-cont,
  .spark-logo-row,
  .spark-logo-cols {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.spark-logo {
  max-width: 70%;

  @media (min-width: $screen-sm-min) {
    max-width: 50%;
  }

  @media (min-width: $screen-lg-min) {
    max-width: 40%;
  }
}

.spark-ellipsis {
  content: "";
  display: block;
  background: url(https://crds-cms-uploads.imgix.net/content/images/ellipsis.png) center bottom no-repeat;
  background-size: cover;
  width: 400px;
  height: 200px;
  position: absolute;
  bottom: -200px;
  left: 50%;
  transform: translate(-70%, 0%);
  z-index: 2;


}

// Headline

.spark-headline {
  background: white;
  position: relative;

  &:after {
    @extend .spark-ellipsis;
    display: none;

    @media (min-width: $screen-md-min) {
      display: block;
    }
  }



  h2 {
    color: $spark-purple;
    font-weight: normal;
    font-weight: 200;
  }
}

// Highligh Headline

.headline-title {
  color: #fff;
  font-size: 1.5rem;
  font-weight: normal;
  font-weight: 200;
  max-width: 50%;
  line-height: 1.8em;
  // display: inline;

  span {
    padding: 0.25em 0;
    box-shadow: 0.3em 0 0 $spark-purple-seethrough, -0.3em 0 0 $spark-purple-seethrough;
    background-color: #fff;
    background-color: $spark-purple-seethrough;
  }
}

@media (min-width: $screen-xs-min) {
  .headline-title {
    font-size: 2rem;
  }
}
@media (min-width: $screen-md-min) {
  .headline-title {
    font-size: 2.5rem;
  }
}
// Bios

.spark-bios {
  position: relative;
  overflow: hidden;
}

.brian-cont {
  img {
    max-width: 80%;
  }

  .speaker-info {
    position: absolute;
    left: 45%;
    bottom: 15%;

    .speaker-name {
      background: $spark-red-seethrough;
      width: 200px;
      height: 200px;
      text-align: center;
      position: relative;
      border-radius: 50%;

      h3 {
        color: #fff;
        padding: 0;
        margin: 0;
        line-height: 1;
        font-size: 1.5rem;
      }
    }

    .speaker-title {
      color: $spark-grey;
      font-weight: normal;
      font-weight: 200;
      margin-left: -10%;
      font-size: 2rem;
      text-align: center;
      max-width: 90%;
    }
  }


  @media (min-width: $screen-xs-min) {
    .speaker-info {
      left: 55%;
      bottom: 30%;
    }
  }


  @media (min-width: $screen-sm-min) {
    .speaker-info {
      left: 55%;
      bottom: 30%;

      .speaker-name {
        h3 {
          font-size: 2rem;
        }
      }

      .speaker-title {
        margin-left: -20%;
        text-align: left;
        font-size: 2.5rem;
        max-width: none;
      }
    }
  }
}

.catie-cont {
  margin-top: -$line-height-computed*1.5;

  img {
    max-width: 80%;
  }

  .speaker-info {
    position: absolute;
    left: 10%;
    top: 20%;
    max-width: 60%;
    text-align: left;
  }

  .speaker-name {
    h3 {
      color: $spark-red;
    }
  }

  .speaker-title {
    @extend .headline-title;
    display: inline;

    @media (min-width: $screen-md-min) {
      font-size: 2rem;
    }
  }

  @media (min-width: $screen-xs-min) {
    margin-top: -$line-height-computed*4;
  }

  @media (min-width: $screen-sm-min) {
    .speaker-info {
      top: 45%;
      left: 0%;
      max-width: 40%;
      text-align: right;
    }
  }

  @media (min-width: $screen-md-min) {
    .speaker-info {
      max-width: 50%;
      top: 40%;
    }
  }

  @media (min-width: $screen-lg-min) {
    .speaker-info {
      max-width: 35%;
      top: 60%;
    }
  }
}

.chuck-cont {
  position: relative;

  .speaker-info {
    position: absolute;
    top: 0;
    left: 0;
  }

  .speaker-name {
    background: $spark-red-seethrough;
    width: 200px;
    height: 200px;
    text-align: right;
    position: relative;
    border-radius: 50%;
    clear: both;
    position: relative;
    margin: 0 0 5% 10%;

    h3 {
      color: #fff;
      padding: 0;
      margin: 0;
      line-height: 1;
      font-size: 1.5rem;
    }
  }

  .speaker-title {
    @extend .headline-title;
    color: $spark-grey;
    position: relative;
    margin-left: $line-height-computed;
    clear: both;
    max-width: 70%;

    span {
      box-shadow: 0.3em 0 0 #fff, -0.3em 0 0 #fff;
      background-color: #fff;
    }
  }

  @media (min-width: $screen-sm-min) {
    .speaker-name {
      margin: 20% 0 5% 10%;
    }
  }

  @media (min-width: $screen-md-min) {
    .speaker-name {
      width: 230px;
      height: 230px;
      margin: 20% 0 5% 20%;
    }
  }

  @media (min-width: $screen-lg-min) {
    .speaker-name {
      margin: 20% 0 5% 30%;
    }
  }
}

.paco-cont {
  margin-top: $line-height-computed;
  position: relative;

  img {
    max-width: 80%;
  }

  .speaker-info {
    position: absolute;
    top: 30%;
    text-align: right;
    width: 45%;
  }

  .speaker-name {
    h3 {
      color: $spark-grey;
    }
  }

  .speaker-title {
    @extend .headline-title;
    float: right;
    text-align: right;
    max-width: 90%;

    @media (min-width: $screen-md-min) {
      max-width: 100%;
    }

    span {
      padding: 0.25em 0;
      box-shadow: 0.3em 0 0 $spark-red-seethrough, -0.3em 0 0 $spark-red-seethrough;
      background-color: $spark-red-seethrough;
    }
  }

  @media (min-width: $screen-lg-min) {
    margin-top: $line-height-computed*4;
  }
}

.terry-cont {
  position: relative;

  img {
    max-width: 80%;
  }

  .speaker-info {
    position: absolute;
    max-width: 60%;
    top: 40%;
    right: 20%;
    text-align: right;
  }

  .speaker-name {
    h3 {
      color: $spark-purple;
    }
  }

  .speaker-title {
    @extend .headline-title;
    display: inline;
  }

  @media (min-width: $screen-md-min) {

    .speaker-info {
      max-width: 50%;
    }
  }
}

.kyle-cont {
  position: relative;
  margin-top: $line-height-computed*2;

  .speaker-info {
    position: absolute;
    top: 13%;
    right: 0;
    text-align: left;
    width: 45%;

    h3 {
      color: #fff;
    }
  }

  .speaker-title {
    @extend .headline-title;
    color: $spark-grey;
    position: relative;
    margin-left: $line-height-computed/2;
    margin-top: $line-height-computed;
    clear: both;
    max-width: 70%;

    span {
      box-shadow: 0.3em 0 0 #fff, -0.3em 0 0 #fff;
      background-color: #fff;
    }

    @media (min-width: $screen-sm-min) {
      margin-top: $line-height-computed*4;
    }
  }
}

.greg-cont {
  position: relative;

  .speaker-info {
    position: absolute;
    top: 25%;
    text-align: right;
    width: 34%;
    left: 0%;

    h3 {
      color: $spark-red;
    }
  }

  .speaker-title {
    @extend .headline-title;
    float: right;
    text-align: right;
    max-width: 90%;

    @media (min-width: $screen-md-min) {
      font-size: 2rem;
    }

    span {
      padding: 0.25em 0;
      box-shadow: 0.3em 0 0 $spark-red-seethrough, -0.3em 0 0 $spark-red-seethrough;
      background-color: $spark-red-seethrough;
    }
  }
}

.alli-cont {
  position: relative;

  .speaker-info {
    position: absolute;
    top: 10%;
    text-align: right;
    width: 50%;
    left: 0%;

    h3 {
      color: $spark-grey;
    }
  }

  .speaker-title {
    @extend .headline-title;
    float: right;
    text-align: right;
    max-width: 90%;

    @media (min-width: $screen-md-min) {
      max-width: 100%;
    }
  }
}

.spark-footer {
  background: $spark-light-grey;
  height: 50px;
  line-height: 50px;
  font-size: 1rem;
  padding: 0 $line-height-computed;
}

.spark {
  .lead {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 200;
  }
}

.interior-title:before {
  background: rgba(234, 229, 217, .5);
  content: "";
  display: none;
  width: 300px;
  height: 300px;
  position: absolute;
  top: -50%;
  left: 10%;
  border-radius: 50%;
  z-index: 1;
  @media (min-width: $screen-sm-min) {
    display: block;
  }
}

.interior-title.headline-title {
  max-width: 90%;
  font-size: 1.5rem;
  margin-top: $line-height-computed;

  span {
    z-index: 2;
    position: relative;
  }

  @media (min-width: $screen-sm-min) {
    text-align: right;
    float: right;
  }
}

@media (min-width: $screen-sm-min) {
  .interior-title.headline-title.about-title {
    width: 50%;
  }
  .interior-title.headline-title.invite-title {
    width: 70%;

    &:before {
      // top: -120%;
      // left: 0%;
    }
  }
  .spark-about-copy {
    padding-top: $line-height-computed;
  }
}

.spark-about-copy,
.spark-invite-copy {
  position: relative;
  z-index: 2;
}

.spark-body-container {
  overflow: hidden;
}

.interior-footer {
  position: relative;
  margin-top: 200px;
}

.spark-invite-copy {
  @media (min-width: $screen-sm-min) {
    padding-top: $line-height-computed;
  }

  .copy-text {
    background-color: $spark-light-grey;
    color: $spark-dark-grey;

    &::selection {
      background-color: $spark-red-seethrough;
      color: #fff;
    }
  }

  .addthis_crossroads_sharing {
    display: inline-block;
  }
}

.btn-spark-share {
  display: inline-block;
  background: $spark-red-seethrough;
  color: #fff !important;
  border-radius: 0px !important;
  padding: 6px 8px;

  .icon {
    margin-right: 2px;
    color: #fff;
  }

  &:hover {
    color: #fff;
    background: darken($spark-red-seethrough, 20%);
  }

  @media (min-width: $screen-sm-min) {
    padding: 6px 14px;
    font-size: 1.25rem;

    .icon {
      margin-right: 10px;
    }
  }

  @media only screen and (max-device-width: 480px) {
    padding: 4px;
  }
}
