@mixin crds-make-condensed {
  font-family: $cr-streaming-font-extra-cond;
  font-size: 170%;
  font-weight: 600;
  letter-spacing: -0.025em;
  text-transform: uppercase;
  line-height: 100%;
}

streaming, landing {

  font-family: $cr-streaming-font-sans;

  h1, h2 {
    font-family: $cr-streaming-font-sans;
    font-weight: 100;
  }

  h2 {
    font-weight: 300;
  }

  .countdown {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    &__timer {
      display: flex;
      flex-direction: column;
      align-items: center;

      .list-inline {
        margin-bottom: 0;
        min-width: 141px;
      }
    }

    &__text {
      padding-bottom: 3px;
    }

    .btn-reminder {
      display: flex;
      align-items: center;
    }
  }

  @media (min-width: 500px) {
    .countdown__timer {
      flex-flow: row nowrap;
      align-items: center;
    }

    .countdown__text {
      padding-bottom: 0;
      padding-right: 3px;
    }
  }

  > .wrapper {
    @include make-row();
    @include clearfix();
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;

    .navbar-section .container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .fixed-header {

    .navbar-section {
      position: fixed;
      z-index: 1000;
      left: 0;
      right: 0;
      top: 0;
    }
  }

  .navbar-section {
    background: $cr-streaming-blue;
    color: #FFF;
    text-align: center;
    padding: 1em 0;
    font-size: 90%;
    min-height: 52px;
    transform: translateZ(0);


    @media (min-width: $screen-sm-min) {
      min-height: 66px;
    }

    @media (max-width: $screen-sm-min) {
      countdown .countdown {
        .btn-reminder {
          padding-left: 5px;
          padding-right: 5px;
        }
        .list-inline {
          min-width: 150px;
        }
      }
    }

    #conuntdown-header {
      -webkit-animation-duration: 1.5s;
         -moz-animation-duration: 1.5s;
          -ms-animation-duration: 1.5s;
           -o-animation-duration: 1.5s;
              animation-duration: 1.5s;
    }


    .container {
      @include clearfix();
      position: relative;
    }

    .btn-reminder {
      @include button-variant(#FFF, $cr-streaming-blue, lighten($cr-streaming-blue, 20));
      margin-left: 1em;
      @media (max-width: $screen-sm-min) {
        font-size: 70%;
      }
    }

    .see-schedule {
      text-transform: uppercase;
      font-size: 90%;
      color: #FFF;
      position: absolute;
      right: 0;
      bottom: 0;
      display: none;

      @media (min-width: $screen-md) {
        display: block;
      }
      @media (max-width: $screen-sm-min) {
        margin-top: -5px;
      }
    }

    .upcoming {
      display: table;
      text-align: center;
      font-size: 80%;

      @media (min-width: $screen-sm-min) {
        font-size: 100%;
      }

      @media (min-width: $screen-md-min) {
        margin: 0 auto;
      }

      i, ul, .btn-reminder {
        // display: table-cell;
        // vertical-align: middle;
      }

      i {
        font-family: $cr-streaming-font-serif;
        font-style: italic;
        font-size: 123%;
        letter-spacing: -0.015em;
        padding-right: 1em;
        @media (max-width: $screen-sm-min) {
          // padding-right: 0;
          font-size: 100%;
        }
      }

      ul {
        padding-right: 20px;
        @media (max-width: $screen-sm-min) {
          padding-right: 7px;
        }
      }

      li {
        line-height: 120%;
        padding: 0;

        &.vr:before {
          @include rotate(-90deg);
          display: inline-block;
          content: '\2014';
          font-size: 190%;
          font-weight: 100;
          position: relative;
          top: -0.25em;
          @media only screen and (max-width:  $screen-xs-min){
            display: none;
          }
        }
      }

      i, li.vr:before {
        color: lighten($cr-streaming-blue, 25%);
      }

      strong {
        display: block;
        font-size: 160%;
        font-weight: 400;
        min-width: 29px;
      }

      small {
        text-transform: uppercase;
        font-size: 63%;
        font-weight: 200;

      }

      @media (min-width: $screen-sm-min) {
        i {
          text-align: right;
        }
      }

      .countdown {
        position: relative;
        top: 1px;
      }

      .in-progress {
        i, a {
          padding-right: 1em;
          display: inline-block;
        }
      }

      a.btn-sm {
        @include button-variant(#FFF, lighten($cr-streaming-blue, 12.5%), lighten($cr-streaming-blue, 12.5%));
        font-weight: 400;
        font-size: 110%;
      }
    }
  }

  .intro {
    background-color: #2E2E30;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 2em 0;

    &, h1 {
      color: #FFF;
    }

    & {
      font-size: 125%;
    }

    p {
      font-size: initial;

      &.lead {
        font-size: 125%;
      }
    }

    h1 {
      font-size: 238%;
      @media (min-width: $screen-md-min) {
        font-size: 338%;
      }
      line-height: 100%;
      margin-bottom: 0.5em;
    }

    @media (min-width: $screen-sm-min) {
      min-height: 550px;
    }

    countdown-intro {
      &.hidden {
        display: none;
      }
      ul {
        background: rgba(0,0,0,0.1);
        border: 1px solid rgba(255,255,255,0.3);
        padding: 22px 0 15px;

        @media (min-width: $screen-lg-min) {
          display: inline-block;
          padding: 22px 25px 15px;

        }
      }
      li {
        line-height: 120%;
        min-width: 45px;
        strong {
          font-size: 150%;
          display: block;

          &.muted {
            color: $cr-grey;
          }
        }
        small {
          color: $cr-grey;
        }
      }
    }
  }



  .current-series {

    .embeded {
      display: none;
    }

    /* Medium devices (desktops, 992px and up) */
    @media (min-width: $screen-md-min) {
      .embeded {
        display: inline-block;
      }

      .link {
        display: none;
      }
    }


    figure {
      margin-top: 1em;
      margin-bottom: 1.75em;
      text-align: center;
      position: relative;

      figcaption {
        font-family: $cr-streaming-font-serif;
        font-style: italic;
        font-size: 85%;
        position: absolute;
        bottom: -0.5em;
        margin-left: 1em;
        padding: 0.4em 1em;
        background: #D3DFE6;
        color: $gray;
        position: absolute;
        word-wrap: break-word;

        @media (min-width: $screen-sm-min) {
          margin-left: 8em;
        }
      }
      .img-responsive {
        margin: 0 auto;
      }

    }
    .topic-list {
      padding: 0;
      list-style: none;
      margin: 0 0 1.5em;

      li {
        display: inline;

        &:after {
          content: ", ";
          margin-left: -4px;
        }
        &:last-child:after {
          content: "";
        }
        a {
          font-size: 87%;
          text-transform: lowercase;
        }
      }
    }
    article {
      @media (min-width: $screen-md-min) {
        @include make-md-column(5);
        @include make-md-column-offset(1);
      }

      h2 {
        font-size: 270%;
        margin-bottom: 0.75em;

        small {
          font-family: $cr-streaming-font-sans;
          font-weight: 600;
          font-size: 32%;
          text-transform: uppercase;
          display: block;
          margin-top: 0.35em;
        }
      }

      p {
        margin: 0 0 1.5em;

        &.small {
          margin: 0;
        }
      }

      .lead {
        font-size: 120%;
      }
    }
    aside {
      @media (min-width: $screen-md-min) {
        @include make-md-column(4);
        @include make-md-column-offset(1);
      }

      margin-top: 2em;

      h3 {
        @include crds-make-condensed();
        margin: 0 0 0.45em;
      }

      hr {
        border-color: darken($gray-lighter, 10%);
        width: 100%;
        margin: 0;
      }

      .well {
        border: none;
        border-radius: none;
        box-shadow: none;
        background: lighten($gray-lighter, 3%);
      }

      .row {
        @include make-row();
        font-size: 90%;
        padding-top: 1em;
        &, li {
          font-family: $cr-streaming-font-sans;
        }
        li {
          white-space: nowrap;
        }
        a {
          font-weight: 600;
        }
        strong {
          display: block;
        }
        .date, .time {
          @include make-xs-column(5);
        }
      }
    }
  }

  .past-weekends {
    margin: 2em 0;

    &, h3 {
      color: $gray;
    }

    content-card {
      @media(max-width: $screen-md-min){
        @include make-sm-column(6);
      }
      @media(min-width: $screen-md-min){
        @include make-md-column(3);
      }
      @media(max-width: $screen-md-min){
        &:nth-child(2n+1) {
          clear: left;
        }
      }
    }

    header {
      border-top: 1px solid lighten($gray, 50%);
      h2 {
        color: lighten($gray, 50%);
        margin: 0;
        font-size: 200%;
        margin: 0.75em 0;
      }
      .view-all-desktop {
        font-size: 80%;
        margin-top: 3em;
        display: none;
        @media only screen and (min-width:  $screen-sm-min){
          display: block;
        }
      }
    }

    figcaption {
      font-family: $cr-streaming-font-extra-cond;
      font-size: 210%;
      top: -0.85em;
      word-wrap: break-word;

    }

    section {
      top: -1em;
    }

    @media (max-width: $screen-xs-max) {
      figcaption {
        top: -1.15em;
      }

      figure a {
        margin-bottom: 2%;
      }
    }
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      figure a {
        margin-bottom: 2%;
      }
      figcaption {
        top: -0.95em;
      }
    }

    .view-all-mobile {
      @media only screen and (min-width:  $screen-sm-min){
        display: none;
      }
    }

    .content-card-row {
      @media (min-width: $screen-sm-min) {
        @include make-row();
      }
    }
  }

  .ways-to-watch {
    background: #F6F6F6;
    padding: 2em 0;
    text-align: center;

    h2 {
      font-size: 200%;
      color: lighten($gray, 25%);
      margin-bottom: 1em;
    }

    figure {
      text-align: center;
      margin-bottom: 1em;
      img {
        margin: 0 auto;
        max-width: 60%;
      }

      @media only screen and (min-width:  $screen-sm-min){
        @include make-sm-column(2);
        &:first-child {
            @include make-sm-column-offset(1);
        }
        display: table-cell;
        vertical-align: bottom;
        text-align: left;
        margin-bottom: 1em;

        img {
          margin: 0;
          max-width: 100%;
        }
      }

      figcaption {
        font-size: 70%;
        font-weight: 600;
        margin-top: 0.3em;
        word-wrap: break-word;


        span {
          font-weight: normal;
        }
      }
    }
  }

  .community {
    @include clearfix();
    background-color: rgba(29,60,80,0.6);
    position: relative;
    @media (min-width: $screen-sm-min) {
      height: 622px;
    }

    .background {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -100;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      background-image: url(https://crds-cms-uploads.s3.amazonaws.com/content/images/live-map.gif);
    }

    .overlay {
      z-index: 100;

      &, h2 {
        color: #FFF;
      }

      .addthis_crossroads_sharing {
        a {
          float: none;
        }
      }

    }

    img {
      position: fixed;
      left: 50%; top: 50%;
      margin-left: -350px;
      margin-top: -300px;
      width: 700px; height: auto;
    }
  }

  .group-host {
    .crds-hero {
      &, p, h1, h2 {
        color: $gray;
      }
    }

    article {
      margin-bottom: 3em;
      font-size: 90%;
      h3 {
        @include crds-make-condensed();
        font-size: 200%;
      }
    }
    .btns > a {
      display: table-cell;
      vertical-align: middle;
    }
    .container {
      h3 {
        margin-top: 0;
      }
    }

    @media (min-width: $screen-sm-min) {
      .container {
        display: flex;
        flex-direction: column;
        height: 100%;

        > div {
          flex: 1 0 auto;
          display:flex;
        }

        article {
          margin-bottom: 0;
          width: 33%;
          padding: 0 2em;
          border-left: 1px solid $gray-lighter;

          &:first-child {
            border-left: none;
          }
        }
      }
    }

    @media (min-width: $screen-md-min) {
      .container {
        padding: 2em 5em 0;
      }
    }

  }

} // streaming

.live-stream {
  display: block;
  background: #000;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  padding: 0 0 5em;
  color: #FFF;

  content-card {
    article {
      margin-bottom: 1em;
    }

    &, h3 {
      color: $gray;
    }

    a {
      // cursor: default;
    }

    figure {
      background-color: #fff;
    }

    section {
      background-color: #fff;
      padding-bottom: 25px;
    }

    header {
      border-top: 1px solid lighten($gray, 50%);

      h2 {
        color: lighten($gray, 50%);
        margin: 0;
        font-size: 200%;
        margin: 0.75em 0;
      }
      .view-all-desktop {
        font-size: 80%;
        margin-top: 3em;
        display: none;
        @media only screen and (min-width:  $screen-sm-min){
          display: block;
        }
      }
    }

    figcaption {
      font-family: $cr-streaming-font-extra-cond;
      font-size: 210%;
      top: -0.5em;
      word-wrap: break-word;
      -webkit-transform: translateZ(0);
    }

    section {
      top: -0.5em;
    }

    figure a {
      display: block;
      width: 100%;
    }

    @media (max-width: $screen-xs-max) {
      figcaption {
        top: -1.15em;
      }
    }

    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      figcaption {
        top: -0.95em;
      }
    }
  }

  h2 {
    color: darken(#FFF, 70%);
    font-family: $cr-streaming-font-sans;
    font-weight: 300;
    font-size: 1.75em;
    letter-spacing: -0.05em;
  }

  .dark-bg {
    padding-top: 1em;
    padding-bottom: 1em;
    background: #000;

    header > a:hover,
    header > a:focus {
      transition: color 0.5s ease;
      text-decoration: none;
      > svg {
        transition: fill 0.5s ease;
      }
      &, .icon {
        color: $gray-light !important;
        fill: $gray-light;
      }
    }

    .video-player {
      margin: 0 auto;
    }

    > header {
      .navbar-brand.logo {
        color: white;
        position: static;
        margin-left: -10px;
        padding-left: -10px;
      }
    }
  }

  .digital-program {
    padding-bottom: 15px;

    header {
      @include make-md-column(12);
    }

    &.bg,
    > .bg {
      background: #151515;
      overflow: hidden;
    }

    .gradient {
      position: relative;
      display:inline-block;
      &:after {
        @include gradient-vertical(rgba(0,0,0,0.2), rgba(0,0,0,0.8), 40%, 100%);
        content:'';
        position:absolute;
        left:0;
        top:0;
        width:100%;
        height:100%;
        display:inline-block;
      }
      img {
        display: block;
      }
    }

    &.related {
      @media (min-width: $screen-sm) {
        @include make-sm-column(6);
      }
    }

    &.participate {
      @media (min-width: $screen-sm) {
        @include make-sm-column(6);
        border-left: 25px solid #000;
      }

      hr {
        border-color: #212121;
        float: left;
        width: 100%;
        margin: 2em 0;
      }
    }

  }

  .participate {

    .promo {
      @include make-md-column(12);
      padding-bottom: 20px;
    }

    @media (min-width: $screen-md-min) {
      header,
      .promo {
        padding-left: 30px;
        padding-right: 30px;
      }

      figure {
        @include make-md-column(4);
        a {
          display: block;
          width: 100%;
        }
      }
      section {
        @include make-md-column(8);
      }
    }
    .promo {
      &:last-child {
        hr {
          display: none;
        }
      }
    }

    margin-bottom: 3em;

    h3 {
      @include crds-make-condensed();
      letter-spacing: normal;
      margin: 0 0 0.3em;
      color: #FFF;

      a {
        color: #FFF;
      }
    }

    article {
      font-family: $cr-streaming-font-sans;
      font-size: 88%;
    }

    figure {
      padding-left: 0;
      @media (max-width: $screen-md-min) {
        margin-bottom: 1em;
      }
    }
  }

  .how-many-people {
    background: #000;
    margin-bottom: 1em;
    color: $gray-light;
    .btn-step {
      @include button-variant($gray-light, #000, $gray-light);
      padding: 0.8em;
      font-weight: 300;
    }
    .btn-group {
      margin: 0 0.75em 0 0.5em;
    }
    .btn {
      padding-top: 0.15em;
      padding-bottom: 0.15em;
    }
    .vr {
      display: inline-block;
      position: relative;
      top: 0.4em;
      &:before {
        @include rotate(-90deg);
        display: inline-block;
        content: '\2014';
        font-size: 190%;
        font-weight: 100;
      }
    }
  }

  .control-container {
    background: #252526;
    padding: 10px 0;
  }

  .pushdown-container {
    background: #252526;

    .btn-dismiss {
      color: #FFF;
      font-size: 90%;
      padding: 0 1.25em 0.5em;
    }
    .iframe-wrapper {
      position: relative;
      padding-top: 30px;
      height: 140px;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
      > iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  .flex {
    &__container {
      display: flex;
      flex-wrap: wrap;

      &.container {
        padding-left: 0;
        padding-right: 0;
      }
    }

    &__item {
      flex: 1 1 100%;
      padding-left: 20px;
      padding-right: 20px;

      @media (min-width: $screen-md) {
        padding-left: 0;
        padding-right: 0;
      }

      &.digital-program__giving {
        background-color: #171717;
        margin-bottom: 2em;
        padding: 0;

        @media (min-width: $screen-md) {
          flex: 1 1 50px;
          margin-bottom: 0;
          order: 2;
        }

        iframe {
          padding: 0 6px;
        }

        header {
          padding: 0 1.25em;
        }

        h2 {
          color: #777;
        }
      }

      &.digital-program__articles {
        background-color: #171717;
        padding-left: 20px;
        padding-right: 0;

        @media (min-width: $screen-md) {
          margin-right: 28px;
          flex: 2 1 0;
          order: 1;
        }

        h2 {
          color: #777;
          float: left;
        }

        .crds-card-carousel {
          height: 400px;
          margin-bottom: 2em;
          margin-top: 1em;
          overflow-x: scroll;
          overflow-y: hidden;
          position: relative;
          white-space: nowrap;
          width: 100%;
          &::-webkit-scrollbar {
            display: none;
          }
          overflow: -moz-scrollbars-none;
          -ms-overflow-style: none;
          -webkit-overflow-scrolling: touch;
        }

        .crds-carousel {
          &__controls {
            float: right;
            margin-right: 20px;
            margin-top: 1.5em;
          }

          &__control {
            background: rgba(77,77,77,0.75);
            border-radius: 4px;
            color: #FFF;
            display: inline-block;
            padding: 6px 10px;
            text-align: center;
            vertical-align: middle;

            &:hover {
              background: lighten(rgba(77,77,77,0.75), 10);
              border: none;
              text-decoration: none;
            }
          }

          &__content-wrap {
            position: absolute;
            white-space: nowrap;
            width: 100%;
          }

          &__list {
            display: block;
            list-style: none;
            padding: 0;
          }

          &__item {
            display: inline-block;
            vertical-align: top;
            white-space: normal;
            z-index: 1;
          }
        }

        content-card {
          display: inline-block;
          margin-right: 1em;

          &:last-of-type {
            margin-right: 0;
          }

          article {
            margin-bottom: 0;
          }

          section {
            height: 300px;
            text-overflow: ellipsis;
          }
        }

        .crds-card {
          width: 225px;

          figcaption {
            top: -0.6em;

            @media (min-width: $screen-sm) {
              top: -0.8em;
            }

            @media (min-width: $screen-md) {
              top: -0.6em;
            }
          }
        }
      }

      &.digital-program__participate {
        @media (min-width: $screen-md) {
          margin-top: 1em;
        }

        h2 {
          color: #777;
        }

        .media {
          @include make-xs-column(12);

          margin-top: 10px;
          margin-bottom: 20px;

          @media (min-width: $screen-sm) {
            @include make-sm-column(6);

            padding-left: 20px;
            padding-right: 20px;
          }

          @media (min-width: $screen-md) {
            @include make-md-column(4);
          }

          .media-left {
            padding-right: 20px;
          }

          .media-object {
            max-width: 100px;
          }

          .media-body {
            color: #FFF;
            font-family: "acumin-pro", sans-serif;
            font-size: .875em;
            position: relative;
            top: -8px;
          }

          .media-heading {
            color: #FFF;
            font-family: "acumin-pro-extra-condensed", sans-serif;
            font-size: 1.72em;
            font-weight: 600;
            margin-bottom: 8px;
            padding-top: 3px;
            text-transform: uppercase;
          }
        }
      }
    }
  }
} // .live-stream

.reminder-modal {
  .modal {
    @media(max-width: $screen-md) {
      position: absolute;
      overflow: scroll;
    }
  }
}
.reminder-content {

  margin-bottom: 2em;

  h3 {
    margin-bottom: 0.75em;
  }

  label.text-uppercase {
    font-size: 85%;
    margin: 1em 0 0.5em;
  }

  .btn {
    &.btn-set-reminder {
      @include button-variant($cr-streaming-blue, #FFF, #FFF);
    }
    &.btn-date-select,
    &.btn-time-select {
      @include button-variant(#FFF, $cr-streaming-blue, lighten($cr-streaming-blue, 20));
      &.active {
        color: $cr-streaming-blue;
        background: #FFF;
        box-shadow: none;
      }
    }
  }

  .validation-control {
    .alert {
      p {
        margin: 0;
      }
    }
  }

  .alert {
    font-size: 85%;
    font-weight: bold;
    text-align: center;
    border-radius: 0;
    padding: 5px;
  }

  .btn-group {
    .btn.active,
    .btn:first-child {
      border-right: none;
    }
  }

  .contact {
    @include make-sm-column(5);
    @media(min-width: $screen-md) {
      padding-left: 3em;
    }

    .btn-group {
      margin-bottom: 0.5em;
    }
  }

  .schedule {
    @include make-sm-column(5);
    @include make-sm-column-offset(1);
    margin-bottom: 1em;

    .btn {
      margin: 0 0.35em 0.5em 0;
    }

    .btn-date-select {
      width: 100%;
      .glyphicon-chevron-down {
        font-size: 60%;
      }
    }

    @media(min-width: $screen-md) {
      border-right: 1px solid lighten($cr-streaming-blue, 20);
      min-height: 200px;
      .btn-date-select {
        width: 90%;
      }
    }
  }
}  // .reminder-content

.vjs-crds-skin {
  overflow: hidden;

  .vjs-control-bar {
    background: transparent;
  }

  .vjs-progress-holder {
    background-color: #4B4A51;
  }

  .vjs-load-progress {
    background-color: #878A95;
  }

  .vjs-play-progress {
    background-color: $cr-streaming-blue;
  }

  .vjs-remaining-time {
    display: none;
  }

  .vjs-current-time,
  .vjs-duration,
  .vjs-time-divider {
    display: none;
    order: 5;
    width: auto;
  }

  .vjs-live-control {
    flex: none;
    width: auto;
  }

  .vjs-current-time {
    padding-right: 0;
  }

  .vjs-duration {
    padding-left: 0;
  }

  .vjs-time-divider {
    margin: 0;
  }

  .vjs-current-time {
    margin-left: 1em;
  }

  .vjs-volume-menu-button {
    order: 1;
  }

  .vjs-chromecast-button,
  .vjs-fullscreen-control {
    order: 7;
    flex: none;
    position: absolute;
    right: 0;
  }

  .vjs-chromecast-button {
    right: 5.5em;
  }

  .vjs-fullscreen-control {
    font-size: 120%;
    margin-top: -0.35em;
  }

  .vjs-play-control {
    flex: none;
    align-self: center;
    font-size: 250%;
    margin-top: -3.2em;
    width: 2em;
  }

  .vjs-progress-control {
    flex: none;
    position: absolute;
    width: 100%;
    bottom: 2em;
    padding-right: 6em;
    left: 5.35em;
  }

} // .vjs-crds-skin

modal.watch-now {
  &.fade .modal-dialog {
    @include translate(0, 0);
    @include transition-transform(0.3s ease-out);
  }
  &.in .modal-dialog { @include translate(0, 0) }
  .modal-header {
    border: none;
  }
  .modal-dialog {
    width: 100%;
    margin: 0;
    height: 100%;
  }

  .modal-content {
    height: 100%;
    border: none;
    box-shadow: none;
    border-radius: none;
  }

  .modal-body {
    background: #000;
    height: 100%;
    padding: 0;

    iframe {
      height: 100%;
      width: 100%;
    }
  }
}

.current-series-trailer {
  .modal-body {
    padding: 0;
    height: 450px;
    background-color: black;
  }
  iframe {
    height: 450px;
    width: 900px;
  }
} // .current-series-trailer

geolocation {
  .warn {
    p {
      font-size: 60%;
      color:#ea5151;
      padding-top: 7vh;
    }
  }

  .btn-primary {
    background-color: #0095D9;
    border-color: darken(#0095D9, 20);
    padding: 8px 14px;
  }

  footer {
    .btn-standard {
      background: rgba(77,77,77,0.75);
      border: none;
      color: #FFF;
      font-size: 16px;
      padding: 8px 14px;

      &:hover,
      &:focus {
        background: lighten(rgba(77,77,77,0.75), 10);
        border: none;
        color: #FFF;
      }
    }
  }
}

&.geolocation-modal {
  @media (min-width: $screen-sm) {
    geolocation > .container {
      padding-top: 25vh;
    }
  }
  .small {
    p {
      font-size: 53%;
      color: #96B4D4;
    }
  }

  footer {
    margin-top: 3.25em;
    font-size: 51.5%;
    &, .btn-link {
      color: #96B4D4;
    }
  }
  .btn-link {
    font-size: 87%;
    margin-top: 1em;
    margin-bottom: 3em;

    @include button-variant(#96B4D4, $cr-blue, $cr-blue)
  }
  div.modal-backdrop {
    background: #113556;
    opacity: 0.95;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  .modal-lg {
    width: 100%;
    margin: 0;
  }
  .modal-content {
    background: transparent;
    border: none;
    box-shadow: none;
    color: #FFF;
    position: relative;
    top: 50%;
    .container {
      width: auto;
    }
    .btn-standard {
      @include button-variant($cr-streaming-blue, #FFF, #FFF)
    }
    .close {
      font-size: 210%;
      font-weight: 100;
      color: #FFF;
      opacity: 1;
      line-height: 30%;
      margin: 0.5em;
    }
  }


}
