/***************************************************************************************
* ScrollFix
***************************************************************************************/

.ui-scrollfix {
  @media (min-width: $screen-sm-min) {
    position: fixed;
    top: $line-height-computed;
    width: 100%;
    width: $container-sm * .25;
  }

  @media (min-width: $screen-md-min) {
    width: $container-tablet * .25;
  }

  @media (min-width: $screen-lg-min) {
    width: $container-large-desktop * .25;
  }
}
.styleguide-content {
  float: none;
  margin-bottom: $line-height-computed*4;

  @media (min-width: $screen-sm-min) {
    float: right;
  }

  .billboard-label {
    margin-top: -35px;
  }
}

.nav-stacked {
  > li {

    a {
      padding: 5px 15px;
    }

    > ul {
      > li.active {
        list-style-type: disc;
        color: $brand-primary;
      }
    }
  }
}
