<form name="form" novalidate ng-submit="reminder.submit(form)">
  <modal-header ng-reflect-show-close="true">
  <div class="modal-header">
    <a aria-label="Close" class="close" ng-click="reminder.close()">
      <span aria-hidden="true">×</span>
    </a>
    <div dynamic-content="$root.MESSAGES.streamingReminderTitle.content | html"></div>
  </div>
  </modal-header>
  <modal-body>
    <div class="modal-body">
      <preloader full-screen="true" ng-if="reminder.isLoading()"></preloader>
      <div class="reminder-content" ng-if="!reminder.isLoading() && !reminder.formSuccess && !reminder.formError">
        <div class="schedule">
          <div dynamic-content="$root.MESSAGES.streamingReminderStreamSelect.content | html"></div>

          <a class="btn btn-date-select" href="#" ng-click="reminder.setDay(false)" ng-if="reminder.model.day">
            <i class="glyphicon glyphicon-calendar"></i>&nbsp;&nbsp;{{ reminder.model.day }}&nbsp;&nbsp;
            <i class="glyphicon glyphicon-chevron-down"></i>
          </a>

          <div ng-hide="reminder.model.day">
            <div data-toggle="buttons">
              <label class="btn btn-lg btn-date-select" ng-repeat="date in reminder.uniqueDates()" ng-click="reminder.setDay(date)">
                <input name="day" autocomplete="off" type="radio" ng-model="reminder.model.day" value="{{date.start.format(reminder.dateFormats.display)}}"> {{date.formatToLocalTZDate(date.start)}}
              </label>
            </div>
            <div class="alert alert-danger" ng-if="reminder.dateTimeError" dynamic-content="$root.MESSAGES.streamingLandingDateTimeError.content | html"></div>
          </div>

          <div ng-if="reminder.model.day">
            <div dynamic-content="$root.MESSAGES.streamingReminderLabelTime.content | html"></div>
            <div data-toggle="buttons">
              <label class="btn btn-sm btn-time-select" ng-repeat="event in reminder.selectedDate(reminder.model.day)" ng-class="{'active': event.title == selectedTime}" ng-click="reminder.setTime(event)">
                <input name="time" autocomplete="off" type="radio" ng-model="reminder.model.time"> {{event.formatToLocalTZTime(event.start)}}
              </label>
            </div>
            <div class="alert alert-danger" ng-if="reminder.dateTimeError" dynamic-content="$root.MESSAGES.streamingLandingDateTimeError.content | html"></div>
          </div>
        </div>

        <div class="contact">
          <div dynamic-content="$root.MESSAGES.streamingReminderTypeSelect.content | html"></div>
          <div class="btn-group btn-group-justified" data-toggle="buttons">
            <label class="btn btn-lg btn-time-select active" ng-click="reminder.model.type='phone'" ng-class="{ 'active': reminder.model.type=='phone'}">
              <input type="radio" value="phone" ng-model="reminder.model.type"> Text
            </label>
            <label class="btn btn-lg btn-time-select" ng-click="reminder.model.type='email'" ng-class="{ 'active': reminder.model.type=='email'}">
              <input type="radio" value="email" ng-model="reminder.model.type"> Email
            </label>
          </div>
          <div class="form-group validation-control" ng-show="reminder.model.type=='phone'">
            <input class="form-control" name="phone" ng-model="reminder.model.phone" placeholder="Enter your phone number" type="tel" pattern="^(\+\d{1,2}\s)?\(?\d{3}\)?[\s.-]?\d{3}[\s.-]?\d{4}$" required>
            <div class="alert alert-danger" ng-if="reminder.model.isPhoneValid===false" dynamic-content="$root.MESSAGES.invalidPhone.content | html"></div>
          </div>
          <div class="form-group validation-control" ng-show="reminder.model.type=='email'">
            <input class="form-control" name="email" ng-model="reminder.model.email" placeholder="Enter your email address" type="email" required>
            <div class="alert alert-danger" ng-if="reminder.model.isEmailValid===false" dynamic-content="$root.MESSAGES.invalidEmail.content | html"></div>
          </div>
        </div>
      </div>
    </div>
    <div ng-if="reminder.formSuccess" dynamic-content="$root.MESSAGES.streamingReminderSuccess.content | html" class="text-center"></div>
    <div ng-if="reminder.formError" dynamic-content="$root.MESSAGES.streamingReminderFailure.content | html" class="text-center"></div>
  </modal-body>
  <modal-footer>
  <div class="modal-footer">
    <button class="btn btn-default btn-set-reminder" type="submit" ng-if="!reminder.isLoading() && !reminder.formSuccess && !reminder.formError">Set Reminder</button>
    <button type="button" class="btn btn-default btn-set-reminder" ng-click="reminder.close()" ng-if="reminder.formSuccess || reminder.formError">Close</button>
  </div>
  </modal-footer>
</form>


