<h1 class='page-header'>Group Detail</h1>

<preloader full-screen='false' ng-if='!groupDetail.ready'> </preloader>

<tabset ng-if='groupDetail.ready'>
  <tab ng-repeat='tab in groupDetail.tabs' heading='{{tab.title}}' active='tab.active' ng-click='groupDetail.goToTab(tab)'
    class='{{tab.class}}'>
    <ui-view ng-if='tab.active'></ui-view>
  </tab>
  <li role='tab' class='dropdown hidden-md hidden-lg hidden-sm dropdown-toggle' dropdown is-open='status.isopen'>
    <a dropdown-toggle ng-disabled='disabled'>More <span class='caret'></span></a>
    <ul class='dropdown-menu' role='menu'>
      <li ng-repeat='tab in groupDetail.tabs | filter:tab.title === "About"'><a href='' ng-click='groupDetail.goToTab(tab)'>{{tab.title}}</a>
      </li>
    </ul>
  </li>
</tabset>
<p></p>
<div class='container-fluid push-top soft-top'>
  <div class='row'>
    <div class='col-md-12'>
      <p class='text-center small' dynamic-content="$root.MESSAGES.groupToolDetailPageNeedAssistanceFooter.content | html"></p>
    </div>
  </div>
</div>