<div ng-show="equipment.equipmentLookup.length < 1 && equipment.ready"> There is no equipment to reserve at this site </div>

<div class="form-group" ng-show="equipment.equipmentLookup.length > 0 && equipment.ready" >
  <ng-form name="equipmentForm">
    <div class="form-group" ng-class="{'has-error': equipment.validation.showErrors(equipmentForm, equipment.currentRoom.id + 'equipRequired')}">
      <label class="required">
        Is Equipment Required?
      </label><br>
      <label class="weight-normal">
        <input type="radio" ng-disabled="(equipment.addEvent.editMode === true && equipment.equipmentRequired === true)"
                            name="{{equipment.currentRoom.id}}equipRequired" 
                            ng-required="!equipment.equipRequired && !equipment.equipmentLookup.length < 1" 
                            ng-model="equipment.equipmentRequired" 
                            ng-click="eqiupment.toggleEquipmentRequired()" 
                            ng-value="true"/>
        Yes
      </label>
      <label class="weight-normal">
        <input type="radio" ng-disabled="(equipment.addEvent.editMode === true && equipment.equipmentRequired === true)"
                            name="{{equipment.currentRoom.id}}equipRequired" 
                            ng-required="!equipment.equipRequired && !equipment.equipmentLookup.length < 1"
                            ng-model="equipment.equipmentRequired" 
                            ng-click="equipment.toggleEquipmentRequired()" 
                            ng-value="false"/>
        No
      </label>
      <ng-messages for="equipmentForm[equipment.currentRoom.id + 'equipRequired'].$error" ng-if="equipment.validation.showErrors(equipmentForm, equipment.currentRoom.id + 'equipRequired')">
        <span ng-message="required">
          <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
        </span>
      </ng-messages>
    </div>
    <div ng-show="equipment.equipmentRequired === true">
    <table class="table table-responsive" ng-show="equipment.currentEquipment.length > 0">
      <thead>
        <th><label class="required"> Equipment Name </label> </th>
        <th><label class="required"> Quantity </label></th>
        <th>Available</th>
        <th>Remove</th>
      </thead>
      <tbody> 
        <tr ng-repeat="equip in equipment.currentEquipment" >
          <td>
            <div class="form-group" ng-class="{'has-error': equipment.showFieldError(equipmentForm, equipment.fieldName( 'equipmentChooser', $index) )}">
              <select class="form-control" 
                      name="{{ equipment.fieldName('equipmentChooser', $index) }}" 
                      ng-model="equip.equipment.name"
                      ng-options="e.name for e in equipment.equipmentLookup track by e.id" 
                      ng-required="equipment.equipmentRequired" 
                      ng-disabled="equipment.existing(equip.equipment)"
                      unique-equipment >
                      <option value="">-- Choose your equipment --</option>
              </select>
              <ng-messages for="equipmentForm[equipment.fieldName('equipmentChooser', $index)].$error" ng-if="equipment.showShowFieldError(equipmentForm, equipment.fieldName( 'equipmentChooser', $index) )">
                <span ng-message="required">
                  <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
                </span>
              </ng-messages> 
            </div>
          </td>
          <td>
            <div class="form-group" ng-class="{'has-error': equipment.showFieldError(equipmentForm, equipment.fieldName( 'equip.quantity', $index) )}">
              <input type="number" 
                     class="form-control" 
                     name="{{ equipment.fieldName('equip.quantity', $index) }}" 
                     ng-model="equip.equipment.choosenQuantity" 
                     ng-max="equip.equipment.name.quantity"
                     ng-min="1" ng-required="equipment.equipmentRequired"
                     ng-show="!equipment.isCancelled(equip.equipment)"
                     ng-disabled="equipment.existing(equip.equipment)">
              <strong ng-show="equipment.isCancelled(equip.equipment)"> CANCELLED </strong>
            </div>
          </td>
          <td>
            <span ng-hide="equipment.isCancelled(equip.equipment) || !equip.equipment.name.id"> {{ equipment.getQuantity(equip.equipment.name.id) }}  </span>
          </td>
          <td>
            <button class="btn btn-standard" ng-click="equipment.remove($index)" ng-hide="equipment.isCancelled(equip.equipment)">
              <svg viewBox="0 0 32 32" class="icon icon-trash">
                <use xlink:href="#trash"></use>
              </svg>
            </button>
            <button class="btn btn-danger" ng-click="equipment.undo($index)" ng-show="equipment.isCancelled(equip.equipment)"> 
              <svg viewBox="0 0 32 32" class="icon icon-ccw">
                <use xlink:href="#ccw"></use>
              </svg>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-standard push-bottom" ng-click="equipment.addEquipment()">
      <svg viewBox="0 0 25 32" class="icon icon-plus">
        <use xlink:href="#plus"></use>
      </svg> 
      Add Equipment
    </button>
    </div>
  </ng-form>
</div>

