<div ng-if='formBuilder.hasForm()'>
  <form name="formBuilder.dataForm" ng-submit="formBuilder.save()" ng-if="!formBuilder.successfulSave && formBuilder.availableForm()" novalidate>
    <div dynamic-content="formBuilder.data.header | html"> </div>
    <div ng-repeat="field in formBuilder.page.fields"> 
      <div class="row">
        <form-field field="field" data="formBuilder.data" parent-form="formBuilder.dataForm"></form-field>
      </div>
    </div>
    <div class="row">
      <loading-button
              loading-text='Submitting...'
              normal-text='Submit'
              input-type='button'
              input-classes='btn btn-primary pull-right'
              loading-class='disabled'
              loading='formBuilder.saving' >
      </loading-button> 
    </div> 
  </form>
  <div ng-if="formBuilder.successfulSave" dynamic-content="formBuilder.data.onComplete | html"> </div>
  <div ng-show='!formBuilder.availableForm()'>
    <span dynamic-content='$root.MESSAGES.registrationClosed.content | html'></span>
  </div>
  <div class="row col-md-12">
    <div dynamic-content="formBuilder.data.footer | html"> </div>
  </div>
</div>