<ng-form name="passwd.passwordForm">
  <div class="form-group" ng-class="{'has-error': passwd.passwordInvalid() }">
    <div class=" input-group">

      <input type="{{passwd.inputType}}"
             class="form-control"
             id="{{passwd.prefix}}-password"
             placeholder="Password"
             ng-minlength="{{passwd.minLength}}"
             autocomplete="off"
             autocorrect="off"
             autocapitalize="off"
             ng-model="passwd.passwd"
             ng-model-options="{ updateOn: 'change blur' }"
             name="password"
             ng-required="{{passwd.required}}" />

      <span class="input-group-btn">
        <a class="btn btn-default pointer"
           id="{{passwd.prefix}}-show-hide-password"
           ng-click="passwd.pwprocess()">
          <small class="smaller text-muted ng-binding"> {{passwd.pwprocessing}} </small>
        </a>
      </span>
    </div> <!--input-group-->
    <div>
      <ng-messages for="passwd.passwordForm.password.$error">
        <ng-messages-include src="on-blur-messages"></ng-messages-include>
      </ng-messages>
      <ng-messages for="passwd.passwordForm.password.$error" ng-if="passwd.submitted">
        <ng-messages-include src="on-submit-messages"></ng-messages-include>
      </ng-messages>
    </div><!--/push-half-top-->
  </div>
</ng-form>
