/***************************************************************************************
* Colors
***************************************************************************************/
.type-color{
  color: $brand-primary;
}

.type-color-secondary {
  color: $brand-secondary;
}

.type-color-grey{
  color: $cr-grey;
}

.type-color-grey-darker {
  color: $gray-darker;
}

.link-secondary {
  color: $brand-secondary;
  font-weight: 400;
  &:hover {
    color: $cr-dkblue;
  }
}

.brand-primary {
  background: $brand-primary;
}

.brand-secondary {
  background: $brand-secondary;
}

.brand-success {
  background: $brand-success;
}

.brand-info {
  background: $brand-info;
}

.brand-warning {
  background: $brand-warning;
}

.brand-danger {
  background: $brand-danger;
}

.cr-dkblue{
  background: $cr-dkblue;
}

.cr-grey {
  background: $cr-grey;
}

.gray-lighter {
  background: $gray-lighter;
}

.gray-light {
  background: $gray-light;
}

.gray {
  background: $gray;
}

.gray-dark {
  background: $gray-dark;
}

.gray-darker {
  background: $gray-darker;
}
.icon-facebook {
  color: #3b5998;
}
.icon-twitter {
  color: #00aced;
}
.icon-email {
  color: $gray;
}
