<h1> My Camps </h1>
<preloader full-screen='false' ng-if="!dashboard.viewReady"> </preloader>

<div ng-if="dashboard.viewReady">
  <div class="well" ng-show="dashboard.isDashboardEmpty()">
    <div dynamic-content="$root.MESSAGES.mycampsEmpty.content | html">   </div>
  </div>
</div>

  <div class="row" ng-hide="dashboard.isDashboardEmpty()">
    <div class="col-sm-12">
      <div class="row is-flex flex-wrap">

        <div class="col-md-6 col-sm-12 is-flex flex-col" ng-repeat="data in dashboard.data">
          <camp-card attendee="dashboard.fullName(data.lastName,data.nickName)" start-date="data.startDate" end-date="data.endDate" camp-title="data.eventTitle" camp-id="data.eventId" camper-id="data.contactId" camp-primary-contact="data.eventPrimaryContact" payment-remaining="data.camperInvoice.paymentLeft"> </camp-card>
        </div>
      </div>
    </div>
  </div>
</div>
