<div>
  <p class="push-top">
    <span dynamic-content='signUpQuestion() | html'></span>
  </p>
  <ul class="list-group col-sm-10 col-md-8">
    <li class="list-group-item hard-sides hard-ends" ng-repeat='member in familyMembers'>
      <div class="clearfix">
        <div class="col-xs-12 col-top col-sm-9 col-md-10 soft-half" ng-class='divClass(member)'>
          <span ng-class='pClass(member)' > {{member.preferredName}} {{member.lastName}} </span>
          <span ng-if='!isOfAge(member)' class="label label-warning">Minimum Age Not Met</span>
          <span ng-if='isSignedUp(member)' class="label label-success">Signed up {{member.signedUpDate | date : "M/dd/yyyy"}}</span>
        </div>
        <div  class="col-xs-12 col-sm-3 col-md-2 hard-sides mobile-soft-half-sides mobile-push-half-ends">
          <a href="#" ng-if='isSignedUp(member)' disabled class="table-btn btn-standard disabled">Sign Up </a>
          <a href="#" ng-if='!isOfAge(member)' disabled class="table-btn btn-standard disabled">Sign Up</a>
          <a href="#" ng-if='!isSignedUp(member) && isOfAge(member)' ng-click='goToApp(member.contactId)' class="table-btn btn-standard">Sign Up</a>
        </div>
      </div>
    </li>
  </ul>
</div>
