.card-item {
  margin-bottom: $line-height-computed;
  background: rgba(214, 224, 226, 0.2);
  border-radius: 2px;
  border-left: 5px solid $cr-blue;
  box-shadow: -1px 2px 2px 0 rgba(0, 0, 0, 0.16), -1px 2px 2px 0 rgba(0, 0, 0, 0.12);
  overflow: hidden;

  .media-heading {
    position: relative;

    .label {
      vertical-align: text-top;
      margin-left: $line-height-computed/4;
    }
  }
}

.media-card-profile {
  .embed-responsive-item {
    border: none;
    border-radius: 50%;

    .embed-responsive {
      .embed-responsive-item {
        border: 4px solid rgba(214, 224, 226, 1);

      }
    }
  }
}

.card-img {
  padding: $line-height-computed/4 $line-height-computed/2;
  text-align: center;
  img, .corkboard-icon, .embed-responsive-item {
    width: 100%;
    background-color: transparent;
    border-radius: 50%;
    border: 4px solid rgba(214, 224, 226, 1);
    margin: 0 auto;

    .embed-responsive {
      .embed-responsive-item {
        border: none;
      }
    }
  }
}

.card-img-wrapper {
  max-width: 155px;
  margin: auto;
}

.card-header {
  padding: $line-height-computed/2 $grid-gutter-width/2;
   a {
     color: $text-color;
     &:hover {
       color: darken($text-color, 12%);
     }
   }
  h1, h2, h3, h4, h5 {
   margin: 0;
  }
}
.card-body {
  padding: 0 $grid-gutter-width/2 $grid-gutter-width/3;
}
.card-dark {
  background: rgba(214, 224, 226, 0.4);
}

.fund-progress {
  .progress {
    margin-bottom: 0;
  }
}

.card-content {
  padding: 0;
  border-radius:0;
  vertical-align: top;
  //bottom: -1px;
  //right: -1px;

  @media (min-width: $screen-sm-min) {
    border-radius: 0 2px 2px 0;
  }

  .addthis_crossroads_sharing {
    margin-top: 7px;
  }

  .card-desc {
    position: relative;
    height: 100%;
    display: block;
    a {
      position: absolute;
      width: 100%;
      bottom: 10px;
      left: 20px;
    }
  }
  h4 {
    padding: $line-height-computed/2 0px;
    margin: 0px;
  }

  ul.list-group {
    margin-bottom: 0px;

    li {
      @extend .clearfix;
      background: transparent;
      border-right: 0px;
      border-left: 0px;
      border-radius: 0px;
      padding-top: 0px;
      padding-bottom: 0px;

      @media (min-width: $screen-sm-min) {
        padding-right: 0;
      }
    }
  }
  .days-left {
    font-size: 18px;
    line-height: 20px;
    font-weight: normal;
  }
  .funding-goal {
    margin-top: -20px;
  }
  .trip-funding {
    white-space: nowrap;
  }
}

// Media Object Card Button
.media-card-link {
  position: relative;
  cursor: pointer;
  font-weight: normal;

  &:hover {
    background: rgba(214, 224, 226, 0.4);

    .disabled-reason {
      color: #fff;
    }
  }

  &.active {
    background: rgba(214, 224, 226, 0.4);

    .media-checked {
      display: block;
    }
  }

  &.disabled {
    background: $gray-darker;
    cursor: not-allowed;
    border-left: 5px solid $gray;

    .media-left,
    .media-body,
    .triangle {
      opacity: .4;
    }

    .disabled-reason {
      width: 100%;
      height: 100%;
      position: absolute;
      bottom: 0;
      background: rgba(0,0,0,.5);
      text-align: center;
      //padding-top: $line-height-computed*2;
    }
    .disabled-reason span {

    }
  }

  .media-checked {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    content: " ";
    border-radius: 50%;
    background: rgba($brand-success, .7);
    @extend .push-half;
    text-align: center;

    .icon {
      color: white;
    }
  }

  .media-object {
    border-radius: 50%;
  }

  .media-left {
    position: relative;

    img {
      background: $gray-darker;
    }
  }

  a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  input[type="radio"],
  input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
    background: transparent;
    border: none;
    box-shadow: none;
    position: absolute;
  }
}
