.carousel-inner {
  .item {
    width: 100%;
    border: none;
    padding: 0;
  }
  img.img-responsive {
    display: inline-block;
    width: 48%;
    max-width: 190px;
    height: auto;
    float: left;
    margin-left: 4%;
    &:first-child {
      margin-left: 0;
    }
  }
}

.carousel-indicators {
  display: none;
}

.carousel-container {
  margin-bottom: 30px;
}
