.crds-hero {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  h1, h2 {
    margin-bottom: 1em;
  }
  &, h1, h2 {
    color: #FFF;
  }
  > div {
    padding: 3em 1em;
    @media (min-width: $screen-md-min) {
      width: 50%;
    }
  }
  .btn {
    margin-top: 1em;
  }
}
