.validation {
  font-size: .8em;
  color: #c9302c;
  margin-top: -10px;
  margin-bottom: 10px;
}

.formlyBuilderRequired {
  color: #c9302c;
}

.formly-field {
  margin-bottom: 0;
  padding-bottom: 0;
}
