my-groups {
  @media (min-width: $screen-md) {
    .is-flex {
      display: flex;
    }

    .flex-wrap {
      flex-wrap: wrap;
    }

    .flex-row {
      flex-direction: row;
    }

    .flex-col {
      flex-direction: column;
    }

    .flex-grow {
      //flex-grow: 1;
      flex: 1 1 auto;
    }
  }

  .my-groups-static {
    height: 150px;
  }

  .my-groups-static-vert {
    @include vertical-align();

    font-size: 90%;
    font-weight: bold;
  }

  .my-groups-links {
    a {
      display: table;
    }
  }
}

group-card {
  // Constrain max width of group cards for IE 11 Flexbox issue
  .panel-heading, .panel-body {
    @media (min-width: $screen-md) {
      max-width: 331px;
    }

    @media (min-width: $screen-lg) {
      max-width: 408px;
    }
  }

  .group-card-buttons {
    .btn {
      // Adjust group card button text for medium size where the text is overlapping the button at 100%
      @media (min-width: $screen-md-min) and (max-width: $screen-lg-min) {
        font-size: 92%;
        padding-left: 4px;
        padding-right: 4px;
      }
    }

    // Adjust the vertical centering of the button icons to line up with the button text
    svg {
      margin-bottom: 3px;
    }

    .row {
      margin-left: -8px;
      margin-right: -8px;
    }

    [class*='col-'] {
      padding-left: 8px;
      padding-right: 8px;
    }
  }

}

