tags-input {
  .tags {
    border-radius: $input-border-radius;
    min-height: $input-height-base;
    padding: $padding-base-vertical ($padding-base-horizontal/2);
    appearance: none;

    &.focused {
      border-color: $input-border-focus;
      box-shadow: none;
    }

    .input {
      font-family: $font-family-sans-serif;
      font-size: $font-size-base;
      font-weight: 300;
      appearance: none;
    }

    .tag-item {
      color: $black;
      background: $gray-lighter;
      border-color: $gray-lighter;
      margin-top: 0;
      margin-bottom: 0;

      .remove-button {
        color: $black;
      }

      &.selected {
        background: $brand-danger;
      }
    }
  }

  .autocomplete {
    .suggestion-item {
      border-bottom: solid 1px $input-border;

      &:last-child {
        border-bottom: none;
      }
    }
  }
}