.no-data {
  text-align: center;
  margin-top: $line-height-computed*2;
  margin-bottom: $line-height-computed*2;
  .icon {
    width: 100px;
    height: 100px;
    color: $gray-lighter;
  }
  h1,h2,h3,h4,h5 {
    margin-top: 0;
  }
  .icon-dollar {
    margin-left: -112px;
    width: 60px;
    height: 60px;
    stroke: white;
    stroke-width: 1.55px;
    margin-bottom: 5px;
  }
  .icon-clock3 {
    margin-left: -50px;
  }
}
