
.icon-book {
	width: 32px;
	height: 32px;
}

.icon-calendar {
	width: 32px;
	height: 32px;
}

.icon-checkmark {
	width: 32px;
	height: 32px;
}

.icon-close {
	width: 32px;
	height: 32px;
}

.icon-crossroads {
	width: 32px;
	height: 32px;
}

.icon-facebook {
	width: 32px;
	height: 32px;
}

.icon-folder {
	width: 32px;
	height: 32px;
}

.icon-folder-open {
	width: 32px;
	height: 32px;
}

.icon-folder {
	width: 32px;
	height: 32px;
}

.icon-folder-open {
	width: 32px;
	height: 32px;
}

.icon-gift {
	width: 32px;
	height: 32px;
}

.icon-home {
	width: 32px;
	height: 32px;
}

.icon-home2 {
	width: 32px;
	height: 32px;
}

.icon-home3 {
	width: 32px;
	height: 32px;
}

.icon-mail5 {
	width: 32px;
	height: 32px;
}

.icon-question-circle {
	width: 32px;
	height: 32px;
}

.icon-pencil4 {
	width: 32px;
	height: 32px;
}

.icon-search3 {
	width: 32px;
	height: 32px;
}

.icon-trash {
	width: 32px;
	height: 32px;
}

.icon-twitter {
	width: 32px;
	height: 32px;
}

.icon-users {
	width: 32px;
	height: 32px;
}
