<script type="text/ng-template" id="tripAnonymousPopover.html">
  <div dynamic-content="$root.MESSAGES.tripAnonymousGiverPopover.content | html"></div>
</script>

<div class="push-top">
  <ng-form class="give-form" role="form" name="amountForm" novalidate>
    <div class="form-group">
      <donation-details amount="tripGiving.dto.amount"
                        program="tripGiving.dto.program"
                        amount-submitted="tripGiving.dto.amountSubmitted"
                        show-initiative-option='false'
                        show-frequency-option='false'>
      </donation-details>
      <div class="push-bottom">
        <div class="checkbox">
          <label>
            <input type="checkbox" name="anonymous" ng-model="tripGiving.dto.anonymous" /> I want to give anonymously
          </label>
          <span popover-template="'tripAnonymousPopover.html'">
            <svg viewBox="0 0 32 32" class="icon icon-question-circle icon-subtle pointer" >
              <use xlink:href="#question-circle"></use>
            </svg>
          </span>
        </div>
        <div class="form-group">
          <label>Message to {{tripGiving.tripParticipant.participantName}} </label>
          <textarea class="form-control"
                    name="message"
                    ng-model="tripGiving.dto.message">
          </textarea>
        </div>
      </div>
      <button ng-click="tripGiving.giveFlow.goToAccount(tripGiving.tripForm)"
              ng-class="{disabled: tripGiving.dto.processing}"
              class="btn btn-primary btn-lg btn-block-mobile give-button">
         <span ng-if="tripGiving.dto.processing">Next...</span>
         <span ng-if="!tripGiving.dto.processing">Next</span>
         <svg viewBox="0 0 32 32" class="icon-medium icon-arrow-right9 text-right">
	        <use xlink:href="#arrow-right9"></use>
         </svg>
      </button>
    </div>
  </ng-form>
</div>
