<h2>Childcare for  {{childcare.event.EventTitle}}
  <small> {{childcare.getDate()}} {{childcare.getTime()}}</small>
</h2>

<div class='row'>
  <div class="col-sm-12 serve-save event-childcare soft-half-top" style="text-align:left"> 

    <span ng-if='childcare.noChildcare()' dynamic-content='$root.MESSAGES.noChildcareForEvent.content | html'></span>

    <childcare-event
      children='childcare.children'
      childcare-event='childcare.childcareEvent'
      ng-if='!childcare.noChildcare()' >
    </childcare-event>

  </div>
</div>

