<!--Card-->
<div class="card-item" data-category="view" ng-repeat="pledgeCommitment in pledgeCommitments track by $index">
  <div class="col-sm-3 col-xs-12 card-img card-dark col-sm-height">
    <!--Brian Miller: These need converted to IMGIX once the routes are refactored to trigger IMGIX-->

    <div class="card-img-wrapper">
      <div class="embed-responsive embed-responsive-1by1">
        <img class="card-img-show" ng-src="{{pledge_campaign_base_url + pledgeCommitment.pledge_campaign_id}}">
      </div><!--/embed-responsive-1by1-->
    </div><!--/card-img-wrapper-->

  </div>
  <div class="col-sm-9 col-xs-12 card-content col-sm-height">
    <div class="card-header">
      <div class="row">
        <div class="col-sm-8">
          <h3>{{pledgeCommitment.pledge_campaign}}</h3>
        </div>
        <div class="col-sm-12">
          <p class="text-muted trip-date">{{pledgeCommitment.campaign_start_date}} - {{pledgeCommitment.campaign_end_date}}</p>
        </div>
      </div><!--/row-->
      <div class="row">
        <div class="col-sm-12">
          <p class="flush-bottom text-right trip-funding" style="width: 1.4%">{{pledgeCommitment.pledge_donations | currency}} Given</p>
          <progressbar ng-class="{'progress-striped' : !commitmentMet(pledgeCommitment.pledge_donations, pledgeCommitment.total_pledge)}" type="success" max="pledgeCommitment.total_pledge" value="pledgeCommitment.pledge_donations">{{commitmentPercent(pledgeCommitment.pledge_donations, pledgeCommitment.total_pledge)}}&#37;</progressbar>
          <p class="pull-right funding-goal">{{pledgeCommitment.total_pledge | currency}} Committed</p>
        </div>
      </div><!-- /row -->
    </div><!-- /card-header -->
  </div><!-- /card-content -->
</div><!-- /card-item -->
