<preloader full-screen='false' ng-show='!groupDetailAbout.ready'> </preloader>

<div class='container-fluid' ng-show='groupDetailAbout.ready'>
	<div class='row' ng-if="groupDetailAbout.isLeader">
		<div class='col-md-12' dynamic-content="$root.MESSAGES.groupToolDetailPageAboutHeadingSubtext.content | html"></div>
	</div>
	<p></p>

	<div class="row">
		<div class='col-md-1 col-sm-2 col-xs-3 push-quarter-bottom'><img class='img-responsive imgix-fluid' ng-src='{{groupDetailAbout.data.primaryContact.imageUrl}}' err-src='{{groupDetailAbout.defaultProfileImageUrl}}'></div>
		<div class='col-xs-9 hidden-sm hidden-md hidden-lg push-quarter-bottom'>
			<h4 class="mobile-push-half-top">{{groupDetailAbout.data.groupName}}</h4>
		</div>

		<div class="col-md-11 col-sm-10 col-xs-12">
			<div class="row">

				<div class="col-sm-6">
					<div class="row hidden-xs push-half-bottom">
						<div class='group-detail-label col-sm-4'><strong>Group Name</strong></div>
						<div class='col-sm-8'>{{groupDetailAbout.data.groupName}}</div>
					</div>
					<div class="row push-quarter-bottom">
						<div class='group-detail-label col-sm-4'><strong>Category</strong></div>
						<div class='col-sm-8'>
							<div ng-repeat="category in groupDetailAbout.data.categories">{{category.category}} / {{category.name}}</div>
						</div>
					</div>
					<div class="row push-quarter-bottom">
						<div class='group-detail-label col-sm-4'><strong>Where</strong></div>
						<div class="col-sm-8" ng-if='groupDetailAbout.forSearch && groupDetailAbout.data.hasAddress()'>
							<a href="https://maps.google.com/maps?f=q&q={{groupDetailAbout.data.address.zip}}" target="_new">{{groupDetailAbout.getAddress()}}
                <span ng-if='groupDetailAbout.data.proximity !== undefined && groupDetailAbout.data.proximity !== null'>({{groupDetailAbout.data.proximity}} mi)</span>
              </a>
						</div>
						<div class="col-sm-8" ng-if='!groupDetailAbout.forSearch || !groupDetailAbout.data.hasAddress()'>{{groupDetailAbout.getAddress()}}</div>
					</div>
					<div class="row push-quarter-bottom">
						<div class='group-detail-label col-sm-4'><strong>When</strong></div>
						<div class='col-sm-8'>{{groupDetailAbout.data.getGroupCardWhenField()}}</div>
					</div>
					<div class='row push-quarter-bottom' ng-if='groupDetailAbout.isLeader'>
						<div class='group-detail-label col-sm-4'><strong>Visibility</strong></div>
						<div class='col-sm-8'>{{groupDetailAbout.data.visibility()}}</div>
					</div>
				</div>

				<div class="col-sm-6">
					<div class="row push-quarter-bottom">
						<div class='group-detail-label col-sm-4'><strong>Group Type</strong></div>
						<div class='col-sm-8'>{{groupDetailAbout.data.groupType.name}} {{groupDetailAbout.data.groupType.description}}</div>
					</div>
					<div class="row push-quarter-bottom">
						<div class='group-detail-label col-sm-4'><strong>Age Range</strong></div>
						<div class='col-sm-8'>{{groupDetailAbout.data.ageRange.join(', ')}}</div>
					</div>
					<div class="row push-quarter-bottom">
						<div class='group-detail-label col-sm-4'><strong>Leaders</strong></div>
						<div class='col-sm-8'>
							<span ng-repeat='leader in groupDetailAbout.data.leaders()'>{{leader.getDisplayName()}}<span ng-if='leader.congregation'> ({{leader.congregation}})</span>
							<span ng-if='!$last'>,&nbsp;</span>
							</span>
						</div>
					</div>
					<div class="row push-quarter-bottom">
						<div class='group-detail-label col-sm-4'><strong>Kids Welcome</strong></div>
						<div class='col-sm-8'>{{groupDetailAbout.data.kidsWelcome | yesNo}}</div>
					</div>
				</div>

			</div>

			<div class='row hidden-xs'>&nbsp;</div>

			<div class="row">
				<div class='col-md-2'><strong>Description</strong></div>
				<div class='col-md-10'>{{groupDetailAbout.data.groupDescription}}</div>
			</div>

			<div class="row">
				<div class="col-sm-6"></div>
				<div class="col-sm-6">
					
					<sn-addthis-toolbox ng-if="groupDetailAbout.showShareButtons" class="addthis_crossroads_sharing clearfix addthis_32x32_style push-half-bottom sm-pull-right white"
						data-url="{{groupDetailAbout.shareUrl()}}" data-title="{{groupDetailAbout.data.groupName}}" data-description="{{groupDetailAbout.data.groupDescription}}">
						<a href class="addthis_button_facebook" tooltip="Share your group with friends and family on Facebook" tooltip-append-to-body="true"
							tooltip-placement="right">
						</a>
						<a href class="addthis_button_twitter" tooltip="Share your group with friends and family on Twitter" tooltip-append-to-body="true"
							tooltip-placement="right">
						</a>
						<a ngclipboard data-clipboard-text="{{groupDetailAbout.shareUrl()}}" ngclipboard-success="groupDetailAbout.onShareSuccess()" ngclipboard-error="groupDetailAbout.onShareError()" tooltip="Copy Share URL to clipboard"
							tooltip-placement="right">
							<span class="at-icon-wrapper white">
								<svg  viewBox="0 0 32 32" class="at-icon icon-link">
    								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#link"></use>
								</svg>
							<span>
						</a>
					</sn-addthis-toolbox>	
				</div>
			</div>

		</div>
	</div>
	<div class='push-top text-center sm-text-right clearfix' ng-if='groupDetailAbout.showFooter'>
		<button type='button' ng-if='groupDetailAbout.isLeader' ng-click='groupDetailAbout.goToEdit()' class='sm-pull-right push-half-bottom btn btn-primary btn-block-mobile'>Edit</button>
		<button type='button' ng-if='groupDetailAbout.isLeader' ng-click="groupDetailAbout.goToEnd()" class='push-half-bottom btn btn-standard btn-block-mobile'>End Group</button>
		<share-group group='groupDetailAbout.data' classes='push-half-bottom btn btn-standard btn-block-mobile'></share-group>
		<a ui-sref="grouptool.mygroups" class="sm-pull-left">
			<svg viewBox="0 0 32 32" class="icon icon-large arrow-circle-o-left">
				<use xlink:href="#arrow-circle-o-left"></use>
			</svg>
			Back to My Groups
		</a>
	</div>
</div>