<div dynamic-content="$root.MESSAGES.goVolunteerEquipmentQuestion.content | html"></div>
<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <div class="checkbox" ng-repeat="item in goEquipment.equipment">
      <label for="{{item.attributeId}}" class="control-label">
        <input type="checkbox"
               ng-value="item.attributeId"
               id="{{item.attributeId}}"
               ng-model="item.checked">
        {{item.name}}
      </label>
    </div>
    <div class="checkbox">
      <label for="otherEquipment" class="control-label">
        <input type="checkbox" value="" ng-click="goEquipment.showOtherEquipment()" id="otherEquipment" ng-checked="goEquipment.otherField">
        Other
      </label>
    </div>
  </div>
</div>
<div class="row push-bottom" ng-show="goEquipment.otherField">
  <div class="col-xs-10 col-xs-offset-1" ng-repeat="other in goEquipment.otherEquipment">
    <div class="form-group">
      <input type="text" class="form-control" ng-model="other.equipment.name" />
    </div>
  </div>
  <div class="col-xs-1 text-left hard-left">
    <a href="#" tooltip="Add another item" tooltip-placement="left" class="add-text-input-row" ng-click="goEquipment.addEquipment()">
      <svg viewBox="0 0 32 32" class="icon icon-plus4 icon-large">
      	<use xlink:href="#plus4"></use>
      </svg>
    </a>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <button type="submit" class="btn btn-block btn-primary-gc" ng-click="goEquipment.submit()">Next
      <svg viewBox="0 0 32 32" class="icon icon-arrow-right9">
        <use xlink:href="#arrow-right9"></use>
      </svg>
    </button>
  </div>
</div>
