<script type="text/javascript">
(function() {
  var bind = function(fn, me){ return function(){ return fn.apply(me, arguments); }; };

  if (typeof window.CRDS === 'undefined') {
    window.CRDS = {};
  }

  CRDS.Carousel = (function() {
    function Carousel() {
      this.carouselCard = bind(this.carouselCard, this);
      this.carouselCardTotal = bind(this.carouselCardTotal, this);
      this.carouselWrapper = bind(this.carouselWrapper, this);
      this.carousel = bind(this.carousel, this);
      this.carouselElement = bind(this.carouselElement, this);
      this.init = false;
    }

    Carousel.prototype.setup = function() {
      this.carouselCard = document.querySelector('content-card');
      this.carouselCardTotal = document.querySelectorAll('content-card').length;
      this.carouselWrapper = document.querySelector('.crds-carousel__content-wrap');
      this.carousel = document.querySelector('.crds-card-carousel');
      this.carouselElement = angular.element(document.querySelector('.crds-card-carousel'));
    };

    Carousel.prototype.getCarouselCardWidth = function() {
      if (!this.init) {
        this.setup();
        this.init = true;
      }
      var marginRight = parseInt(window.getComputedStyle(this.carouselCard).marginRight, 0); // eslint-disable-line prefer-const
      return this.carouselCard.offsetWidth + marginRight;
    }

    Carousel.prototype.getCurrentScrollPosition = function() {
      return this.carousel.scrollLeft;
    }

    Carousel.prototype.carouselNext = function() {
      /* eslint-disable prefer-const */
      var cardWidth = this.getCarouselCardWidth();
      var n = Math.floor(this.getCurrentScrollPosition() / cardWidth);
      var scrollLeft = (n + 1) * cardWidth;
      /* eslint-enable prefer-const */
      this.scrollTo(scrollLeft);
    }

    Carousel.prototype.carouselPrev = function() {
      var cardWidth = this.getCarouselCardWidth(); // eslint-disable-line prefer-const
      var scrollPos = this.getCurrentScrollPosition(); // eslint-disable-line prefer-const
      var n = 0;
      if (scrollPos > cardWidth) {
        n = Math.round(scrollPos / cardWidth) - 1;
      }
      var scrollLeft = n * cardWidth; // eslint-disable-line prefer-const
      this.scrollTo(scrollLeft);
    }

    Carousel.prototype.scrollTo = function(x, duration) {
      if(duration === undefined) {
        duration = 250;
      }
      this.carouselElement.scrollLeftAnimated(x, duration);
    }

    return Carousel;

  })();

  $(document).ready(function() {
    CRDS.carousel = new CRDS.Carousel();
  });

}).call(this);

</script>

<div class="live-stream" ng-if="stream.inProgress">
  <div class="dark-bg">
    <header class="container clearfix">
      <a class="navbar-brand logo pull-left" href="/">
        <svg class="icon-logo" viewBox="0 0 800.416 115.217">
          <use xlink:href="#logo" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
      </a>
      <a href="/live" class="pull-right" data-dismiss="modal"><svg viewBox="0 0 32 32" class="icon arrow-left3"><use xlink:href="#arrow-left3"></use></svg> Go Back</a>
    </header>
    <section>
      <div class="container">
        <streamspot-player></streamspot-player>
      </div>
    </section>
  </div>

  <geolocation ng-show="stream.showGeolocationBanner()"></geolocation>

  <div class="digital-program-container">
    <div class="flex__container container">
      <div class="flex__item digital-program__giving" dynamic-content="$root.MESSAGES.streamingInlineGivingEmbed.content | html"></div>
      <div class="flex__item digital-program__articles">
        <section class="" ng-show="stream.dontMiss.length">
          <header class="clearfix">
            <h2>don't miss</h2>

            <div class="crds-carousel__controls">
              <a href="" onClick="CRDS.carousel.carouselPrev()" class="crds-carousel__control crds-carousel__control--prev">
                <svg viewBox="0 0 32 32" class="icon-medium icon-arrow-left9">
                  <use xlink:href="#arrow-left9"></use>
                </svg>
              </a>
              <a href="" onClick="CRDS.carousel.carouselNext()" class="crds-carousel__control crds-carousel__control--next">
                <svg viewBox="0 0 32 32" class="icon-medium icon-arrow-right9">
                  <use xlink:href="#arrow-right9"></use>
                </svg>
              </a>
            </div>
          </header>

          <div class="crds-card-carousel">
            <div class="crds-carousel__content-wrap">
              <ul class="crds-carousel__list">
                <content-card ng-repeat="event in stream.dontMiss" content="event"></content-card>
              </ul>
            </div>
          </div>
        </section>
      </div>
    </div>

    <div class="flex__container container">
      <div class="flex__item digital-program__participate"
           ng-show="stream.beTheChurch.length">

        <header class="clearfix">
          <h2>be the church</h2>
        </header>

        <div class="row">
          <article class="media"
                  ng-repeat="promo in stream.beTheChurch">

            <figure class="media-left">
                <linked-content href="{{ promo.url }}"
                                target="_blank">

                  <img ng-src="{{ promo.image }}"
                      alt=""
                      class="img-responsive media-object"
                      title="{{ promo.title }}">

                </linked-content>
            </figure>

            <section class="media-body">
              <h3 class="media-heading"
                  title="{{ promo.title }}">

                <linked-content href="{{ promo.url }}"
                                target="_blank"
                                ng-bind-html="promo.title | truncate: 38"></linked-content>

              </h3>

              <div ng-bind-html="promo.description"></div>
            </section>
          </article>
        </div>
      </div>
    </div>
  </div>
</div>
