<form id="nav_login" name="register.registerForm" role="form" ng-submit="register.register()" novalidate>
  <div class="row">
    
    <div class="col-sm-6">
      <div class="soft-half-bottom" 
           ng-class="{'has-error': register.registerForm.firstname.$invalid && register.registerForm.$submitted }">
        <input id="{{register.passwordPrefix}}-firstname" 
               class="form-control" 
               id="firstname" 
               name="firstname" 
               type="text" 
               ng-model="register.newuser.firstname" 
               required 
               placeholder="First Name" 
               autofocus>
        <ng-messages for="register.registerForm.firstname.$error" ng-if="register.registerForm.$submitted">
          <ng-messages-include src="on-submit-messages"></ng-messages-include>
        </ng-messages>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="soft-half-bottom" 
           ng-class="{'has-error': register.registerForm.lastname.$invalid && register.registerForm.$submitted }">
        <input id="{{register.passwordPrefix}}-lastname" 
               class="form-control" 
               id="lastname" 
               name="lastname" 
               type="text" 
               ng-model="register.newuser.lastname" 
               required 
               placeholder="Last Name">
       <ng-messages for="register.registerForm.lastname.$error" ng-if="register.validation.showErrors(register.registerForm, 'lastname')">
          <span ng-message="required">
            <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
          </span>                   
        </ng-messages>  
        <ng-messages for="registerForm.lastname.$error" ng-if="registerForm.$submitted">
          <ng-messages-include src="on-submit-messages"></ng-messages-include>
        </ng-messages>
      </div>
    </div>

    <div class="col-sm-12">
      <email-field email="register.newuser.email" 
                   submitted="register.registerForm.$submitted" 
                   prefix="register.passwordPrefix" 
                   focused="false">
      </email-field>
    </div>

    <div class="col-sm-12">
      <div class="input-group col-xs-12">
        <password-field min-length="8"
                        passwd-strength="true"
                        required="true"
                        passwd="register.newuser.password"
                        submitted="register.registerForm.$submitted"
                        prefix="register.passwordPrefix">
        </password-field>
      </div>
    </div>

    <div class="col-sm-12">
      <input type="submit" 
             class="btn btn-primary btn-block" 
             value="Register an Account" 
             ng-disabled="!register.showRegisterButton" >
      <br>
      <span dynamic-content="$root.MESSAGES.registrationFooter.content | html"></span>
    </div>
  </div>
</form>

<div class="row">
  <div class="col-xs-12">
    <hr>
    <div class="text-center or-divider">
      <p><span> or </span></p>
    </div>
    <!---To Do: ui-sref needs update to work in give flow. Shouldn't exscape give flow -->
    <p ng-if="!register.showLoginCallback" class="text-center"><a class="link-secondary" ui-sref="login">Already have an account? Login</a></p>
    <p ng-if="register.showLoginCallback" class="text-center"><a class="link-secondary" ng-click="register.loginCallback()">Already have an account? Login</a></p>
  </div>
</div><!--/row-->
