<ng-form name="daterange.dates">
  <div class="input-group row">
    <div class="col-sm-6" ng-class="{'has-error': daterange.validate.showErrors(daterange.dates, 'startDate')}" >
      <label ng-class="{'required': daterange.required}">Start Date</label>
      <span class="input-group datepicker">
        <input type="text"
               id="start-date"
               name="startDate"
               class="form-control"
               readonly="readonly"
               placeholder="mm/dd/yyyy"
               datepicker-popup="MM/dd/yyyy"
               ng-model="daterange.startDate"
               is-open="daterange.startDateOpen"
               show-button-bar="false"
               init-date="daterange.minDate"
               ng-required="daterange.required"
               min-date="daterange.minDate"
               datepicker-options="daterange.dateOptions"
               ng-click="daterange.openStartDatePicker($event)"
               ng-change="daterange.update()"
               required />
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="daterange.openStartDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </span>
      <ng-messages for="daterange.dates.startDate.$error" ng-if="daterange.validate.showErrors(daterange.dates, 'startDate')">
        <span ng-message="required">
          <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
        </span>
      </ng-messages>
    </div>

    <div class="col-sm-6" ng-class="{'has-error': daterange.validate.showErrors(daterange.dates, 'endDate')}">
      <label ng-class="{'required': daterange.required}">End Date</label>
      <span class="input-group datepicker">
        <input type="text"
               id="end-date"
               name="endDate"
               class="form-control"
               readonly="readonly"
               placeholder="mm/dd/yyyy"
               datepicker-popup="MM/dd/yyyy"
               ng-model="daterange.endDate"
               is-open="daterange.endDateOpen"
               show-button-bar="false"
               ng-required="daterange.required"
               min-date="daterange.startDate"
               datepicker-options="daterange.dateOptions"
               ng-click="daterange.openEndDatePicker($event)"
               ng-change="daterange.onEndDateChange()"
               required />
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="daterange.openEndDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </span>
      <ng-messages for="daterange.dates.endDate.$error" ng-if="daterange.validate.showErrors(daterange.dates, 'endDate')">
        <span ng-message="required">
          <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
        </span>
      </ng-messages>
    </div>
  </div>
</ng-form>
