<tabset class="group-detail">
  <tab heading="My Group" active="tab[1].active" ng-click="detail.goToTab(tab)" class="{{tab.class}}" >
    <preloader full-screen='true' ng-show="detail.loading"></preloader>

    <div ng-repeat="member in detail.group.members track by $index" ng-if="member.groupRoleId == detail.participant_role_id && !detail.loading">
      <hr ng-if="$index > 0" />
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <member-card member="member"></member-card>
        </div>
      </div>
    </div>
    <div ng-if="detail.group.members.length <= 1 && !detail.loading">
      <div class="help text-center">No one has joined your group yet.</div>
    </div>

    <div class="col-sm-6 col-sm-offset-3">
      <br />
      <br />

      <div ng-if="detail.group.members.length > 1">
        <button class="btn btn-primary btn-block" ng-click="detail.emailGroup()">Email Your Group</button>
      </div>

      <br />
      <div class="help text-center" dynamic-content="$root.MESSAGES.groupFinderHostDashboardInvitation.content | html"></div>
      <group-invitation group-id="detail.group.groupId"></group-invitation>

      <br />
      <div class="help text-center" dynamic-content="$root.MESSAGES.groupFinderHostDashboardHelp.content | html"></div>
    </div>

  </tab>
  <tab heading="Host Resources" active="tab[0].active" ng-click="detail.goToTab(tab)" class="{{tab.class}}" >
    <ng-include src="'templates/group_resources.html'"></ng-include>
  </tab>
</tabset>
