<div class="row">
  <div ng-if="countdown.countdownService.isCountdown" class="col-sm-50 type-color-grey h4">
    Watch a <a ui-sref="live">live stream</a> of our next service in
    <ul class="list-inline list-inline-countdown">
      <li><strong>{{ countdown.countdownService.countdown.days }}</strong> <small>days</small></li>
      <li><strong>{{ countdown.countdownService.countdown.hours }}</strong> <small>hours</small></li>
      <li><strong>{{ countdown.countdownService.countdown.minutes }}</strong> <small>min</small></li>
      <li><strong>{{ countdown.countdownService.countdown.seconds }}</strong> <small>sec</small></li>
    </ul>
  </div>
  <div ng-if="countdown.countdownService.isBroadcasting" class="col-sm-12 type-color-grey h4">
    Live stream in progress... <a class="btn btn-primary" ui-sref="livestream">Watch Now</a>
  </div>
  <streaming-reminder></streaming-reminder>
</div>