<form ng-submit='changeParticipantRole.submit()' name="changeParticipantForm">
  <div class='row'>
    <div class='col-md-6 col-md-offset-3'>

      <h3 class="hidden-xs">Change Role - {{changeParticipantRole.participant.getDisplayName()}}</h3>
      <div class="hidden-sm hidden-md hidden-lg push-bottom">
        <h3 class="border-bottom soft-quarter-bottom push-bottom">Change Role</h3>
        <h4>{{changeParticipantRole.participant.getDisplayName()}}</h4>
      </div>

      <!-- groupToolChangeRoleInstructions -->
      <div dynamic-content="$root.MESSAGES.groupToolChangeRoleInstructions.content | html"></div>

      <div class="change-role-option">
        <label>
          <input type="radio" name="roleOptions" id="roleOptionsParticipant" ng-value="changeParticipantRole.groupRoles.MEMBER" ng-model="changeParticipantRole.participant.groupRoleId" ng-model-options="{ updateOn: 'submit' }">
          Participant
          <!-- groupToolChangeRoleParticipantDescription -->
          <div class="help-block" dynamic-content="$root.MESSAGES.groupToolChangeRoleParticipantDescription.content | html"></div>
        </label>
      </div>

      <div class="change-role-option">
        <label ng-disabled="changeParticipantRole.isLeaderDisabled()">
          <input type="radio" name="roleOptions" id="roleOptionsLeader" ng-value="changeParticipantRole.groupRoles.LEADER"  ng-model="changeParticipantRole.participant.groupRoleId" ng-model-options="{ updateOn: 'submit' }" ng-disabled="changeParticipantRole.isLeaderDisabled()">
          Leader

          <!-- groupToolChangeRoleWarningLeaderMax -->
          <div ng-if="changeParticipantRole.isLeaderDisabled() && changeParticipantRole.warningLeaderMax()" dynamic-content="$root.MESSAGES.groupToolChangeRoleWarningLeaderMax.content | html" role="alert" class="alert alert-warning push-half-bottom soft-quarter"></div>

          <!-- groupToolChangeRoleWarningLeaderApproval -->
          <div ng-if="!changeParticipantRole.isApprovedLeader()" dynamic-content="$root.MESSAGES.groupToolChangeRoleWarningLeaderApproval.content | html" role="alert" class="alert alert-warning push-half-bottom soft-quarter"></div>

          <!-- groupToolChangeRoleLeaderDescription -->
          <div class="help-block" dynamic-content="$root.MESSAGES.groupToolChangeRoleLeaderDescription.content | html"></div>
        </label>
      </div>

      <div class="change-role-option">
        <label ng-disabled="changeParticipantRole.isApprenticeDisabled()">
          <input type="radio" name="roleOptions" id="roleOptionsApprentice" ng-value="changeParticipantRole.groupRoles.APPRENTICE"  ng-model="changeParticipantRole.participant.groupRoleId" ng-model-options="{ updateOn: 'submit' }" ng-disabled="changeParticipantRole.isApprenticeDisabled()">
          Apprentice

          <!-- groupToolChangeRoleWarningApprenticeMax -->
          <div ng-if="changeParticipantRole.isApprenticeDisabled()" dynamic-content="$root.MESSAGES.groupToolChangeRoleWarningApprenticeMax.content | html" role="alert" class="alert alert-warning push-half-bottom soft-quarter"></div>

          <!-- groupToolChangeRoleApprenticeDescription -->
          <div class="help-block" dynamic-content="$root.MESSAGES.groupToolChangeRoleApprenticeDescription.content | html"></div>
        </label>
      </div>

      <div ng-hide = "true" class='form-group push-top soft-top'>
        <label for='emailMessage' class='wide-label'>Your Message (Optional)</label>
        <textarea type='textarea'
                  rows='8' class='form-control' id='emailMessage' name='emailMessage' ng-model='groupMessage.person.message'
                  placeholder="I've changed your role!"></textarea>
      </div>

      <div class='text-right push-ends'>
        <loading-button
          input-type='submit'
          normal-text='Change Role'
          loading-text='Changing...'
          loading='changeParticipantRole.processing'
          loading-class='disabled'
          input-classes='sm-pull-right btn btn-primary btn-block-mobile mobile-push-half-bottom'></loading-button>

        <a type='button' class='btn btn-standard btn-block-mobile mobile-push-half-bottom' href='#' ng-click='changeParticipantRole.cancel(changeParticipantForm)'>Cancel</a>

      </div>
    </div>
  </div>
</form>
