<div ng-if="onetimeEvent.events.length>0">
<div class="row">
  <div class="col-sm-10 col-sm-offset-1 col-md-8 col-sm-offset-2">
    <div dynamic-content="onetimeEvent.pageInfo.content | html"> </div>
  </div>
</div>
<hr>

<form name="onetimeEvent.onetime">
  <div ng-repeat="event in onetimeEvent.events">
    <onetime-event-block
      event='event'
      family='onetimeEvent.family'
      group='onetimeEvent.group'>
    </onetime-event-block>
  </div>
</form>
</div>

<!--  NO ACTIVE EVENTS  -->
<div class="row no-data" ng-if="onetimeEvent.events.length===0">
  <div class="col-sm-6 col-sm-offset-3">
      <svg viewBox="0 0 32 32" class="icon icon-calendar">
        <use xlink:href="#calendar"></use>
      </svg>
    <div dynamic-content="$root.MESSAGES.missingEvents.content | html"></div>
  </div><!--/col-sm-12-->
</div><!--/no-data-->
