<div class="row" id="form-top">
  <div class="col-sm-10 col-sm-offset-1">
    <h1 class="page-header" ng-if="tripsSignup.signupService.pageId != 'thanks'" >{{tripsSignup.tripName}} Signup</h1>
    <h1 class="page-header" ng-if="tripsSignup.signupService.pageId == 'thanks'" > Thank you for signing up for {{tripsSignup.tripName}}</h1>
    <preloader full-screen='true' ng-show="!tripsSignup.viewReady"> </preloader>

    <div ng-show='tripsSignup.ageLimitReached && tripsSignup.viewReady && !tripsSignup.registrationNotOpen'>
      <span dynamic-content='$root.MESSAGES.TripAgeLimitReached.content | html'></span>
    </div>

    <div ng-show='tripsSignup.registrationNotOpen && tripsSignup.viewReady'>
      <span dynamic-content='$root.MESSAGES.TripRegistrationNotOpen.content | html'></span>
    </div>

    <div ng-show='!tripsSignup.pageHasErrors && tripsSignup.viewReady'> <!-- Content if there is no Page Error -->
      <signup-progress total-steps='tripsSignup.signupService.numberOfPages' 
                       current-step='tripsSignup.signupService.pageId' 
                       progress-label='tripsSignup.signupService.progressLabel'> 
      </signup-progress>
      <!-- our nested state views will be injected here -->
      <form name="tripsSignup.tpForm" id="tripsSignup.signup-form" ng-submit="processForm()" novalidate>
        <div id="form-views" ui-view autoscroll="false"></div>
      </form>

    </div>
</div><!--/row-->
