<div class="container cr-reskin" ng-hide="geolocation.dismiss">
  <div class="roll-call">
    <div class="form" ng-hide="geolocation.success">
      <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-primary" ng-click="geolocation.subtract()">
          <svg viewBox="0 0 32 32" class="icon minus">
            <use xlink:href="#minus"></use>
          </svg>
        </button>
        <button type="button" class="btn btn-primary" ng-click="geolocation.add()">
          <svg viewBox="0 0 32 32" class="icon plus">
            <use xlink:href="#plus"></use>
          </svg>
        </button>
      </div>
      <strong><span class="count">{{ geolocation.displayCount() }}</span> {{ geolocation.subject }}</strong> <span>{{ geolocation.verb }} watching from</span> <input type="text" placeholder="zip code" ng-model="geolocation.location.zipcode">
      <button class="btn btn-primary btn-geolocate" ng-if="!geolocation.isLocating" ng-disabled="geolocation.locationError" ng-click="geolocation.requestLocation()">
        <svg viewBox="0 0 32 32" class="icon crosshairs" >
          <use xlink:href="#crosshairs"></use>
        </svg>
      </button>
      <button disabled="disabled" class="btn btn-primary btn-geolocate" ng-if="geolocation.isLocating">
        <svg viewBox="0 0 32 32" class="icon icon-preloader loading">
          <use xlink:href="#preloader"></use>
        </svg>
      </button>

    </div>

    <div class="messages">
      <div class="success" dynamic-content="$root.MESSAGES.geolocationSuccessMessage.content | html" ng-show="geolocation.success"></div>
      <div class="warn" dynamic-content="$root.MESSAGES.geolocationLocationNotFound.content | html" ng-show="geolocation.locationError" ></div>
      <div class="warn" dynamic-content="$root.MESSAGES.geolocationInvalidZipcode.content | html" ng-show="geolocation.invalidZipcode" ></div>
    </div>

    <footer ng-hide="geolocation.success">
      <a ng-click="geolocation.submit()" class="btn btn-standard">Submit Roll Call</a><br>
      <a href="#" class="btn btn-link" ng-click="geolocation.dismissed()" ng-show="geolocation.isModal">Dismiss</a>
    </footer>

    <ng-transclude></ng-transclude>
  </div>
</div>
