<div ng-if="!goAvailablePrep.forSpouse" dynamic-content="$root.MESSAGES.goVolunteerAvailablePrepQuestion.content | html"></div>
<div ng-if="goAvailablePrep.forSpouse" dynamic-content="$root.MESSAGES.goVolunteerAvailablePrepSpouseQuestion.content | html"></div>

<div class="row">
  <div class="col-xs-12">

    <a class="btn btn-standard btn-block push-half-bottom"
       ng-repeat="p in goAvailablePrep.prepWork | orderBy: 'sortOrder'"
       ng-click="goAvailablePrep.chooseTime(p)">
      Yes, from {{ p.name }}
    </a>

    <a class="btn btn-standard-dark btn-block"
       ng-click="goAvailablePrep.chooseTime(false)">
      No, I'm not available
    </a>

  </div>
</div>
