<group-detail-about data="createGroupPreview.groupData" is-leader="true"> </group-detail-about>
<div class="clearfix push-top text-center sm-text-right">
  <loading-button
    normal-text='Submit Group'
    loading-text='Submitting...'
    loading='createGroupPreview.saving'
    loading-class='disabled'
    input-classes='sm-pull-right btn btn-primary btn-block-mobile mobile-push-half-bottom'
    type="submit"
    ng-click='createGroupPreview.submit()'></loading-button>
  <button ng-if="!createGroupPreview.edit" type="submit" class="btn btn-standard btn-block-mobile mobile-push-half-bottom" ui-sref='grouptool.create'>Edit</button>
  <button ng-if="createGroupPreview.edit" type="submit" class="btn btn-standard btn-block-mobile mobile-push-half-bottom" ui-sref='grouptool.edit({ groupId: createGroupPreview.groupData.groupId })'>Edit</button>
</div>
