.atrium-event-container {

  background: url('//s3.amazonaws.com/crossroads-media/images/atriumbg.png') no-repeat center center fixed;
  background-size: cover;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  z-index: 1;
  font-family: "HelveticaNeue-Condensed", "Helvetica Neue Condensed", "Helvetica Neue", Helvetica, san-serif;

  &:after {
    //Removed background, per Tate's comment in Rally:
	//https://rally1.rallydev.com/#/27593764268d/detail/userstory/24467701533/discussion
    //background: rgba(2,27,40,.6);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    content: "";
  }

  .navbar-inverse {
    background: rgba(2,27,40,.4);
    margin-bottom: 0px;
    border-bottom: 0px;
    height: 4em;

    .atrium-table {
      //color: $brand-primary;
      margin-bottom: 0px;

      th {
        line-height: 1.3;
      }
    }
  }
}

.cycle-slide {
  width: 100%;
}

.atrium-border {
  display: block;
  position: relative;
  width: 100%;
  height: 40px;
  background: url('//s3.amazonaws.com/crossroads-media/images/atrium-border.jpg') no-repeat center center;
  background-size: cover;
  border: 0px;
  margin: $line-height-computed 0;
  padding: 0;
  display: none;
}

.atrium-table {
  color: #fff;
  font-size: 3.2em;
  padding-bottom: $line-height-computed;
  margin-bottom: $line-height-computed;

  > thead > tr > th, tbody > tr > td, tbody > tr > th  {
    border-top: 0px;
    border-bottom: 0px;
    width: 30%;
    padding: 1.5%;
    line-height: 1.1em;
    font-weight: normal;
  }

  td {
    padding: 2em 1.5%;
  }

  td, th {
    padding: 0px;

    &.first-cell {
      width: 14%;
    }

    &.second-cell, &.third-cell {
      width: 44%;
    }

    span {
      font-size: 60%;
	  text-transform: lowercase;
    }
  }
}

.atrium-navbar {
  height: 4em;
}

.atrium-body {
  //margin-top: 4em;
  z-index: 2;
  position: relative;
}

.atrium-marquee {
  //margin-top: 4em;
}

.atrium-marquee-on {
  position: relative;
  /*
  position: fixed;
  //top: 4em;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 0px;
  */
  }
