/***************************************************************************************
* Blog
***************************************************************************************/

.blog-path-headline{
  margin-bottom: 30px;
}

.posts{
  padding-left: 0;
}
.post{
  margin-bottom: 80px;
  img, .videoWrapper, audio, canvas, progress, video {
    margin-bottom: $line-height-computed;
  }
}

.posts li {list-style:none;}

h2 a{
  line-height: 1.1;
  letter-spacing: -1px;
  color: $gray-darker;
}

h2 a:hover{
  color: $gray;
}


.icon-bubble {
  fill: $gray-light;
  position: absolute;
}

.comment{
  text-transform:uppercase;
  font-size: 12px;
  font-weight: bold;
  color: $cr-blue;
  text-decoration: none;
}

.social-media-line{
  padding-bottom: 20px;
}

.category-link{
  text-transform: capitalize;
}

.post-date{
  padding-left: 5px;
  color: $cr-grey;
  font-style: italic;
}

.posted-by-label{
  color: $cr-grey;
  padding-left: 5px;
}

.author-link{
  color: $cr-blue;
}

.post-comments{
  padding-right: 10px;
  border-right: 1px solid $gray-light;
  vertical-align: top;
}

.social-media-buttons{
  display: inline-block;
  padding: 0 5px;
  margin: 0 auto;
  vertical-align: middle;
  svg {
    margin-right: 5px;
  }
}

.blog-headline {
  color: #3a6e8f;
  text-transform: uppercase;
  font: 18px/29px Helvetica;
  letter-spacing: -1px;
}

.current{
  color: #b05c30;
  margin: 4px 0 0 4px;
  padding: 3px 0 0 5px;
}

.greater-than{
  color: $cr-grey;
  padding-left: 5px;
}

.blog-content{
  padding-bottom: 10px;
}

.right-column-header {
  color: $cr-blue;
  font-size: 18px;
}

@media (max-width: $screen-sm-min) {
  .social-media-buttons svg {
      margin-right: 20px;
    }
}
