crossroads-camp {
  iframe {
    width: 100%;
    min-height: 240px;
  }

  .camps-medication-checkbox .checkbox {
    margin-left: 16px;
  }

  .camp-medicine-remove {
    width: 30px;
    float: right;
    position: relative;
    @media (max-width: $screen-lg-min) {
      padding-left: 1em;
    }
  }

  .camp-medicine-row {
    position: relative;
    @media (max-width: $screen-lg-min) {
      margin-bottom: $line-height-computed / 2;
    }
  }

  .camp-medicine-row-1 {
    .camp-medicine-remove {
      top: 1.6em;
    }
  }

  .camp-medicine-additional-row {
    .camp-medicine-remove {
      @media (max-width: $screen-md-min) {
        top: 1.6em;
      }
    }
  }

  .camp-medicine-fields {
    float: left;
    width: 100%;
  }

  
  .camp-medicine-additional-row {
    @media (min-width: $screen-md-min) {
      .control-label {
        display: none;
      }
    }
  }
}
