$imin-blue: #0093c7;
$imin-tan: #E9E6E2;
$imin-darker-tan: #776C63;
$imin-dark-tan: #C4BEB9;

.commit-card {
  background-color: #202020;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  margin: 20px auto;
  padding-top: 320px;
  padding-bottom: 50px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.175);
  max-width: 470px;
  overflow: hidden;
  @media (min-width: 607px) {
    padding-top: 380px;
  }
  @media (min-width: $screen-sm-min) {
    padding-top: 300px;
  }
  .imin-logo {
    max-width: 100%;
    margin: 50px 0;
  }
  .commit-card-inner {
    background-color: $imin-tan;
  }
  .card-bar {
    border: 4px solid $imin-darker-tan;
    margin: 10px 0;
  }
  .card-bar-secondary {
    border: 4px solid $imin-blue;
    margin: 10px 0;
  }
  .card-bar-dotted {
    border: 1px dashed #776C63;
    margin: 5px 0;
    margin-left: 30px;
    margin-right: 30px;
  }
  .card-title {
    text-align: center;
    color: $imin-blue;
    font-size: 23px;
    margin: 0;
    @media (min-width: 470px) {
      font-size: 30px;
    }
  }
  .card-desc {
    color: $imin-darker-tan;
    font-weight: 400;
    line-height: 1.4;
    font-style: italic;
  }
  .amount-box {
    background-color: white;
    position: relative;
    margin-bottom: 15px;
  }
  .amount-field {
    background-color: $imin-tan;
    width: 12%;
    height: 50px;
    display: inline-block;
    float: right;
    z-index: 2;
    margin: 17px 0px 17px 3px;
  }
  .amount-input {
    appearance: none;
    width: 100%;
    height: 100%;
    font-size: 47px;
    letter-spacing: .1em;
    text-align: right;
    z-index: 1;
    border: 2px solid $imin-blue;
    font-weight: 900;
    outline: none;
    padding-left: 32px;
    line-height: 1;
  }
  .dollar {
    color: $imin-tan;
    font-weight: 900;
    font-size: 34px;
    line-height: 30px;
    margin: 17px 8px;
    position: absolute;
    left: 0;
    top: 0;
  }
  .card-subtitle {
    color: $imin-blue;
    background: $imin-dark-tan;
    height: 12px;
    text-align: center;
    margin: 0;
    span {
      background-color: $imin-tan;
      position: relative;
      top: -.3em;
      padding: 0 10px;
      @media (min-width: $screen-sm-min) {
        top: -.5em;
      }
    }
  }
  .btn-imin {
    color: $imin-blue;
    font-size: 3em;
    font-weight: 700;
    border-radius: 0;
    background: $imin-dark-tan;
    &:hover {
      background: darken($imin-dark-tan,10%);
    }
  }
  input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #333;
    box-shadow: none;
    height: 30px;
  }
  label {
    //font-weight: 400;
    letter-spacing: -1px !important;
  }
  .spouse-note {
    margin-top: -8px;
    display: block;
    font-weight: 400;
  }
  .form-group {
    margin-bottom: 0;
  }
  .contact {
    margin-bottom: $line-height-computed/2;
  }
  .gears {
    text-align: center;
    label {
      display: block;
      padding-bottom: 30px;
      margin-bottom: -35px;
      background-size: 34px;
      background-repeat: no-repeat;
      background-position: 50% 23px;
    }
  }
  .site {
    input {
      opacity: 0;
      width: 0;
      height: 0;
    }
    .site-btn {
      padding-left: 2px;
      padding-right: 2px;
      width: 33.333333333%;
      float: left;
      margin-bottom: 3px;
    }
    .site-label {
      border-top: 1px solid #333;
      width: 100%;
      margin-top: 10px;
    }
  }
}
