group-search-results {

  .group-search-tools {
    @media (min-width: $screen-sm-min) {
      display: flex;
      align-items: flex-end;
    }
  }

  .group-location-tool {
    .group-location-toggle {
      @media (min-width: $screen-sm-min) {
        text-align: right;
      }
    }
  }

  .group-search-input-wrapper {
    position: relative;
  }

  .group-location-input-wrapper {
    position: relative;

    .btn {
      border-radius: 0;
    }
  }

  input[type='text'] {
    &::-ms-clear {
      display: none;
    }

    &.group-input-clear-visible {
      padding-right: 40px;
    }
  }

  .group-input-clear {
    position: absolute;
    top: 2px;
    left: -40px;
    z-index: 3;
    padding: 10px;
    color: $gray;
  }

  .search3 {
    width: 22px;
    height: 22px;
  }

  table {
    tr {
      font-size: 95%;
    }

    .group-name {
      width: auto;
    }

    .group-category {
      width: 12%;
    }

    .group-detail {
      width: 12%;
    }

    .group-type {
      width: 12%;
    }

    .group-site {
      width: 11%;
    }

    .group-day {
      width: 80px;
    }

    .group-time {
      width: 80px;
    }

    .group-location {
      width: 80px;
    }
  }

  $group-detail-border-color: $gray-light;
  .group-search-detail {
    border-top: solid 3px $group-detail-border-color;
    border-bottom: solid 3px $group-detail-border-color;
  }

  .table-hover > tbody > tr.group-search-detail:hover {
    background-color: white;
  }

  // Disable ng-table sort header background-color
  .ng-table {
    th {
      text-align: left;
    }

    th.sortable.sort-desc, th.sortable.sort-asc {
      background-color: transparent;
    }
  }

  // Hide pagination on XS size
  div[ng-table-pagination] {
    //@media (max-width: $screen-sm-min) {
      display: none!important;
    //}
  }

  .group-results-mobile {
    .group-result {
      border-bottom: 1px solid $gray-lighter;
    }
  }
}