.nextstep-background {
  background-position: bottom right;
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 220px;

  a {
    font-weight: bold;
    color: $gray-darker;

    &:hover {
      text-decoration: underline;
    }
  }

  @media only screen and (max-width:  $screen-md-min){
    background-size: cover;

    &:before {
      background: rgba(255,255,255,.8);
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      content: " ";
      display: block;
    }
  }
}

.nextstep-dark {
  color: #fff;
  background-color: #020102;

  h4 {
    color: #fff;
  }

  a {
    color: #fff;
  }

  @media only screen and (max-width:  $screen-md-min){
    &:before {
      background: rgba(0,0,0,.5);
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      content: " ";
      display: block;
    }
  }
}

.nextstep-block {
  a {
    position: relative;
    display: block;

    &:before {
      background: rgba(0,0,0,.5);
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      content: " ";
      display: block;
      opacity: 0;
      transition: all 0.5s;
    }

    &:hover {
      &:before {
        opacity: 1;
      }
    }

    span {
      left: 25px;
      bottom: 10px;
      position: absolute;
      color: #fff;
    }
  }
}
