.search-suggested-links {
  a {
    padding: 10px 0;
  }
}

.search-link {
  margin-top: -5px;
  color: $brand-secondary !important;
  &:hover {
    color: darken($brand-secondary, 20%);
  }
}

.search-media-date {
  font-size: 12px;
  color: $gray-light;
}

.search-card {
  p {
    line-height: 18px;
  }
}

.search-media-image {
  padding-top: 2px;
  padding-bottom: 10px;
}

.site-search {
  margin-top: 5px;
}
