<ul class="media-list">
    <li class="col-sm-2 col-xs-6" ng-repeat="item in items | orderBy: '-date' | limitTo: limit">
        <a ui-sref="messageSingle({id: {{item.id}}, title: '{{item.title | replaceNonAlphaNumeric}}'})" title="{{item.title}}">
            <div class="sixteen-nine overflow-hidden">
              <div class="aspect-content">
                <img data-src="{{item.messageVideo.still.filename}}" class="img-responsive imgix-fluid center img-full-width">
              </div><!--/aspect-content-->
            </div><!--/sixteen-nine overflow-hidden-->
            <h5 class="flush-bottom ellipsis">{{item.title}}</h5>
            <p class="text-muted">{{item.date | date: "MM.dd.yyyy"}}</p>
        </a>
    </li>
</ul>
