<div class="message-action-buttons">
  <a class="btn btn-standard-dark btn-labeled btn-sm btn-block ng-hide" ng-click="singleMedia.switchToVideo()" ng-show="singleMedia.showSwitchToVideo()">
    Watch Video
    <span class="btn-label">
      <svg viewBox="0 0 32 32" class="icon icon-play4"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#play4"></use></svg>
    </span>
  </a>
  <a class="btn btn-standard-dark btn-labeled btn-sm btn-block" ng-click="singleMedia.switchToAudio()" ng-show="singleMedia.showSwitchToAudio()">
    Listen to Audio
    <span class="btn-label">
      <svg viewBox="0 0 32 32" class="icon icon-music4"><use xlink:href="#music4"></use></svg>
    </span>
  </a>
  <a ng-show="singleMedia.showProgramDownloadLink()" href="{{ singleMedia.programDownloadLink }}" class="btn btn-standard-dark btn-labeled btn-sm btn-block">
    View Program
    <span class="btn-label">
      <svg viewBox="0 0 32 32" class="icon icon-file-pdf"><use xlink:href="#file-pdf"></use></svg>
    </span>
  </a>
  <a ng-show="singleMedia.showVideoDownloadLink()" href="{{ singleMedia.videoDownloadLink }}" class="btn btn-standard-dark btn-labeled btn-sm btn-block">
    Download Video
    <span class="btn-label">
      MP4
    </span>
  </a>
  <a ng-show="singleMedia.showAudioDownloadLink()" href="{{ singleMedia.audioDownloadLink }}" class="btn btn-standard-dark btn-labeled btn-sm btn-block">
    Download Audio
    <span class="btn-label">
      MP3
    </span>
  </a>


  <div class="btn-group btn-block" dropdown is-open="singleMedia.isSubscribeOpen">
    <button type="button" class="btn btn-standard-dark btn-labeled btn-sm btn-block dropdown-toggle" dropdown-toggle ng-disabled="disabled">
      Subscribe to Podcast
      <span class="btn-label">
        <svg viewBox="0 0 32 32" class="icon icon-podcast"> <use xlink:href="#podcast"></use> </svg>
      </span>
    </button>
    <ul ng-show="singleMedia.isMessage" class="dropdown-menu podcast-dropdown" role="menu" ng-include="'templates/subscribeButtonDropdown.html'"></ul>
    <ul ng-show="singleMedia.media.className == 'Video'" class="dropdown-menu podcast-dropdown" role="menu" ng-include="'templates/subscribeButtonVideoDropdown.html'"></ul>
    <ul ng-show="singleMedia.media.className == 'Music'" class="dropdown-menu podcast-dropdown" role="menu" ng-include="'templates/subscribeButtonMusicDropdown.html'"></ul>
  </div>


</div> <!--/message-action-buttons-->
