<div class="row media-index">
  <div class="col-sm-12 push-bottom">
    <h1 class="page-header">Media</h1>
    <h2 class="subheading">We got videos, music, messages, and more...o yeah.</h2>
  </div><!--/col-sm-12-->
</div> <!--/row-->

<div dynamic-content="$root.MESSAGES.streaming_banner.content | html"></div>


<h2 class="push-bottom">
  <a ui-sref="media.series">Series</a>
  <ng-include src="'templates/subscribeButtonMessages.html'"> </ng-include>
</h2>

<div class="row">
  <media-list-card items="media.series" limit="12" type="series"></media-list-card>
</div>

<div class="row text-center push-bottom">
  <div class="col-sm-12">
    <a ui-sref="media.series" class="btn btn-lg btn-link">View All Series</a>
  </div>

</div>

<hr>

<h2 class="push-bottom">
  <a ui-sref="media.music">Music</a>
  <ng-include src="'templates/subscribeButtonMusic.html'"> </ng-include>
</h2>

<div class="row">
  <media-list-card items="media.musics" limit="12" type="media"></media-list-card>
</div>

<div class="row text-center push-bottom">
  <div class="col-sm-12">
    <a ui-sref="media.music" class="btn btn-lg btn-link">View All Music</a>
  </div>
</div>

<hr>

<h2 class="push-bottom">
  <a ui-sref="media.videos">Videos</a>
  <ng-include src="'templates/subscribeButtonVideos.html'"> </ng-include>
</h2>

<div class="row">
  <media-list-card items="media.videos" limit="12" type="media"></media-list-card>
</div>

<div class="row text-center push-bottom">
  <div class="col-sm-12">
    <a ui-sref="media.videos" class="btn btn-lg btn-link">View All Videos</a>
  </div>
</div>
