<!--<li>-->
  <article class="crds-card">
    <figure>
      <linked-content target="{{ contentCard.content.target }}"
                      href="{{ contentCard.content.url }}"
                      class="crds-card__img img-background"
                      background="{{ contentCard.content.image }}"></linked-content>

      <figcaption class="crds-card__title">
        <linked-content target="{{ contentCard.content.target }}"
                        href="{{ contentCard.content.url }}"
                        ng-if="contentCard.content.title"
                        title="{{ contentCard.content.title }}"
                        ng-bind-html="contentCard.content.title | truncate: 38"></linked-content>
      </figcaption>
    </figure>

    <section>
      <h3 ng-if="contentCard.content.subtitle"
          class="crds-card__subtitle"
          ng-bind-html="contentCard.content.subtitle | truncate: 38"></h3>

      <p class="crds-card__descr">{{ contentCard.content.description | htmlToPlainText | htmlReplaceEntities }}</p>
    </section>
  </article>
<!--</li>-->