<h3> Camper Medical Information </h3>

<div>
  <div class="row">
    <div class="col-sm-12">
      <preloader full-screen='false' ng-show='!$ctrl.viewReady'> </preloader>
      <div ng-show='$ctrl.viewReady' class="row">
        <div class="col-sm-12">
          <form ng-submit="$ctrl.submit()" novalidate name="$ctrl.medicalInfo">
            <fieldset>
              <formly-form model="$ctrl.model" fields="$ctrl.fields" options="$ctrl.options" form="$ctrl.medicalInfo">
              </formly-form>
            </fieldset>
            <button type="submit" class="btn btn-primary pull-right" ng-if="!$ctrl.submitting && !$ctrl.update"> Next </button>
            <button type="submit" class="btn btn-primary pull-right disabled" disabled ng-if="$ctrl.submitting && !$ctrl.update"> Next... </button>

            <button type="submit"class="btn btn-primary pull-right" ng-if="!$ctrl.submitting && $ctrl.update"> Update </button>
            <button type="submit"class="btn btn-primary pull-right" ng-if="$ctrl.submitting && $ctrl.update"> Updating... </button>
            <button type="button"class="btn  pull-right " ng-if="!$ctrl.submitting && $ctrl.update" ng-click='$ctrl.cancel()'> Cancel </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
