<form name="goVolunteerPage.parentForm" novalidate>
  <go-volunteer-spouse ng-if="goVolunteerPage.showSpouse()" on-submit="goVolunteerPage.handlePageChange(nextState)"> </go-volunteer-spouse>
  <go-volunteer-profile ng-if="goVolunteerPage.showProfile()" on-submit="goVolunteerPage.handlePageChange(nextState)"> </go-volunteer-profile>
  <go-volunteer-org-name ng-if="goVolunteerPage.showOrgName()" on-submit="goVolunteerPage.handlePageChange(nextState)"> </go-volunteer-org-name>
  <go-volunteer-spouse-name ng-if="goVolunteerPage.showSpouseName()" on-submit="goVolunteerPage.handlePageChange(nextState)"> </go-volunteer-spouse-name>
  <go-volunteer-children ng-if="goVolunteerPage.showChildren()" on-submit="goVolunteerPage.handlePageChange(nextState)"> </go-volunteer-children>
  <go-volunteer-children-count ng-if="goVolunteerPage.showChildrenCount()" on-submit="goVolunteerPage.handlePageChange(nextState)"></go-volunteer-children-count>
  <go-volunteer-group-connector ng-if="goVolunteerPage.showGroupConnector()" on-submit="goVolunteerPage.handlePageChange(nextState)"></go-volunteer-group-connector>
  <go-volunteer-group-find-connector ng-if="goVolunteerPage.showGroupFindConnector()" on-submit="goVolunteerPage.handlePageChange(nextState)"></go-volunteer-group-find-connector>
  <go-volunteer-connector-info ng-if="goVolunteerPage.showConnectorInfo()" on-submit="goVolunteerPage.handlePageChange(nextState)"></go-volunteer-connector-info>
  <go-volunteer-launch-site ng-if="goVolunteerPage.showLaunchSite()" on-submit="goVolunteerPage.handlePageChange(nextState)"></go-volunteer-launch-site>
  <go-volunteer-project-pref-one ng-if="goVolunteerPage.showProjectPrefOne()" on-submit="goVolunteerPage.handlePageChange(nextState)"></go-volunteer-project-pref-one>
  <go-volunteer-project-pref-two ng-if="goVolunteerPage.showProjectPrefTwo()" on-submit="goVolunteerPage.handlePageChange(nextState)"></go-volunteer-project-pref-two>
  <go-volunteer-project-pref-three ng-if="goVolunteerPage.showProjectPrefThree()" on-submit="goVolunteerPage.handlePageChange(nextState)"></go-volunteer-project-pref-three>
  <go-volunteer-unique-skills ng-if="goVolunteerPage.showUniqueSkills()" on-submit="goVolunteerPage.handlePageChange(nextState)" ></go-volunteer-unique-skills>
  <go-volunteer-equipment ng-if="goVolunteerPage.showEquipment()" on-submit="goVolunteerPage.handlePageChange(nextState)"></go-volunteer-equipment>
  <go-volunteer-additional-info ng-if="goVolunteerPage.showAdditionalInfo()" on-submit="goVolunteerPage.handlePageChange(nextState)"></go-volunteer-additional-info>

  <go-volunteer-available-prep ng-if="goVolunteerPage.showAvailablePrep()"
                               on-submit="goVolunteerPage.handlePageChange(nextState)"
                               for-spouse="goVolunteerPage.showAvailablePrepSpouse()">
  </go-volunteer-available-prep>

  <go-volunteer-waiver ng-if="goVolunteerPage.showWaiver()" on-submit="goVolunteerPage.handlePageChange(nextState)"></go-volunteer-waiver>
  <go-volunteer-thank-you ng-if="goVolunteerPage.showThankYou()"></go-volunteer-thank-you>
</form>
