<div class="push-half-ends clearfix">
  <ng-form name='emailBox.messageForm'>
    <div class="form-group" 
         ng-class="{'has-error': emailBox.hasError()}" > 
      <textarea 
         ng-model="emailBox.messageText"
         name="messageText"
         class="form-control push-half-bottom"
         rows="10"
         placeholder="Type your message here&hellip;"
         required >
      </textarea>
      <ng-messages for="emailBox.messageForm.messageText.$error" ng-if="emailBox.formError">
         <ng-messages-include src="on-blur-messages"></ng-messages-include>
         <ng-messages-include src="on-submit-messages"></ng-messages-include>
      </ng-messages>
      <div class="pull-right">
        <button
           class="btn btn-default" 
           ng-click="emailBox.cancel()">
          Cancel
        </button>
        <loading-button 
           input-type='submit'
           input-classes="btn btn-primary"
           normal-text="Send Message"
           loading-text="Sending..."
           loading-class="disabled"
           loading="emailBox.loading"
           ng-click="emailBox.sendMessage()">
        </loading-button>
      </div>
    </div>
  </ng-form>
</div>
