<div dynamic-content="kcStudentApplication.pageInfo.page1 | html"></div>
<form name="student" ng-submit="kcStudentApplication.save(this)" novalidate>
  <fieldset class="push-bottom">
    <legend>General Info</legend>
    <div class="row">

      <div class="form-group col-sm-6">
        <label for="firstname" class="control-label required">First Name</label>
        <input type="text"
               class="form-control"
               id="firstName"
               placeholder="Enter first name"
               ng-value="kcStudentApplication.volunteer.firstName"
               disabled="true">
      </div>

      <div class="form-group col-sm-6">
        <label class="control-label required" for="lastName">Last Name</label>
        <input type="text" class="form-control" id="lastName" placeholder="Enter last name" ng-value="kcStudentApplication.volunteer.lastName" disabled="true">
        <span ng-show="false">Please provide a valid value.</span>
      </div>

      <div class="form-group col-sm-6">
        <label class="control-label" for="middleInitial">Middle Initial</label>
        <input type="text" class="form-control" id="middleInitial" placeholder="Enter middle initial" ng-value="kcStudentApplication.volunteer.middleInitial" disabled="true">
        <span ng-show="false">Please provide a valid value.</span>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm-6">
        <label class="control-label required" for="email">Email</label>
        <input type="text" class="form-control" id="email" placeholder="Email" ng-value="kcStudentApplication.volunteer.emailAddress" disabled="true">
      </div>

      <div class="form-group col-sm-6">
        <label class="control-label" for="nameTag">Name For Name Tag</label>
        <input type="text" class="form-control" id="nameTag" placeholder="Enter name for name tag" ng-value="kcStudentApplication.volunteer.nickName" disabled="true">
      </div>

    </div>

    <div class="row">
      <div class="form-group col-sm-6">
        <label class="control-label required" for="birthDate">Date of Birth</label>
        <input type="text" class="form-control" id="birthDate" placeholder="mm/dd/yyyy" ng-value="kcStudentApplication.volunteer.dateOfBirth" disabled="true">
        <span ng-show="false">Please provide a valid value.</span>
      </div>

      <div class="form-group col-sm-6">
        <label class="block required">Gender</label>
        <label class="radio-inline">
          <input type="radio" name="gender" id="gender-male" value="1" ng-model="kcStudentApplication.volunteer.genderId" disabled="true">Male

        </label>
        <label class="radio-inline">
          <input type="radio" name="gender" id="gender-female" value="2" ng-model="kcStudentApplication.volunteer.genderId" disabled="true">Female
        </label>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm-6" ng-class="{'has-error': kcStudentApplication.showError(student, 'attending')}">
        <label class="control-label required" for="attending">When did you start attending Crossroads?</label>
        <input type="text" class="form-control" ng-model="kcStudentApplication.howLongAttending" id="attending" placeholder="mm/yyyy" validate-date='MM/YYYY' ng-model-options="{updateOn: 'blur'}"required name="attending">
        <ng-messages for="student.attending.$error" ng-if="kcStudentApplication.showError(student, 'attending')">
          <span ng-message="invalidDate">
            <span dynamic-content="$root.MESSAGES.invalidData.content | html"></span>
          </span>
          <span ng-message="required">
            <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
          </span>
        </ng-messages>
      </div>
      <div class="form-group col-sm-6" ng-class="{'has-error': kcStudentApplication.showError(student, 'serviceAttend')}">
        <label class="control-label required" for="serviceAttend">Site/Service Time where you attend </label>
        <select class="form-control col-sm-12" name="serviceAttend" ng-model="kcStudentApplication.serviceAttend" required>
          <option value="">Site/Service Time where you attend</option>
          <option value="Oakley - Sat - 4:30pm">Oakley - Sat - 4:30pm</option>
          <option value="Oakley - Sat - 6:15pm">Oakley - Sat - 6:15pm</option>
          <option value="Oakley - Sun - 8:30am">Oakley - Sun - 8:30am</option>
          <option value="Oakley - Sun - 10:05am">Oakley - Sun - 10:05am</option>
          <option value="Oakley - Sun - 11:55am">Oakley - Sun - 11:55am</option>
          <option value="Oakley - Sun - 11:55am">Oakley - Sun - 11:55am</option>
          <option value="Mason - Sun - 8:15am">Mason - Sun - 8:15am</option>
          <option value="Mason - Sun - 9:45am">Mason - Sun - 9:45am</option>
          <option value="Mason - Sun - 11:30am">Mason - Sun - 11:30am</option>
          <option value="Florence - Sat - 5:30pm">Florence - Sat - 5:30pm</option>
          <option value="Florence - Sun - 9:30am">Florence - Sun - 9:30am</option>
          <option value="Florence - Sun - 11:30am">Florence - Sun - 11:30am</option>
          <option value="West Side - Sun - 8:15am">West Side - Sun - 8:15am</option>
          <option value="West Side - Sun - 10:00am">West Side - Sun - 10:00am</option>
          <option value="West Side - Sun - 11:45am">West Side - Sun - 11:45am</option>
          <option value="Uptown - Sun - 7pm">Uptown - Sun - 7pm</option>
        </select>
        <ng-messages for="student.serviceAttend.$error" ng-if="kcStudentApplication.showError(student, 'serviceAttend')">
          <span ng-message="required">
            <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
          </span>
        </ng-messages>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm-6">
        <label class="control-label required" for="streetAddress">Street Address</label>
        <input type="text" class="form-control" id="streetAddress" placeholder="Street Address" ng-value="kcStudentApplication.volunteer.addressLine1" disabled="true">
        <span ng-show="false">Please provide a valid value.</span>
      </div>
      <div class="form-group col-sm-6">
        <label class="control-label required" for="city">City</label>
        <input type="text" class="form-control" id="city" placeholder="City" ng-value="kcStudentApplication.volunteer.city" disabled="true">
        <span ng-show="false">Please provide a valid value.</span>
      </div>
      <div class="form-group col-sm-6">
        <label class="control-label required" for="state">State</label>
        <input type="text" class="form-control" id="state" placeholder="State" ng-value="kcStudentApplication.volunteer.state" disabled="true">
        <span ng-show="false">Please provide a valid value.</span>
      </div>
      <div class="form-group col-sm-6">
        <label class="control-label required" for="zip">Zip</label>
        <input type="text" class="form-control" id="zip" placeholder="Zip" ng-value="kcStudentApplication.volunteer.postalCode" disabled="true">
        <span ng-show="false">Please provide a valid value.</span>
      </div>
      <div class="form-group col-sm-6">
        <label class="control-label" for="cellPhone">Cell Phone</label>
        <input type="text"
               class="form-control"
               id="cellPhone"
               placeholder="CellPhone"
               ng-value="kcStudentApplication.volunteer.mobilePhone"
               disabled="true">
        <span ng-show="false">Please provide a valid value.</span>
      </div>
      <div class="form-group col-sm-6">
        <label class="control-label" for="homePhone">Home Phone</label>
        <input type="text" class="form-control" id="homePhone" placeholder="Home Phone" ng-value="kcStudentApplication.volunteer.homePhone" disabled="true">
        <span ng-show="false">Please provide a valid value.</span>

    </div>
    <!--/row-->
  </fieldset>

  <fieldset class="push-bottom">
    <legend>School</legend>
    <div class="row">
      <div class="form-group col-sm-6" ng-class="{'has-error': kcStudentApplication.showError(student, 'school')}">
        <label class="control-label required" for="school">School</label>
        <input type="text"
               class="form-control"
               id="school"
               name="school"
               placeholder="Enter school"
               ng-model="kcStudentApplication.school"
               ng-model-options="{updateOn: 'blur'}"
               required>
        <ng-messages for="student.school.$error" ng-if="kcStudentApplication.showError(student,'school')" >
          <span ng-message="required"><span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span></span>
        </ng-messages>
      </div>
      <div class="form-group col-sm-6" ng-class="{'has-error': kcStudentApplication.showError(student, 'grade')}">
        <label class="control-label required" for="grade">Grade</label>
        <select class="form-control col-sm-12" name="grade" ng-model="kcStudentApplication.grade" required>
            <option value="">Select Grade</option>
            <option value="Fourth Grade">Fourth Grade</option>
            <option value="Fifth Grade">Fifth Grade</option>
            <option value="Sixth Grade">Sixth Grade</option>
            <option value="Seventh Grade">Seventh Grade</option>
            <option value="Eighth Grade">Eighth Grade</option>
            <option value="Ninth Grade">Ninth Grade</option>
            <option value="Tenth Grade">Tenth Grade</option>
            <option value="Eleventh Grade">Eleventh Grade</option>
            <option value="Twelfth Grade">Twelfth Grade</option>
          </select>
         <ng-messages for="student.grade.$error" ng-if="kcStudentApplication.showError(student, 'grade')" >
          <span ng-message="required">
            <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
          </span>
        </ng-messages>
      </div>
    </div>
  </fieldset>

  <fieldset class="push-bottom">
    <legend>About You</legend>
    <div>
      <p>Because you will be a role model, we need to know more about you.</p>
      <p>Please answer the following questions.</p>
    </div>
    <div class="form-group col-sm-12" ng-class="{'has-error': kcStudentApplication.showError(student, 'religion')}">
        <label class="block required">How would you define your spiritual life? Pick as many as you like.</label>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-true-value="'Yes'" ng-false-value="''" name="religion" ng-model="kcStudentApplication.religionSearchingForAnswers" ng-required="!kcStudentApplication.spiritualSelected()">Searching for answers.
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-true-value="'Yes'" ng-false-value="''" name="religion" ng-model="kcStudentApplication.religionReceivedJesus" ng-required="!kcStudentApplication.spiritualSelected()">I have received Jesus.
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-true-value="'Yes'" ng-false-value="''" name="religion" ng-model="kcStudentApplication.religionFocusingOnObedience" ng-required="!kcStudentApplication.spiritualSelected()">Focusing on obedience—I’ve quit negotiating with God.
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-true-value="'Yes'" ng-false-value="''" name="religion" ng-model="kcStudentApplication.religionReplicating" ng-required="!kcStudentApplication.spiritualSelected()">I’m actively replicating my faith in others.
          </label>
        </div>
        <ng-messages for="student.religion.$error" ng-if="kcStudentApplication.showError(student, 'religion')">
          <span ng-message="required">
            <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
          </span>
        </ng-messages>
      </div>
    <div class="row">
      <div class="form-group col-sm-8" ng-class="{'has-error': kcStudentApplication.showError(student, 'explainFaith')}">
        <label class="control-label required" for="explainFaith">Please Explain</label>
        <textarea class="form-control"
                  id="explainFaith"
                  name="explainFaith"
                  ng-model="kcStudentApplication.explainFaith"
                  placeholder="Please Explain"
                  ng-model-options="{updateOn: 'blur'}"
                  required>
        </textarea>
        <ng-messages for="student.explainFaith.$error" ng-if="kcStudentApplication.showError(student, 'explainFaith')" >
          <span ng-message="required">
            <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
          </span>
        </ng-messages>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-8" ng-class="{'has-error': kcStudentApplication.showError(student, 'prompted')}">
        <label class="control-label required" for="promptedApplication">Why do you want to serve?</label>
        <input type="text"
               class="form-control"
               id="promptedApplication"
               name="prompted"
               ng-model="kcStudentApplication.whyServe"
               placeholder="Why do you want to serve?"
               ng-model-options="{updateOn: 'blur'}"
               required>
        <ng-messages for="student.prompted.$error" ng-if="kcStudentApplication.showError(student, 'prompted')" >
          <span ng-message="required">
            <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
          </span>
        </ng-messages>

      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-8">
        <label class="control-label" for="specialSkills">Any special talents, abilities, skills or experiences that may be helpful? (Juggling, fire eating, acting, or making weird noises with your armpit count.)</label>
        <input type="text" class="form-control" id="specialSkills" ng-model="kcStudentApplication.specialTalents" placeholder="Special talents...">
        <span ng-show="false">Please provide a valid value.</span>
      </div>
    </div>
  </fieldset>

  <fieldset class="push-bottom">
    <legend>Serving Opportunities</legend>
    <div class="row">
      <div class="col-sm-12" ng-class="{'has-error': kcStudentApplication.showError(student, 'availability') }">
        <label class="block required control-label">What is your availability?</label>

        <div class="checkbox">
          <label>
            <input type="checkbox" ng-true-value="'Yes'" ng-false-value="''"
                   name="availability"
                   ng-model="kcStudentApplication.availabilityDuringWeek"
                   ng-required="!kcStudentApplication.availabilitySelected()">
            During the Week
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-true-value="'Yes'" ng-false-value="''"
                   name="availability"
                   ng-model="kcStudentApplication.availabilityDuringWeekend"
                   ng-required="!kcStudentApplication.availabilitySelected()">
            Weekend Services
          </label>
        </div>
        <ng-messages for="student.availability.$error" ng-if="kcStudentApplication.showError(student, 'availability')" >
          <span ng-message="required">
            <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
          </span>
        </ng-messages>
        <div class="form-group col-sm-6" ng-class="{'has-error': kcStudentApplication.showError(student, 'availabilityWeekendSite')}" ng-if="kcStudentApplication.availabilityDuringWeekend">
          <label class="control-label required" for="availabilityWeekendSite">Weekend Site/Service Time</label>
          <select class="form-control col-sm-12" name="availabilityWeekendSite" ng-model="kcStudentApplication.availabilityWeekendSite" ng-required="kcStudentApplication.availabilityDuringWeekend">
            <option value="">Weekend Site/Service Time</option>
            <option value="Oakley - Sat - 4:30pm">Oakley - Sat - 4:30pm</option>
            <option value="Oakley - Sat - 6:15pm">Oakley - Sat - 6:15pm</option>
            <option value="Oakley - Sun - 8:30am">Oakley - Sun - 8:30am</option>
            <option value="Oakley - Sun - 10:05am">Oakley - Sun - 10:05am</option>
            <option value="Oakley - Sun - 11:55am">Oakley - Sun - 11:55am</option>
            <option value="Oakley - Sun - 11:55am">Oakley - Sun - 11:55am</option>
            <option value="Mason - Sun - 8:15am">Mason - Sun - 8:15am</option>
            <option value="Mason - Sun - 9:45am">Mason - Sun - 9:45am</option>
            <option value="Mason - Sun - 11:30am">Mason - Sun - 11:30am</option>
            <option value="Florence - Sat - 5:30pm">Florence - Sat - 5:30pm</option>
            <option value="Florence - Sun - 9:30am">Florence - Sun - 9:30am</option>
            <option value="Florence - Sun - 11:30am">Florence - Sun - 11:30am</option>
            <option value="West Side - Sun - 8:15am">West Side - Sun - 8:15am</option>
            <option value="West Side - Sun - 10:00am">West Side - Sun - 10:00am</option>
            <option value="West Side - Sun - 11:45am">West Side - Sun - 11:45am</option>
            <option value="Uptown - Sun - 7pm">Uptown - Sun - 7pm</option>
          </select>
          <ng-messages for="student.availabilityWeekendSite.$error" ng-if="kcStudentApplication.showError(student, 'availabilityWeekendSite')">
            <span ng-message="required">
              <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
            </span>
          </ng-messages>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="form-group col-sm-12" ng-class="{'has-error': kcStudentApplication.showError(student, 'serveAge') }">
        <label class="control-label required">What age kids do you prefer to serve with?</label>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-true-value="'Yes'" ng-false-value="''"
                   value="1"
                   name="serveAge"
                   ng-model="kcStudentApplication.serveAgeKids.age1to2"
                   ng-required="!kcStudentApplication.gradeLevelSelected()">
            1 - 2 years old
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-true-value="'Yes'" ng-false-value="''"
                   value="2"
                   name="serveAge"
                   ng-model="kcStudentApplication.serveAgeKids.age3toPreK"
                   ng-required="!kcStudentApplication.gradeLevelSelected()">
            3-year olds - Pre-K
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-true-value="'Yes'" ng-false-value="''"
                   value="3"
                   name="serveAge"
                   ng-model="kcStudentApplication.serveAgeKids.Kto5Grade"
                   ng-required="!kcStudentApplication.gradeLevelSelected()">
            Kinder - 5th Grade
          </label>
        </div>
        <ng-messages for="student.serveAge.$error" ng-if="kcStudentApplication.showError(student, 'serveAge')" >
          <span ng-message="required">
            <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
          </span>
        </ng-messages>
      </div>
    </div>
    <div dynamic-content="kcStudentApplication.pageInfo.contentBlock1 | html"></div>
  </fieldset>
  <fieldset class="push-bottom">
    <legend>Personal References</legend>
    <div class="row">
      <p class="help-text col-sm-12">List two adults you have known for at least one year, who are not related to you and have a definite knowledge of your character and ability to work with kids (e.g. pastor, close friend, and/or teacher)</p>

      <h4 class="col-sm-12">First Reference</h4>
      <div class="form-group col-sm-6" ng-class="{'has-error': kcStudentApplication.showError(student, 'referenceName1') }">
        <label class="control-label required" for="referenceName-1">Name</label>
        <input type="text"
               class="form-control"
               id="referenceName-1"
               name="referenceName1"
               ng-model="kcStudentApplication.reference1.name"
               placeholder="Name"
               ng-model-options="{updateOn: 'blur'}"
               required>
        <ng-messages for="student.referenceName1.$error" ng-if="kcStudentApplication.showError(student, 'referenceName1')" >
          <span ng-message="required">
            <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
          </span>
        </ng-messages>
      </div>
      <div class="form-group col-sm-6" ng-class="{'has-error': kcStudentApplication.showError(student, 'referenceTime1') }">
        <label class="control-label required" for="referenceTimeKnown-1">Length of time known</label>
        <input type="text"
               class="form-control"
               id="referenceTimeKnown-1"
               name="referenceTime1"
               ng-model="kcStudentApplication.reference1.timeKnown"
               placeholder="Length of time known"
               ng-model-options="{updateOn: 'blur'}"
               required>
         <ng-messages for="student.referenceTime1.$error" ng-if="kcStudentApplication.showError(student, 'referenceTime1')" >
          <span ng-message="required">
            <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
          </span>
        </ng-messages>
      </div>
      </div>
      <div class="row">
      <div class="form-group col-sm-6" ng-class="{'has-error': kcStudentApplication.showError(student, 'referenceHomePhone1')}">
        <label class="control-label" for="referenceHomePhone-1">Home Phone</label>
        <input type="text"
               class="form-control"
               id="referenceHomePhone-1"
               name="referenceHomePhone1"
               ng-pattern="kcStudentApplication.phoneFormat"
               ng-model-options="{updateOn: 'blur'} "
               ng-model="kcStudentApplication.reference1.homePhone"
               placeholder="Home Phone">
        <ng-messages for="student.referenceHomePhone1.$error" ng-if="kcStudentApplication.showError(student, 'referenceHomePhone1')">
          <span ng-message="pattern">
            <span dynamic-content="$root.MESSAGES.invalidPhone.content | html"></span>
          </span>
        </ng-messages>

      </div>
      <div class="form-group col-sm-6" ng-class="{'has-error': kcStudentApplication.showError(student, 'referenceMobilePhone1')}">
        <label class="control-label" for="referenceMobilePhone-1">Mobile Phone</label>
        <input type="text"
               class="form-control"
               id="referenceMobilePhone-1"
               name="referenceMobilePhone1"
               ng-model="kcStudentApplication.reference1.mobilePhone"
               placeholder="Mobile Phone"
               ng-model-options="{updateOn: 'blur'}"
               ng-pattern="kcStudentApplication.phoneFormat">
        <ng-messages for="student.referenceMobilePhone1.$error" ng-if="kcStudentApplication.showError(student, 'referenceMobilePhone1')">
          <span ng-message="pattern">
            <span dynamic-content="$root.MESSAGES.invalidPhone.content | html"></span>
          </span>
        </ng-messages>
      </div>
      </div>
      <div class="row">
      <div class="form-group col-sm-6" ng-class="{'has-error': kcStudentApplication.showError(student, 'referenceWorkPhone1')}">
        <label class="control-label" for="referenceWorkPhone-1">Work Phone</label>
        <input type="text"
               class="form-control"
               id="referenceWorkPhone-1"
               name="referenceWorkPhone1"
               ng-model="kcStudentApplication.reference1.workPhone"
               placeholder="Work Phone"
               ng-model-options="{updateOn: 'blur'}"
               ng-pattern="kcStudentApplication.phoneFormat">
        <ng-messages for="student.referenceWorkPhone1.$error" ng-if="kcStudentApplication.showError(student, 'referenceWorkPhone1')">
          <span ng-message="pattern">
            <span dynamic-content="$root.MESSAGES.invalidPhone.content | html"></span>
          </span>
        </ng-messages>
      </div>
      <div class="form-group col-sm-6" ng-class="{'has-error': kcStudentApplication.showError(student, 'referenceEmail1') }">
        <label class="control-label required" for="referenceEmail-1">Email</label>
        <input type="email"
               class="form-control"
               id="referenceEmail-1"
               name="referenceEmail1"
               ng-model="kcStudentApplication.reference1.email"
               placeholder="Email"
               ng-model-options="{updateOn: 'blur'}"
               required>
        <ng-messages for="student.referenceEmail1.$error" ng-if="kcStudentApplication.showError(student, 'referenceEmail1')" >
          <span ng-message="required">
            <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
          </span>
          <span ng-message="email">
            <span dynamic-content="$root.MESSAGES.invalidEmail.content | html"></span>
          </span>
        </ng-messages>
      </div>
      </div>
      <div class="row">
      <div class="form-group col-sm-6" ng-class="{'has-error': kcStudentApplication.showError(student, 'referenceAssociation1') }">
        <label class="control-label required" for="referenceAssociation-1">Nature of Association</label>
        <input type="text"
               class="form-control"
               id="referenceAssociation-1"
               name="referenceAssociation1"
               ng-model="kcStudentApplication.reference1.association"
               placeholder="Nature of Association"
               ng-model-options="{updateOn: 'blur'}"
               required>
        <ng-messages for="student.referenceAssociation1.$error" ng-if="kcStudentApplication.showError(student, 'referenceAssociation1')" >
          <span ng-message="required">
            <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
          </span>
        </ng-messages>
      </div>
      <div class="form-group col-sm-6" ng-class="{'has-error': kcStudentApplication.showError(student, 'referenceOccupation1') }">
        <label class="control-label required" for="referenceOccupation-1">Occupation</label>
        <input type="text"
               class="form-control"
               id="referenceOccupation-1"
               name="referenceOccupation1"
               ng-model="kcStudentApplication.reference1.occupation"
               placeholder="Occupation"
               ng-model-options="{updateOn: 'blur'}"
               required>
        <ng-messages for="student.referenceOccupation1.$error" ng-if="kcStudentApplication.showError(student, 'referenceOccupation1')" >
          <span ng-message="required">
            <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
          </span>
        </ng-messages>
      </div>
    </div>
    <!--/row-->
    <hr />

    <div class="row">
      <!-- Reference #2 -->
      <h4 class="col-sm-12">Second Reference</h4>
      <div class="form-group col-sm-6" ng-class="{'has-error': kcStudentApplication.showError(student, 'referenceName2') }">
        <label class="control-label required" for="referenceName-2">Name</label>
        <input type="text"
               class="form-control"
               id="referenceName-2"
               name="referenceName2"
               ng-model="kcStudentApplication.reference2.name"
               placeholder="Name"
               ng-model-options="{updateOn: 'blur'}"
               required>
        <ng-messages for="student.referenceName2.$error" ng-if="kcStudentApplication.showError(student, 'referenceName2')" >
          <span ng-message="required">
            <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
          </span>
        </ng-messages>
      </div>
      <div class="form-group col-sm-6" ng-class="{'has-error': kcStudentApplication.showError(student, 'referenceTime2') }">
        <label class="control-label required" for="referenceTimeKnown-2">Length of time known</label>
        <input type="text"
               class="form-control"
               id="referenceTimeKnown-2"
               name="referenceTime2"
               ng-model="kcStudentApplication.reference2.timeKnown"
               placeholder="Length of time known"
               ng-model-options="{updateOn: 'blur'}"
               required>
         <ng-messages for="student.referenceTime2.$error" ng-if="kcStudentApplication.showError(student, 'referenceTime2')" >
          <span ng-message="required">
            <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
          </span>
        </ng-messages>
      </div>
      </div>
      <div class="row">
      <div class="form-group col-sm-6" ng-class="{'has-error': kcStudentApplication.showError(student, 'referenceHomePhone2')}">
        <label class="control-label" for="referenceHomePhone-2">Home Phone</label>
        <input type="text"
               class="form-control"
               id="referenceHomePhone-2"
               name="referenceHomePhone2"
               ng-model="kcStudentApplication.reference2.homePhone"
               ng-pattern="kcStudentApplication.phoneFormat"
               ng-model-options="{updateOn: 'blur'}"
               placeholder="Home Phone">
        <ng-messages for="student.referenceHomePhone2.$error" ng-if="kcStudentApplication.showError(student, 'referenceHomePhone2')">
          <span ng-message="pattern">
            <span dynamic-content="$root.MESSAGES.invalidPhone.content | html"></span>
          </span>
        </ng-messages>
      </div>
      <div class="form-group col-sm-6" ng-class="{'has-error': kcStudentApplication.showError(student, 'referenceMobilePhone2')}">
        <label class="control-label" for="referenceMobilePhone-2">Mobile Phone</label>
        <input type="text"
               class="form-control"
               id="referenceMobilePhone-2"
               name="referenceMobilePhone2"
               ng-model="kcStudentApplication.reference2.mobilePhone"
               placeholder="Mobile Phone"
               ng-model-options="{updateOn: 'blur'}"
               ng-pattern="kcStudentApplication.phoneFormat">
        <ng-messages for="student.referenceMobilePhone2.$error" ng-if="kcStudentApplication.showError(student, 'referenceMobilePhone2')">
          <span ng-message="pattern">
            <span dynamic-content="$root.MESSAGES.invalidPhone.content | html"></span>
          </span>
        </ng-messages>
      </div>
      </div>
      <div class="row">
      <div class="form-group col-sm-6" ng-class="{'has-error': kcStudentApplication.showError(student, 'referenceWorkPhone2')}">
        <label class="control-label" for="referenceWorkPhone-2">Work Phone</label>
        <input type="text"
               class="form-control"
               id="referenceWorkPhone-2"
               name="referenceWorkPhone2"
               ng-model="kcStudentApplication.reference2.workPhone"
               placeholder="Work Phone"
               ng-model-options="{updateOn: 'blur'}"
               ng-pattern="kcStudentApplication.phoneFormat">
        <ng-messages for="student.referenceWorkPhone2.$error" ng-if="kcStudentApplication.showError(student, 'referenceWorkPhone2')">
          <span ng-message="pattern">
            <span dynamic-content="$root.MESSAGES.invalidPhone.content | html"></span>
          </span>
        </ng-messages>
      </div>
      <div class="form-group col-sm-6" ng-class="{'has-error': kcStudentApplication.showError(student, 'referenceEmail2') }">
        <label class="control-label required" for="referenceEmail-2">Email</label>
        <input type="email"
               class="form-control"
               id="referenceEmail-2"
               name="referenceEmail2"
               ng-model="kcStudentApplication.reference2.email"
               placeholder="Email"
               ng-model-options="{updateOn: 'blur'}"
               required>
        <ng-messages for="student.referenceEmail2.$error" ng-if="kcStudentApplication.showError(student, 'referenceEmail2')" >
          <span ng-message="required">
            <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
          </span>
          <span ng-message="email">
            <span dynamic-content="$root.MESSAGES.invalidEmail.content | html"></span>
          </span>
        </ng-messages>
      </div>
      </div>
      <div class="row">
      <div class="form-group col-sm-6" ng-class="{'has-error': kcStudentApplication.showError(student, 'referenceAssociation2') }">
        <label class="control-label required" for="referenceAssociation-2">Nature of Association</label>
        <input type="text"
               class="form-control"
               id="referenceAssociation-2"
               name="referenceAssociation2"
               ng-model="kcStudentApplication.reference2.association"
               placeholder="Nature of Association"
               ng-model-options="{updateOn: 'blur'}"
               required>
        <ng-messages for="student.referenceAssociation2.$error" ng-if="kcStudentApplication.showError(student, 'referenceAssociation2')" >
          <span ng-message="required">
            <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
          </span>
        </ng-messages>
      </div>
      <div class="form-group col-sm-6" ng-class="{'has-error': kcStudentApplication.showError(student, 'referenceOccupation2') }">
        <label class="control-label required" for="referenceOccupation-2">Occupation</label>
        <input type="text"
               class="form-control"
               id="referenceOccupation-2"
               name="referenceOccupation2"
               ng-model="kcStudentApplication.reference2.occupation"
               placeholder="Occupation"
               ng-model-options="{updateOn: 'blur'}"
               required>
        <ng-messages for="student.referenceOccupation2.$error" ng-if="kcStudentApplication.showError(student, 'referenceOccupation2')" >
          <span ng-message="required">
            <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
          </span>
        </ng-messages>
      </div>
      </div>
    <!--/row-->
    <div dynamic-content="kcStudentApplication.pageInfo.contentBlock2 | html"></div>
  </fieldset>

    <fieldset class="push-bottom">
    <legend>Parent/Guardian Commitment</legend>
    <div class="row">
      <div dynamic-content="kcStudentApplication.pageInfo.contentBlock3 | html"></div>
      <div class="form-group col-sm-6" ng-class="{'has-error': kcStudentApplication.showError(student, 'parentLastName') }" >
        <label class="control-label required" for="parentLastName">Last Name</label>
        <input type="text"
               class="form-control"
               id="parentLastName"
               name="parentLastName"
               ng-model="kcStudentApplication.parent.lastName"
               placeholder="Enter Parent Last Name"
               ng-model-options="{updateOn: 'blur'}"
               required>
        <ng-messages for="student.parentLastName.$error" ng-if="kcStudentApplication.showError(student, 'parentLastName')" >
          <span ng-message="required">
            <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
          </span>
        </ng-messages>
      </div>

      <div class="form-group col-sm-6" ng-class="{'has-error': kcStudentApplication.showError(student, 'parentFirstName') }">
        <label class="control-label required" for="parentFirstName">First Name</label>
        <input type="text"
               class="form-control"
               id="parentFirstName"
               name="parentFirstName"
               ng-model="kcStudentApplication.parent.firstName"
               placeholder="Enter Parent First Name"
               ng-model-options="{updateOn: 'blur'}"
               required>
        <ng-messages for="student.parentFirstName.$error" ng-if="kcStudentApplication.showError(student, 'parentFirstName')" >
          <span ng-message="required">
            <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
          </span>
        </ng-messages>
      </div>

      <div class="form-group col-sm-6" ng-class="{'has-error': kcStudentApplication.showError(student, 'parentHomePhone') }">
        <label class="control-label required" for="parentHomePhone">Home Phone</label>
        <input type="text"
               class="form-control"
               id="parentHomePhone"
               name="parentHomePhone"
               ng-model="kcStudentApplication.parent.homePhone"
               placeholder="Enter Parent Home Phone"
               ng-model-options="{updateOn: 'blur'}"
               required
               ng-pattern="kcStudentApplication.phoneFormat">
        <ng-messages for="student.parentHomePhone.$error" ng-if="kcStudentApplication.showError(student, 'parentHomePhone')" >
          <span ng-message="required">
            <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
          </span>
          <span ng-message="pattern">
            <span dynamic-content="$root.MESSAGES.invalidPhone.content | html"></span>
          </span>
        </ng-messages>
      </div>

      <div class="form-group col-sm-6" ng-class="{'has-error': kcStudentApplication.showError(student, 'parentMobilePhone') }">
        <label class="control-label required" for="parentMobilePhone">Mobile Phone</label>
        <input type="text"
               class="form-control"
               id="parentMobilePhone"
               name="parentMobilePhone"
               ng-model="kcStudentApplication.parent.mobilePhone"
               placeholder="Enter Parent Mobile Phone"
               ng-model-options="{updateOn: 'blur'}"
               required
               ng-pattern="kcStudentApplication.phoneFormat">
        <ng-messages for="student.parentMobilePhone.$error" ng-if="kcStudentApplication.showError(student, 'parentMobilePhone')" >
          <span ng-message="required">
            <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
          </span>
          <span ng-message="pattern">
            <span dynamic-content="$root.MESSAGES.invalidPhone.content | html"></span>
          </span>
        </ng-messages>
      </div>

      <div class="form-group col-sm-12" ng-class="{'has-error': kcStudentApplication.showError(student, 'parentEmail') }">
        <label class="control-label required" for="parentEmail">Email</label>
        <input type="email"
               class="form-control"
               id="parentEmail"
               name="parentEmail"
               ng-model="kcStudentApplication.parent.email"
               placeholder="Enter Parent Email"
               ng-model-options="{updateOn: 'blur'}"
               required>
        <ng-messages for="student.parentEmail.$error" ng-if="kcStudentApplication.showError(student, 'parentEmail')" >
          <span ng-message="required">
            <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
          </span>

           <span ng-message="email">
            <span dynamic-content="$root.MESSAGES.invalidEmail.content | html"></span>
          </span>
        </ng-messages>
      </div>

      <div class="form-group col-sm-6" ng-class="{'has-error': kcStudentApplication.showError(student, 'parentSignature') }">
        <label class="block required control-label">Parent/Guardian Consent</label>
        <label class="radio-inline">
          <input type="radio"
                 value="Yes"
                 name="parentSignature"
                 ng-model="kcStudentApplication.parentSignature"
                 required>
          Yes
        </label>
        <label class="radio-inline">
          <input type="radio"
                 value="No"
                 name="parentSignature"
                 ng-model="kcStudentApplication.parentSignature"
                 required>
          No
        </label>
      </div>

      <div class="form-group col-sm-6">
        <label class="control-label" for="parentSignatureDate">Date</label>
        <input name="parentSignatureDate"
               type="text"
               id="parentSignatureDate"
               class="form-control"
               ng-model="kcStudentApplication.parentSignatureDate"
               disabled>
      </div>

    </div>

    <div class="row" >
      <div class="form-group col-sm-6" ng-class="{'has-error': kcStudentApplication.showError(student, 'studentSignature') }">
        <label class="block required control-label">Student Agreement</label>
        <label class="radio-inline">
          <input type="radio"
                 value="Yes"
                 name="studentSignature"
                 ng-model="kcStudentApplication.studentSignature"
                 required>
          Yes
        </label>
        <label class="radio-inline">
          <input type="radio"
                 value="No"
                 name="studentSignature"
                 ng-model="kcStudentApplication.studentSignature"
                 required>
          No
        </label>
      </div>
      <div class="form-group col-sm-6">
        <label class="control-label" for="studentSignatureDate">Date</label>
        <input name="studentSignatureDate"
               type="text"
               id="studentSignatureDate"
               class="form-control"
               ng-model="kcStudentApplication.studentSignatureDate"
               disabled/>
      </div>
    </div>
    <!--/row-->
  </fieldset>
  <button type="submit" name="submit" id="submit" class="btn btn-primary push-half-bottom" ng-disabled="kcStudentApplication.saving"> {{kcStudentApplication.submitButtonText}} </button>

</form>
<div dynamic-content="kcStudentApplication.pageInfo.page2 | html"></div>
