<div class='container-fluid'>
  <form name='invitationForm' ng-submit='groupDetailInvite.sendInvitation(invitationForm, groupDetailInvite.invite)' novalidate>
    <div class='row'>
      <div class='col-md-6 col-md-offset-3'>

        <div class='row'>
          <div class='col-md-12'>
            <h3>Invite Someone</h3>
          </div>
        </div>

        <div class='row'>
          <div class='col-md-12'>
            <div class='form-group' ng-class='{"has-error": invitationForm.$submitted && invitationForm.recipientName.$invalid}'>
              <label for='name' class='control-label required'>Name</label>
              <input type='text' class='form-control' name='recipientName' ng-model='groupDetailInvite.invite.recipientName' required></input>
              <ng-messages for="invitationForm.recipientName.$error" ng-show="invitationForm.$submitted && invitationForm.recipientName.$invalid">
                <ng-messages-include src="on-blur-messages"></ng-messages-include>
              </ng-messages>
              <ng-messages for="invitationForm.recipientName.$error" ng-if="invitationForm.$submitted && invitationForm.recipientName.$invalid">
                <ng-messages-include src="on-submit-messages"></ng-messages-include>
              </ng-messages>
            </div>
          </div>
        </div>

        <div class='row'>
          <div class='col-md-12'>
            <div class='form-group' ng-class='{"has-error": (invitationForm.$submitted || invitationForm.emailAddress.$dirty) && invitationForm.emailAddress.$invalid}'>
              <label for='emailAddress' class='control-label required'>Email Address</label>
              <input type='email' class='form-control' name='emailAddress' ng-model='groupDetailInvite.invite.emailAddress' ng-model-options='{ updateOn: "default blur", debounce: { "default": 500, "blur": 0 } }' required></input>
              <ng-messages for="invitationForm.emailAddress.$error" ng-show="(invitationForm.$submitted || invitationForm.emailAddress.$dirty) && invitationForm.emailAddress.$invalid">
                <ng-messages-include src="on-blur-messages"></ng-messages-include>
              </ng-messages>
              <ng-messages for="invitationForm.emailAddress.$error" ng-if="(invitationForm.$submitted || invitationForm.emailAddress.$dirty) && invitationForm.emailAddress.$invalid">
                <ng-messages-include src="on-submit-messages"></ng-messages-include>
              </ng-messages>
            </div>
          </div>
        </div>

        <div class='row'>
          <div class='col-md-12'>
            <div class='form-group' ng-class='{"has-error": (invitationForm.$submitted || invitationForm.customMessage.$dirty) && invitationForm.customMessage.$invalid}'>
              <label for='customMessage' class='control-label'>Message</label>
              <textarea type='text' rows='4' class='form-control' name='customMessage' ng-model='groupDetailInvite.invite.customMessage' ng-model-options='{ updateOn: "default blur", debounce: { "default": 500, "blur": 0 } }'></textarea>
              <ng-messages for="invitationForm.customMessage.$error" ng-show="(invitationForm.$submitted || invitationForm.customMessage.$dirty) && invitationForm.customMessage.$invalid">
                <ng-messages-include src="on-blur-messages"></ng-messages-include>
              </ng-messages>
              <ng-messages for="invitationForm.customMessage.$error" ng-if="(invitationForm.$submitted || invitationForm.customMessage.$dirty) && invitationForm.customMessage.$invalid">
                <ng-messages-include src="on-submit-messages"></ng-messages-include>
              </ng-messages>
            </div>
          </div>
        </div>

        <div class='row'>&nbsp;</div>

        <div class='text-center sm-text-right'>
          <loading-button
            input-type='submit'
            normal-text='Send'
            loading-text='Sending...'
            loading='groupDetailInvite.processing'
            loading-class='disabled'
            input-classes='sm-pull-right btn btn-primary btn-block-mobile mobile-push-half-bottom'></loading-button>
          <button type='button' class='btn btn-standard btn-block-mobile mobile-push-half-bottom' ng-click='groupDetailInvite.cancel()'>Cancel</button>
        </div>
      </div>
    </div>
  </form>
</div>
