<div class='row'>
  <div class='col-md-6 col-md-offset-3'>

    <div class='row'>
      <div class='col-md-12'>
        <h3>{{ groupEmail.header }}</h3>
      </div>
    </div>

    <div class='row'>
      <div class='col-md-12'>
        <div class='form-group' ng-class='{"has-error": groupEmailForm.$submitted && groupEmailForm.emailSubject.$invalid}'>
          <label class='control-label required' for='emailSubject' >Subject</label>
          <input ng-model="groupEmail.message.subject" id='emailSubject' type='text' class='form-control' name='emailSubject' ng-required="true"></input>
          <ng-messages for="groupEmailForm.emailSubject.$error" ng-show="groupEmailForm.$submitted && groupEmailForm.emailSubject.$invalid">
            <ng-messages-include src="on-blur-messages"></ng-messages-include>
          </ng-messages>
          <ng-messages for="groupEmailForm.emailSubject.$error" ng-if="groupEmailForm.$submitted && groupEmailForm.emailSubject.$invalid">
            <ng-messages-include src="on-submit-messages"></ng-messages-include>
          </ng-messages>
        </div>
      </div>
    </div>

    <div class='row'>
      <div class='col-md-12'>
        <div class='form-group' ng-class='{"has-error": groupEmailForm.$submitted && groupEmailForm.emailBody.$invalid}'>
          <label class='control-label required' for='emailBody'>Message</label>
          <textarea ng-model="groupEmail.message.body" id='emailBody' type='textarea' rows='8' class='form-control' name='emailBody' ng-required="true"></textarea>
          <ng-messages for="groupEmailForm.emailBody.$error" ng-show="groupEmailForm.$submitted && groupEmailForm.emailBody.$invalid">
            <ng-messages-include src="on-blur-messages"></ng-messages-include>
          </ng-messages>
          <ng-messages for="groupEmailForm.emailBody.$error" ng-show="groupEmailForm.$submitted && groupEmailForm.emailBody.$invalid">
            <ng-messages-include src="on-submit-messages"></ng-messages-include>
          </ng-messages>
        </div>
      </div>
    </div>

    <div class='row'>&nbsp;</div>
  </div>
</div>
