<div class="row">
    <div class="col-sm-12">
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="flush-top flush-bottom" ng-if="options.templateOptions.sectionLabel"
            dynamic-content="{{options.templateOptions.sectionLabel}}">
        </div>
        <p class="text-muted" ng-if="options.templateOptions.sectionHelp">
            <small class="text-muted"" ng-scope dynamic-content="{{options.templateOptions.sectionHelp}}"></small>
        </p><br/>
        <p ng-if="options.templateOptions.groupExample"
            dynamic-content="{{options.templateOptions.groupExample}}">
            </p>
    </div>
    <div class="col-sm-8">
        <formly-transclude></formly-transclude>
    </div>
</div>