<div class="brandbar-container">
    <div class='brandbar'>
        <span class='b01'></span>
        <span class='b02'></span>
        <span class='b03'></span>
        <span class='b04'></span>
        <span class='b05'></span>
        <span class='b06'></span>
        <span class='b07'></span>
        <span class='b08'></span>
        <span class='b09'></span>
        <span class='b10'></span>
        <span class='b11'></span>
        <span class='b12'></span>
        <span class='b13'></span>
        <span class='b14'></span>
    </div>
</div>
