<!--TO DO: This is an interim solution until we have a dynamic class on the HTML or enhance the preloader directive to allow defining of svg -->
<style type="text/css">
  #preloader g path {
    stroke: #222222 !important;
  }
</style>

<div class="go-volunteer-container">
  <div class="go-volunteer dark-bg imgix-fluid-bg img-background soft-bottom" data-src="//crds-cms-uploads.imgix.net/content/images/govol-fade-bg.jpg">
    <div class="container">
      <div class="gv-nav" ng-show="gvMenu">
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
            <div dynamic-content="$root.MESSAGES.goCincinnatiNav.content | html"></div>
          </div>
        </div>
      </div>
      <header>
        <nav class="navbar navbar-static-top">
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 clearfix">
              <a class="back-btn pull-left" href="#" ui-sref="#">
                <!--Commenting out until back functionality is implemented
                <svg viewBox="0 0 32 32" class="icon icon-xlarge icon-angle-left">
                  <use xlink:href="#angle-left"></use>
                </svg>
                -->
              </a>
              <a class="logo center-block" ui-sref="go-volunteer.city({city: 'cincinnati'})" href="#">
                <img class="imgix-fluid" data-src="//crds-cms-uploads.imgix.net/content/images/go.png" alt="GO Cincinnati Logo">
              </a>
              <div class="hamburger-menu" ng-click=gvMenu=!gvMenu>
                <div class="bar" ng-class="{'animate': gvMenu}"></div>
              </div>
            </div>
          </div>
        </nav>
      </header>

      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
          <preloader ng-if="app.resolving" full-screen='true'> </preloader>
          <div ui-view ng-if="!app.resolving"> </div>
        </div>
      </div>
    </div>
  </div>
</div>
