
  <base href="/"></base>
  <style>
    /* Allow angular.js to be loaded in body, hiding cloaked elements until
     * templates compile.  The !important is important given that there may be
     * other selectors that are more specific or come later and might alter display.
     */
      [ng\:cloak],
      [ng-cloak],
      .ng-cloak {
          display: none !important;
      }
  </style>
  <title>Index</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <ng-include src="'templates/favicons.html'"> </ng-include>
  <script type="text/ng-template" id="on-submit-messages">
      <span ng-message="required"><span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span></span>
      <span ng-message="initiativeRequired"><span dynamic-content="$root.MESSAGES.noInitiativeSelected.content | html"></span></span>
  </script>
  <script type="text/ng-template" id="on-pause-messages">
      <span ng-message="pattern"><span dynamic-content="$root.MESSAGES.invalidData.content | html"></span></span>
      <span ng-message="invalidDate"><span dynamic-content="$root.MESSAGES.invalidData.content | html"></span></span>
      <span ng-message="email"><span dynamic-content="$root.MESSAGES.invalidEmail.content | html"></span></span>
  </script>
  <script type="text/ng-template" id="on-blur-messages">
      <span ng-message="minlength"><span dynamic-content="$root.MESSAGES.invalidPassword.content | html"></span></span>
      <span ng-message="unique"><span dynamic-content="$root.MESSAGES.emailInUse.content | html"></span></span>
      <span ng-message="email"><span dynamic-content="$root.MESSAGES.invalidEmail.content | html"></span></span>
      <span ng-message="invalidRouting"><span dynamic-content="$root.MESSAGES.invalidRoutingTransit.content | html"></span></span>
      <span ng-message="invalidAccount"><span dynamic-content="$root.MESSAGES.invalidAccountNumber.content | html"></span></span>
      <span ng-message="naturalNumber"><span dynamic-content="$root.MESSAGES.invalidDonationAmount.content | html"></span></span>
      <span ng-message="invalidZip"><span dynamic-content="$root.MESSAGES.invalidZip.content | html"></span></span>
  </script>
  <ng-include src="'/assets/cr.svg'"></ng-include>
