<ng-include src="'templates/header.html'"></ng-include>

<div class="container main animated fadeIn">
  <preloader ng-if="app.resolving" full-screen='true'> </preloader>
  <div class="row" ng-if="!app.resolving">
      <div class="col-md-8">
        <div ui-view=""> </div>
        <form-builder page="page"></form-builder>
      </div>
      <div class="col-md-4">
        <div ui-view="sidebar"> </div>
      </div>
  </div>
</div><!--/container-->

<ng-include src="'templates/footer.html'"></ng-include>
