<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js" defer></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.4/jquery.fullPage.min.js" defer></script>
<script type="text/javascript" src="https://s7.addthis.com/js/300/addthis_widget.js#defer=1" defer></script>
<script type="text/javascript" src="https://malsup.github.io/jquery.cycle2.js"></script>
<script type="text/javascript" src="https://malsup.github.io/jquery.cycle2.scrollVert.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/cv/js/sender/v1/cast_sender.js"></script>
<script src="https://use.fontawesome.com/ccd1aba2f7.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.0/shim.min.js" async></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/zone.js/0.6.12/zone.min.js" async></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/reflect-metadata/0.1.3/Reflect.min.js" async></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.4.3/tinymce.min.js" async></script>

<script type="text/ng-template" id="on-submit-messages">
    <span ng-message="required"><span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span></span>
    <span ng-message="initiativeRequired"><span dynamic-content="$root.MESSAGES.noInitiativeSelected.content | html"></span></span>
</script>
<script type="text/ng-template" id="on-pause-messages">
    <span ng-message="pattern"><span dynamic-content="$root.MESSAGES.invalidData.content | html"></span></span>
    <span ng-message="invalidDate"><span dynamic-content="$root.MESSAGES.invalidData.content | html"></span></span>
    <span ng-message="email"><span dynamic-content="$root.MESSAGES.invalidEmail.content | html"></span></span>
    <span ng-message="invalidPaymentMethod"><span dynamic-content="$root.MESSAGES.invalidPaymentMethodInformation.content | html"></span></span>
</script>
<script type="text/ng-template" id="on-blur-messages">
    <span ng-message="minlength"><span dynamic-content="$root.MESSAGES.invalidPassword.content | html"></span></span>
    <span ng-message="unique"><span dynamic-content="$root.MESSAGES.emailInUse.content | html"></span></span>
    <span ng-message="email"><span dynamic-content="$root.MESSAGES.invalidEmail.content | html"></span></span>
    <span ng-message="invalidRouting"><span dynamic-content="$root.MESSAGES.invalidRoutingTransit.content | html"></span></span>
    <span ng-message="invalidAccount"><span dynamic-content="$root.MESSAGES.invalidAccountNumber.content | html"></span></span>
    <span ng-message="naturalNumber"><span dynamic-content="$root.MESSAGES.invalidDonationAmount.content | html"></span></span>
    <span ng-message="invalidZip"><span dynamic-content="$root.MESSAGES.invalidZip.content | html"></span></span>
</script>

<!-- prerender.io - Prevent caching before page is rendered-->
<script>
    window.prerenderReady = false;
</script>