<div >
      <legend>
        Emergency Contact Information
      </legend>

      <span dynamic-content="$root.MESSAGES.TripEmergencyContact.content | html"></span>

      <ng-form name="tripsSignup.tripAppPage3" role="form" novalidate>
        <div class="row">
            <div class="form-group col-sm-6" ng-class="{'has-error': tripsSignup.validation.showErrors(tripsSignup.tripAppPage3, 'emergencyFirstName') }">
              <label for="emergency-firstname" class="control-label required">First Name</label>
              <input ng-model="tripsSignup.signupService.page3.emergencyContactFirstName" type="text" class="form-control" name="emergencyFirstName" id="emergency-firstname" placeholder="Enter emergency contact first name" ng-required="true">
              <ng-messages for="tripsSignup.tripAppPage3.emergencyFirstName.$error" ng-if="tripsSignup.validation.showErrors(tripsSignup.tripAppPage3, 'emergencyFirstName')">
                <span ng-message="required">
                  <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
                </span>
              </ng-messages>
            </div>
            <div class="form-group col-sm-6" ng-class="{'has-error': tripsSignup.validation.showErrors(tripsSignup.tripAppPage3, 'emergencyLastName') }">
              <label for="emergency-lastname" class="control-label required">Last Name</label>
              <input ng-model="tripsSignup.signupService.page3.emergencyContactLastName" type="text" class="form-control" name="emergencyLastName" id="emergency-lastname" placeholder="Enter emergency contact last name" ng-required="true">
              <ng-messages for="tripsSignup.tripAppPage3.emergencyLastName.$error" ng-if="tripsSignup.validation.showErrors(tripsSignup.tripAppPage3, 'emergencyLastName')">
                <span ng-message="required">
                  <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
                </span>
              </ng-messages>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6" ng-class="{'has-error': tripsSignup.validation.showErrors(tripsSignup.tripAppPage3, 'emergencyPrimaryPhone') }">
              <label for="emergency-primaryphone" class="control-label required">Primary Phone</label>
              <input ng-model="tripsSignup.signupService.page3.emergencyContactPrimaryPhone" type="text" class="form-control" name="emergencyPrimaryPhone" id="emergency-primaryphone" placeholder="Enter emergency contact primary phone number" ng-required="true" ng-pattern="tripsSignup.phoneFormat" ng-model-options="{updateOn: 'blur'}">
              <ng-messages for="tripsSignup.tripAppPage3.emergencyPrimaryPhone.$error" ng-if="tripsSignup.validation.showErrors(tripsSignup.tripAppPage3, 'emergencyPrimaryPhone')">
                <span ng-message="required">
                  <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
                </span>
                <span ng-message="pattern">
                  <span dynamic-content="$root.MESSAGES.invalidPhone.content | html"></span>
                </span>
              </ng-messages>
            </div>
            <div class="form-group col-sm-6"
              ng-class="{'has-error': tripsSignup.validation.showErrors(tripsSignup.tripAppPage3, 'emergencySecondaryPhone') }">
              <label class="control-label" for="emergency-secondaryphone">Secondary Phone</label>
              <input ng-model="tripsSignup.signupService.page3.emergencyContactSecondaryPhone"
                     type="text"
                     name="emergencySecondaryPhone"
                     class="form-control"
                     id="emergency-secondaryphone"
                     ng-pattern="tripsSignup.phoneFormat"
                     ng-model-options="{updateOn: 'blur'}"
                     placeholder="Enter emergency contact secondary phone number">
              <ng-messages for="tripsSignup.tripAppPage3.emergencySecondaryPhone.$error" ng-if="tripsSignup.validation.showErrors(tripsSignup.tripAppPage3, 'emergencySecondaryPhone')">
                <span ng-message="pattern">
                  <span dynamic-content="$root.MESSAGES.invalidPhone.content | html"></span>
                </span>
              </ng-messages>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6"
                 ng-class="{'has-error': tripsSignup.validation.showErrors(tripsSignup.tripAppPage3, 'emergencyContactEmail') }">
              <label class="control-label required" for="emergency-email">Email Address</label>
              <input ng-model="tripsSignup.signupService.page3.emergencyContactEmail"
                     name="emergencyContactEmail"
                     type="email"
                     class="form-control"
                     id="emergency-email"
                     ng-model-options="{updateOn: 'blur'}"
                     placeholder="Enter emergency contact email address"
                     required >
              <ng-messages for="tripsSignup.tripAppPage3.emergencyContactEmail.$error" ng-if="tripsSignup.validation.showErrors(tripsSignup.tripAppPage3, 'emergencyContactEmail')">
                <span ng-message="required">
                  <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
                </span>
                <span ng-message="email">
                  <span dynamic-content="$root.MESSAGES.invalidEmail.content | html"></span>
                </span>
              </ng-messages>
            </div>

            <div class="form-group col-sm-6" ng-class="{'has-error': tripsSignup.validation.showErrors(tripsSignup.tripAppPage3, 'emergencyRelationship') }">
              <label for="emergency-lastname" class="control-label required">Relationship</label>
              <input ng-model="tripsSignup.signupService.page3.emergencyContactRelationship" 
                     type="text" 
                     class="form-control" 
                     name="emergencyRelationship" 
                     id="emergency-relationship" 
                     placeholder="Enter emergency contact relationship" 
                     required />
              <ng-messages for="tripsSignup.tripAppPage3.emergencyRelationship.$error"
                           ng-if="tripsSignup.validation.showErrors(tripsSignup.tripAppPage3, 'emergencyRelationship')">
                <span ng-message="required">
                  <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
                </span>
              </ng-messages>
            </div>
        </div>
        <div>
            <legend>
               Medical Information
            </legend>
        </div>

        <div class="row">
            <div class="form-group col-sm-12">
              <label for="conditions">Please describe any medical condition(s) that may affect your ability to participate in this trip <small class="text-muted">Leave blank if it doesn't apply</small></label>
              <textarea ng-model="tripsSignup.signupService.page3.conditions"
                        class="form-control"
                        rows="2"
                        cols="1"
                        id="conditions"
                        maxlength="250">
              </textarea>
            </div><!--/form-group-->
        </div><!--/row-->

        <div class="row" ng-if="tripsSignup.isNicaOrSA()">
          <div class="form-group col-sm-12" ng-class="{'has-error': tripsSignup.validation.showErrors(tripsSignup.tripAppPage3, 'medicalRestrictions') }">
            <label class="block required control-label">Do you have any medication restrictions? </label>
            <label class="radio-inline" ng-click="tripsSignup.medRestrictionsToggled('yes', signupStep.medicalRestrictions)">
              <input ng-model="tripsSignup.signupService.page3.medicalRestriction"
                     type="radio"
                     value="yes"
                     name="medicalRestrictions"
                     id="medicalRestriction-yes"
                     required />
                Yes
            </label>

            <label class="radio-inline" ng-click="tripsSignup.medRestrictionsToggled('no', signupStep.medicalRestrictions)">
              <input ng-model="tripsSignup.signupService.page3.medicalRestriction"
                     type="radio" 
                     value="no" 
                     name="medicalRestrictions" 
                     id="medicalRestriction-no" 
                     required />
                No
            </label>
            <ng-messages for="tripsSignup.tripAppPage3.medicalRestrictions.$error" ng-if="tripsSignup.validation.showErrors(tripsSignup.tripAppPage3, 'medicalRestrictions')">
              <span ng-message="required">
                <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
              </span>
            </ng-messages>
          </div>

          <div class="form-group col-sm-12" 
               collapse="tripsSignup.medRestrictionsCollapsed" 
               ng-class="{'has-error': tripsSignup.validation.showErrors(tripsSignup.tripAppPage3, 'medicalRestrictionDetail') }">
            <label for="medical_restriction_detail" 
                   class="control-label required">
              List any medications you are allergic to or have any reactions to
            </label>

            <textarea ng-model="signupStep.medicalRestrictions.notes" 
                      cols="1" 
                      rows="2" 
                      class="form-control" 
                      id="medical_restriction_detail" 
                      maxlength="250" 
                      name="medicalRestrictionDetail" 
                      ng-required="!tripsSignup.medRestrictionsCollapsed">
            </textarea>
            <ng-messages for="tripsSignup.tripAppPage3.medicalRestrictionDetail.$error" ng-if="tripsSignup.validation.showErrors(tripsSignup.tripAppPage3, 'medicalRestrictionDetail')">
              <span ng-message="required">
                <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
              </span>
            </ng-messages>
          </div>
        </div>


        <div class="row" ng-if="tripsSignup.isNicaOrSA()">
            <div class="form-group col-sm-12" ng-class="{'has-error': tripsSignup.validation.showErrors(tripsSignup.tripAppPage3, 'medicationIntake') }">
              <label class="block required control-label">Are you currently taking any medication?</label>
              <label class="radio-inline" ng-click="tripsSignup.medTakingToggled('yes')">
                <input ng-model="tripsSignup.signupService.page3.medicationIntake" 
                       type="radio" 
                       value="yes" 
                       name="medicationIntake" 
                       id="medicationIntake-yes" 
                       required />
                  Yes
              </label>
              <label class="radio-inline" ng-click="tripsSignup.medTakingToggled('no', signupStep.medicationsTaking)">
                <input ng-model="tripsSignup.signupService.page3.medicationIntake" 
                       type="radio"
                       value="no"
                       name="medicationIntake"
                       id="medicationIntake-no"
                       required />
                No
              </label>

              <ng-messages for="tripsSignup.tripAppPage3.medicationIntake.$error" ng-if="tripsSignup.validation.showErrors(tripsSignup.tripAppPage3, 'medicationIntake')">
                <span ng-message="required">
                  <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
                </span>
              </ng-messages>
            </div>

            <div class="form-group col-sm-12" 
                 collapse="tripsSignup.medTakingCollapsed" 
                 ng-class="{'has-error': tripsSignup.validation.showErrors(tripsSignup.tripAppPage3, 'medicationList') }">

              <label for="medication_list" class="control-label required">List any medications you are taking</label>
              <textarea ng-model="signupStep.medicationsTaking.notes"
                        cols="1"
                        rows="2"
                        class="form-control"
                        id="medication_list"
                        maxlength="250"
                        name="medicationList"
                        ng-required="!tripsSignup.medTakingCollapsed">
              </textarea>
              <ng-messages for="tripsSignup.tripAppPage3.medicationList.$error" ng-if="tripsSignup.validation.showErrors(tripsSignup.tripAppPage3, 'medicationList')">
                <span ng-message="required">
                  <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
                </span>
              </ng-messages>
            </div>
        </div>
        <button ng-click='tripsSignup.handlePageChange(4, tripsSignup.tripAppPage3)' class="btn btn-primary pull-right">Next</button>
      </ng-form>
</div><!--/row-->
