<div>
  <ng-form name="tripsSignup.tripAppPage5" role="form" novalidate>
    <div ng-if="tripsSignup.isNica()">
      <legend>
        Child Sponsorship
      </legend>

      <div class="col-sm-12" dynamic-content="$root.MESSAGES.nicaraguaSponsoredChildRequired.content | html"></div>

      <div class="row">
        <div class="form-group col-sm-6" ng-class="{'has-error': tripsSignup.validation.showErrors(tripsSignup.tripAppPage5, 'sponsorFirstName') }">
          <label for="sponsor-firstname" class="control-label required">Child's First Name</label>
          <input ng-model="tripsSignup.signupService.page5.sponsorChildFirstName" type="text" class="form-control" name="sponsorFirstName" id="sponsor-firstname" placeholder="Enter sponsored child's first name" required>
          <ng-messages for="tripsSignup.tripAppPage5.sponsorFirstName.$error" ng-if="tripsSignup.validation.showErrors(tripsSignup.tripAppPage5, 'sponsorFirstName')">
            <span ng-message="required">
              <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
            </span>
          </ng-messages>
        </div>
        <div class="form-group col-sm-6" ng-class="{'has-error': tripsSignup.validation.showErrors(tripsSignup.tripAppPage5, 'sponsorLastName') }">
          <label for="sponsor-lastname" class="control-label required">Child's Last Name</label>
          <input ng-model="tripsSignup.signupService.page5.sponsorChildLastName" type="text" class="form-control" name="sponsorLastName" id="sponsor-lastname" placeholder="Enter sponsored child's last name" required>
          <ng-messages for="tripsSignup.tripAppPage5.sponsorLastName.$error" ng-if="tripsSignup.validation.showErrors(tripsSignup.tripAppPage5, 'sponsorLastName')">
            <span ng-message="required">
              <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
            </span>
          </ng-messages>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-6" ng-class="{'has-error': tripsSignup.validation.showErrors(tripsSignup.tripAppPage5, 'sponsorNumber') }">
          <label for="sponsor-number" class="control-label required">Child's Sponsorship Number</label>
          <input ng-model="tripsSignup.signupService.page5.sponsorChildNumber" type="text" class="form-control" name="sponsorNumber" id="sponsor-number" placeholder="Enter sponsored child's id number" required>
          <ng-messages for="tripsSignup.tripAppPage5.sponsorNumber.$error" ng-if="tripsSignup.validation.showErrors(tripsSignup.tripAppPage5, 'sponsorNumber')">
            <span ng-message="required">
              <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
            </span>
          </ng-messages>
        </div>
        <div class="form-group col-sm-6">
          <label for="sponsor-town" class="control-label"> Child's City/Town </label>
          <input ng-model="tripsSignup.signupService.page5.sponsorChildTown"
                 type="text"
                 class="form-control"
                 name="sponsorTown"
                 id="sponsor-town"
                 placeholder="Enter sponsored child's city/town" >
        </div>
      </div>
    </div><!--/#child sponsor-->

      <legend>
        Skills &amp; Experience
      </legend>

      <div class="row" ng-show="tripsSignup.isNola()">
        <div class="form-group col-sm-12" ng-class="{'has-error': tripsSignup.validation.showErrors(tripsSignup.tripAppPage5, 'nolaFirstChoiceWorkTeam') }">
          <label for="workteam-first" class="control-label" ng-class="{'required': tripsSignup.isNola() }">First Choice Work Team <span class="small text-muted">Kids traveling must be on the same work team as at least one parent.</span></label>

          <div class="row">
            <div class="col-sm-6">
              <select class='form-control'
                      id='workteam-first'
                      ng-model="tripsSignup.signupService.page5.nolaFirstChoiceWorkTeam"
                      ng-required="tripsSignup.isNola()"
                      name="nolaFirstChoiceWorkTeam">
                <option value="" readonly disabled > Please select one </option>
                <option ng-repeat="workTeam in signupStep.workTeams" value="{{workTeam.dp_RecordName}}">{{workTeam.dp_RecordName}}</option>
              </select>
                <ng-messages for="tripsSignup.tripAppPage5.nolaFirstChoiceWorkTeam.$error" ng-if="tripsSignup.validation.showErrors(tripsSignup.tripAppPage5, 'nolaFirstChoiceWorkTeam')">
                  <span ng-message="required">
                    <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
                  </span>
                </ng-messages>
              </div>
            </div>

          </div>
          <div class="form-group col-sm-12" ng-class="{'has-error': tripsSignup.validation.showErrors(tripsSignup.tripAppPage5, 'workteamExperience') }">
            <label for="workteam-experience" class="control-label" ng-class="{'required': tripsSignup.isNola() }">Please describe your experience in this area</label>
            <textarea ng-model="tripsSignup.signupService.page5.nolaFirstChoiceExperience" cols="1" rows="4" class="form-control" name="workteamExperience" id="workteam-experience" ng-required="tripsSignup.isNola()" maxlength="250"></textarea>
            <ng-messages for="tripsSignup.tripAppPage5.workteamExperience.$error" ng-if="tripsSignup.validation.showErrors(tripsSignup.tripAppPage5, 'workteamExperience')">
              <span ng-message="required">
                <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
              </span>
            </ng-messages>
          </div>

          <div class="form-group col-sm-12" ng-class="{'has-error': tripsSignup.validation.showErrors(tripsSignup.tripAppPage5, 'nolaSecondChoiceWorkTeam') }">
            <label for="workteam-second" class="control-label" ng-class="{'required': tripsSignup.isNola() }">Second Choice Work Team</label>

            <div class="row">
              <div class="col-sm-6">
                <select class="form-control" id="workteam-second"
                  ng-model='tripsSignup.signupService.page5.nolaSecondChoiceWorkTeam'
                  ng-required="tripsSignup.isNola()"
                  name="nolaSecondChoiceWorkTeam" >
                  <option value="" readonly disabled > Please select one </option>
                  <option ng-repeat="workTeam in signupStep.workTeams" value="{{workTeam.dp_RecordName}}">{{workTeam.dp_RecordName}}</option>
                </select>
                <ng-messages for="tripsSignup.tripAppPage5.nolaSecondChoiceWorkTeam.$error" ng-if="tripsSignup.validation.showErrors(tripsSignup.tripAppPage5, 'nolaSecondChoiceWorkTeam')">
                  <span ng-message="required">
                    <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
                  </span>
                </ng-messages>
              </div>
            </div>
          </div>

        </div>

        <div class="row">
          <div class="form-group col-sm-12" ng-class="{'has-error': tripsSignup.validation.showErrors(tripsSignup.tripAppPage5, 'tripExperience') }">
            <label for="trip-experience" class="control-label required">Describe any previous serving trip experience</label>
            <textarea ng-model="signupStep.tripExperience.notes"
                      cols="1"
                      rows="4"
                      class="form-control"
                      name="tripExperience"
                      id="trip-experience"
                      maxlength="250"
                      required
                      placeholder="Dug water wells in Nicaragua? Built houses in Appalachia? We want to hear all of the details." >
            </textarea>
            <ng-messages for="tripsSignup.tripAppPage5.tripExperience.$error" ng-if="tripsSignup.validation.showErrors(tripsSignup.tripAppPage5, 'tripExperience')">
              <span ng-message="required">
                <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
              </span>
            </ng-messages>
          </div>

          <div id="profession"
               class="form-group col-sm-12"
               ng-class="{'has-error': tripsSignup.validation.showErrors(tripsSignup.tripAppPage5, 'professionchoice') }">
            <label class="control-label required">
              Are you a professional in any of the following fields?
            </label>

            <br>

            <div class="checkbox" ng-repeat="skill in signupStep.tripSkills" >
              <label for="professional-{{skill.attributeId}}" >
                <input ng-model="skill.selected"
                       type="checkbox"
                       name="professionchoice"
                       ng-value="skill.attributeId"
                       id="professional-{{skill.attributeId}}"
                       ng-required='!tripsSignup.skillsSelected()'>
                {{ skill.name }}
              </label>
            </div><!--/checkbox-->

            <ng-messages for="tripsSignup.tripAppPage5.professionchoice.$error" ng-if="tripsSignup.validation.showErrors(tripsSignup.tripAppPage5, 'professionchoice')">
              <span ng-message="required">
                <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
              </span>
            </ng-messages>

          </div>
        </div><!--/row-->

        <button ng-click='tripsSignup.handlePageChange(6, tripsSignup.tripAppPage5)'
                class="btn btn-primary pull-right"
                ng-show="!tripsSignup.isNola()">
          Next
        </button>

        <button ng-click='tripsSignup.handleSubmit(tripsSignup.tripAppPage5)'
                class="btn btn-primary pull-right" 
                ng-show="tripsSignup.isNola()">
          <span ng-if="tripsSignup.submitting">{{ tripsSignup.page6ButtonText.processing }}</span>
          <span ng-if="!tripsSignup.submitting">{{ tripsSignup.page6ButtonText.normal }}</span>
        </button>

      </ng-form>
</div><!--/row-->
