<div >
  <ng-form name="tripsSignup.tripAppPage4" role="form" novalidate>
     <div class="row">
        <div class="col-sm-12">
          <legend>
            Trip Preferences
          </legend>
        </div><!--/col-sm-12-->

        <div class="col-md-12" ng-show="!tripsSignup.isIndia()">
          <span dynamic-content="$root.MESSAGES.TripGroupCommonName.content | html"></span>
        </div>

        <div class="form-group col-md-6" ng-show="!tripsSignup.isIndia()" ng-class="{'has-error': tripsSignup.validation.showErrors(tripsSignup.tripAppPage4, 'commonName') }">
          <label for="common-name" class="control-label">Common Name</label>
          <input ng-model="tripsSignup.signupService.page4.groupCommonName" type="text" class="form-control" name="commonName" id="common-name" placeholder="Common Name">
          <ng-messages for="tripsSignup.tripAppPage4.commonName.$error" ng-if="tripsSignup.validation.showErrors(tripsSignup.tripAppPage4, 'commonName')">
            <span ng-message="required">
              <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
            </span>
          </ng-messages>
        </div>

        <div class="col-md-12">
          <span dynamic-content="$root.MESSAGES.TripRoommate.content | html"></span>
        </div>

          <div class="form-group col-md-6">
            <label class="control-label">Who are your roommate choices?</label>
            <input ng-model="tripsSignup.signupService.page4.roommateFirstChoice" type="text" class="form-control push-half-bottom" id="roommate-one" placeholder="Roommate Name - First Choice">
            <input ng-model="tripsSignup.signupService.page4.roommateSecondChoice" type="text" class="form-control" id="roommate-two" placeholder="Roommate Name - Second Choice">
          </div>
        </div><!--/row-->

        <div class="row">
          <div class="col-md-12">
            <span dynamic-content="$root.MESSAGES.TripSupportPersonEmail.content | html"></span>
          </div>
          <div class="form-group col-sm-6" ng-class="{'has-error': tripsSignup.validation.showErrors(tripsSignup.tripAppPage4, 'supportPersonEmail') }">
            <label for="support-person-email" class="control-label">Support Person Email Address</label>
            <input
              ng-model="tripsSignup.signupService.page4.supportPersonEmail"
              type="email"
              class="form-control"
              name="supportPersonEmail"
              id="support-person-email"
              placeholder="Support Person Email Address">
            <ng-messages for="tripsSignup.tripAppPage4.supportPersonEmail.$error" ng-if="tripsSignup.validation.showErrors(tripsSignup.tripAppPage4, 'supportPersonEmail')">
              <span ng-message="email">
                <span dynamic-content="$root.MESSAGES.invalidEmail.content | html"></span>
              </span>
            </ng-messages>
          </div>
        </div><!--/row-->

        <div class="row">
          <div class="col-md-12">
            <span dynamic-content="$root.MESSAGES.TripGoGroupLeader.content | html"></span>
          </div>
          <div class="form-group col-sm-12" ng-class="{'has-error': tripsSignup.validation.showErrors(tripsSignup.tripAppPage4, 'leader') }">
            <label class="block required control-label">Would you be interested in being a GO Group Leader?</label>
            <label class="radio-inline" ng-click="isCollapsed = true">
                <input ng-model="tripsSignup.signupService.page4.interestedInGroupLeader" type="radio" value="yes" name="leader" id="leader-yes" ng-required="true">Yes
            </label>
            <label class="radio-inline" ng-click="isCollapsed = false">
                <input ng-model="tripsSignup.signupService.page4.interestedInGroupLeader" type="radio" value="no" name="leader" id="leader-no" ng-required="true">No
            </label>
            <ng-messages for="tripsSignup.tripAppPage4.leader.$error" ng-if="tripsSignup.validation.showErrors(tripsSignup.tripAppPage4, 'leader')">
              <span ng-message="required">
                <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
              </span>
            </ng-messages>
          </div>
          <div class="form-group col-sm-12" collapse="!isCollapsed" ng-class="{'has-error': tripsSignup.validation.showErrors(tripsSignup.tripAppPage4, 'whyLeader') }">
            <label for="why-go-leader" class="control-label required">Why would you like to be a GO Group Leader?</label>
            <textarea ng-model="tripsSignup.signupService.page4.whyGroupLeader" cols="1" rows="4" class="form-control" id="why-go-leader" maxlength="250" name="whyLeader" ng-required="isCollapsed"></textarea>
            <ng-messages for="tripsSignup.tripAppPage4.whyLeader.$error" ng-if="tripsSignup.validation.showErrors(tripsSignup.tripAppPage4, 'whyLeader')">
              <span ng-message="required">
                <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
              </span>
            </ng-messages>
          </div>
        </div>


        <button ng-click='tripsSignup.handlePageChange(5, tripsSignup.tripAppPage4)' class="btn btn-primary pull-right">Next</button>
    </ng-form>

</div><!--/row-->
