  <ng-form name="tripsSignup.tripAppPage2" id="tripAppPage2" novalidate>
  <fieldset>
    <div class='row' ng-show='tripsSignup.underAge()'>
      <div class="col-sm-12">
        <legend>Guardian Information</legend>
        <span dynamic-content="$root.MESSAGES.TripGuardianInformation.content | html"></span>
      </div><!--/col-sm-12-->

      <div class="form-group col-sm-6" ng-class="{'has-error': tripsSignup.validation.showErrors(tripsSignup.tripAppPage2, 'guardianFirstName') }">
        <label for='firstName' class='control-label required'> First Name </label>
        <input ng-model="tripsSignup.signupService.page2.guardianFirstName" type='text' class='form-control' name="guardianFirstName" id='guardian-first-name' placeholder='First Name' ng-required="tripsSignup.underAge()">
      </div>

      <div class="form-group col-sm-6" ng-class="{'has-error': tripsSignup.validation.showErrors(tripsSignup.tripAppPage2, 'guardianLastName') }">
        <label for='lastName' class='control-label required'> Last Name </label>
        <input ng-model="tripsSignup.signupService.page2.guardianLastName" type='text' class='form-control' name="guardianLastName" id='guardian-last-name' placeholder='Last Name' ng-required="tripsSignup.underAge()">
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <legend>Trip Information</legend>
      </div><!--/col-sm-12-->

      <div class="form-group col-sm-12" ng-class="{'has-error': tripsSignup.validation.showErrors(tripsSignup.tripAppPage2, 'tshirtSize') }">
        <label for="tshirt" class="control-label required">T-shirt Size</label>
        <select class="form-control col-sm-12"
                name="tshirtSize"
                id="tshirt"
                ng-required='true'
                ng-model="signupStep.tshirt.attribute"
                ng-options="tshirt.name for tshirt in signupStep.tshirtSizes.attributes | orderBy: 'attributeId'  track by tshirt.attributeId">
          <option value=""> -- Please Select a T-Shirt Size -- </option>
        </select>
        <ng-messages for="tripsSignup.tripAppPage2.tshirtSize.$error" ng-if="tripsSignup.validation.showErrors(tripsSignup.tripAppPage2, 'tshirtSize')">
          <span ng-message="required">
            <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
          </span>
        </ng-messages>
      </div><!--/form-group-->
    </div>

    <div class="row">
      <div class="form-group col-sm-12" ng-class="{'has-error': tripsSignup.validation.showErrors(tripsSignup.tripAppPage2, 'referral') }">
          <label class="control-label block required">How did you hear about this trip?</label>
          <label for="program" class="radio-inline">
              <input type="radio" value="program" id="program" name="referral" ng-model="tripsSignup.signupService.page2.referral" ng-required='true'>Program
          </label>
          <label for="session" class="radio-inline">
              <input type="radio" value="session" id="session" name="referral" ng-model="tripsSignup.signupService.page2.referral" ng-required='true'>Info Session
          </label>
          <label for="friend" class="radio-inline">
              <input type="radio" value="friend" id="friend" name="referral" ng-model="tripsSignup.signupService.page2.referral" ng-required='true'>Friend/Family
          </label>
          <label for="website" class="radio-inline">
              <input type="radio" value="website" id="website" name="referral" ng-model="tripsSignup.signupService.page2.referral" ng-required='true'>Website
          </label>
          <label for="other" class="radio-inline">
              <input type="radio" value="other" id="other" name="referral" ng-model="tripsSignup.signupService.page2.referral" ng-required='true'>Other
          </label>
          <ng-messages for="tripsSignup.tripAppPage2.referral.$error" ng-if="tripsSignup.validation.showErrors(tripsSignup.tripAppPage2, 'referral')">
            <span ng-message="required">
              <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
            </span>
          </ng-messages>
      </div><!--/form-group-->
    </div><!--/row-->

    <div class="row">
      <div id="Site" class="form-group col-sm-12" ng-class="{'has-error': tripsSignup.validation.showErrors(tripsSignup.tripAppPage2, 'diet') }">
        <label for="diet" class="control-label">
          Please define any dietary restrictions <small class="text-muted">If you mark yes we will do our best to be sensitive to your diet during the trip</small>        </label>
        <br>
        <div class="checkbox" ng-repeat="diet in signupStep.dietaryRestrictions" >
          <label for="diet-{{diet.attributeId}}">
            <input ng-model="diet.selected"
                   type="checkbox"
                   name="diet"
                   ng-value="diet.attributeId"
                   id="diet-{{diet.attributeId}}">
            {{diet.name}}
          </label>
        </div>

        <ng-messages for="tripsSignup.tripAppPage2.diet.$error" ng-if="tripsSignup.validation.showErrors(tripsSignup.tripAppPage2, 'diet')">
          <span ng-message="required">
            <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
          </span>
        </ng-messages>

      </div><!--/form-group-->
    </div><!--/row-->

    <div class="row">
      <div class="form-group col-sm-12">
        <label for="allergies"> Please elaborate on above restrictions or list other allergies (example: Latex, nail polish, etc.) <small class="text-muted"> Leave blank if it doesn't apply </small> </label>
          <textarea ng-model="signupStep.allergies.notes" class="form-control" rows="2" cols="1" id="allergies" maxlength="250">
          </textarea>
      </div><!--/form-group-->
    </div><!--/row-->

    <div class="row">
      <div id="Site" class="form-group col-sm-12" ng-class="{'has-error': tripsSignup.validation.showErrors(tripsSignup.tripAppPage2, 'slife') }">
        <label for="slife" class="control-label required">
          How would you define your spiritual life? <small class="text-muted"> Pick as many as you like </small>
        </label>

        <br>

        <div class="checkbox" ng-repeat="slife in signupStep.spiritualLife" >
          <label for="slife-{{slife.attributeId}}">
            <input ng-model="slife.selected"
                   type="checkbox"
                   name="slife"
                   ng-value="slife.attributeId"
                   id="slife-{{slife.attributeId}}"
                   ng-required='!tripsSignup.spiritualSelected()'>
            {{slife.name}}
          </label>
        </div>

        <ng-messages for="tripsSignup.tripAppPage2.slife.$error" ng-if="tripsSignup.validation.showErrors(tripsSignup.tripAppPage2, 'slife')">
          <span ng-message="required">
            <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
          </span>
        </ng-messages>

      </div><!--/form-group-->
    </div><!--/row-->

    <div class="row">
      <div class="form-group col-sm-12" ng-class="{ 'has-error': tripsSignup.validation.showErrors(tripsSignup.tripAppPage2, 'why') }">
          <label for="why" class="control-label required">Tell us why you want to go on this trip (Please be specific)</label>
          <textarea ng-model="tripsSignup.signupService.page2.why" ng-required="true" cols="1" rows="4" class="form-control" name="why" id="why" maxlength="1000" placeholder="{{ tripsSignup.whyPlaceholder }}"></textarea>
          <ng-messages for="tripsSignup.tripAppPage2.why.$error" ng-if="tripsSignup.validation.showErrors(tripsSignup.tripAppPage2, 'why')">
            <span ng-message="required">
              <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
            </span>
          </ng-messages>
      </div><!--/form-group-->
    </div>
  </fieldset>
  <button ng-click='tripsSignup.handlePageChange(3, tripsSignup.tripAppPage2)' class="btn btn-primary pull-right">Next</button>
</ng-form>
