<!--loop through each element in model array-->
<div class="{{hideRepeat}}">
  <div class="repeatsection" ng-repeat="element in model[options.key]" ng-init="fields = copyFields(to.fields)">
    <div class="camp-medicine-row" ng-class="{ 'camp-medicine-additional-row': $index > 0, 'camp-medicine-row-1' : $index == 0 }">
      <div class="row camp-medicine-fields">
        <formly-form fields="fields"
                     model="element"
                     form="form">
        </formly-form>
      </div>
      <span class="camp-medicine-remove">
        <a ng-click="remove($index)" ng-if="showTrash($index)" class="black">
          <svg viewBox="0 0 25 32" class="icon icon-trash-o icon-large">
            <use xlink:href="#trash-o"></use>
          </svg>
        </a>
      </span>
    </div>
    <div class="border-bottom push-half-bottom visible-xs visible-sm"></div>
  </div>
</div>

<button type="button" class="btn btn-primary" ng-click="addNew()">Add Another</button>

