<div dynamic-content="$root.MESSAGES.goVolunteerProjectPrefOneQuestion.content | html"></div>

<div class="row">
  <div class="col-xs-6 img-link" ng-repeat="item in goProjectPrefOne.projectTypes">
    <a class="push-bottom gradiant-text-background border" href="#" ng-click="goProjectPrefOne.submit(item)">
      <img src="{{item.imageUrl}}" class="img-responsive img-full-width" />
      <div class="img-link-text">
        {{item.desc}}
      </div>
      <div class="triangle">
        <span>Age {{item.minAge}}+</span>
      </div>
    </a>
  </div>
</div>
