<div class="push-top">


  <span dynamic-content="$root.MESSAGES.tripDepositDisclaimer.content | html"> </span>

  <hr>

  <p> A required deposit of <strong>{{tripDeposit.dto.amount | currency}}</strong> will be contributed to <strong>{{tripDeposit.dto.program.Name}}</strong>. 
  </p>

  <hr>

  <ng-form name="accountForm">
      <bank-credit-card-details
        dto='tripDeposit.dto'
        bank-info-submitted='tripDeposit.dto.bankinfoSubmitted'
        donor='tripDeposit.dto.donor'
        email='tripDeposit.dto.email'
        set-valid-card='setValidCard'
        set-valid-cvc='setValidCvc'
        account-state-name='tripDeposit.account' >
      </bank-credit-card-details>
  </ng-form>
  <button 
    ng-click="tripDeposit.saveApplication('submit')"
    ng-class="{disabled: tripDeposit.dto.processing}"
    ng-disabled="tripDeposit.dto.processing"
    class="btn btn-primary pull-right">
    <span ng-if="tripDeposit.dto.processing">Submiting...</span>
    <span ng-if="!tripDeposit.dto.processing">Submit Application </span>
    <span>
      <svg viewBox="0 0 32 32" class="icon-medium icon-arrow-right9">
      <use xlink:href="#arrow-right9"></use>
      </svg>
    </span>
  </button>
 </div>
