<div>
  <span>
    Thank you for your GO Trip deposit of <b>{{tripDeposit.signupService.depositAmount | currency}}</b>! A receipt has been sent to {{$root.email}}.
    <br > <br>
    The remaining amount to raise for your trip is <b>{{tripDeposit.remainingAmount() | currency}}</b>.
    <br > <br>
    Visit the <a ui-sref="mytrips"> My Trips </a>  page for more details.
    <br >
  </span>

  <preloader ng-show='tripDeposit.loading' full-screen='false'> </preloader>
  
  <family-select family-members='tripDeposit.signupService.familyMembers' show-sign-up='thankyou' ></family-select>
</div>
