<label ng-if="groupSearchFilterRenderer.value.constructor.name === 'SearchFilterValue'"
       class="checkbox-inline"
       for="{{groupSearchFilterRenderer.filter.getFilterName()}}-{{groupSearchFilterRenderer.value.getValueString()}}">
  <input ng-model="groupSearchFilterRenderer.value.selected"
         ng-value="groupSearchFilterRenderer.value.getValue()"
         ng-click="groupSearchFilterRenderer.applyFilters()"
         type="checkbox"
         id="{{groupSearchFilterRenderer.filter.getFilterName()}}-{{groupSearchFilterRenderer.value.getValueString()}}"/>
  {{groupSearchFilterRenderer.value.getName()}}<small class='text-muted' ng-if='groupSearchFilterRenderer.value.hasOptionSelectedText() && groupSearchFilterRenderer.value.isSelected()' dynamic-content='$root.MESSAGES[groupSearchFilterRenderer.value.getOptionSelectedText()].content | html'></small>
</label>
<div ng-if="groupSearchFilterRenderer.value.constructor.name !== 'SearchFilterValue'">
  <div class="group-search-filter-subheading">
    {{groupSearchFilterRenderer.value.getName()}}
  </div>
  <!--<h5>{{groupSearchFilterRenderer.value.getName()}}</h5>-->
  <div class="row push-half-bottom">
    <div ng-repeat="nested in groupSearchFilterRenderer.value.getValues()"
         class="col-xs-12 col-md-6 col-lg-4 mobile-push-half-bottom">
      <group-search-filter-renderer filter='groupSearchFilterRenderer.value' apply-filters="groupSearchFilterRenderer.applyFilters()" value="nested"></group-search-filter-renderer>
    </div>
  </div>
</div>