<span dynamic-content="$root.MESSAGES.joinGroupToolHeader.content | html"></span>

<preloader full-screen='false' ng-if="!groupInvitation.ready"> </preloader>

<div ng-if='groupInvitation.ready'>
  <div ng-if="!groupInvitation.invitationExists()">
    <div class='row'>
      <div class='col-md-12'>
        <p class='text-center' ng-if="!groupInvitation.invitationExists()">
          <div class='col-md-12' dynamic-content="$root.MESSAGES.groupToolInvitationDoesNotExist.content | html"></div>
        </p>
      </div>
    </div>
  </div>

  <div ng-if="groupInvitation.invitationExists()">
    <div class='row'>
      <div class='col-md-12' dynamic-content="$root.MESSAGES.joinGroupToolSubHeader.content | html"></div></span>
    </div>
    <div class='row'>
      <div class='col-md-12'>
        <group-detail-about data="groupInvitation.group" for-invitation="true"></group-detail-about>
      </div>
    </div>
    <div class='push-top text-center sm-text-right'>
      <!-- shows at page load and if processing a accepting -->
      <loading-button
        normal-text='Join Group'
        loading-text='Joining...'
        loading='groupInvitation.processingAccept'
        loading-class='disabled'
        input-classes='sm-pull-right btn btn-primary btn-block-mobile mobile-push-half-bottom'
        ng-click='groupInvitation.accept()'
        ng-if='(!groupInvitation.processingAccept && !groupInvitation.processingDeny) || groupInvitation.processingAccept'></loading-button>

      <!-- shows when processing a deny request -->
      <loading-button
        normal-text='Join Group'
        loading-text='Join Group'
        loading='groupInvitation.processingDeny'
        loading-class='disabled'
        input-classes='sm-pull-right btn btn-primary btn-block-mobile mobile-push-half-bottom'
        ng-click='groupInvitation.accept()'
        ng-if='!groupInvitation.processingAccept && groupInvitation.processingDeny'></loading-button>

      <!-- shows at page load and if processing a deny -->
      <loading-button
              normal-text='No Thanks'
              loading-text='Declining...'
              loading='groupInvitation.processingDeny'
              loading-class='disabled'
              input-classes='btn btn-standard btn-block-mobile mobile-push-half-bottom'
              ng-click='groupInvitation.deny()'
              ng-if='(!groupInvitation.processingAccept && !groupInvitation.processingDeny) || groupInvitation.processingDeny'></loading-button>

      <!-- shows when processing a accept request -->
      <loading-button
              normal-text='No Thanks'
              loading-text='No Thanks'
              loading='groupInvitation.processingAccept'
              loading-class='disabled'
              input-classes='btn btn-standard btn-block-mobile mobile-push-half-bottom'
              ng-click='groupInvitation.deny()'
              ng-if='groupInvitation.processingAccept && !groupInvitation.processingDeny'></loading-button>
    </div>
  </div>
</div>