<form name="contactForm.data" class="form-horizontal" ng-submit="contactForm.save()" novalidate>
  
  <div class="form-group" ng-class="{'has-error': contactForm.validation.showErrors(contactForm.data, 'eventChooser')}">
    <label for="eventChooser" class="col-sm-2 control-label required"> Event: </label>
    <div class="col-sm-9">
      <select name="eventChooser"
              id="eventChooser"
              class="form-control"
              ng-model="contactForm.formData.event"
              ng-change="contactForm.eventChanged()"
              ng-options="event as contactForm.eventDateTime(event) for event in contactForm.group.events track by event.eventId "
              required>
        <option value=""> -- Please Choose One -- </option>
      </select>
      <ng-messages for="contactForm.data.eventChooser.$error" ng-if="contactForm.validation.showErrors(contactForm.data, 'eventChooser')">
        <span ng-message="required">
          <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
        </span>
      </ng-messages>
    </div>
  </div>
 
  <div ng-show="contactForm.eventChoosen()">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="radio">
        <label>
           <input type="radio"
                  name="recipients"
                  id="recipients-current"
                  value="current"
                  ng-model='contactForm.formData.recipients'
                  ng-change="contactForm.eventChanged()">
           Current Volunteers
        </label>
      </div>

      <div class="radio">
        <label>
           <input type="radio"
                  name="recipients"
                  id="recipients-potential"
                  value="potential"
                  ng-model='contactForm.formData.recipients'
                  ng-change="contactForm.eventChanged()">
           Potential Volunteers 
        </label>
      </div>
    </div>
  </div>
  
  <preloader ng-if="contactForm.loadingTo" > </preloader>

  <div class="col-sm-12" ng-show="contactForm.showNoParticipants()">
    <div class="alert alert-warning" role="alert" > 
      There are no participants to email.  
    </div>
  </div>

  <div ng-show="contactForm.showEmailForm()">
    <div class="form-group" >
      <label for="to" class="col-sm-2 control-label"> To: </label>
      <div class="col-sm-9">
        <textarea readonly rows="6" class="form-control" name="to" ng-model='contactForm.formData.to' > </textarea>
      </div>
    </div>

    <div class="form-group" ng-class="{'has-error': contactForm.validation.showErrors(contactForm.data, 'subject')}">
      <label for="subject" class="col-sm-2 control-label required"> Subject: </label>
      <div class="col-sm-9">
        <input type="text" name="subject" class="form-control" ng-model="contactForm.formData.subject" required>
        <ng-messages for="contactForm.data.subject.$error" ng-if="contactForm.validation.showErrors(contactForm.data, 'subject')">
          <span ng-message="required">
            <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
          </span>
        </ng-messages>
      </div>
    </div>

    <div class="form-group" ng-class="{'has-error': contactForm.validation.showErrors(contactForm.data, 'body')}">
      <label for="body" class="col-sm-2 control-label required"> Body: </label>
      <div class="col-sm-9">
        <textarea rows="6" name="body" class="form-control" ng-model="contactForm.formData.body" required> </textarea>
        <ng-messages for="contactForm.data.body.$error" ng-if="contactForm.validation.showErrors(contactForm.data, 'body')">
          <span ng-message="required">
            <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
          </span>
        </ng-messages>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button class="btn btn-primary btn-sm" ng-click="contactForm.cancel()">Cancel</button>
        <input type='submit' class="btn btn-primary btn-sm"
            ng-class="{disabled: contactForm.processing}"
            ng-value="Send" >
       
      </div>
    </div>
  </div>
</form>

