<div class="dashboard-header page-header text-center">


      <profile-picture contact-id="dashboard.person.contactId"
                        wrapper-class="media-card-profile"
                        image-class=""
                        disallow-change="false">
      </profile-picture>

  <h2>
    {{dashboard.person.displayName()}}
    <small ng-if="dashboard.group">{{dashboard.group.time}}</small>
  </h2>
  <p ng-if="dashboard.group"><a href="#" class="btn btn-text" ui-sref="group_finder.dashboard">Back to My Groups</a></p>
</div>
