<h3> Emergency Contact Information </h3>

<div>
  <div class="row">
    <div class="col-sm-12">
      <legend>Parent/Guardian</legend>
      <preloader full-screen='false' ng-show='!$ctrl.viewReady'> </preloader>
      <div ng-show='$ctrl.viewReady' class="row">
        <div class="col-sm-12">
          <form ng-submit="$ctrl.submit()" novalidate name="$ctrl.emergencyContact">
            <fieldset>
              <formly-form model="$ctrl.model" fields="$ctrl.fields" options="$ctrl.options" form="$ctrl.emergencyContact">
              </formly-form>
            </fieldset>
            <button type="submit"class="btn btn-primary pull-right" ng-if="!$ctrl.submitting"> Next </button>
            <button type="submit"class="btn btn-primary pull-right disabled" disabled ng-if="$ctrl.submitting"> Submitting... </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
