<h4 class="serve-members soft-half-top soft-half-bottom">Confirmed Team Members</h4>
<div ng-repeat="role in serveTeamMembers.allMembers" class="row serve-role-members push-half-bottom">
  <div class="col-sm-3 serve-team-confirm-role">
    <strong>{{role.name}}</strong>
  </div>
  <div class="col-sm-9">
    <closable-tag ng-repeat="member in role.members | unique:'participantId'"
                  name="member.nickName +' '+ member.lastName"
                  age="member.age"
                  on-click="serveTeamMembers.memberClick(member)"
                  on-close="serveTeamMembers.memberRemove(member)"
                  class="push-half-right push-half-bottom"
                  is-leader="serveTeamMembers.isLeader"
                  opportunity-id="member.opportunityId"></closable-tag>
    <span ng-if="role.members == null || role.members.length < 1">None</span>
  </div>
</div>