<div ng-if="!applicant.allowAccess()" class="alert alert-danger" role="alert">
    <div dynamic-content="$root.MESSAGES.mptool_invalid_access.content | html"></div>
</div>

<div ng-if="applicant.allowAccess()">
    <div ng-if='applicant.showError()' class='alert alert-danger' role='alert'>
      <span dynamic-content='applicant.errorMessage.content | html'></span>
    </div>

    <preloader full-screen='true' ng-show="!applicant.viewReady"> </preloader>

    <div class='col-sm-10 col-sm-offset-1' style="overflow-y: scroll; height:40em;" ng-if='!applicant.showError() && applicant.viewReady' >
      <div>
        <h2 class='header noPspace'> Kids Club Application  </h2>

        <p id="successMessage" dynamic-content="applicant.pageInfo.success | html" ng-show="applicant.showSuccess"></p>

        <div id='adult-application' ng-if='applicant.showAdult() && !applicant.showSuccess'>
          <kids-club-adult-application volunteer='applicant.person'
                                       contact-id='applicant.params.recordId'
                                       opportunity-id='applicant.pageInfo.opportunity'
                                       response-id='applicant.responseId'
                                       show-success='applicant.showSuccess' />
        </div>

        <div id='student-application' ng-if='applicant.showStudent() && !applicant.showSuccess'>
          <kids-club-student-application volunteer='applicant.person'
                                         contact-id='applicant.params.recordId'
                                         page-info='applicant.pageInfo'
                                         response-id='applicant.responseId'
                                         show-success='applicant.showSuccess' />
        </div>

      </div>
    </div>
</div>