<div class="row">
  <!-- <div ng-show="groupsignup.viewReady"> -->
  <div class="col-sm-10 col-sm-offset-1">
      <h1 class="page-header">Go {{gotrip.friendlyPageTitle}} Signup</h1>
      <h2 class="subheading">{{gotrip.tripName}}</h2>

      <p class="text-muted flush-bottom push-top">Patricia Parker | Step 3 of 6</p>
      <progressbar class="progress" type="primary" max="100" value="40">40&#37;</progressbar>

    <form role="form">

      <div class="row" ng-show="gotrip.pageTitle != 'india'">
        <div class="col-sm-12">
          <legend>
            Lottery
          </legend>
          <p>We will use a random lottery if we have more people sign up than available spots.  While we must prepare for this, it has not happened in past years.  If we hold a lottery and you are not selected, your deposit will be refunded.</p>
        </div><!--/col-sm-12-->

        <!--CONDITION RULE: IF LOTTERY-SPOUSE OR LOTTERY-NO-SPOUSE OR LOTTERY-FAMILY OR LOTTER-NO-FAMILY ARE SELECTED, THEN MAKE COMMON-NAME REQURED. ELSE MAKE COMMON-NAME OPTIONAL.-->
        <div class="form-group col-sm-12">
          <label class="block required">Please select one choice below</label>
          <div>
            <label for="lottery-go" class="radio-inline">
                <input type="radio" value="yes" name="lottery" id="lottery-go"> As long as I am selected, I will go on the trip.
            </label>
          </div>
          <div>
            <label for="lottery-spouse" class="radio-inline">
                <input type="radio" value="no" name="lottery" id="lottery-spouse">If my spouse or any member of my family is not selected, none of us will go.
            </label>
          </div>
          <div>
            <label for="lottery-no-spouse" class="radio-inline">
                <input type="radio" value="no" name="lottery" id="lottery-no-spouse">If my spouse or any member of my family is not selected, all others will go.
            </label>
          </div>
          <div>
            <label for="lottery-family" class="radio-inline">
                <input type="radio" value="no" name="lottery" id="lottery-family">If my spouse or any member of my family OR any member of our larger group of friends is not selected, none of us will go.
            </label>
          </div>
          <div>
            <label for="lottery-no-family" class="radio-inline">
                <input type="radio" value="no" name="lottery" id="lottery-no-family"> If my spouse or any member of my fmaily OR any member of our larger group of friends is not selected, my spouse or family will still go.
            </label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <legend>
            Trip Preferences
          </legend>
        </div><!--/col-sm-12-->

        <div class="col-md-12" ng-show="gotrip.pageTitle != 'india'">
            <p>Do you have friends signing up that you would like to experience this trip with?  If yes, everyone in your group should enter a common participant name through which you have all agreed to be connected.  This is how we will know to treat you as a group.  For example, if Jim Smith, Sarah Johnson and Kerry Moore all want to travel together, they can all enter "Jim Smith" in this section and Jim will be the common link for the group. Note:  If you are the one common name, you will still need to enter your name in this section.</p>
        </div>

        <div class="form-group col-md-6" ng-show="gotrip.pageTitle != 'india'">
          <label for="common-name" class="control-label">Common Name</label>
          <input type="text" class="form-control" id="common-name" placeholder="Common Name">
        </div>

        <div class="col-md-12">
          <p>Everybody on the trip gets a roommate.  Married co-ed couples may room together, otherwise you and your significant other get split up for the trip (no shacking up on Crossroads time).</p>
        </div>

          <div class="form-group col-md-6">
            <label class="control-label">Who are your roommate choices?</label>
            <input type="text" class="form-control push-half-bottom" id="roommate-one" placeholder="Roommate Name - First Choice">
            <input type="text" class="form-control" id="roommate-two" placeholder="Roommate Name - Second Choice">
          </div>
        </div><!--/row-->

        <div class="row">
          <div class="col-md-12">
            <p>Content block explaining support person email.</p>
          </div>
          <div class="form-group col-sm-6">
            <label for="support-person-email" class="control-label">Support Person Email Address</label>
            <input type="text" class="form-control" id="support-person-email" placeholder="Support Person Email Address">
          </div>
        </div><!--/row-->

        <div class="row">
          <div class="col-md-12">
            <p>Content block explaining GO Group leader.</p>
          </div>
          <div class="form-group col-sm-12">
            <label class="block required">Would you be interested in being a GO Group Leader?</label>
            <label class="radio-inline" ng-click="isCollapsed = true">
                <input type="radio" value="yes" name="leader" id="leader-yes">Yes
            </label>
            <label class="radio-inline" ng-click="isCollapsed = false">
                <input type="radio" value="no" name="leader" id="leader-no">No
            </label>
          </div>
          <div class="form-group col-sm-12" collapse="!isCollapsed">
            <label for="why-go-leader" class="required">Why would you like to be a GO Group Leader?</label>
            <textarea cols="1" rows="4" class="form-control" id="why-go-leader" maxlength="250"></textarea>
          </div>
        </div>


        <a ui-sref="go-trip-signup-page-4({trip_location: gotrip.pageTitle})" class="btn btn-primary pull-right">Next</a>
        <a ui-sref="go-trip-signup-page-2({trip_location: gotrip.pageTitle})" class="btn btn-standard pull-right">Back</a>
      </form>

  </div>
</div><!--/row-->
