<!-- <div ng-show="groupsignup.viewReady"> -->
<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <h1 class="page-header">Go {{gotrip.friendlyPageTitle}} Signup</h1>
    <h2 class="subheading">{{gotrip.tripName}}</h2>

    <p class="text-muted flush-bottom push-top">Patricia Parker | Step 1 of 6</p>
    <progressbar class="progress" type="primary" max="100" value="0">0&#37;</progressbar>

    <form role="form">
      <legend>Update Profile Information</legend>
      <div class="row">
          <div class="form-group col-sm-6">
              <label for="firstname" class="required">First Name</label>
              <input type="text" class="form-control" id="firstname" placeholder="Enter first name" ng-model="contact.firstName">
          </div>

          <div class="form-group col-sm-6">
              <label for="middlename">Middle Name</label>
              <input type="text" class="form-control" id="middlename" placeholder="Enter middle name" ng-model="contact.middleName">
          </div>

          <div class="form-group col-sm-6">
              <label for="lastname" class="required">Last Name</label>
              <input type="text" class="form-control" id="lastname" placeholder="Enter last name" ng-model="contact.lastName">
          </div>

          <div class="form-group col-sm-6">
              <label for="maidenname">Maiden Name</label>
              <input type="text" class="form-control" id="maidenname" placeholder="Enter maiden name">
          </div>

          <div class="form-group col-sm-6">
              <label for="nickname">Preferred Name <small class="text-muted">Example: Chris instead of Christopher</small>
              </label>
              <input type="text" class="form-control" id="nickname" placeholder="Enter nick name" ng-model="contact.nickname">
          </div>
      </div>

      <div class="row">
          <div class="form-group col-sm-6">
              <label for="email" class="required">Email</label>
              <input type="email" class="form-control" id="email" name="email" placeholder="Enter email address" ng-model="contact.emailAddress">
          </div>

          <!--HIDE THIS FIELD WHEN PRESENTED ON THE GO TRIP APPLICATION. ASSUMING WE CAN PASS THIS THROUGH THE DIRECTIVE
          <div class="form-group col-sm-6">
              <label for="password">Change Password</label>
              <div class="input-group">
                  <input type="password" class="form-control" id="password" name="password" ng-model="fields.password" value="testpassword" />
                  <!--<input type="text" class="form-control" id="password-clear" name="password" ng-model="fields.password" ng-if="showPassword" value="testpassword" />
                  <span class="input-group-addon">
            <label>
              <input type="checkbox" ng-click="showPassword = !showPassword" id="password-show"> Show
            </label>
          </span>
              </div>
              <!-- /input-group
          </div>
          -->
      </div>


      <div class="row">
          <div class="form-group col-sm-6" ng-controller="crdsDatePickerCtrl">
              <label for="date-of-birth" class="control-label required">Birth Date</label>
              <input type="text" class="form-control" id="date-of-birth" placeholder="mm/dd/yyyy" ng-required="true">
          </div>
      </div>

      <div class="row">
          <div class="form-group col-sm-6">
              <label for="marital-status">Marital Status</label>
              <select id="marital-status" class="form-control col-sm-12" ng-model="contact.maritalStatusId" ng-options="status.dpRecordid as status.dpRecordname for status in maritalStatuses">
              </select>
          </div>

          <div class="form-group col-sm-6">
              <label class="block required">Gender</label>
              <!--<label class="radio-inline" ng-repeat="gender in genders">-->
              <!--<input type="radio" id="gender" ng-value="gender.dpRecordid" ng-model="contact.genderId"> {{ gender.dpRecordname }}-->
              <label class="radio-inline" for="gender-male">
                  <input type="radio" value="male" name="gender" id="gender-male">Male
              </label>
              <label class="radio-inline" for="gender-female">
                  <input type="radio" value="female" name="gender" id="gender-female">Female
              </label>
          </div>
      </div>

      <div class="row">
          <div class="form-group col-sm-6">
              <label for="employer">Employer</label>
              <input type="text" class="form-control" id="employer" placeholder="Enter employer">
          </div>
      </div>

      <div class="row">
          <div class="form-group col-sm-6" ng-controller="crdsDatePickerCtrl">
              <label class="control-label" for="anniversary-date">When did you start attending Crossroads?</label>
              </span>
              <input type="text" class="form-control" id="anniversary-date" placeholder="mm/yyyy" ng-model="contact.anniversaryDate">
          </div>
      </div>

      <div class="row">
          <div class="form-group col-sm-6">
              <label for="mobile" class="required">Mobile Phone</label>
              <div class="small inline bold">
                  <span ng-show="phoneToggle" class="link-styling" ng-click="phoneToggle = !phoneToggle">Don't have a mobile phone?</span>
                  <span ng-show="!phoneToggle" class="text-muted">Edit your household phone <a class="pointer" ng-click="householdPhoneFocus()">here</a>.</span>
              </div>
              <input type="text" class="form-control" id="mobile" placeholder="Enter mobile phone" ng-model="contact.mobilePhone">
          </div>

          <div class="form-group col-sm-6">
              <label for="provider">Service Provider</label>
              <select class="form-control col-sm-12" id="provider">
                  <option></option>
              </select>
          </div>

          <div class="form-group col-sm-12">
            <label class="block required" for="profile-photo">Profile Photo</label>
            <a class="profile-pic col-sm-2 col-xs-6" href=""> <img class="profile-image pull-left img-square img-responsive imgix-fluid" data-src="//crossroads-media.imgix.net/images/avatar.svg" src="//crossroads-media.imgix.net/images/avatar.svg" alt="Profile Default Photo">
            <span class="change-photo">Change Photo</span> </a>
          </div>

      </div>

      <div class="row">
          <fieldset>

              <div class="col-sm-12">
                  <legend>Your Household</legend>
                  <p>Update information for your household, which includes:
                      <br />
                      <strong>Tate Lucas</strong>, <strong>Christy Lucas</strong>, <strong>Sadie Lucas</strong>, <strong>Simon Lucas</strong>
                  </p>

                  <div class="panel panel-default clearfix">
                      <div class="panel-heading address-panel-heading clearfix" ng-click="isCollapsed = !isCollapsed">
                          <div class="row">
                              <a ng-click="isCollapsed = !isCollapsed" href="#" class="address-show" ng-show="isCollapsed">
                                  <svg viewBox="0 0 32 32" class="icon icon-pencil4">
                                      <use xlink:href="#pencil4"></use>
                                  </svg>
                              </a>
                              <a ng-click="isCollapsed = !isCollapsed" href="#" class="address-show" ng-show="!isCollapsed">
                                  <svg viewBox="0 0 18 32" class="icon icon-caret-up">
                                      <use xlink:href="#caret-up"></use>
                                  </svg>
                              </a>
                              <div class="col-md-7">
                                  <svg viewBox="0 0 32 32" class="icon icon-home">
                                      <use xlink:href="#home"></use>
                                  </svg>3727 Hyde Park Ave, Cincinnati, OH 45209</div>
                              <div class="col-md-2">
                                  <svg viewBox="0 0 32 32" class="icon icon-phone3">
                                      <use xlink:href="#phone3"></use>
                                  </svg>(513) 258-5827</div>
                              <div class="col-md-3">
                                  <svg viewBox="0 0 32 32" class="icon icon-crossroads">
                                      <use xlink:href="#crossroads"></use>
                                  </svg>Crossroads Oakley
                              </div>
                          </div>
                          <!--/row-->
                      </div>
                      <!--/panel-heading-->

                      <div class="address-panel-body panel-body clearfix" collapse="!isCollapsed">
                          <div class="col-sm-12">
                              <form role="form" ng-controller="crdsProfileHousehold">
                                  <fieldset class="row">
                                      <ul class="list-group clearfix">
                                          <li class="list-group-item clearfix">
                                              <div class="form-group col-sm-6">
                                                  <label for="street" class="required">Street</label>
                                                  <input ng-model="address.addressLine1" type="text" class="form-control" id="street" placeholder="Enter street address">
                                              </div>

                                              <div class="form-group col-sm-6">
                                                  <label for="street2">Street 2</label>
                                                  <input ng-model="address.addressLine2" type="text" class="form-control" id="street2" placeholder="Enter street address (cont.)">
                                              </div>

                                              <div class="form-group col-sm-6">
                                                  <label for="city" class="required">City</label>
                                                  <input ng-model="address.city" type="text" class="form-control" id="city" placeholder="Enter city">
                                              </div>

                                              <div class="form-group col-sm-6">
                                                  <label for="state" class="required">State</label>
                                                  <select ng-model="address.state__Region" ng-options="state.stateAbbreviation as state.stateAbbreviation for state in states" class="form-control col-sm-12" id="state">
                                                  </select>
                                              </div>

                                              <div class="form-group col-sm-6">
                                                  <label for="zip" class="required">Zip</label>
                                                  <input ng-model="address.postalCode" type="text" class="form-control" id="zip" placeholder="Enter zip code">
                                              </div>

                                              <div class="form-group col-sm-6">
                                                  <label for="county">County</label>
                                                  <input ng-model="address.county" type="text" class="form-control" id="county" placeholder="Enter county">
                                              </div>

                                              <div class="form-group col-sm-6">
                                                  <label for="country" class="required">Country</label>
                                                  <select ng-model="countryObj" ng-change="setCountry()" ng-options="country as country.dpRecordname for country in countries track by country.dpRecordname" class="form-control col-sm-12" id="country">
                                                  </select>
                                              </div>
                                          </li>
                                          <li class="list-group-item clearfix">
                                              <div class="form-group col-sm-6" id="homephonecont">
                                                  <label for="homephone">Home Phone</label>
                                                  <input ng-model="household.homePhone" type="text" class="form-control" id="homephone" placeholder="Enter home phone">
                                              </div>
                                          </li>
                                          <li class="list-group-item clearfix">
                                              <div id="site" class="form-group col-sm-6">
                                                  <label for="provider" class="required">Crossroads Site</label>
                                                  <select class="form-control col-sm-12" ng-model="household.congregationId" ng-options="congregation.dpRecordid as congregation.congregationName for congregation in congregations" id="site">
                                                  </select>
                                              </div>
                                          </li>
                                      </ul>
                                  </fieldset>
                              </form>
                          </div>
                          <!--/col-sm-12-->
                      </div>
                      <!--/panel-body-->
                  </div>
                  <!--/panel-->

              </div>
              <!--/col-sm-12-->
          </fieldset>
        </div>
        <!--/row-->
        <div class="row">
          <fieldset>
            <div class="col-sm-12">
              <legend>Trip Information</legend>
            </div><!--/col-sm-12-->
            <div class="form-group col-sm-6">
              <label for="tshirt" class="required">T-shirt Size</label>
              <select class="form-control col-sm-12" ng-model="attribute" id="tshirt">
              </select>
            </div><!--/form-group-->

            <div class="form-group col-sm-6" ng-show="gotrip.pageTitle == 'south-africa'">
              <label for="scrub">Scrub Size <small class="text-muted">Only required for Topsy trips</small></label>
              <select class="form-control col-sm-12" ng-model="attribute" id="scrub">
              </select>
            </div><!--/form-group-->

            <div class="form-group col-sm-12">
                <label class="block required">How did you hear about this trip?</label>
                <label for="program" class="radio-inline">
                    <input type="radio" value="program" id="program" name="referral">Program
                </label>
                <label for="session" class="radio-inline">
                    <input type="radio" value="session" id="session" name="referral">Info Session
                </label>
                <label for="friend" class="radio-inline">
                    <input type="radio" value="friend" id="friend" name="referral">Friend/Family
                </label>
                <label for="website" class="radio-inline">
                    <input type="radio" value="website" id="website" name="referral">Website
                </label>
                <label for="other" class="radio-inline">
                    <input type="radio" value="other" id="other" name="referral">Other
                </label>
            </div><!--/form-group-->

          </div><!--/row-->
          <div class="row">
            <div class="form-group col-sm-12">
                <label for="conditions">Please describe any medical condition(s) that may affect your ability to participate in this trip <small class="text-muted">Leave blank if it doesn't apply</small></label>
                <textarea class="form-control" rows="2" cols="1" id="conditions" maxlength="250"></textarea>
            </div><!--/form-group-->
          </div><!--/row-->
          <div class="row">
            <div class="form-group col-sm-12">
                <label class="block required">Vegetarian? <small class="text-muted">If you mark yes we will do our best to provide vegetarian meals during the trip</small></label>
                <label for="vegetarian-yes" class="radio-inline">
                    <input type="radio" value="yes" name="vegetarian" id="vegetarian-yes">Yes
                </label>
                <label for="vegetarian-no" class="radio-inline">
                    <input type="radio" value="no" name="vegetarian" for="vegetarian-no">No
                </label>
            </div><!--/form-group-->
          </div><!--/row-->
          <div class="row">
            <div class="form-group col-sm-12">
                <label for="allergies">Please describe all food allergies <small class="text-muted">Leave blank if it doesn't apply</small</label>
                <textarea class="form-control" rows="2" cols="1" id="allergies" maxlength="250"></textarea>
            </div><!--/form-group-->
          </div><!--/row-->
          <div class="row">
            <div id="Site" class="form-group col-sm-6">
              <label for="slife" class="required">How would you define your spiritual life? <small class="text-muted">Pick as many as you like</small></label><br>

              <div class="checkbox"> <label for="slife-searching"> <input type="checkbox" name="slife" value="Searching" id="slife-searching"> Searching for answers </label> </div>
              <div class="checkbox"> <label for="slife-received"> <input type="checkbox" name="slife" value="Received" id="slife-received"> I have received Jesus </label> </div>
              <div class="checkbox"> <label for="slife-obedience"> <input type="checkbox" name="slife" value="Obedience" id="slife-obedience"> Focusing on obedience - I've quit negotiating with God </label> </div>
              <div class="checkbox"> <label for="slife-replicating"> <input type="checkbox" name="slife" value="Replicating" id="slife-replicating"> I'm actively replicating my faith in others </label> </div>

            </div><!--/form-group-->
          </div><!--/row-->
          <div class="row">
            <div class="form-group col-sm-12">
                <label for="why" class="required">Tell us why you want to go on this trip</label>
                <textarea cols="1" rows="4" class="form-control" id="why" maxlength="1000" placeholder="{{gotrip.whyPlaceholder}}"></textarea>
            </div><!--/form-group-->
          </fieldset>
        </div><!--/row-->
        <a ui-sref="go-trip-signup-page-2({trip_location: gotrip.pageTitle})" class="btn btn-primary pull-right">Next</a>
    </form>

  </div><!--/col-sm-12-->
</div><!--/row-->
