<div class="row">
  <!-- <div ng-show="groupsignup.viewReady"> -->
  <div class="col-sm-10 col-sm-offset-1">
      <h1 class="page-header">Go {{gotrip.friendlyPageTitle}} Signup</h1>
      <h2 class="subheading">{{gotrip.tripName}}</h2>

      <p class="text-muted flush-bottom push-top">Patricia Parker | Step 4 of 6</p>
      <progressbar class="progress" type="primary" max="100" value="60">60&#37;</progressbar>


      <div ng-show="gotrip.pageTitle == 'nicaragua'">
        <legend>
          Child Sponsorship
        </legend>

        <div class="row">
          <div class="form-group col-sm-12">
            <label class="block required">Have you sponsored a child through Crossroads in Nicaragua?</label>
            <label class="radio-inline" ng-click="isCollapsed = true">
                <input type="radio" value="yes" name="leader" id="sponsor-yes">Yes
            </label>
            <label class="radio-inline" ng-click="isCollapsed = false">
                <input type="radio" value="no" name="leader" id="sponsor-no">No
            </label>
          </div>
          <div class="form-group col-sm-6" collapse="!isCollapsed">
            <label for="sponsor-firstname" class="required">Child's First Name</label>
            <input type="text" class="form-control" id="sponsor-firstname" placeholder="Enter sponsored child's first name">
          </div>
          <div class="form-group col-sm-6" collapse="!isCollapsed">
            <label for="sponsor-lastname" class="required">Child's Last Name</label>
            <input type="text" class="form-control" id="sponsor-lastname" placeholder="Enter sponsored child's last name">
          </div>
          <div class="form-group col-sm-6" collapse="!isCollapsed">
            <label for="sponsor-number" class="required">Child's Sponsorship Number</label>
            <input type="text" class="form-control" id="sponsor-number" placeholder="Enter sponsored child's number">
          </div>
        </div>
      </div><!--/#child sponsor-->


      <legend>
        Skills &amp; Experience
      </legend>

      <form role="form">

        <div class="row" ng-show="gotrip.pageTitle == 'nola'">
          <div class="form-group col-sm-12">
            <label for="workteam-first">First Choice Work Team <span class="small text-muted">Kids traveling must be on the same work team as at least one parent.</span></label>

            <div class="row">
              <div class="col-sm-6">
                <select class="form-control" id="workteam-first">
                  <option></option>
                  <option>Aftercare</option>
                  <option>Church Relations</option>
                  <option>Construction</option>
                  <option>Dental</option>
                  <option>Gardening</option>
                  <option>General</option>
                  <option>Habitat</option>
                  <option>Habitat (must be 16 or older)</option>
                  <option>Hands on - Neighborhood Restoration</option>
                  <option>Kids</option>
                  <option>Photo</option>
                  <option>Schools (Clean up, painting, etc)</option>
                  <option>Vacation Bible Camp</option>
                  <option>VBC</option>
                  <option>VBS</option>
                </select>
              </div>
            </div>

          </div>

          <div class="form-group col-sm-12">
            <label for="workteam-experience" class="required">Please describe your experience in this area</label>
            <textarea cols="1" rows="4" class="form-control" id="workteam-experience" maxlength="250"></textarea>
          </div>

          <div class="form-group col-sm-12">
            <label for="workteam-second">Second Choice Work Team</label>

            <div class="row">
              <div class="col-sm-6">
                <select class="form-control" id="workteam-second">
                  <option></option>
                  <option>Aftercare</option>
                  <option>Church Relations</option>
                  <option>Construction</option>
                  <option>Dental</option>
                  <option>Gardening</option>
                  <option>General</option>
                  <option>Habitat</option>
                  <option>Habitat (must be 16 or older)</option>
                  <option>Hands on - Neighborhood Restoration</option>
                  <option>Kids</option>
                  <option>Photo</option>
                  <option>Schools (Clean up, painting, etc)</option>
                  <option>Vacation Bible Camp</option>
                  <option>VBC</option>
                  <option>VBS</option>
                </select>
              </div>
            </div>
          </div>

        </div>

        <div class="row">
          <div class="form-group col-sm-12">
            <label for="trip-experience" class="required">Describe any previous serving trip experience</label>
            <textarea cols="1" rows="4" class="form-control" id="trip-experience" maxlength="250" placeholder="Dug water wells in Nicaragua? Built houses in Appalachia? We want to hear all of the details." ></textarea>
          </div>
          <div id="profession" class="form-group col-sm-12">
            <label class="required">Are you a professional in any of the following fields?</label><br>

            <div class="checkbox">
              <label for="profession-business">
                <input type="checkbox" name="professionchoice" value="business" id="profession-business"> Business
              </label>
            </div><!--/checkbox-->

            <div class="checkbox">
              <label for="profession-construction">
                <input type="checkbox" name="professionchoice" value="construction" id="profession-construction"> Construction
              </label>
            </div><!--/checkbox-->

            <div class="checkbox">
              <label for="profession-dental">
                <input type="checkbox" name="professionchoice" value="dental" id="profession-dental"> Dental
              </label>
            </div><!--/checkbox-->

            <div class="checkbox">
              <label for="profession-education">
                <input type="checkbox" name="professionchoice" value="education" id="profession-education"> Education
              </label>
            </div><!--/checkbox-->

            <div class="checkbox">
              <label for="profession-it">
                <input type="checkbox" name="professionchoice" value="it" id="profession-it"> IT
              </label>
            </div><!--/checkbox-->

            <div class="checkbox">
              <label for="profession-media">
                <input type="checkbox" name="professionchoice" value="media" id="profession-media"> Media/Journalism
              </label>
            </div><!--/checkbox-->

            <div class="checkbox">
              <label for="profession-medical">
                <input type="checkbox" name="professionchoice" value="medical" id="profession-medical"> Medical
              </label>
            </div><!--/checkbox-->

            <div class="checkbox">
              <label for="profession-music">
                <input type="checkbox" name="professionchoice" value="music" id="profession-music"> Music
              </label>
            </div><!--/checkbox-->

            <div class="checkbox">
              <label for="profession-photo">
                <input type="checkbox" name="professionchoice" value="photography" id="profession-photo"> Photography
              </label>
            </div><!--/checkbox-->

            <div class="checkbox">
              <label for="profession-medical">
                <input type="checkbox" name="professionchoice" value="social" id="profession-social"> Social Worker/Counselor
              </label>
            </div><!--/checkbox-->

            <div class="checkbox">
              <label for="profession-medical">
                <input type="checkbox" name="professionchoice" value="student" id="profession-student"> Student
              </label>
            </div><!--/checkbox-->

            <div class="checkbox">
              <label for="profession-other">
                <input type="checkbox" name="professionchoice" value="other" id="profession-other"> Other
              </label>
            </div><!--/checkbox-->

          </div>
        </div><!--/row-->

        <a ui-sref="go-trip-signup-page-5({trip_location: gotrip.pageTitle})" class="btn btn-primary pull-right" ng-show="gotrip.pageTitle != 'nola'">Next</a>
        <a ui-sref="go-trip-signup-page-confirmation({trip_location: gotrip.pageTitle})" class="btn btn-primary pull-right" ng-show="gotrip.pageTitle == 'nola'">Submit Application</a>
        <a ui-sref="go-trip-signup-page-3({trip_location: gotrip.pageTitle})" class="btn btn-standard pull-right">Back</a>
      </form>
  </div>
</div><!--/row-->
