<div ng-if="!contact.allowAccess()" class="alert alert-danger" role="alert">
  <div dynamic-content="$root.MESSAGES.mptool_invalid_access.content | html"></div>
</div>

<div ng-if="contact.allowAccess()">
  <preloader full-screen='true' ng-show="!contact.viewReady"> </preloader>

  <div ng-if="contact.viewReady && contact.showError()" class="alert alert-danger" role="alert">
    <div dynamic-content="$root.MESSAGES.mptool_access_error.content | html"></div>
  </div>

  <div class='col-sm-10 col-sm-offset-1'
              style="overflow-y: scroll; height:40em;"
              ng-if='contact.viewReady && !contact.multipleRecordsSelected'>
    <div>
      <h2 class='header noPspace'> Contact Volunteers for {{contact.group.groupName}} </h2>
      <volunteer-contact-form group='contact.group' ng-show="contact.group.events.length > 0" > </volunteer-contact-form>
      <div class="alert alert-warning" role="alert" ng-show="contact.group.events.length < 1">
        There are no upcoming events for this group.
      </div>
    </div>
  </div>
</div>