<!DOCTYPE html>
<html lang="en">

  <script·src="https://use.typekit.net/ccb3vpa.js"></script>
  <script>try{Typekit.load({·async:·true·});}catch(e){}</script>
  <link rel="stylesheet" href="<%= static_path(@conn, "/css/main.css") %>">
