<%= render CrossroadsInterface.SharedView, "header.html", %{content_blocks: @content_blocks, conn: @conn } %>

  <div class="container main animated fadeIn">
    <div class="row">
      <div class="col-md-12">
        <%= if( assigns[:payload]) do %>
          <%= raw(assigns[:payload]) %>
        <% end %>
      </div>
    </div>
  </div>
<%= render CrossroadsInterface.SharedView, "footer.html", %{content_blocks: @content_blocks } %>
