<div class="group-profile">
  <header>
    <div class="media">
      <div class="media-left">
        <img ng-if="displayDefaultGroup || !group.editProfilePicture" class="media-object img-circle" ng-src="{{getProfileImage()}}" alt="Profile Photo" err-src="{{getDefaultImage()}}"/>
        <profile-picture ng-if="!displayDefaultGroup && group.editProfilePicture"
                         contact-id="group.contactId"
                         wrapper-class="group-profile-picture"
                         image-class="pull-left img-responsive img-circle"
                         button-text="Change"></profile-picture>
      </div>
      <div class="media-body">
        <p class="group-type text-uppercase"><strong>{{group.groupType}}</strong></p>
        <h4 class="media-heading">{{group.groupTitle}}</h4>
        <ul class="list-unstyled">
          <li class="downcase">{{group.time}}</li>
          <li>{{getGroupDistance()}}</li>
        </ul>
      </div>
    </div>
  </header>
  <div>
    <p>{{group.description}}</p>
    <hr />
    <div class="row">
      <div class="col-xs-6">
        <ul class="list-unstyled">
          <li ng-repeat="affinity in group.attributes">
            <svg ng-if="affinity.indexOf('kids')!==-1" viewBox="0 0 20 28" class="icon icon-child"><use xlink:href="#child"></use></svg>
            <svg ng-if="affinity.indexOf('cat')!==-1||affinity.indexOf('dog')!==-1" viewBox="0 0 26 28" class="icon icon-paw"><use xlink:href="#paw"></use></svg>
            {{affinity}}
          </li>
        </ul>
      </div>
      <div class="col-xs-6">
        <p><a ng-if="group.id" ui-sref="group_finder.invitation({groupId: group.id})" class="pull-right btn btn-primary">Join Group</a></p>
      </div>
    </div>
  </div>
</div>
