<div class="push-top">
    <div class="form-group">
        <div class="btn-group btn-group-justified" role="group" ng-show="!give.activeSession()">
            <a type="button" class="btn btn-default" role="button" ng-click="give.service.goToLogin()">Sign In</a>
            <a type="button" class="btn btn-default active" role="button">Give as Guest</a>
        </div>
    </div>

    <hr ng-if="!give.activeSession()">
      <p id="giveInfo">You are giving <strong>{{give.dto.amount | currency}}</strong>  to <strong>{{give.dto.program['Name']}}</strong>. <a href="" ng-click="give.service.processChange()" tabindex="-1" class="text-secondary">Change</a></p>
    <hr>

    <ng-form name="accountForm">
	    <div
	        class="form-group"
	        ng-if="!give.activeSession()"
	        ng-class="{'has-error': accountForm.email_field.email.$invalid && give.dto.bankinfoSubmitted }">
	        <label for="email">Email</label>
	        <email-field
	            email="give.dto.email"
	            submitted="give.dto.bankinfoSubmitted"
	            prefix="give.emailPrefix"
	            on-email-not-found="give.onEmailNotFound"
	            on-email-found="give.onEmailFound"
	            validate-unique="false"
	            check-unique="true"
	            focused="true">
	        </email-field>
	    </div>

	    <div id="existingEmail" growl inline="true" reference="{{give.emailAlreadyRegisteredGrowlDivRef}}" limit-messages="1"></div>
	    <bank-credit-card-details
        dto='give.dto'
        bank-info-submitted='give.dto.bankinfoSubmitted'
        donor='give.dto.donor'
        email='give.dto.email'
        set-valid-card='setValidCard'
        set-valid-cvc='setValidCvc'
        account-state-name='give.account'>
      </bank-credit-card-details>
	</ng-form>
    <button id="confirmGift" ng-click="give.service.submitBankInfo(give.giveForm, give.programsInput)" ng-disabled="give.dto.processing" class="btn btn-primary btn-lg btn-block-mobile give-button">
      <span ng-if="give.dto.processing">Giving...</span>
      <span ng-if="!give.dto.processing">Give {{give.dto.amount | currency}}</span>
      <span>
        <svg viewBox="0 0 32 32" class="icon-medium icon-arrow-right9">
	      <use xlink:href="#arrow-right9"></use>
        </svg>
      </span>
    </button>
 </div>
