<div class="form-group">
  <div class="push-top push-bottom">
      <h4>Thank You</h4>
      <p id="giveThanks">Thank you for your <strong>{{give.dto.amount | currency}}</strong> gift to <strong>{{give.dto.program['Name']}}</strong><span ng-if="!give.dto.mockPledge">!</span>
        <span ng-if="give.dto.mockPledge">
            <!-- TEMPORARY - if this is towards a specific commitment, we want to put the commitment owner's full name here to make it clear who it's going to -->
            towards <strong>First Last's</strong> commitment!
        </span>
        A receipt has been sent to <strong>{{give.dto.email}}</strong>.
      </p>
      <br />
      <section ng-if="give.dto.program.AllowRecurringGiving">
          <a id="makeRecurring" href="" ng-click="give.service.convertToRecurring()">Make this gift recurring</a>
      </section>
  </div>
</div>
