<div class="form-group">
  <div class="push-top push-bottom">
      <h4>Confirm Gift</h4>
      <p id="giveInfo">You are giving <strong>{{give.dto.amount | currency}}</strong> to <strong>{{give.dto.program['Name']}}</strong> with <svg viewBox="0 0 160 100" class="icon icon-cc_visa confirm-cc-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{give.dto.brand}}"></use></svg> ending in <strong>{{give.dto.last4}}</strong><span ng-if="!give.dto.mockPledge">.</span>
        <span ng-if="give.dto.mockPledge">
            <!-- TEMPORARY - if this is towards a specific commitment, we want to put the commitment owner's full name here to make it clear who it's going to -->
            towards <strong>First Last's</strong> commitment.
        </span>&nbsp;
      <a href="" ng-click="give.service.goToChange()" tabindex="-1" class="text-secondary">Change</a>
  </div>
      <button id="confirmGift" ng-click="give.service.confirmDonation(give.programsInput)" ng-disabled="give.dto.processing" class="btn btn-primary btn-lg btn-block-mobile give-button" autofocus>
        <span ng-if="give.dto.processing">Giving...</span>
        <span ng-if="!give.dto.processing">Give {{give.dto.amount | currency}}</span>
        <svg viewBox="0 0 32 32" class="icon-medium icon-arrow-right9">
	      <use xlink:href="#arrow-right9"></use>
        </svg>
      </button>
</div>
