<div class="form-group">
	<donation-details amount="give.dto.amount"
                    program="give.dto.program"
                    show-frequency-option='false'
                    amount-submitted="give.dto.amountSubmitted"
                    programs-in="give.programsInput">
	</donation-details>
	<bank-credit-card-details
        dto='give.dto'
        bank-info-submitted='give.dto.bankinfoSubmitted'
        show-check-class='give.showCheckClass'
        show-message='give.showMessage'
        donor='give.dto.donor'
        email='give.dto.email'
        set-valid-card='setValidCard'
        set-valid-cvc='setValidCvc'
        account-state-name='give.account'>
  </bank-credit-card-details>
	<button id="confirmGift" ng-click="give.service.submitChangedBankInfo(give.giveForm, give.programsInput)" ng-disabled="give.dto.processing" class="btn btn-primary btn-lg btn-block-mobile give-button">
		<span ng-if="give.dto.processing">Giving...</span>
		<span ng-if="!give.dto.processing">Give {{give.dto.amount | currency}}</span>
        <svg viewBox="0 0 32 32" class="icon-medium icon-arrow-right9">
	      <use xlink:href="#arrow-right9"></use>
        </svg>
	</button>
</div>
