<div class="group-card-panel panel panel-default is-flex flex-col flex-grow" >
  <!-- don't make everything spin -->

  <div class="panel-heading">
    <div class="row">
      <div class="col-lg-9 col-md-8 col-sm-10 col-xs-9">
        <h3 class="panel-title tight-line-height">
          {{campCard.campTitle}}
        </h3>
      </div>
    </div>
  </div>
  <div class="group-card-body panel-body flex-grow">
    <label class="flush-bottom">Attending</label>
    <div class="tight-line-height"> {{campCard.attendee}} </div>

    <label class="flush-bottom push-half-top">Date</label>
    <div> {{campCard.formatDate()}} </div>

    <label class="flush-bottom push-half-top"> Amount Due </label>
    <div> {{campCard.formatAmountDue()}} </div>

    <div class="group-card-buttons push-half-top">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div>
            <button type='button' class="btn btn-primary btn-block push-half-top" ng-class="{ 'disabled': campCard.isPaidInFull }" ng-click="campCard.makePayment()" ng-disabled="campCard.isPaidInFull">
              <svg viewBox="0 0 32 32" class="icon icon-dollar">
                <use xlink:href="#dollar"></use>
              </svg>
              Make a Payment
            </button>
          </div>
        </div>

        <div class="col-md-6 col-sm-12">
          <button type="button" class="btn btn-primary btn-block push-half-top" ng-click="campCard.updateMedical()" >
            <svg viewBox="0 0 32 32" class="icon icon-medkit">
              <use xlink:href="#medkit"></use>
            </svg>
            Update Medical Info
          </button>
        </div>

      </div>
    </div>
  </div>
  <div class="panel-footer">
    <div class="row">
      <div class="col-lg-9">
        <p><small>If your child can no longer attend camp, please contact {{campCard.campPrimaryContact}}</small></p>
      </div>
    </div>
  </div>
</div>
