<section class="navbar-section" id="countdown">
  <div class="container animated fadeIn">
    <div class="btn see-schedule" ng-click="countdown.scrollToSchedule()">
      See Schedule
      <svg class="icon icon-arrow-down9" viewBox="0 0 32 32">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-down9"></use>
      </svg>
    </div>
    <div class="upcoming animated fadeIn">
      <div ng-if="countdown.countdownService.isCountdown" class="countdown">
        <div class="countdown__timer">
          <i class="countdown__text">Join the live stream in...</i>

          <ul class="list-inline">
            <li><strong>{{ countdown.countdownService.countdown.days }}</strong> <small>days</small></li>
            <li class="vr"></li>
            <li><strong>{{ countdown.countdownService.countdown.hours }}</strong> <small>hours</small></li>
            <li class="vr"></li>
            <li><strong>{{ countdown.countdownService.countdown.minutes }}</strong> <small>min</small></li>
            <li class="vr"></li>
            <li><strong>{{ countdown.countdownService.countdown.seconds }}</strong> <small>sec</small></li>
          </ul>
        </div>

        <a href="#" class="btn btn-sm btn-reminder" ng-click="countdown.openReminder()">Remind Me</a>
      </div>
      <div ng-if="countdown.countdownService.isBroadcasting" class="in-progress">
        <i>Live stream in progress...</i> <a class="btn btn-sm" href="/live/stream">Watch Now</a>
      </div>
    </div>
    <streaming-reminder>
    </streaming-reminder>
  </div>
</section>
