<div dynamic-content="$root.MESSAGES.goVolunteerChildrenCountQuestion.content | html"></div>

<div class="row">
  <div class="col-xs-12 soft-half-bottom" ng-repeat="item in goChildrenCount.childrenOptions">
    <h-number value="item.value" singular="{{item.singularLabel}}" plural="{{item.pluralLabel}}" min="0" max="15" step="1"></h-number>
  </div>
</div>
<hr />
<h3 class="push-bottom text-center">
  <strong>{{ goChildrenCount.totalChildren() }}</strong> Total</h3>
<div class="row">
  <div class="col-xs-12">
    <button type="submit" class="btn btn-block btn-primary-gc" ng-click='goChildrenCount.submit()'>Next
      <svg viewBox="0 0 32 32" class="icon icon-arrow-right9">
        <use xlink:href="#arrow-right9"></use>
      </svg>
    </button>
  </div>
</div>
