<form role="form" ng-init="profile.initAccount(this)" name="account_form" novalidate>
  <div class="row">
    <div class="col-sm-12">
      <span dynamic-content="$root.MESSAGES.profileCommunicationsHeader.content | html"></span>
      <div class="row">
        <legend class="col-sm-12">Email Communications</legend>
        <div ng-repeat="subscription in profileCommunications.subscriptions" class="form-group clearfix toggle-input-group">
          <div class="col-xs-6">
            <label class="block">{{subscription.Title}}
              <br /><small class="text-muted">{{subscription.Description}}</small>
            </label>
          </div>
          <div class="col-xs-6">
            <toggle-switch ng-click="profileCommunications.saveSubscription(subscription)" ng-model="subscription.Subscribed"></toggle-switch>
          </div>
        </div>
      </div><!--/row-->
<!-- Mock, NOT YET IMPLEMENTED
        <div class="row">
            <legend class="col-sm-12">Text Message Communications</legend>
            <div class="form-group clearfix toggle-input-group">
                <div class="col-xs-6">
                    <label class="block">The Daily
                        <br /><small class="text-muted">Daily texts to help you connect with God</small>
                    </label>
                </div>
                <div class="col-xs-6">
                    <toggle-switch ng-model="switchStatus4"></toggle-switch>
                </div>
            </div>
            <div class="form-group clearfix toggle-input-group">
                <div class="col-xs-6">
                    <label class="block">General Crossroads Communication
                        <br /><small class="text-muted">Roughly once a month</small>
                    </label>
                </div>
                <div class="col-xs-6">
                    <toggle-switch ng-model="switchStatus5"></toggle-switch>
                </div>
            </div>
            <div class="form-group clearfix toggle-input-group">
                <div class="col-xs-6">
                    <label class="block">Kids' Club Updates
                        <br /><small class="text-muted">Once a week</small>
                    </label>
                </div>
                <div class="col-xs-6">
                    <toggle-switch ng-model="switchStatus6"></toggle-switch>
                </div>
            </div>

        </div><!--/row-->

        <div class="row">
            <legend class="col-sm-12">Giving Statements</legend>
            <div class="col-sm-12" ng-if="!profileCommunications.enableStatement()">
              <div class="alert alert-info" role="alert">
                <span ng-if="!profileCommunications.hasDonor()" dynamic-content="$root.MESSAGES.profileStatementDonorDoesNotExist.content | html"></span>
                <span ng-if="!profileCommunications.hasAddress() && profileCommunications.hasDonor()" dynamic-content="$root.MESSAGES.profileStatementAddressDoesNotExist.content | html"></span>
              </div>
            </div>
            <div class="form-group clearfix toggle-input-group">
              <div class="col-xs-6">
                <label class="block">Paperless Giving Statements
                  <br><span class="text-muted small">Giving statements will be emailed to you.</span>
                </label>
              </div>
              <div class="col-xs-6" ng-if="profileCommunications.enableStatement()">
                <toggle-switch ng-model="profileCommunications.statement.paperless" ng-click="profileCommunications.savePaperless()">
                </toggle-switch>
              </div>
              <div class="col-xs-6" ng-if="!profileCommunications.enableStatement()">
                <toggle-switch ng-model="profileCommunications.statement.paperless" disabled="true">
                </toggle-switch>
              </div>
            </div>
        </div><!--/row-->
      </div><!--/col-sm-12-->
    </div><!--/row-->
    <!--/col-sm-12-->
  </form>
