<div class="col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
  <div dynamic-content="tripSearch.pageHeader | html"></div>

  <form method="get" name="searchForm" id="go-trip-giving-form" ng-submit="tripSearch.search(this)" novalidate>
    <div class="form-group col-sm-12 hard-sides">
      <label for="exampleInputEmail1">Search by last name or email:</label>
      <div class="input-group" ng-class="{ 'has-error': tripSearch.showError(searchForm, 'searchText') }">
        <input type="search" name="searchText" id="searchText" class="form-control" placeholder="Search" ng-model="tripSearch.query" autocomplete="off">
        <span class="input-group-btn">
          <button class="btn btn-standard" type="submit" ng-click="searchForm.$submit()">
            <svg viewBox="0 0 32 32" class="icon icon-search3 icon-medium"><use xlink:href="#search3"></use></svg>
          </button>
      </span>
      </div>
      <ng-messages for="searchForm.searchText.$error" ng-if="tripSearch.showError(searchForm, 'searchText')">
        <span ng-message="required">
        <span class='text-danger' dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
        </span>
      </ng-messages>
    </div>
  </form>

  <div class="go-search-results hard-sides soft-top col-sm-12">
    <div ng-if="searchForm.$submitted && !searchForm.$invalid && !tripSearch.loading">
      <h4>Search results for: ‘{{ tripSearch.searchString }}’</h4>
      <div ng-if="!tripSearch.empty">
        <div ng-repeat="participant in tripSearch.tripParticipants" ng-if="tripSearch.tripParticipants.length!=0">
          <trip-participant-card trip-participant="participant"></trip-participant-card>
        </div>
      </div>
      <div ng-if="tripSearch.empty" dynamic-content="$root.MESSAGES.tripSearchNotFound.content | html"></div>
    </div>
    <preloader full-screen='false' ng-show="tripSearch.loading"> </preloader>
  </div>
</div>
