<preloader full-screen='false' ng-show='!serveTeamMessage.ready'> </preloader>
<form role='form' name='serveTeamMessageForm' ng-if='serveTeamMessage.ready' ng-submit='serveTeamMessage.submit(serveTeamMessageForm)'
	novalidate>
	<div class='row'>
		<div class='col-md-8 col-md-offset-2'>

			<h1 class="page-header">Send Message</h1>

			<div class='form-group' ng-class='{"has-error": serveTeamMessageForm.$submitted && serveTeamMessageForm.teamRadio.$invalid}'>
				<label class='control-label'>To</label>
				<div class="radio" id='selectGroup' name='selectGroup' ng-repeat="team in serveTeamMessage.teams">
					<label>
            		<input type='radio' ng-required='!serveTeamMessage.selection' name='teamRadio' value='{{team.groupId}}' ng-model='serveTeamMessage.selection'>
            			{{team.groupName}}
          		</label>
				</div>

				<div class="radio">
					<label>
					<input type='radio' name='teamRadio' value='-1' ng-model='serveTeamMessage.selection'>
					Individual Team Members
				</label>
				</div>

				<div ng-if="serveTeamMessage.selection == -1" class="push-half-left">
					<div class='form-group' ng-class='{"has-error": serveTeamMessageForm.$submitted && serveTeamMessageForm.autoComplete.$invalid}'>
						<tags-input ng-model="serveTeamMessage.individuals" ng-required='true' name="autoComplete" ng-class="{'custom-tags': !serveTeamMessageForm.$submitted && serveTeamMessageForm.autoComplete.$invalid}"
							display-property="displayName" key-property="email" placeholder="Search for a team member" add-from-autocomplete-only="true"
							replace-spaces-with-dashes='false'>
							<auto-complete source="serveTeamMessage.loadIndividuals($query)" display-property="displayName" key-property="email" min-length="1"
								template='serve_team_message/serveTeamMessageAutocomplete.html'></auto-complete>
						</tags-input>
						<ng-messages for="serveTeamMessageForm.autoComplete.$error" ng-if="serveTeamMessageForm.$submitted && serveTeamMessageForm.autoComplete.$invalid">
							<ng-messages-include src="on-submit-messages"></ng-messages-include>
						</ng-messages>
					</div>
				</div>

				<ng-messages for="serveTeamMessageForm.teamRadio.$error" ng-if="serveTeamMessageForm.$submitted && serveTeamMessageForm.teamRadio.$invalid">
					<ng-messages-include src="on-submit-messages"></ng-messages-include>
				</ng-messages>

			</div>

			<div class='form-group' ng-class='{"has-error": serveTeamMessageForm.$submitted && serveTeamMessageForm.subject.$invalid}'>
				<label for='subject' class='control-label wide-label' ng-class='{"required": serveTeamMessage.subjectRequired}'>Subject</label>
				<input type='text' class='form-control' id='subject' name='subject' ng-model='serveTeamMessage.email.subject' ng-required='true'></input>

				<ng-messages for="serveTeamMessageForm.emailMessage.$error" ng-if="serveTeamMessageForm.$submitted && serveTeamMessageForm.emailMessage.$invalid">
					<ng-messages-include src="on-submit-messages"></ng-messages-include>
				</ng-messages>
			</div>

			<div class='form-group' ng-class='{"has-error": serveTeamMessageForm.$submitted && serveTeamMessageForm.emailMessage.$invalid}'>
				<label for='emailMessage' class='control-label wide-label' ng-class='{"required": serveTeamMessage.emailMessageRequired}'>Message</label>
				<textarea type='textarea' rows='8' ui-tinymce="serveTeamMessage.tinymceOptions" class='form-control' name='emailMessage'
					ng-model='serveTeamMessage.email.message' ng-required='true'></textarea>
				<ng-messages for="serveTeamMessageForm.emailMessage.$error" ng-if="serveTeamMessageForm.$submitted && serveTeamMessageForm.emailMessage.$invalid">
					<ng-messages-include src="on-submit-messages"></ng-messages-include>
				</ng-messages>
			</div>

			<div class='text-right'>
				<loading-button input-type='submit' normal-text='Send' loading-text='Sending...' loading='serveTeamMessage.processing' loading-class='disabled'
					input-classes='sm-pull-right btn btn-primary btn-block-mobile mobile-push-half-bottom'></loading-button>

				<a type='button' class='btn btn-standard btn-block-mobile mobile-push-half-bottom' href='#' ng-click='serveTeamMessage.cancel()'>Cancel</a>
			</div>

			<a ui-sref="serve-signup" class="push-top">
				<svg viewBox="0 0 32 32" class="icon icon-large arrow-circle-o-left">
					<use xlink:href="#arrow-circle-o-left"></use>
				</svg>
				Back to Sign Up to Serve
			</a>
		</div>
</form>