<preloader full-screen='true' ng-show="invitation.requestPending"> </preloader>
<div class="container group-invitation">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="error" ng-if="invitation.error">An unknown error has occurred, please contact support</div>

      <div ng-if="!invitation.requestPending">

        <div ng-if="invitation.accepted && !invitation.groupHelp">
          <div dynamic-content="$root.MESSAGES.groupFinderParticipantConfirmation.content | html"></div>
          <div ng-if="invitation.showInvite">
            <div dynamic-content="$root.MESSAGES.groupFinderParticipantInviteSpouse.content | html"></div>
            <group-invitation group-id="invitation.groupId"></group-invitation>
          </div>
          <p class="btns text-center">
            <a class="btn btn-next-question" ui-sref="group_finder.dashboard">Go to Your Dashboard</a>
          </p>
        </div>

        <div ng-if="invitation.rejected">
          <p>Your request could not be completed at this time</p>
        </div>
        <div ng-if="invitation.alreadyJoined && !invitation.groupHelp" >
          <div dynamic-content="$root.MESSAGES.groupFinderInvitationAlreadyJoined.content | html"></div>
          <p class="btns text-center">
            <a class="btn btn-next-question" ui-sref="group_finder.dashboard">Go to Your Dashboard</a>
          </p>
        </div>
        <div ng-if="invitation.groupHelp">
          <div dynamic-content="$root.MESSAGES.groupFinderNoWhereGroup.content | html"></div>
        </div>
      </div>
    </div>
  </div>
</div>
