<script type="text/ng-template" id="attendanceReasonPopover.html">
  <div dynamic-content="$root.MESSAGES.attendanceReasonPopover.content | html"></div>
</script>

<section ng-show="profile.viewReady" class="email-modal">
  <ng-form role="form" name="profile.pform" novalidate>
    <p class="push-bottom" dynamic-content="$root.MESSAGES.privacy.content | html"></p>

    <div class="row">
      <div class="form-group col-sm-6" ng-class="{'has-error': profile.validation.showErrors(profile.pform, 'firstName')}">
        <label for="firstname" class="required">First Name</label>
        <input type="text" class="form-control" id="first-name" name="firstName" placeholder="Enter first name" ng-model="profile.profileData.person.firstName" required>
        <ng-messages for="profile.pform.firstName.$error" ng-if="profile.validation.showErrors(profile.pform, 'firstName')">
          <span ng-message="required">
            <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
          </span>
        </ng-messages>
      </div>

      <div class="form-group col-sm-6">
        <label for="middlename">Middle Name</label>
        <input type="text" class="form-control" id="middle-name" placeholder="Enter middle name" ng-model="profile.profileData.person.middleName">
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm-6" ng-class="{'has-error': profile.validation.showErrors(profile.pform, 'lastName')}">
        <label for="lastname" class="required">Last Name</label>
        <input type="text" class="form-control" id="last-name" name="lastName" placeholder="Enter last name" ng-model="profile.profileData.person.lastName" required>
        <ng-messages for="profile.pform.lastName.$error" ng-if="profile.validation.showErrors(profile.pform, 'lastName')">
          <span ng-message="required">
            <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
          </span>
        </ng-messages>
      </div>

      <div class="form-group col-sm-6">
        <label for="maidenname">Maiden Name</label>
        <input type="text" class="form-control" id="maidenname" placeholder="Enter maiden name" ng-model='profile.profileData.person.maidenName'>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm-6" ng-class="{'has-error': profile.validation.showErrors(profile.pform, 'nickname')}">
        <label for="nickname" class="required">Preferred Name <small class="text-muted">(Example: Chris instead of Christopher)</small> </label>
        <input type="text" class="form-control" id="nickname" name="nickname" placeholder="Enter nick name" ng-model="profile.profileData.person.nickName" required>
        <ng-messages for="profile.pform.nickname.$error" ng-if="profile.validation.showErrors(profile.pform, 'nickname')">
          <span ng-message="required">
            <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
          </span>
        </ng-messages>
      </div>
    </div>

    <div class="row">
      <div ng-if="profile.emailRequired()" class="form-group col-sm-6"  ng-class="{'has-error': profile.validation.showErrors(profile.pform, 'email')}" >
        <label for="email" class="required">Email</label>
        <input type="email"
               class="form-control"
               id="email"
               name="email"
               placeholder="Enter email address"
               ng-model="profile.profileData.person.emailAddress"
               required
               unique-email />
        <ng-messages for="profile.pform.email.$error" ng-if="profile.validation.showErrors(profile.pform, 'email')">
          <span ng-message="required">
            <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
          </span>
          <span ng-message="unique">
            <span dynamic-content="$root.MESSAGES.emailInUse.content | html"></span>
          </span>
          <span ng-message="email">
            <span dynamic-content="$root.MESSAGES.invalidEmail.content | html"></span>
          </span>
        </ng-messages>
      </div>

      <div class="form-group col-sm-6" ng-if="profile.allowPasswordChange">
        <label for="password">Change Password</label>
        <password-field autocomplete="nope"
                        min-length="8"
                        passwd-strength="true"
                        passwd="profile.password"
                        submitted="profile.pform.$submitted"
                        prefix="change"
                        passwd-strength="true">
        </password-field>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm-6" ng-class="{'has-error': profile.validation.showErrors(profile.pform, 'birthdate')}" >

        <label for="birthdate" class="required">Birth Date</label>
        <span class="input-group datepicker">
          <input type="text"
                 class="form-control"
                 name="birthdate"
                 id="birthdate"
                 placeholder="mm/dd/yyyy"
                 datepicker-popup="MM/dd/yyyy"
                 ng-model='profile.profileData.person.dateOfBirth'
                 is-open='profile.birthdateOpen'
                 show-button-bar='false'
                 max-date={{profile.maxBirthdate}}
                 min-date={{profile.oneHundredFiftyYearsAgo}}
                 init-date=profile.initDate
                 ng-required="true"
                 datepicker-validator
                 required
                 ng-change="profile.underThirteen()">
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="profile.openBirthdatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </span>

        <ng-messages for="profile.pform.birthdate.$error" ng-if="profile.validation.showErrors(profile.pform, 'birthdate')">
          <ng-messages-include src="on-submit-messages"></ng-messages-include>
          <span ng-message="date">
            <span dynamic-content="$root.MESSAGES.invalidData.content | html"></span>
          </span>
          <span ng-message="minDate">
            <span dynamic-content="$root.MESSAGES.invalidData.content | html"></span>
          </span>
          <span ng-message="maxDate">
            <span ng-if="profile.enforceAgeRestriction" dynamic-content="$root.MESSAGES.ageRestriction.content | html"></span>
            <span ng-if="!profile.enforceAgeRestriction"  dynamic-content="$root.MESSAGES.invalidData.content | html"></span>
          </span>
        </ng-messages>
      </div>
    </div>

    <div class="row">

        <div class="form-group col-sm-6">
          <label for="marital_status"> Marital Status </label>
            <select class="form-control col-sm-12"
              ng-model="profile.profileData.person.maritalStatusId"
              ng-options="status.dp_RecordID as status.dp_RecordName for status in profile.maritalStatuses">
              <option value="" disabled="disabled" selected="selected" style="display:none"> -- Choose One -- </option>
            </select>
        </div>

        <div class="form-group col-sm-6" ng-class="{'has-error': profile.validation.showErrors(profile.pform, 'gender')}" >
          <label class="block required"> Gender </label>
          <label class="radio-inline" ng-repeat='genders in profile.genders'>
            <input type="radio"
                   name="gender"
                   ng-value="genders.dp_RecordID"
                   ng-model="profile.profileData.person.genderId"
                   required /> {{genders.dp_RecordName}}
          </label>
          <ng-messages for="profile.pform.gender.$error" ng-if="profile.validation.showErrors(profile.pform, 'gender')">
            <ng-messages-include src="on-submit-messages"></ng-messages-include>
            <ng-messages-include src="on-pause-messages"></ng-messages-include>
          </ng-messages>
        </div>
    </div>

    <div class="row" ng-if='!profile.forTrips'>
      <div class="form-group col-sm-12">
         <label for="ethnicity">Ethnicity <span class="small text-muted">Select all that apply</span></label>
         <div class="profile-ethnicity">
           <div class="checkbox" ng-repeat="ethnicity in profile.ethnicities | orderBy: ['sortOrder', 'name']  ">
              <label>
                <input type="checkbox" ng-model="ethnicity.selected">
                {{ethnicity.name}}
              </label>
           </div>
          </div>
      </div>
    </div>

    <div class="row">
        <div class="form-group col-sm-6">
            <label for="employer">Employer</label>
            <input type="text" class="form-control" id="employer" placeholder="Enter employer" ng-model='profile.profileData.person.employerName'>
        </div>
    </div>

    <div class="row">
      <div class="form-group col-sm-6" ng-class="{'has-error': profile.validation.showErrors(profile.pform, 'startAttendDate')}" >
        <label for="startAttendDate">When did you start attending Crossroads?</label>
        <span class="input-group datepicker">
          <input type="text"
                 class="form-control"
                 name="startAttendDate"
                 id="startAttendDate"
                 placeholder="mm/yyyy"
                 datepicker-popup="MM/yyyy"
                 datepicker-options="{minMode: 'month'}"
                 datepicker-mode="'month'"
                 ng-model='profile.profileData.person.attendanceStartDate'
                 is-open='profile.startAttendingOpen'
                 close-text="Close"
                 min-date={{profile.crossroadsStartDate}}
                 max-date={{profile.today}}
                 ng-model-options="{updateOn:'blur'}"
                 datepicker-validator>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="profile.openStartAttendingDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </span>
        <ng-messages for="profile.pform.startAttendDate.$error" ng-if="profile.validation.showErrors(profile.pform, 'startAttendDate')">
          <ng-messages-include src="on-submit-messages"></ng-messages-include>
          <span ng-message="date">
            <span dynamic-content="$root.MESSAGES.invalidData.content | html"></span>
          </span>
          <span ng-message="minDate">
            <span dynamic-content="$root.MESSAGES.invalidData.content | html"></span>
          </span>
          <span ng-message="maxDate">
            <span dynamic-content="$root.MESSAGES.invalidData.content | html"></span>
          </span>
        </ng-messages>
      </div>
      <div class="form-group col-sm-6" ng-if='!profile.forTrips'>
        <label for="start-attend-reason">Why did you start attending Crossroads?
        </label>

        <span popover-placement="top" popover-template="'attendanceReasonPopover.html'">
          <svg viewBox="0 0 32 32" class="icon icon-question-circle icon-subtle pointer" >
            <use xlink:href="#question-circle"></use>
          </svg>
        </span>

        <select name="start-attend-reason"
                class="form-control col-sm-12"
                id="start-attend-reason"
                ng-model="profile.startAttendReason.attribute"
                ng-options="startAttendReason.name for startAttendReason in profile.startAttendReasons.attributes | orderBy: ['sortOrder', 'name'] track by startAttendReason.attributeId" >
          <option value="" disabled="disabled" selected="selected" style="display:none"> -- Choose One -- </option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm-6" >
        <label for="mobile-phone" ng-class="{'required': profile.requireMobilePhone}">Mobile Phone</label>
          <div class="small inline bold">
            <span ng-show="phoneToggle" class="link-styling" ng-click="phoneToggle = !phoneToggle">Don't have a mobile phone?</span>
            <span ng-show="!phoneToggle" class="text-muted">Edit your household phone <a class="pointer" ng-click="profile.householdPhoneFocus()">below</a>.</span>
          </div>
          <input type="text"
                 class="form-control"
                 name="mobile-phone"
                 id='mobile-phone'
                 placeholder="Enter mobile phone"
                 ng-model="profile.profileData.person.mobilePhone"
                 ng-required='profile.requireMobilePhone'
                 ng-pattern='profile.phoneFormat' >
          <ng-messages for="profile.pform['mobile-phone'].$error" ng-if="profile.validation.showErrors(profile.pform, 'mobile-phone')" ng-class="{'has-error':  profile.validation.showErrors(profile.pform, 'mobile-phone') }" >
            <span ng-message='required' ng-if='profile.requireMobilePhone'>
              <span dynamic-content='$root.MESSAGES.fieldCanNotBeBlank.content | html'></span>
            </span>
            <span ng-message="pattern"><span dynamic-content="$root.MESSAGES.invalidPhone.content | html"></span></span>
          </ng-messages>
      </div>

      <div class="form-group col-sm-6" >
        <label for="provider">Service Provider</label>
        <select name="service-provider"
                class="form-control col-sm-12"
                id="service-provider"
                ng-model="profile.profileData.person.mobileCarrierId"
                ng-options="providers.dp_RecordID as providers.dp_RecordName for providers in profile.serviceProviders" >
            <option value="" disabled="disabled" selected="selected" style="display:none"> -- Choose One -- </option>
        </select>
      </div>
    </div>

    <div class="row">
      <profile-picture contact-id='profile.contactId' ng-if='profile.forTrips' />
    </div>


    <div class="row" ng-if="profile.profileData.person.householdId!==undefined">
      <profile-household modal-instance='profile.modalInstance' household-info='profile.profileData.person' household-form='profile.householdForm' locations='profile.locations' is-collapsed='profile.isHouseholdCollapsed'/>
    </div>

    <loading-button
       loading-text='Saving...'
       normal-text='Save'
       input-type='button'
       input-classes='btn btn-primary'
       ng-class='profile.buttonCss'
       loading-class='disabled'
       ng-click='profile.savePersonal()'
       loading='profile.submitted' >
    </loading-button>
  </ng-form>

</section>
