<div ng-if="myGroups.error" class="alert alert-danger" role="alert">
  Error: {{myGroups.errorMsg}}
</div>

<span dynamic-content="$root.MESSAGES.myGroupsHeader.content | html"></span>

<preloader full-screen='false' ng-if="!myGroups.ready"> </preloader>

<div ng-if="myGroups.ready">

  <div class="row">
    <div class="col-md-9 col-sm-12">
      <div ng-if="myGroups.approvedLeader && $root.MESSAGES.groupDashboardLeaderGeneralMessage.content.length > 0" dynamic-content="$root.MESSAGES.groupDashboardLeaderGeneralMessage.content | html" class="general-group-message">
      </div>
      <div ng-if="!myGroups.approvedLeader && $root.MESSAGES.groupDashboardMemberGeneralMessage.content.length > 0" dynamic-content="$root.MESSAGES.groupDashboardMemberGeneralMessage.content | html" class="general-group-message">
      </div>
      
      <div ng-if="!myGroups.groups.length" dynamic-content="$root.MESSAGES.groupToolMyGroupsHelpText.content | html" class="push-bottom">
      </div>

      <div class="row is-flex flex-wrap">
        <div ng-repeat="group in myGroups.groups" class="col-md-6 col-sm-12 is-flex flex-col">
          <group-card group="group" class="is-flex flex-grow"></group-card>
        </div>

        <div ng-class="{ 'col-md-12 col-sm-12': myGroups.groupsEven(), 'col-md-6 col-sm-12': myGroups.groupsOdd() }">
          <div ng-class="{ 'row': myGroups.groupsEven() }">

            <!-- Lead a Group -->
            <div ng-class="{ 'col-md-6 col-sm-12': myGroups.groupsEven() }">
              <div class="my-groups-static panel panel-default text-center pointer" ui-sref="grouptool.create({ cancelSref: 'grouptool.mygroups' })">
                <div class="my-groups-static-vert">
                  <div class="push-half-bottom">Lead a Group</div>
                  <svg viewBox="0 0 32 32" class="icon icon-xxxlarge plus4 text-primary">
                    <use xlink:href="#plus4"></use>
                  </svg>
                </div>
              </div>
            </div>

            <!-- Find a Group -->
            <div ng-class="{ 'col-md-6 col-sm-12': myGroups.groupsEven() }">
              <div class="my-groups-static panel panel-default text-center pointer" ui-sref="grouptool.search">
                <div class="my-groups-static-vert">
                  <div class="push-half-bottom">Find a Group</div>
                  <svg viewBox="0 0 32 32" class="icon icon-xxxlarge search3 text-primary">
                    <use xlink:href="#search3"></use>
                  </svg>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>

    <div class="col-md-2 col-md-offset-1 col-sm-12 my-groups-links">
      <nav>
        <div ng-if="myGroups.approvedLeader" dynamic-content="$root.MESSAGES.groupToolMyGroupsLinksLeader.content | html"></div>
        <div ng-if="!myGroups.approvedLeader" dynamic-content="$root.MESSAGES.groupToolMyGroupsLinksParticipant.content | html"></div>
      </nav>
    </div>

  </div>

</div>