<label ng-show="definition.label">{{definition.label}}</label>
<div class="row">
  <div class="col-md-6">
    <label for="day">Day</label>
    <select id="day" name="{{definition.key}}[day]" ng-model="responses[definition.key].day" class="form-control group-qa-day">
      <option>Monday</option>
      <option>Tuesday</option>
      <option>Wednesday</option>
      <option>Thursday</option>
      <option>Friday</option>
      <option>Saturday</option>
      <option>Sunday</option>
    </select>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <label>Time</label>
    <div class="timepicker">
      <timepicker
        name="{{definition.key}}[time]"
        ng-model="responses[definition.key].time"
        hour-set="1"
        minute-step="15"
        readonly-input="true"
        show-meridian="true">

      </timepicker>
    </div>
  </div>
</div>
