<label ng-show="definition.label">{{definition.label}}</label>
<div class="row">
  <div class="col-xs-12">
    <label>Street</label>
    <input type="text" name="{{definition.key}}[street]" ng-model="responses[definition.key].street" class="form-control" />
  </div>
  <div class="col-xs-12">
    <label>City</label>
    <input type="text" name="{{definition.key}}[city]" ng-model="responses[definition.key].city" class="form-control" />
  </div>
  <div class="col-xs-6">
    <label>State</label>
    <select name="{{definition.key}}[state]" ng-model="responses[definition.key].state" class="form-control">
      <option ng-repeat="state in states" value="{{state.abbreviation}}">{{state.name}}</option>
    </select>
  </div>
  <div class="col-xs-6">
    <label>Zip</label>
    <input type="text" data-input-type="zip" name="{{definition.key}}[zip]" class="form-control" ng-model="responses[definition.key].zip" />
  </div>
</div>