<div class="page-header">
  <h2 ng-show="definition.header" ng-bind-html="render('header')"></h2>
  <p class="lead" ng-show="definition.description" ng-bind-html="render('description')"></p>
</div>

<div ng-bind-html="render('body')" ng-if="definition.body"></div>

<div ng-include="definition.include" ng-if="definition.include"></div>

<div class="form-group question" ng-if="definition.input_type">
  <ng-include src="getTemplateUrl()" />
</div>

<span class="help-block" ng-if="definition.help" ng-bind-html="render('help')"></span>
<div class="validation has-error" ng-if="showError"><span>{{errorMessage}}</span></div>
<div class="validation has-error" ng-if="showZipError"><span>Invalid Zipcode</span></div>
<div class="validation has-error" ng-if="showTimeError"><span>Please enter a valid time</span></div>

<div ng-bind-html="render('footer')" ng-if="definition.footer"></div>
