<form name='groupMessageForm' ng-submit='groupMessage.submit(groupMessageForm)' novalidate>
  <div class='row'>
    <div class='col-md-6 col-md-offset-3'>

      <div class='row'>
        <div class='col-md-12'>
          <h4>{{ groupMessage.header }}</h4>
        </div>
      </div>

      <div class='row' ng-if='groupMessage.hasSubHeaderText()'>
        <div class='col-md-12' dynamic-content="$root.MESSAGES[groupMessage.subHeaderText].content | html"></div>
      </div>

      <div class='row' ng-if='groupMessage.hasContactText()'>
        <div class='col-md-12' dynamic-content="$root.MESSAGES[groupMessage.contactText].content | html"></div>
      </div>

      <div class='row' ng-if='groupMessage.hasEmailTemplateText()'>
        <div class='col-md-12' dynamic-content="$root.MESSAGES[groupMessage.emailTemplateText].content | html"></div>
      </div>

      <div class='row'>
        <div class='col-md-12'>
          <div class='form-group' ng-class='{"has-error": groupMessageForm.$submitted && groupMessageForm.emailMessage.$invalid}'>
            <label for='emailMessage' class='control-label wide-label' ng-class='{"required": groupMessage.emailMessageRequired}'>{{ groupMessage.emailMessageLabel }}</label>
            <textarea type='textarea' rows='8' class='form-control' name='emailMessage' ng-model='groupMessage.person.message' ng-required='groupMessage.emailMessageRequired'></textarea>
            <ng-messages for="groupMessageForm.emailMessage.$error" ng-if="groupMessageForm.$submitted && groupMessageForm.emailMessage.$invalid">
              <ng-messages-include src="on-submit-messages"></ng-messages-include>
            </ng-messages>
          </div>
        </div>
      </div>

      <div class='row'>&nbsp;</div>
      
      <div class='row'>
        <div class='col-md-12'>
          <p class='text-center sm-text-right'>
            <loading-button
              input-type='submit'
              normal-text='{{ groupMessage.normalLoadingText }}'
              loading-text='{{ groupMessage.loadingLoadingText }}'
              loading='groupMessage.processing'
              loading-class='disabled'
              input-classes='sm-pull-right btn btn-primary btn-block-mobile mobile-push-half-bottom'></loading-button>

            <a type='button' class='btn btn-standard btn-block-mobile mobile-push-half-bottom' href='#' ng-click='groupMessage.cancel()'>Cancel</a>

          </p>
        </div>
      </div>
    </div>
  </div>
</form>