<div ng-if="!recurringGift.allowAdminAccess()" class="alert alert-danger" role="alert">
  <div dynamic-content="$root.MESSAGES.mptool_invalid_access.content | html"></div>
</div>

<div ng-if="recurringGift.impersonationError" class="alert alert-danger" role="alert">
  Sorry, you are not able to Manage Recurring Gifts for other MinistryPlatform Users. Please contact an administrator to request access.<br/><br/>
  Error: {{recurringGift.impersonationErrorMessage}}
</div>

<div ng-if="!recurringGift.impersonationError && recurringGift.allowAdminAccess()" class="form-group col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
  <h1 class="page-header">Manage Recurring Gift</h1>
  <div class="push-top">
    <!--Recurring Giving-->
    <div class="row recurring-gifts push-bottom">
      <div class="col-sm-12">
        <preloader full-screen='false' ng-show="!recurringGift.recurring_giving_view_ready"> </preloader>

        <!-- IS RECURRING GIVING - ng-show or ng-if on data from resource-->
        <div ng-show="recurringGift.recurring_giving && recurringGift.recurring_giving_view_ready">
          <div class="row">
            <div class="col-lg-12">
              <recurring-giving-list
                recurring-gifts-input="recurringGift.recurring_gifts">
              </recurring-giving-list>
            </div>
          </div>
        </div>
        <!-- END OF IS GIVING HISTORY -->

        <div class="row">
          <div class="col-sm-12 text-center">
            <a href="" ng-click="recurringGift.openCreateGiftModal()" class="btn btn-primary">Add New</a>
          </div>
        </div>
      </div>
    </div><!--/row-->
  </div>
</div>
