<div dynamic-content="$root.MESSAGES.goVolunteerProjectPrefTwoQuestion.content | html"></div>

<div class="row">
  <div class="col-xs-6 img-link" ng-repeat="item in goProjectPrefTwo.projectTypes">
    <a class="push-bottom gradiant-text-background border" ng-class="goProjectPrefTwo.alreadySelected(item.projectTypeId)"  href="#" ng-click="goProjectPrefTwo.submit(item)">
      <img src="{{item.imageUrl}}" class="img-responsive img-full-width" />
      <div class="img-link-text">
        {{item.desc}}
      </div>
      <div class="triangle">
        <span>Age {{item.minAge}}+</span>
      </div>
      <svg viewBox="0 0 32 32" class="icon icon-checkmark icon-xlarge center">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#checkmark"></use>
      </svg>
    </a>
  </div>
</div>
