<div class="row" ng-init="tripGiving.initDefaultState()" id="form-top">
  <div class="col-sm-10 col-sm-offset-1">

    <h1 class="page-header" ng-if="tripDeposit.signupService.pageId != 'thanks'" >{{tripDeposit.signupService.campaign.name}} Signup</h1>
    <h1 class="page-header" ng-if="tripDeposit.signupService.pageId == 'thanks'" >Thank you for signing up for {{tripDeposit.signupService.campaign.name}}</h1>
    <signup-progress total-steps='tripDeposit.signupService.numberOfPages'
                     current-step='tripDeposit.signupService.numberOfPages'
                     progress-label='tripDeposit.signupService.progressLabel'
                     ng-hide='tripDeposit.signupService.pageId == "thanks"'>
    </signup-progress>
    <div ng-show='tripDeposit.signupService.pageId == "thanks"'>
      <signup-progress total-steps='tripDeposit.signupService.numberOfPages'
                     current-step='tripDeposit.signupService.pageId'
                     progress-label='tripDeposit.signupService.progressLabel'>
      </signup-progress>
    </div>
    <preloader full-screen='false' ng-show="!tripDeposit.viewReady"> </preloader>
    <ng-form class="give-form" role="form" name="tripDeposit.tripForm" novalidate>
      <div ng-show='tripDeposit.viewReady' ui-view></div>
    </ng-form>
</div>

