<legend>Waivers</legend>

<!-- Display waivers -->
<article ng-repeat="waiver in campWaivers.waivers">
  <div dynamic-content="waiver.waiverText | html"></div>
  <hr ng-if="!$last">
</article>

<form role="form" name="campWaivers.form" ng-submit="campWaivers.submitWaivers()" novalidate>
  <!-- Signature Selections -->
  <div ng-if="campWaivers.waivers.length > 0">
    <h4 class="required push-top">Electronic Signature</h4>

    <div ng-if="!campWaivers.isSelf"
         ng-class="{ 'has-error': campWaivers.form.$submitted && campWaivers.form.signature.$invalid }">
      <div class="radio">
        <label>
          <input type="radio" name="signature" ng-model="campWaivers.signature" value="{{campWaivers.GUARDIAN}}" ng-required="!campWaivers.signature">
          I am the legal guardian of {{campWaivers.getFullName()}} and I approve of the above waivers.
        </label>
      </div>
    </div>
    <div ng-class="{ 'has-error': campWaivers.form.$submitted && campWaivers.form.signature.$invalid }">
      <div class="radio">
        <label>
          <input type="radio" name="signature" ng-model="campWaivers.signature" value="{{campWaivers.APPROVE_LATER}}" ng-required="!campWaivers.signature">
          I am <strong>NOT</strong> the legal guardian of {{campWaivers.getFullName()}} and they will approve at a later date.
        </label>
      </div>
    </div>
    <div ng-if="campWaivers.isSelf" ng-class="{ 'has-error': campWaivers.form.$submitted && campWaivers.form.signature.$invalid }">
      <div class="radio">
        <label>
          <input type="radio" name="signature" ng-model="campWaivers.signature" value="{{campWaivers.SELF}}" ng-required="!campWaivers.signature">
          I am <strong>{{campWaivers.getFullName()}}</strong> and at least 18 years of age, and I approve of the above waivers.
        </label>
      </div>
    </div>
  </div>

  <!-- No Waivers error message -->
  <div ng-if="!campWaivers.waivers.length" dynamic-content="$root.MESSAGES.campWaiversMissing.content | html"></div>

  <!-- NEXT button -->
  <div class="push-top">
    <loading-button
      input-type='submit'
      normal-text='Next'
      loading-text='Submitting...'
      loading='campWaivers.processing'
      loading-class='disabled'
      input-classes='btn btn-primary btn-block-mobile sm-pull-right'></loading-button>
  </div>
</form>
