<div class="col-sm-10 col-sm-offset-1">

  <div class="alert alert-success" role="alert" ng-if="volunteer.created">
    <span dynamic-content="$root.MESSAGES.succesfulResponse.content | html"></span>
  </div>

  <div class="alert alert-danger" role="alert" ng-if="volunteer.rejected">
    <span dynamic-content="$root.MESSAGES.failedResponse.content | html"></span>
  </div>

  <preloader full-screen='true' ng-show="!volunteer.viewReady"> </preloader>

  <div ng-show="volunteer.viewReady">
    <h1 class="page-header" dynamic-content="volunteer.pageInfo.title | html"></h1>
    <div>
      <p id="content" dir="ltr" dynamic-content="volunteer.pageInfo.content | html" ng-show="volunteer.showContent"></p>
      <p id="successMessage" dynamic-content="volunteer.pageInfo.success | html" ng-show="volunteer.showSuccess"></p>
    </div>

    <div id="adult-application" ng-if="volunteer.showBlock('adult') && !volunteer.showSuccess">
      <kids-club-adult-application volunteer="volunteer.person"
                                   contact-id="volunteer.contactId"
                                   page-info="volunteer.pageInfo"
                                   opportunity-id="volunteer.pageInfo.opportunity"
                                   response-id="volunteer.responseId"
                                   show-success="volunteer.showSuccess" />
    </div>

    <div ng-if="volunteer.showBlock('student') && !volunteer.showSuccess">
      <kids-club-student-application volunteer="volunteer.person"
                                     contact-id="volunteer.contactId"
                                     page-info="volunteer.pageInfo"
                                     response-id="volunteer.responseId"
                                     show-success="volunteer.showSuccess" />
    </div>

    <div ng-if="volunteer.showBlock('age-error')">
      Age Error
    </div>

    <div ng-if="volunteer.showBlock('no-response')">
      <p id="notEligible" dynamic-content="volunteer.pageInfo.noExistingResponse | html"></p>
    </div>

    <div ng-if="volunteer.showBlock('denied')">
      <p id="accessDenied" dynamic-content="volunteer.pageInfo.accessDenied | html"></p>
    </div>
  </div>
</div>
