<div class="form-group">
  <div class="push-top push-bottom">
      <h4>Thank You</h4>
      <p id="giveThanks">
        Your Recurring Gift was successfully created! Thank you for setting up a Recurring Gift.
        We will process your Recurring Gift of <strong>{{give.dto.amount | currency}}</strong> for
        <strong>{{give.dto.program['Name']}}</strong><span ng-if="give.dto.mockPledge">
            <!-- TEMPORARY - if this is towards a specific commitment, we want to put the commitment owner's full name here to make it clear who it's going to -->
            towards <strong>First Last's</strong> commitment
        </span> on <strong>{{give.service.frequencyCalculation()}}</strong>.
        Your statement will be sent to <strong>{{give.dto.email}}</strong>.
      </p>
  </div>
</div>
