<script type="text/ng-template" id="recurring_giving_remove_modal">
  <div class="modal-header">
    <a type="button" class="close" ng-click="recurringGift.cancel()">x</a>
    <h3 class="modal-title">Confirm Removal</h3>
  </div>

  <div class="modal-body">
    <div dynamic-content="$root.MESSAGES.giveRecurringRemove.content | html"></div>

    <p>
      You will be removing the recurring gift of
      <strong>{{ recurringGift.dto.amount | currency:'$' }} {{ recurringGift.dto.interval }}</strong>
      to the
      <strong>{{ recurringGift.dto.program.Name }}</strong>
      fund from
      <span>
        <svg ng-attr-viewBox="{{recurringGift.donation.source.viewBox}}" ng-class="'icon icon-' + recurringGift.donation.source.icon + 'payment-type-icon'">
          <use ng-attr-xlink:href="{{'#' + recurringGift.donation.source.icon}}" xlink:href=""></use>
        </svg>
        <strong>ending in {{ recurringGift.dto.last4 }}</strong>
      </span>.
    </p>

    <div class="alert alert-warning">
      <div dynamic-content="$root.MESSAGES.giveRecurringRemoveWarning.content | html"></div>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-danger"
      ng-class="{disabled: recurringGift.dto.processing}"
      ng-click="recurringGift.remove()" id="confirmRemove">
      <svg viewBox="0 0 25 32" class="icon icon-trash-o">
        <use xlink:href="#trash-o"></use>
      </svg>
      Remove
    </button>
  </div>
</script>
