<table class="table gift-table push-top">
  <tbody>
    <tr ng-repeat="recurringGift in recurringGifts track by $index">
      <td>
          {{recurringGift.program_name}}
          <div class="text-muted">
            <span ng-show="recurringGift.source.icon">
              <small>
              <svg ng-attr-viewBox="{{recurringGift.source.viewBox}}" ng-class="'icon icon-' + recurringGift.source.icon + 'payment-type-icon'">
                  <use ng-attr-xlink:href="{{'#' + recurringGift.source.icon}}" xlink:href=""></use>
              </svg>
              </small>
            </span>
            <small>
              {{recurringGift.source.name}}
            </small>
          </div>
      </td>
      <td class="text-right">
        <span class="dollar-amount">{{recurringGift.amount | currency:'$'}}</span>
        <p class="text-muted"><span><small>{{recurringGift.recurrence}}</small></span>
        </p>
      </td>
      <td class="table-actions text-right">
        <a href="" ng-click="openEditGiftModal(recurringGift)">
          <svg viewBox="0 0 32 32" class="icon icon-pencil4">
            <use xlink:href="#pencil4"></use>
          </svg> Edit
        </a>
        <a href="" ng-click="openRemoveGiftModal(recurringGift, $index)">
          <svg viewBox="0 0 25 32" class="icon icon-trash-o">
            <use xlink:href="#trash-o"></use>
          </svg> Remove
        </a>
      </td>
    </tr>
  </tbody>
</table>
