<div>
	<div class="card-item go-trip-card clearfix row-same-height" data-category="view">
	  <div class="col-sm-3 col-xs-4 card-img card-dark col-xs-height">
			<div class="card-img-wrapper">
					<profile-picture-view ng-if="tripParticipant.contactId" contact-id="tripParticipant.contactId" />
			</div><!--/card-img-wrapper-->

	  </div><!--/card-img-->
	  <div class="col-sm-9 col-xs-8 card-content col-xs-height col-top hard-left">
	      <div class="card-row card-header">
	          <h3>{{tripParticipant.participantName}}</h3>
	      </div>
	      <ul class="list-group">
	        <li class="list-group-item " ng-repeat="trip in tripParticipant.trips | orderBy:'tripStart'">
						<div class="row-sm-same-height">
						<div class="col-xs-12 col-sm-height col-top hard-left" ng-class="{'col-sm-10' :tripParticipant.showGiveButton}">
	            <div class="go-trip-name">
	              <p>
	                <strong>{{trip.tripName}}</strong>
	                <br>{{trip.tripStart}} - {{trip.tripEnd}}
	              </p>
	            </div>
							<div ng-if="tripParticipant.showShareButtons">
	              <h4 class="small-heading flush-left inline pull-left">SHARE:</h4>
	              <sn-addthis-toolbox
	                class="addthis_crossroads_sharing clearfix addthis_20x20_style pull-left push-half-left push-half-top"
	                data-url="{{shareUrl(trip.tripParticipantId)}}">
	                  <a href class="addthis_button_facebook"></a>
	                  <a href class="addthis_button_twitter"></a>
	                  <a href class="addthis_button_email"></a>
	              </sn-addthis-toolbox>
	            </div>
						</div>
						<div class="go-trip-btn col-xs-12 col-sm-2 hard-sides col-sm-height" ng-show="tripParticipant.showGiveButton">
							<a ng-click="goToGiving(trip.tripParticipantId)" class="table-btn table-btn-lg btn-standard"><span>Give</span></a>
						</div>
						</div><!--/row-->
	        </li>
	      </ul>
	  </div><!--/card-content-->
	</div><!--/card-item-->
</div>
