<div class="form-group col-sm-12">
  <label ng-class="{required: formField.required}" ng-show="formField.field.label" dynamic-content="formField.field.label | html"></label>
  <p class="help-block" ng-show="formField.field.description" dynamic-content="formField.field.description | html"></p>
  <div ng-class="{'has-error': formField.validate('birthdate')}">
    <span class="input-group datepicker">
      <input
          type="text"
          class="form-control"
          name="birthdate"
          id="birthdate"
          placeholder="mm/dd/yyyy"
          datepicker-popup="MM/dd/yyyy"
          ng-model='formField.data.profileData.person.dateOfBirth'
          ng-value ='birthdate.value'
          is-open='formField.birthdateOpen'
          max-date={{formField.maxBirthdate}}
          min-date={{formField.oneHundredFiftyYearsAgo}}
          init-date=formField.initDate
          ng-required="true"
          datepicker-validator        
      >
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="formField.openBirthdatePicker($event)">
          <i class="glyphicon glyphicon-calendar"></i>
        </button>
      </span>
    </span>
    <ng-messages for="formField.parentForm.birthdate.$error" ng-if="formField.validate('birthdate')">          
      <span ng-message="date">
        <span dynamic-content="$root.MESSAGES.invalidData.content | html"></span>
      </span>
      <span ng-message="minDate">
        <span dynamic-content="$root.MESSAGES.invalidData.content | html"></span>
      </span>
      <span ng-message="maxDate">
        <span dynamic-content="$root.MESSAGES.generalAgeRestriction.content | html"></span>
      </span>
      <span ng-message="required">
        <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
      </span>               
    </ng-messages> 
  </div>
</div>