<div class="form-group col-md-12">
  <label class="block" ng-class="{required: formField.required}" ng-show="formField.field.label" dynamic-content="formField.field.label | html"></label>
  <p class="help-block" ng-show="formField.field.description" dynamic-content="formField.field.description | html"></p>
  <div ng-class="{'has-error': formField.validate('ethnicity')}">
    <div class="profile-ethnicity">
      <div class="checkbox" ng-repeat="ethnicity in formField.data.profileData.person.attributeTypes[attributeTypeIds.ETHNICITY].attributes">
        <label>
          <input type="checkbox" name="ethnicity" ng-value="ethnicity.attributeId" ng-model="ethnicity.selected"
                 ng-required='!formField.attributeSelected(formField.data.profileData.person.attributeTypes[attributeTypeIds.ETHNICITY].attributes)'/>
          {{ethnicity.name}}
        </label>
      </div>
    </div>
    <ng-messages for="formField.parentForm.ethnicity.$error" ng-if="formField.validate('ethnicity')">
      <span ng-message="required">
        <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
      </span>
    </ng-messages>
  </div>
</div>
