<div class="form-group col-md-12">
  <label class="block" ng-class="{required: formField.required}" ng-show="formField.field.label" dynamic-content="formField.field.label | html"></label>
  <p class="help-block" ng-show="formField.field.description" dynamic-content="formField.field.description | html"></p>
  <div ng-class="{'has-error': formField.validate('gender')}">
    <label class="radio-inline" ng-repeat='genders in formField.data.genders'>
      <input type="radio"
             name="gender"
             ng-value="genders.dp_RecordID"
             ng-model="formField.data.profileData.person.genderId"
             ng-required="formField.required" />
      {{genders.dp_RecordName}}
    </label>

    <ng-messages for="formField.parentForm.gender.$error" ng-if="formField.validate('gender')">
      <span ng-message="required">
        <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
      </span>
    </ng-messages>
  </div>
</div>