<div class="form-group col-md-12">
  <label ng-show="formField.field.label" ng-class="{required: formField.required}" dynamic-content="formField.field.label | html"></label>
  <p class="help-block" ng-show="formField.field.description" dynamic-content="formField.field.description | html"></p>
  <div ng-class="{'has-error': formField.validate('location')}">
    <select class="form-control" name="location" ng-model="formField.data.profileData.person.congregationId"
            ng-options="location.dp_RecordID as location.dp_RecordName for location in formField.data.locations | orderBy: ['OnlineSortOrder', 'name']"
            valid-dropdown-value="formField.validLocations">
      <option value="" disabled="disabled" selected="selected" style="display:none"> -- Choose One -- </option>
    </select>
    <ng-messages for="formField.parentForm.location.$error" ng-if="formField.validate('location')">
      <span ng-message="required">
        <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
      </span>
    </ng-messages>
  </div>
</div>
