<!DOCTYPE html>
<html lang="en" ng-app="crossroads">
  <head>
    <%= render CrossroadsInterface.SharedView, "common_head.html", assigns %>
    <%= render_existing @view_module, "head.html", assigns %>
  </head>
  <body>
    <%= render CrossroadsInterface.SharedView, "header.html", %{content_blocks: @content_blocks, conn: @conn } %>
    <!-- NO SIDEBAR LAYOUT -->
    <div class="container main animated fadeIn">
      <div class="row">
        <div class="col-md-12">
          <%= render @view_module, @view_template, assigns %>
        </div>
      </div>
    </div>
    <%= render CrossroadsInterface.SharedView, "footer.html", %{content_blocks: @content_blocks } %>
    <%= render CrossroadsInterface.SharedView, "common_body.html", assigns %>
    <%= render_existing @view_module, "body.html", assigns %>
  </body>
</html>