//// BUTTON VARIABLES ////

$button-border-width: 2px;
$button-border-darken-amount: 15%;


//// BUTTON STYLES ////
.btn {
  @include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $line-height-base, $border-radius-base);
  &:focus, &:active, &:hover {
    text-decoration: none;
    outline: none;
  }

}

.btn-default {
  @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
}
.btn-primary {
  @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
  .cr-reskin & {
    @include button-variant($btn-primary-color, $cr-streaming-blue, darken($cr-streaming-blue, 10));
  }
}
// Success appears as green
.btn-success {
  @include button-variant($btn-success-color, $btn-success-bg, $btn-success-border);
}
// Info appears as blue-green
.btn-info {
  @include button-variant($btn-info-color, $btn-info-bg, $btn-info-border);
}
// Warning appears as orange
.btn-warning {
  @include button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border);
}
// Danger and error appear as red
.btn-danger {
  @include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border);
}
.btn-danger-outline {
  @include button-variant($btn-danger-bg, $btn-transparent-bg, $btn-danger-border);
}
.btn-secondary {
  @include button-variant($btn-primary-color, $brand-secondary, $brand-secondary);
}
.btn-standard-dark {
  @include button-variant($btn-primary-color, $gray, $gray);
}
.btn-standard-darker {
  @include button-variant($btn-primary-color, $gray-dark, $gray-dark);
}
.btn-standard {
  @include button-variant(black, $gray-lighter, $gray-lighter);
}

//// BUTTON SIZES ////

.btn-lg {
  // line-height: ensure even-numbered height of button next to large input
  @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $border-radius-large);
}

.btn-sm {
  // line-height: ensure proper height of button next to small input
  @include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small, $border-radius-small);
}

.btn-xs {
  @include button-size($padding-xs-vertical, $padding-xs-horizontal, $font-size-small, $line-height-small, $border-radius-small);
}

.btn-group {
  .btn {
    border-bottom-width: 1px;
  }
}

.input-group-addon {
  border-bottom-width: 1px;
}

.btn-labeled {
  //padding-top: 0px;
  //padding-bottom: 0px;
  position: relative;
  padding-right: 52px;
  overflow: hidden;
  border: none;

  .btn-label {
    position: absolute;
    right: 0px;
    top: 0px;
    display: inline-block;
    padding: 4px 0px 0px;
    width: 40px;
    background: rgba(0,0,0,0.15);
    overflow: hidden;
    border-top-right-radius: $border-radius-base;
    border-bottom-right-radius: $border-radius-base;
    height: 37.6px;

    .icon {
      margin-top: 6px;
      color: #fff;
    }
  }

  &.btn-lg {

    .btn-label {
      height: 45px;

      .icon {
        margin-top: 10px;
      }
    }
  }

  &.btn-sm {
    padding-right: 42px;
    font-size: 75%;

    .btn-label {
      height: 30px;
      width: 30px;

      .icon {
        margin-top: 3px;
      }
    }
  }

  &.btn-xs {
    padding-right: 30px;

    .btn-label {
      height: 24px;
      width: 24px;

      .icon {
        margin-top: 0px;
        max-width: 12px;
        height: auto;
      }
    }
  }
}

.input-group-btn {
  .btn {
    border-width: 1px;
    border-left-width: 0;
  }

  .btn-standard {
    border-color: $btn-default-border;
  }

  .btn-primary {
    border-color: darken($brand-primary, 20%);
  }

  .btn-secondary {
    border-color: darken($brand-secondary, 20%);
  }

  .btn-standard-dark {
    border-color: darken($gray-dark, 20%);
  }

  .btn-default {
    border-color: $btn-default-border;
  }
}

.has-error .input-group-btn .btn {
  color: #c9302c;
  background-color: #f2dede;
  border-color: #c9302c;
}

h2 {
  .btn {
    letter-spacing: 0px;
  }
}

.btn.normal-type {
  text-transform: none;
}

// Table buttons
.table-btn {
  @extend .btn;
  @extend .col-full-height;
  display: block;
  text-align: center;
  vertical-align: middle;
  border-bottom-width: 0px;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;

  @media (min-width: $screen-sm-min) {
    min-height: $line-height-computed*2;
    line-height: 2;
    margin-bottom: 0;
    border-radius: 0px;
    //border-top-right-radius: $panel-border-radius;
    //border-bottom-right-radius: $panel-border-radius;

    &.table-btn-sm {
      min-height: 31px;
      line-height: 1.5;
    }

    &.table-btn-lg {
     min-height: 67px;
     line-height: 3;
    }
  }
}

@media (min-width: $screen-sm-min) {
  .list-group-item:first-child {
    .table-btn {
      border-top-right-radius: $panel-border-radius - 1;
    }
  }
  .list-group-item:last-child {
    .table-btn {
      border-bottom-right-radius: $panel-border-radius - 1;
    }
  }
  .card-content {
    ul.list-group {
      .list-group-item {
        position: relative;

        .table-btn {
          right: -1px;
          position: relative;
        }

        &:first-child {
          .table-btn {
            border-top-right-radius: 0px;
          }
        }

        &:last-child {
          .table-btn {
            border-bottom-right-radius: 0px;
          }
        }
      }
    }
  }
}

.btn-checkbox-toggle {
  @include button-variant($gray, #ffffff, $input-group-addon-border-color);
  text-align: left;
  font-family: $font-family-base;
  border-bottom-width: 1px;
}

.btn-block-mobile {
  @media (max-width: $screen-xs-max) {
    width: 100%;
  }
}

.btn-mobile-filter {
  @media (max-width: $screen-sm-min) {
    @include button-variant(black, $gray-lighter, $gray-lighter);
    text-align: center;
  }

  @media (min-width: $screen-sm-min) {
    text-align: left;
    padding: 0;
  }
}

.btn.disabled {
  pointer-events: auto;
  cursor: not-allowed;
}
