closable-tag {
  display: inline-block;
  font-size: 85%;
  font-weight: 400;

  background-color: $gray-lighter;
  padding: $padding-small-vertical $padding-small-horizontal;
  border-radius: 10px;

  svg.icon {
    width: 10px;
    margin-left: 5px;
    margin-bottom: 3px;
  }
}
