/***************************************************************************************
* Color Swatches
***************************************************************************************/

.color-swatch {
  height: 100px;
  line-height: 100px;
  color: #fff;
  text-align: center;
  width: 24%;
  margin: 0 1% 1% 0;
  float: left;
  border-radius: 5px;
}

.color-swatch.gray-lighter {
  color: #000;
}