@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before{
      display: block;
      content: " ";
      width: 100%;
      padding-top: ($height / $width) * 100%;
  }
  > .content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
  }
}

.crds-card {
  section, figcaption {
    position: relative;
    top: -1.25em;
  }
  section {
    margin-top: -0.5em;
    padding: 0 1.7em;
    &:before {
      content: "\2014";
      color: lighten($gray, 20%);
    }
  }
  figcaption {
    font-family: $brand-font-family;
    display: inline-block;
    text-transform: uppercase;
    margin: 0 1em 0 0.5em;
    padding: 0.15em 0.45em;
    max-width: 80%;
    font-weight: 600;
    font-size: 120%;
    line-height: 100%;
    letter-spacing: -0.032em;
    background: #FFF;
  }
  a {
    color: $gray;
  }
  figure > linked-content > a {
    @include aspect-ratio(16,9);
    overflow: hidden;
    display: block;
    width: 100%;
    margin-bottom: 2%;
  }


  h3 {
    font-size: 110%;
    margin: 0.3em 0 0.3em;
  }
  p {
    font-size: 90%;
  }
}
