&.crds-modal {

  .modal-dialog {
    overflow-x: hidden;
    overflow-y: auto;
    height: 90vh;
    &::-webkit-scrollbar {
      display: none;
    }

    h2 {
      font-family: $cr-streaming-font-extra-cond;
      font-size: 210%;
      font-weight: 600;
    }

    h2, h3 {
      color: #FFF;
      margin: 0;
    }

    h3 {
      font-size: 135%;
    }

    modal-header {
      text-align: center;
      text-transform: uppercase;
      color: #FFF;
    }

    ::-webkit-input-placeholder {
      color: #FFF;
    }

    :-moz-placeholder { /* Firefox 18- */
      color: #FFF;
    }

    ::-moz-placeholder {  /* Firefox 19+ */
      color: #FFF;
    }

    :-ms-input-placeholder {
      color: #FFF;
    }

    .form-control {
      background: darken($cr-streaming-blue, 10);
      border: none;
      color: #FFF;
      font-size: 90%;
      padding: 1em;
    }


    .close {
      font-size: 210%;
      font-weight: 100;
      color: #FFF;
      opacity: 1;
      line-height: 30%;
    }

    .modal-header,
    .modal-footer {
      border: none;
    }

    .modal-content {
      @include clearfix;
      border-radius: 0;
      background: $cr-streaming-blue;
      box-shadow: none;
      border: none;
      color: #FFF;
    }

    .modal-header {
      padding-top: 2em;
      .close {
        margin-top: -16px;
      }
    }

    .modal-footer {
      clear: both;
      text-align: center;
      padding-bottom: 2.5em;
    }

    .btn {
      border-radius: 4px;
      font-size: 90%;
      font-weight: 500;
      &:focus, &.focus {
        outline: none;
      }

      &.btn-default {
        @include button-variant($cr-streaming-blue, #FFF, #FFF);
      }
    }

  }
}
