.pending-delete {
  color: grey; 
  border-color: grey;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.group-detail-participant-list {
  @media (min-width: $screen-md) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .group-detail-participant-item {
    @media (min-width: $screen-md) {
      flex: none;

      // Safari is wrapping when it shouldn't, reduce the right margin by -1px to fix
      margin-right: -1px;
    }
  }
}

.change-role-option {
  @extend .radio;
  
  label[disabled] {
    @extend .text-muted;
    cursor: not-allowed;
  }
}

group-detail-participant-card {
  .group-participant {
    min-height: 75px;
    height: 100%;
    border-bottom: 1px solid $gray-lighter;
  }

  .group-participant-image {
    float: left;
    width: 55px;
    border: solid 1px $gray;
  }

  .group-participant-data {
    margin-left: 70px;
  }
}