group-detail-requests {
  .group-detail-title-mobile {
    border-bottom: solid 1px $gray-lighter;
  }

  .group-request-header {
    border-bottom: 2px solid $gray-lighter;
    font-weight: bold;
    line-height: 1.2;

    @media (min-width: $screen-sm-min) {
      font-size: 92%;
    }
  }

  .group-request-row {
    border-bottom: 1px solid $gray-lighter;
  }

  .group-request-image {
    float: left;
    width: 55px;
    border: solid 1px $gray;
  }

  .group-request-data {
    margin-left: 70px;

    @media (min-width: $screen-sm-min) {
      padding-top: 16px;
      font-size: 92%;
    }
  }

  .group-request-buttons {
    margin-left: -5px;
    margin-right: -5px;
    padding-top: 9px;

    [class*='col-'] {
      padding-left: 5px;
      padding-right: 5px;

      button {
        @media (min-width: $screen-sm-min) {
          font-size: 92%;
        }
      }
    }
  }
}
