group-search-filter {
  // Font size matches that used in the search results table
  font-size: 95%;

  @media (min-width: $screen-sm) {
    font-size: 95%;
  }

  .group-search-filter-tools {
    min-height: $line-height-computed;

    button {
      vertical-align: bottom;
    }
  }

  .group-search-filters-expanded {
    position: absolute;
    margin: 0;
    padding: 15px;
    right: 0;
    //left: 0;
    width: 90%;
    border: solid 3px $gray-light;
    background-color: $white;
    z-index: 10;
  }

  .group-search-filter-row {
    position: relative;
  }

  .group-search-filter-options {
    padding-right: $line-height-computed * 2;
  }

  .group-search-filter-subheading {
    font-weight: 400;
  }

  .group-search-filter-summary {
    min-height: $line-height-computed;

    span {
      line-height: 1em;
      vertical-align: middle;
    }
  }

  .group-search-toggle {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }

  svg.icon-arrow-down9 {
    transition-property: transform;
    transition-duration: .25s;

    transform: rotate(0deg);
  }

  .expanded  {
    svg.icon-arrow-down9 {
      transform: rotate(-180deg);
    }
  }

  .search-filter-tag {
    display: inline-block;
    background-color: $gray-lighter;
    padding: $padding-small-vertical $padding-small-horizontal;
    border-radius: 10px;

    svg {
      width: 10px;
      margin-left: 5px;
    }
  }
}