/***************************************************************************************
* GROWL NOTIFICATIONS
***************************************************************************************/

.crossroads-growl {
  .growl-container {
    top: 15px !important;
    z-index: 100100;

    >.growl-item {
      @include box-shadow(0 3px 9px rgba(0,0,0,.5));
    }

    &.growl-fixed.top-center,
    &.growl-fixed.bottom-center {
      left: 50%;
      margin: 0px;

      .growl-item {
        left: -50%;
        position: relative;
      }
    }
    .growl-message {
      p {
        margin: 0;
      }
    }
  }
}
