.header-video {
  position: relative;
  overflow: hidden;
  background: $gray-darker;

  iframe,
  video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  iframe {
    height: 100%;
    width: 100%;
  }

  video {
    width: 100%;
  }

  .header-video-home {
    z-index: 5;
    position: absolute;
    width: 100%;
    top: 20px;

    .icon {
      color: white;
      transition: all 0.3s ease-out;
    }
  }

  .header-video-overlay {
    z-index: 5;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
}

.header-video-teaser-video {
  width: 100%;
  height: auto;
}

.header-video-media {
  width: 100%;
  height: auto;
}

.header-video-close-trigger {
  z-index: 99;
  position: absolute;
  right: 20px;
  top: 20px;
}
