/***************************************************************************************
* Mailchimp Embed Form Styles
***************************************************************************************/

#container {
  #mc_embed_signup {
    div.mce_inline_error {
      clear: both;
      @extend .alert;
      @extend .alert-danger;
      margin: $line-height-computed/2 $grid-gutter-width/2;
    }
  }
}

#mce-responses {
  > div {
    @extend .alert;
    margin: $line-height-computed/2 0;
  }

  #mce-success-response {
    @extend .alert-success;
  }
}