.mock-toggle-controls {
  position: fixed;
  left: 0;
  top: 30%;
  .btn {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left: 0px;
    @include box-shadow(0 3px 12px rgba(0,0,0,.175));
  }
}
