.password-strength-meter {
  .progress {
    height: 3px;
  }
  .progress-bar {
    min-width: .5em !important; //using !important because Bootstrap uses it to set it to 2em initially
  }
  small {
    font-size: 80%;
  }
}

.password-suggestions {
  .icon {
    vertical-align: middle;
  }
}
