.roll-call {
  text-align: center;
  margin: 1.5em 0;
  font-size: 182.5%;

  ::-webkit-input-placeholder {
    color: $gray-light;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: $gray-light;
  }
  ::-moz-placeholder {  /* Firefox 19+ */
    color: $gray-light;
  }
  :-ms-input-placeholder {
    color: $gray-light;
  }

  .count {
    min-width: 45px;
    border-bottom: 1px solid $gray-light;
    display: inline-block;
  }

  input {
    background: transparent;
    border: none;
    border-bottom: 1px solid $gray-light;
    width: 140px;
    text-align: center;
  }

  footer {
    display: block;
    background-color: transparent;
    margin-top: 1em;
    padding: 0;
  }

  .btn-group {
    margin-right: 0.5em;
  }

  .btn-link {
    font-size: 45%;
    color: $gray-light;
  }

  .btn-primary, .btn-geolocate {
    height: 45px;
  }

  .btn-geolocate {
    width: 60px;
    > svg {
      width: 100%;
      height: auto;
      margin-left: 0.125em;
    }
  }

  @media (max-width: $screen-sm-min) {
    span {
      display: block;
    }
  }

}
