.addthis_crossroads_sharing {
  display: block;

  &.addthis_32x32_style {
    .at4-icon, .at-icon-wrapper, .at-icon {
      height: 32px !important;
      width: 32px !important;
    }
  }

  &.addthis_20x20_style {
    .at4-icon, .at-icon-wrapper, .at-icon  {
      height: 20px;
      width: 20px;
    }
  }

  &.addthis_16x16_style {
    .at4-icon, .at-icon-wrapper, .at-icon  {
      height: 16px;
      width: 16px;
    }
  }

  a {
    display: inline-block;
    float: left;
    margin-right: $padding-base-horizontal/2;
    color: white;

    &.gray-share {
      .at4-icon {
        background-color: $gray !important;
      }
    }

    .at4-icon, .at-icon-wrapper, .at-icon  {
      text-align: center;
      background-position: center;
      border-radius: 50%;
      background-color: $gray-light !important;
      transition: background 0.2s linear;



      &.aticon-facebook {
        &:hover {
          background-color: rgb(48, 88, 145) !important;
        }
      }

      &.aticon-twitter {
        &:hover {
          background-color: rgb(44, 168, 210) !important;
        }
      }

      &.aticon-email {
        &:hover {
          background-color: $brand-primary !important;
        }
      }
    }
  }
}
