<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <h1 class="page-header">Go {{gotrip.friendlyPageTitle}} Signup</h1>
    <h2 class="subheading">{{gotrip.tripName}}</h2>

    <p class="text-muted flush-bottom push-top">Patricia Parker | Step 5 of 6</p>
    <progressbar class="progress" type="primary" max="100" value="80">80&#37;</progressbar>

    <form role="form">

      <legend>
        Passport Information
      </legend>

      <div class="row">
        <div class="form-group col-sm-12">
          <p> Please note that your passport cannot be expired within 6 months of the return date of the trip to be valid and must have at least 2 blank pages.</p>
          <label class="block required">Do you have a valid passport?</label>
          <label id="passport-yes" class="radio-inline" ng-click="isCollapsed = false">
              <input type="radio" value="yes"  name="pssport" id="passport-yes">Yes
          </label>
          <label id="passport-no" class="radio-inline" ng-click="isCollapsed = true">
              <input type="radio" value="no" name="passport" id="passport-no">No
          </label>
        </div>
        <div class="form-group col-sm-12"  collapse="!isCollapsed">
          <label for="why">Please update your passport as soon as possible</label>
        </div>

        <div class="form-group col-sm-6" ng-controller="crdsDatePickerCtrl">
          <label for="passport-expire" class="control-label">When does your passport expire?</label>
          <input type="text" class="form-control" id="passport-expire" placeholder="mm/dd/yyyy">
        </div>
      </div><!--/row-->

      <div class="row">
        <div class="form-group col-sm-12">
          <p>We'll use the information supplied below to buy your plane ticket. It must be entered exactly as it appears on your passport. If your passport contains your maiden name, please use that as your Last Name.</p>
          <div class="row">
            <div class="form-group col-sm-6">
                <label for="passport-firstname" class="required">First Name</label>
                <input type="text" class="form-control" id="passport-firstname" placeholder="Enter first name">
            </div>
            <div class="form-group col-sm-6">
                <label for="passport-middlename" class="required">Middle Name <small class="text-muted">Exactly as printed on your passport</small></label>
                <input type="text" class="form-control" id="passport-middlename" placeholder="Enter middle name">
            </div>
            <div class="form-group col-sm-6">
                <label for="passport-lastname" class="required">Last Name</label>
                <input type="text" class="form-control" id="passport-lastname" placeholder="Enter last name">
            </div>
            <div class="form-group col-sm-6">
                <label for="passport-country" class="required">Country of Passport</label>
                <input type="text" class="form-control" id="passport-country" placeholder="Enter passport country">
            </div>
            <div class="form-group col-sm-6" ng-controller="crdsDatePickerCtrl">
              <label for="passport-birthdate" class="control-label required">Birthdate</label>
              <input type="text" class="form-control" id="passport-birthdate" placeholder="mm/dd/yyyy">
            </div>

          </div>
        </div>
      </div><!--/row-->

      <div class="row" ng-show="gotrip.pageTitle != 'nola'">
        <div class="col-sm-12">
          <legend>Frequent Flyer Information</legend>
        </div>
        <div class="form-group col-sm-6">
            <label for="deltaff">Delta</label>
            <input type="text" class="form-control" id="deltaff" placeholder="Enter Delta frequent flyer number">
        </div>
        <div class="form-group col-sm-6" ng-show="gotrip.pageTitle == 'south-africa'">
            <label for="southafricaff">South African Airlines</label>
            <input type="text" class="form-control" id="southafricaff" placeholder="Enter South African Airlines frequent flyer number">
        </div>
        <div class="form-group col-sm-6">
            <label for="unitedff">United Airlines</label>
            <input type="text" class="form-control" id="unitedff" placeholder="Enter United Airlines frequent flyer number">
        </div>
        <div class="form-group col-sm-6">
            <label for="usairff">USAirways</label>
            <input type="text" class="form-control" id="usairff" placeholder="Enter USAirways frequent flyer number">
        </div>
      </div><!--/row-->

      <div class="row" ng-show="gotrip.pageTitle != 'nola'">
       <div class="col-sm-12">
        <legend>
          Travel Experience Information
        </legend>
      </div>
      </div><!--/row-->

      <div class="row" ng-show="gotrip.pageTitle != 'nola'">
        <div class="form-group col-sm-12">
          <label class="block required">International Travel Experience</label>
          <div>
            <label for="international-trips-multi" class="radio-inline">
                <input type="radio" value="multi"  name="international-trips" id="international-trips-multi"> I take three or more international trips a year.
            </label>
          </div>
          <div>
            <label for="international-trips-some" class="radio-inline">
                <input type="radio" value="some"  name="international-trips" id="international-trips-some"> I take less than three international trips per year.

            </label>
          </div>
          <div>
            <label for="international-trips-none" class="radio-inline">
                <input type="radio" value="none"  name="international-trips" id="international-trips-none"> I have not traveled internationally.
            </label>
          </div>
        </div>

        <div class="col-sm-12 push-bottom">
          <label class="block required">Do you have outside experience with serving abroad outside of Crossroads GO Trips?</label>

          <label for="travel-experience-yes" class="radio-inline" ng-click="isCollapsed = true">
              <input type="radio" value="yes"  name="travel-experience" id="travel-experience-yes">Yes
          </label>
          <label for="travel-experience-no" class="radio-inline" ng-click="isCollapsed = false">
              <input type="radio" value="no" name="travelExperience" id="travel-experience-no">No
          </label>

          <div class="form-group push-top" collapse="!isCollapsed">
            <label for="why" class="required">Please describe your experience</label>
            <textarea cols="1" rows="4" class="form-control" id="travelExperience" maxlength="250"></textarea>
          </div>
        </div>
      </div>

      <div class="col-sm-12" ng-show="gotrip.pageTitle == 'india'">
        <div class="row">
          <legend>
            Past Abuse History
          </legend>
          <p>
            The issue of human trafficking can be overwhelming in a stimulating environment such as India. Answering this question honestly will not disqualify you from this trip but will allow us to better serve you during the pre-trip process.
          </p>
          <div class="form-group">
            <label class="block required">Have you ever been a victim of any form of abuse?</label>
            <div class="radio">
              <label for="abuse-yes">
                  <input type="radio" value="yes" name="abuse" id="abuse-yes">Yes
              </label>
            </div>
            <div class="radio">
              <label for="abuse-no" class="radio">
                  <input type="radio" value="no" name="abuse" id="abuse-no">No
              </label>
            </div>
            <div class="radio">
              <label for="abuse-talk" class="radio">
                  <input type="radio" value="no" name="abuse" id="abuse-talk">I'd prefer to talk with someone confidentially
              </label>
            </div>
          </div>
        </div>
      </div>

      <a ui-sref="go-trip-signup-page-confirmation({trip_location: gotrip.pageTitle})" class="btn btn-primary pull-right">Submit Application</a>
      <a ui-sref="go-trip-signup-page-4({trip_location: gotrip.pageTitle})" class="btn btn-standard pull-right">Back</a>
    </form>
  </div>
</div><!--/row-->
