<!--
 -- This is largely a copy of giving_history/history.html, with the controllerAs name changed.  This was done explicitly,
 -- to allow changes to one view or the other without having to impact both.
 -->
<div ng-if="!admin_giving_history_controller.allowAdminAccess()" class="alert alert-danger" role="alert">
    <div dynamic-content="$root.MESSAGES.mptool_invalid_access.content | html"></div>
</div>

<div ng-if="admin_giving_history_controller.impersonation_error" class="alert alert-danger" role="alert">
    Sorry, you are not able to view Giving History for other MinistryPlatform Users. Please contact an administrator to request access.<br/><br/>
    Error: {{admin_giving_history_controller.impersonation_error_message}}
</div>

<div ng-if="!admin_giving_history_controller.impersonation_error && admin_giving_history_controller.allowAdminAccess()" class="row giving-history">
    <div class="col-sm-10 col-sm-offset-1">
        <h1 class="hidden-print page-header">Giving History</h1>
        <h1 class="visible-print-block page-header">Giving Statement</h1>
        <h2 class="subheading hidden-print">Your history of financial giving to crossroads</h2>
        <h3 class="subheading visible-print-block">Printed: {{admin_giving_history_controller.currentDate | date:'M/d/yy'}}</h3>

        <div class="row push-top" ng-show="admin_giving_history_controller.donation_history && admin_giving_history_controller.donation_view_ready">
            <household-information profile="admin_giving_history_controller.profile"></household-information>

            <div class="visible-print-block col-xs-6 text-right">
              <strong>Period : 01/01/{{giving_history_controller.beginning_donation_date | date:'yyyy'}} - {{giving_history_controller.ending_donation_date | date:'MM/dd/yyyy'}}</strong>
              <br />
              <div dynamic-content="$root.MESSAGES.give_disclaimer.content | html"></div>
            </div>
        </div>

        <preloader full-screen='false' ng-show="!admin_giving_history_controller.overall_view_ready"> </preloader>

        <div ng-show="admin_giving_history_controller.overall_view_ready">
            <preloader full-screen='false' ng-show="admin_giving_history_controller.overall_view_ready && !admin_giving_history_controller.donation_view_ready"> </preloader>

            <!-- DONATION GIVING HISTORY -->
            <div class="row">
                <!--  NO GIVING HISTORY - ng-show if no history  -->
                <div ng-show="!admin_giving_history_controller.donation_history && admin_giving_history_controller.donation_view_ready" class="no-data">
                    <div class="col-sm-6 col-sm-offset-3">
                        <svg viewBox="0 0 32 32" class="icon icon-clock3">
                            <use xlink:href="#clock3"></use>
                        </svg>
                        <svg viewBox="0 0 18 32" class="icon icon-dollar">
                            <use xlink:href="#dollar"></use>
                        </svg>
                        <div dynamic-content="$root.MESSAGES.no_giving_history.content | html">
                        </div>
                    </div><!--/col-sm-12-->
                </div><!--/no-data-->
            </div>
            <!--  END OF NO GIVING HISTORY  -->

            <div class="row">
                <!-- IS GIVING HISTORY - ng-show or ng-if on data from resource-->
                <div ng-show="admin_giving_history_controller.donation_history && admin_giving_history_controller.donation_view_ready">
                    <div class="col-sm-6 clearfix hidden-print">
                        <a href="" class="btn btn-primary col-sm-6 col-md-5 col-xs-12 mobile-push-bottom" onClick="window.print();">Print Statement</a>
                    </div>
                    <div class="col-sm-6" giving-years
                         selected-year="admin_giving_history_controller.selected_giving_year"
                         all-years="admin_giving_history_controller.donation_years"
                         on-change="admin_giving_history_controller.getDonations() || admin_giving_history_controller.getSoftCreditDonations()"></div>

                    <div class="col-lg-12">
                        <donation-list
                                donations-input="admin_giving_history_controller.donations"
                                donation-total-amount="admin_giving_history_controller.donation_total_amount"
                                donation-statement-total-amount="admin_giving_history_controller.donation_statement_total_amount"></donation-list>
                    </div>
                </div>
                <!-- END OF IS GIVING HISTORY -->
            </div>
            <!-- END OF DONATION GIVING HISTORY -->

            <!-- SOFT CREDIT DONATION HISTORY -->
            <div class="other-gifts hidden-print" ng-show="admin_giving_history_controller.soft_credit_donation_history && admin_giving_history_controller.soft_credit_donation_view_ready">
                <hr />
                <h3>Other Gifts</h3>
                <p>
                    These are donations that will not be included in your Crossroads giving statement. These are typically charity accounts or foundational giving where donations are made through a third party.
                </p>

                <donation-list
                        donations-input="admin_giving_history_controller.soft_credit_donations"
                        donation-total-amount="admin_giving_history_controller.soft_credit_donation_total_amount"
                        donation-statement-total-amount="admin_giving_history_controller.soft_credit_donation_statement_total_amount"></donation-list>
            </div>
            <!-- END OF SOFT CREDIT DONATION HISTORY -->

            <p class="push-top hidden-print" dynamic-content="$root.MESSAGES.givingHistoryFooter.content | html">
                <br />
            </p>

            <div class="row giving-statement-footer visible-print-block">
              <div class="col-xs-12">
                <div class="giving-statement-content clearfix">
                  <div class="giving-statement-logo pull-left">
                    <img src="//crossroads-media.s3.amazonaws.com/images/logo.svg" alt="crossroads">
                  </div>
                  <div class="statement-address text-uppercase pull-right">
                    <small><div dynamic-content="$root.MESSAGES.single_line_address.content | html"></div></small>
                  </div>
                </div>
              </div>
            </div>

        </div>
    </div><!--/col-sm-10-->
</div><!--/row-->
