
<ng-form name="donationDetailsForm">
  <div class="form-inline form-group give-amount form-group-lg" ng-class="{'has-error': amountError()}">
    <div class="input-group">
      <span class="input-group-addon">$</span>

      <input type="tel" maxlength="10" name="amount" class="form-control" ng-model="amount" autocomplete="off" ng-model-options="{  updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 }, allowInvalid: true  }" natural-number max-value="99999999" currency-mask required autofocus="true">

      <span class="input-group-addon ">.00</span>
    </div>

    <ng-messages for="donationDetailsForm.amount.$error" ng-show="donationDetailsForm.amount.$error.naturalNumber && donationDetailsForm.$dirty && amount != undefined">
        <ng-messages-include src="on-blur-messages"></ng-messages-include>
    </ng-messages>
    <ng-messages for="donationDetailsForm.amount.$error" ng-if="amountSubmitted">
      <ng-messages-include src="on-submit-messages"></ng-messages-include>
    </ng-messages>
  </div>
  <div class="form-group clearfix" ng-show='showInitiativeOption'>
    <label class="btn btn-block btn-checkbox-toggle"><input type="checkbox" ng-model="ministryShow" ng-click="setProgramList()" />&nbsp;&nbsp; Give to a specific initiative
    </label>
  </div>
        <!--/checkbox-->
  <div class="form-group" ng-show="ministryShow" ng-class="{'has-error': donationDetailsForm.initiative.$error.initiativeRequired && amountSubmitted}">
    <select class="form-control" ng-change="updateFrequency()" ng-options="program.Name for program in programsIn.slice(1) track by program.ProgramId" ng-model="program" name="initiative" initiative-required>
      <option value="">Choose Initiative</option>
    </select>
    <ng-messages for="donationDetailsForm.initiative.$error" ng-show="donationDetailsForm.initiative.$error.initiativeRequired && amountSubmitted">
      <ng-messages-include src="on-submit-messages"></ng-messages-include>
    </ng-messages>
  </div>

  <div class="form-group" ng-show='showInitiativeOption'>
    <select class="form-control" ng-model="givingType">
      <option value="one_time">One Time</option>
      <option value="weekly" ng-if="allowRecurring">Weekly</option>
      <option value="monthly" ng-if="allowRecurring">Monthly</option>
    </select>
  </div>

  <div class="form-group" ng-show="givingType !== 'one_time' && allowRecurring">
    <div class="input-group">
      <input type="text" class="form-control" datepicker-popup="MM/dd/yyyy"
        ng-model="recurringStartDate" is-open="recurringStartDatePickerOpened"
        datepicker-options="dateOptions" close-text="Close" min-date="minDate"
        ng-click="openRecurringStartDate($event)"/>
      <span class="input-group-btn">
        <button type="button" class="btn btn-gray-light" ng-click="openRecurringStartDate($event)">
          <i class="glyphicon glyphicon-calendar"></i>
        </button>
      </span>
    </div>
  </div>

        <!--/form-group-->
</ng-form>
