<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h1 class="page-header">The Daily</h1>
    <h2 class="subheading">Spend time connecting with God on a daily basis.</h2>

    <div dynamic-content="$root.MESSAGES.thedaily_desc.content | html"></div>

    <hr>

      <form id="MailchimpSubscriptionForm" name="dailyCtrl.MailchimpSubscriptionForm" ng-submit="dailyCtrl.submitSignup()" ng-show="dailyCtrl.showSignup" role="form" novalidate>
        <div class="mc-field-group row" ng-hide="mailchimp.result === 'success'">
          <div class="col-lg-12 push-bottom" ng-class="{'has-error': dailyCtrl.validation.showErrors(dailyCtrl.MailchimpSubscriptionForm, 'emailfield')}">
            <div class="input-group">
              <input id="emailfield"
                     required
                     class="email form-control"
                     ng-model-options="{ updateOn: 'change blur' }"
                     type="email"
                     name="emailfield"
                     placeholder="Email address"
                     autocomplete="off"
                     autocapitalize="off"
                     ng-model="dailyCtrl.email"
              >

              <span class="input-group-btn">
                <button btn-loading="dailyCtrl.saving" data-loading-text="Subscribing..." type="submit" value="Subscribe" class="btn btn-primary btn-block-mobile" title="submitrequest">Subscribe</button>
              </span>

            </div><!-- /input-group -->

            <ng-messages for="dailyCtrl.MailchimpSubscriptionForm.$error" ng-if="dailyCtrl.validation.showErrors(dailyCtrl.MailchimpSubscriptionForm, 'emailfield')">
              <ng-messages-include src="on-submit-messages"></ng-messages-include>
              <ng-messages-include src="on-blur-messages"></ng-messages-include>
            </ng-messages>

          </div>
        </div>

        <!-- Show success message if MailChimp returned successfully. -->
        <!--<div class="push-bottom bold" ng-show="mailchimp.result === 'success'" ng-cloak>
          <span dynamic-content="mailchimp.successMessage"></span>
        </div>-->


      </form>

    <div dynamic-content="$root.MESSAGES.thedaily_unsub.content | html"></div>

  </div>
</div>
