<script type="text/ng-template" id="recurring_giving_edit_modal">
  <div class="modal-header">
    <a type="button" class="close" ng-click="recurringGift.cancel()">x</a>
    <h3 class="modal-title">Edit Recurring Gift</h3>
  </div>

  <div class="modal-body">
    <form name="recurringGiveForm">
      <ng-include src="'templates/recurring_gift_template.html'"> </ng-include>
    </form>
  </div>

  <div class="modal-footer">
    <button class="btn btn-primary"
      ng-class="{disabled: recurringGift.dto.processing}"
      ng-click="recurringGift.edit(recurringGiveForm)">Update</button>
  </div>
</script>
