<donation-details amount="recurringGift.dto.amount"
                 program="recurringGift.dto.program"
                 amount-submitted="recurringGift.dto.amountSubmitted"
                 programs-in="recurringGift.programsInput"
                 giving-type="recurringGift.dto.givingType"
                 recurring-start-date="recurringGift.dto.recurringStartDate"
                 allow-one-time="false">
</donation-details>

<bank-credit-card-details
      dto='recurringGift.dto'
      bank-info-submitted='recurringGift.dto.bankinfoSubmitted'
      donor='recurringGift.dto.donor'
      email='recurringGift.dto.email'
      set-valid-card='setValidCard'
      set-valid-cvc='setValidCvc'
      account-state-name='recurringGift.account'>
</bank-credit-card-details>
