<div >
  <ng-form name="tripsSignup.tripAppPage6" role="form" novalidate>

    <legend>
      Passport Information
    </legend>

      <div class="row">
        <div class="col-sm-12" dynamic-content="$root.MESSAGES.TripPassport.content | html"></div>
        <div class="form-group col-sm-12" ng-class="{'has-error': tripsSignup.validation.showErrors(tripsSignup.tripAppPage6, 'passport') }">
          <label class="control-label block required">Do you have a valid passport?</label>
          <label id="passport-yes" class="radio-inline">
              <input ng-model="tripsSignup.signupService.page6.validPassport" type="radio" value="true"  name="passport" id="passport-yes" ng-required="true">Yes
          </label>
          <label id="passport-no" class="radio-inline">
              <input ng-model="tripsSignup.signupService.page6.validPassport" type="radio" value="false" name="passport" id="passport-no" ng-required="true">No
          </label>
          <ng-messages for="tripsSignup.tripAppPage6.passport.$error" ng-if="tripsSignup.validation.showErrors(tripsSignup.tripAppPage6, 'passport')">
            <span ng-message="required">
              <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
            </span>
          </ng-messages>
        </div>
        <div class="form-group col-sm-12" ng-show="tripsSignup.signupService.page6.validPassport === 'false'">
          <label>
            <span dynamic-content="tripsSignup.passportInvalidContent() | html"></span>
          </label>
        </div>
      </div>

        <div class="row" ng-if="tripsSignup.signupService.page6.validPassport === 'true'">
          <div class="form-group col-sm-6" ng-class="{'has-error': tripsSignup.validation.showErrors(tripsSignup.tripAppPage6, 'passportNumber') }">
              <label for="passport-number" class="control-label required">Passport Number</label>
              <input ng-model="signupStep.person.passportNumber" type="text" class="form-control" name="passportNumber" id="passport-number" required placeholder="Enter passport number" />
              <ng-messages for="tripsSignup.tripAppPage6.passportNumber.$error" ng-if="tripsSignup.validation.showErrors(tripsSignup.tripAppPage6, 'passportNumber')">
                <span ng-message="required">
                  <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
                </span>
              </ng-messages>
          </div>

        <div class="form-group col-sm-6" ng-class="{'has-error': tripsSignup.validation.showErrors(tripsSignup.tripAppPage6, 'passportExpire') }">
          <label for="passport-expire" class="control-label required">When does your passport expire?</label>
          <span class="input-group datepicker">
            <input ng-model="signupStep.person.passportExpiration" 
                 type="text" 
                 class="form-control" 
                 name="passportExpire" id="passport-expire" 
                 placeholder="mm/dd/yyyy"
                 datepicker-popup="MM/dd/yyyy"
                 is-open='tripsSignup.passportExpireDateOpen'
                 show-button-bar='false'
                 max-date={{tripsSignup.maxPassportExpireDate}}
                 min-date={{tripsSignup.minPassportExpireDate}}
                 init-date=tripsSignup.initDate
                 ng-required="true"
                 datepicker-validator
                 required/>
            <span class="input-group-btn">
             <button type="button" class="btn btn-default" ng-click="tripsSignup.openPassportExpireDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </span>
          <ng-messages for="tripsSignup.tripAppPage6.passportExpire.$error" 
                       ng-if="tripsSignup.validation.showErrors(tripsSignup.tripAppPage6, 'passportExpire')">
            <span ng-message="required">
               <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
             </span>
            <span ng-message="invalidDate">
              <span dynamic-content="$root.MESSAGES.invalidData.content | html"></span>
            </span>
            <span ng-message="minDate">
              <span dynamic-content="$root.MESSAGES.invalidData.content | html"></span>
            </span>
          </ng-messages>
        </div>
      </div><!--/row-->

      <div class="row" ng-if="tripsSignup.signupService.page6.validPassport === 'true'">
        <div class="form-group col-sm-12">
          <span dynamic-content="$root.MESSAGES.TripPassportName.content | html"></span>
          <div class="row">
            <div class="form-group col-sm-6" ng-class="{'has-error': tripsSignup.validation.showErrors(tripsSignup.tripAppPage6, 'passportFirstName') }">
                <label for="passport-firstname" class="control-label required">First Name</label>
                <input ng-model="signupStep.person.passportFirstname" type="text" class="form-control" name="passportFirstName" id="passport-firstname" required placeholder="Enter first name">
                <ng-messages for="tripsSignup.tripAppPage6.passportFirstName.$error" ng-if="tripsSignup.validation.showErrors(tripsSignup.tripAppPage6, 'passportFirstName')">
                  <span ng-message="required">
                    <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
                  </span>
                </ng-messages>
            </div>
            <div class="form-group col-sm-6">
                <label for="passport-middlename" class="control-label">Middle Name <small class="text-muted">Exactly as printed on your passport</small></label>
                <input ng-model="signupStep.person.passportMiddlename" type="text" class="form-control" name="passportMiddlename" id="passport-middlename" placeholder="Enter middle name">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-6" ng-class="{'has-error': tripsSignup.validation.showErrors(tripsSignup.tripAppPage6, 'passportLastName') }">
                <label for="passport-lastname" class="control-label required">Last Name</label>
                <input ng-model="signupStep.person.passportLastname" type="text" class="form-control" name="passportLastName" id="passport-lastname" required placeholder="Enter last name">
                <ng-messages for="tripsSignup.tripAppPage6.passportLastName.$error" ng-if="tripsSignup.validation.showErrors(tripsSignup.tripAppPage6, 'passportLastName')">
                  <span ng-message="required">
                    <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
                  </span>
                </ng-messages>
            </div>
            <div class="form-group col-sm-6" ng-class="{'has-error': tripsSignup.validation.showErrors(tripsSignup.tripAppPage6, 'passportCountry') }">
                <label for="passport-country" class="control-label required">Country of Passport</label>
                <input ng-model="signupStep.person.passportCountry" type="text" class="form-control" name="passportCountry" id="passport-country" required placeholder="Enter passport country">
                <ng-messages for="tripsSignup.tripAppPage6.passportCountry.$error" ng-if="tripsSignup.validation.showErrors(tripsSignup.tripAppPage6, 'passportCountry')">
                  <span ng-message="required">
                    <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
                  </span>
                </ng-messages>
            </div>
          </div>
        </div>
      </div><!--/row-->

      <div class="row" ng-show="!tripsSignup.nolaRequired()">
        <div class="col-sm-12">
          <legend>Frequent Flyer Information</legend>
        </div>
        <div class="form-group col-sm-6" ng-repeat="flyer in signupStep.frequentFlyers" ng-show="tripsSignup.showFrequentFlyer(flyer)" >
          <label for="{{flyer.atributeId}}">{{flyer.name}}</label>
          <input ng-model="flyer.notes"
                 type="text"
                 class="form-control"
                 id="{{flyer.attributeId}}"
                 name="{{flyer.attributeId}}"
                 placeholder="Enter {{flyer.name}} frequent flyer number" />
        </div>
      </div>

      <div class="row" ng-show="!tripsSignup.nolaRequired()">
       <div class="col-sm-12">
        <legend>
          Travel Experience Information
        </legend>
      </div>
      </div><!--/row-->

      <div class="row" ng-show="!tripsSignup.nolaRequired()">
        <div class="form-group col-sm-12" ng-class="{'has-error': tripsSignup.validation.showErrors(tripsSignup.tripAppPage6, 'internationalTrips') }">
          <label class="control-label block required">International Travel Experience</label>
          <div class="radio" ng-repeat="option in signupStep.interExperience.attributes">
            <label for="xp-{{option.attributeId}}">
                <input ng-model="signupStep.internationalExpSelected.attribute.attributeId"
                       type="radio"
                       ng-value="option.attributeId"
                       name="internationalTrips"
                       id="xp-{{option.attributeId}]"
                       ng-required="tripsSignup.requireInternational()">
                {{option.name}}
            </label>
          </div>
          <ng-messages for="tripsSignup.tripAppPage6.internationalTrips.$error" ng-if="tripsSignup.validation.showErrors(tripsSignup.tripAppPage6, 'internationalTrips')">
            <span ng-message="required">
              <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
            </span>
          </ng-messages>
        </div>

        <div class="col-sm-12 push-bottom" ng-class="{'has-error': tripsSignup.validation.showErrors(tripsSignup.tripAppPage6, 'travelExperience') }">
          <label class="control-label block required">Do you have outside experience with serving abroad outside of Crossroads GO Trips?</label>

          <label for="travel-experience-yes" class="radio-inline" ng-click="isCollapsed = true">
              <input ng-model="tripsSignup.signupService.page6.experienceAbroad" type="radio" value="yes"  name="travelExperience" id="travel-experience-yes" ng-required="tripsSignup.requireInternational()">Yes
          </label>
          <label for="travel-experience-no" class="radio-inline" ng-click="isCollapsed = false">
              <input ng-model="tripsSignup.signupService.page6.experienceAbroad" type="radio" value="no" name="travelExperience" id="travel-experience-no" ng-required="tripsSignup.requireInternational()">No
          </label>
          <ng-messages for="tripsSignup.tripAppPage6.travelExperience.$error" ng-if="tripsSignup.validation.showErrors(tripsSignup.tripAppPage6, 'travelExperience')">
            <span ng-message="required">
              <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
            </span>
          </ng-messages>
        </div>
        <div class="col-sm-12 push-bottom" ng-class="{'has-error': tripsSignup.validation.showErrors(tripsSignup.tripAppPage6, 'describeExperienceAbroad') }">
          <div class="form-group push-top" collapse="!isCollapsed">
            <label for="describeExperienceAbroad" ng-class="{'required': isCollapsed}">Please describe your experience</label>
            <textarea ng-model="signupStep.experienceAbroad.notes"
                      cols="1"
                      rows="4"
                      class="form-control"
                      name="describeExperienceAbroad"
                      id="travelExperienceDetail"
                      maxlength="250"
                      ng-required="isCollapsed">
            </textarea>
            <ng-messages for="tripsSignup.tripAppPage6.describeExperienceAbroad.$error" ng-if="tripsSignup.validation.showErrors(tripsSignup.tripAppPage6, 'describeExperienceAbroad')">
              <span ng-message="required">
                <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
              </span>
            </ng-messages>
          </div>
        </div>
      </div>

      <div class="col-sm-12" ng-show="tripsSignup.isIndia()">
        <div class="row">
          <legend>
            Past Abuse History (This will in no way keep you from GOing to India)
          </legend>
          <div dynamic-content="$root.MESSAGES.trip_abuse.content | html"></div>
          <div class="form-group" ng-class="{'has-error': tripsSignup.validation.showErrors(tripsSignup.tripAppPage6, 'abuse') }">
            <label class="control-label block required">Are you aware of ever having been sexually victimized in any way?</label>
            <div class="radio" ng-repeat="option in signupStep.abuseOptions.attributes">
              <label for="abuse-{{option.attributeId}}">
                  <input ng-model="signupStep.abuseHistory.attribute.attributeId"
                         type="radio"
                         ng-value="option.attributeId"
                         name="abuse"
                         id="abuse-{{option.attributeId}]"
                         ng-required="tripsSignup.isIndia()">
                  {{option.name}}
              </label>
            </div>
            <ng-messages for="tripsSignup.tripAppPage6.abuse.$error" ng-if="tripsSignup.validation.showErrors(tripsSignup.tripAppPage6, 'abuse')">
              <span ng-message="required">
                <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
              </span>
            </ng-messages>
          </div>
        </div>
      </div>

      <button ng-click='tripsSignup.handleSubmit(tripsSignup.tripAppPage6)'
              class="btn btn-primary pull-right"
              ng-disabled="tripsSignup.submitting" >
              <span ng-if="tripsSignup.submitting">{{ tripsSignup.page6ButtonText.processing }}</span>
              <span ng-if="!tripsSignup.submitting">{{ tripsSignup.page6ButtonText.normal }}</span>
      </button>
    </ng-form>
  </div>
</div><!--/row-->
