<div ng-if="!decision.allowAccess" class="alert alert-danger" role="alert">
  <div dynamic-content="$root.MESSAGES.mptool_invalid_access.content | html"></div>
</div>

<div ng-if="decision.allowAccess">
  <div ng-if='decision.showError()' class='alert alert-danger' role='alert'>
    <span dynamic-content='decision.errorMessage.content | html'></span>
  </div>

  <preloader full-screen="true" ng-show="!decision.viewReady"> </preloader>

  <div ng-if="decision.viewReady && !decision.showError()"  class="col-md-6 col-md-offset-3">
    <h1> Childcare Decision </h1>
    <form name="decision.form" novalidate ng-submit="decision.submit()">
      <div class="form-group">
        <label class="control-label">Group:</label>
        <input type="text"
               class="form-control" 
               readonly 
               value="{{::decision.request.GroupName}}"/>
      </div>
      <div class="form-group">
        <label class="control-label">Start Date:</label>
        <input type="text"
               class="form-control"
               readonly
               value="{{::decision.startDate}}" />
      </div>
      <div class="form-group">
        <label class="control-label">End Date:</label>
        <input type="text"
               class="form-control"
               readonly
               value="{{::decision.endDate}}" />
      </div>
      <div class="form-group">
        <label class="control-label">Childcare Session:</label>
        <input type="text"
               class="form-control"
               readonly
               value="{{::decision.request.PreferredTime}}" />
      </div>

      <div class="panel panel-default" ng-show="decision.showDates()">
        <div class="panel-heading"> Please select the days you want to approve.</div>
        <div class="panel-body" style="overflow-y:auto; max-height:200px;">
          <div class="checkbox" ng-repeat="date in decision.datesList">
            <label>
              <input type="checkbox" 
                     name="datebox"
                     ng-model="date.selected" >
              {{date.date.format('L')}}
            </label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label">Decision Notes: </label>
        <textarea
               class="form-control"
               ng-model="decision.request.decisionNotes" 
               placeholder="Any special notes to relay to the requestor" >
        </textarea>
      </div>
      <div class="form-group">
        <loading-button
          input-classes="btn btn-primary"
          normal-text="Approve"
          loading-text="{{decision.loadingText()}}"
          loading="decision.isLoading()"
          ng-click="submit()">
          <span class="glyphicon glyphicon-ok"></span>
        </loading-button>
        <loading-button
          input-classes="btn btn-danger"
          normal-text="Reject All"
          loading-text="{{decision.rejectingText()}}"
          loading="decision.isLoading()"
          ng-click="$event.preventDefault(); decision.reject()">
          <span class="glyphicon glyphicon-remove"></span>
        </loading-button>
    </form>
  </div>
</div>
