<div dynamic-content="$root.MESSAGES.goVolunteerOrgNameQuestion.content | html"></div>

<div class="row" >
  <div class="form-group col-xs-12">
    <input type="text"
           ng-model="goOrgName.otherOrgName"
           typeahead="option.name for option in goOrgName.availableOptions | filter:$viewValue | limitTo:8"
           class="form-control">
  </div>
  <div class="col-xs-12">
    <button type="submit"
            class="btn btn-primary-gc pull-right"
            ng-click="goOrgName.submit()"
            > Next
      <svg viewBox="0 0 32 32" class="icon icon-arrow-right9">
        <use xlink:href="#arrow-right9"></use>
      </svg>
    </button>
  </div>
</div>
