<div ng-if="!confirmRequest.emailLeader">
  <div class="modal-header">
    <h3 class="modal-title">Confirm Request</h3>
  </div>
  <div class="modal-body">
    <group-detail-about data="confirmRequest.group" show-share-buttons="true"></group-detail-about>
  </div>
  <div class="modal-footer">
    <loading-button
      ng-click="confirmRequest.submit()"
      input-type='button'
      normal-text='Send Request'
      loading-text='Sending...'
      loading='confirmRequest.processing'
      loading-class='disabled'
      input-classes='sm-pull-right btn btn-primary btn-block-mobile mobile-push-half-bottom'></loading-button>
    <button type="button" class="btn btn-standard btn-block-mobile mobile-push-half-bottom" ng-click="confirmRequest.cancel()">Back to Search Results</button>
  </div>
</div>

<div ng-if="confirmRequest.emailLeader">
  <form name="groupEmailForm" novalidate>
    <div class="modal-header">
      <h3 class="modal-title">Contact Group Leader<span ng-if="confirmRequest.multipleLeaders">s</span> -
        <span ng-repeat="participant in confirmRequest.group.leaders()">{{confirmRequest.leaderDisplayName(participant)}}<span ng-if="!$last">, </span></span>
      </h3>
    </div>
    <div class="modal-body">
      <!-- groupToolContactGroupLeaderText -->
      <div dynamic-content="$root.MESSAGES.groupToolContactGroupLeaderText.content | html"></div>

      <group-email message='confirmRequest.groupMessage' allow-subject='true'/>
    </div>
    <div class="modal-footer">
      <loading-button
        ng-click="confirmRequest.sendEmail(groupEmailForm)"
        input-type='button'
        normal-text='Send'
        loading-text='Sending...'
        loading='confirmRequest.processing'
        loading-class='disabled'
        input-classes='sm-pull-right btn btn-primary btn-block-mobile mobile-push-half-bottom'></loading-button>
      <button type="button" class="btn btn-standard btn-block-mobile mobile-push-half-bottom" ng-click="confirmRequest.cancel()">Back to Search Results</button>
    </div>
  </form>
</div>
