<div>
  <h3>Camper Information</h3>

  <preloader full-screen='false' ng-show='!camperInfo.viewReady'> </preloader>
  <div ng-show='camperInfo.viewReady' class="row push-top">
    <div class="col-sm-12">
      <form ng-submit="camperInfo.submit()" novalidate name="camperInfo.infoForm">
        <fieldset>
          <formly-form model="camperInfo.model" fields="camperInfo.fields" options="camperInfo.options" form="camperInfo.infoForm">
          </formly-form>
        </fieldset>
        <div class="push-top">
          <button type="submit"class="btn btn-primary pull-right" ng-if="!camperInfo.submitting">Next</button>
          <button type="submit"class="btn btn-primary pull-right disabled" disabled ng-if="camperInfo.submitting">Submitting...</button>
        </div>
      </form>
    </div>
  </div>
</div>
