<div dynamic-content="kcAdultApplication.pageInfo.page1 | html"></div>
<form name="adult" ng-submit="kcAdultApplication.save(this)" novalidate>
  <fieldset class="push-bottom">
    <legend>General Info</legend>
    <div class="row">

      <div class="form-group col-sm-6">
        <label for="firstname" class="control-label">First Name</label>
        <input type="text" class="form-control" id="firstName" placeholder="Enter first name" ng-value="kcAdultApplication.volunteer.firstName" disabled="true">
        <span ng-show="false">Please provide a valid value.</span>
      </div>

      <div class="form-group col-sm-6">
        <label class="control-label" for="lastName">Last Name</label>
        <input type="text" class="form-control" id="lastName" placeholder="Enter last name" ng-value="kcAdultApplication.volunteer.lastName" disabled="true">
        <span ng-show="false">Please provide a valid value.</span>
      </div>

      <div class="form-group col-sm-6">
        <label class="control-label" for="middleName">Middle Initial</label>
        <input type="text" class="form-control" id="middleName" placeholder="Enter middle initial" ng-value="kcAdultApplication.volunteer.middleName.substring(0,1)" disabled="true">
        <span ng-show="false">Please provide a valid value.</span>
      </div>

      <div class="form-group col-sm-6">
        <label class="control-label" for="previousName">Previous Name/Maiden Name</label>
        <input type="text" class="form-control" id="previousName" ng-model="kcAdultApplication.volunteer.previousName" placeholder="Enter Maiden Name">
        <span ng-show="false">Please provide a valid value.</span>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm-6">
        <label class="control-label" for="email">Email</label>
        <input type="text" class="form-control" id="email" placeholder="Email" ng-value="kcAdultApplication.volunteer.emailAddress" disabled="true">
      </div>

      <div class="form-group col-sm-6">
        <label class="control-label" for="nameTag">Name For Name Tag</label>
        <input type="text" class="form-control" id="nameTag" placeholder="Enter name for name tag" ng-value="kcAdultApplication.volunteer.nickName" disabled="true">
      </div>

    </div>

    <div class="row">
      <div class="form-group col-sm-6">
        <label class="control-label" for="birthDate">Date of Birth</label>
        <input type="text" class="form-control" id="birthDate" placeholder="mm/dd/yyyy" ng-value="kcAdultApplication.volunteer.dateOfBirth" disabled="true">
        <span ng-show="false">Please provide a valid value.</span>
      </div>

      <div class="form-group col-sm-6">
        <label class="block">Gender</label>
        <label class="radio-inline">
          <input type="radio" name="gender" id="gender-male" value="1" ng-model="kcAdultApplication.volunteer.genderId" disabled="true">Male

        </label>
        <label class="radio-inline">
          <input type="radio" name="gender" id="gender-female" value="2" ng-model="kcAdultApplication.volunteer.genderId" disabled="true">Female
        </label>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm-6">
        <label class="block">Marital Status</label>
        <select class="form-control col-sm-12" name="maritalStatus"
          ng-model="kcAdultApplication.volunteer.maritalStatusId"
          ng-options="item.dp_RecordID as item.dp_RecordName for item in kcAdultApplication.maritalStatuses"
          disabled="true">
          <option></option>
        </select>
      </div>
    </div>
    <div class="row">

      <div class="form-group col-sm-6">
        <label class="control-label" for="spouseName">Spouse Name</label>
        <input type="text" class="form-control" id="spouseName" placeholder="Spouse Name" ng-model="kcAdultApplication.volunteer.spouseName">
        <span ng-show="false">Please provide a valid value.</span>
      </div>
      <div class="form-group col-sm-6">
        <label class="block">Spouse Gender</label>
        <label class="radio-inline">
          <input type="radio" value="male" name="spouseGender" ng-model="kcAdultApplication.volunteer.spouseGender">Male
        </label>
        <label class="radio-inline">
          <input type="radio" value="female" name="spouseGender" ng-model="kcAdultApplication.volunteer.spouseGender">Female
        </label>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm-6" ng-class="{'has-error': kcAdultApplication.showError(adult, 'attending')}">
        <label class="control-label required" for="attending">When did you start attending Crossroads?</label>
        <input type="text" class="form-control" ng-model="kcAdultApplication.volunteer.attending" id="attending" placeholder="mm/yyyy" validate-date='MM/YYYY' ng-model-options="{updateOn: 'blur'}"required name="attending">
        <ng-messages for="adult.attending.$error" ng-if="kcAdultApplication.showError(adult, 'attending')">
          <span ng-message="invalidDate">
            <span dynamic-content="$root.MESSAGES.invalidData.content | html"></span>
          </span>
          <span ng-message="required">
            <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
          </span>
        </ng-messages>
      </div>
      <div class="form-group col-sm-6" ng-class="{'has-error': kcAdultApplication.showError(adult, 'serviceAttend')}">
        <label class="control-label required" for="serviceAttend">Site/Service Time where you attend </label>
        <select class="form-control col-sm-12" name="serviceAttend" ng-model="kcAdultApplication.volunteer.serviceAttend" required>
          <option value="">Site/Service Time where you attend</option>
          <option value="Oakley - Sat - 4:30pm">Oakley - Sat - 4:30pm</option>
          <option value="Oakley - Sat - 6:15pm">Oakley - Sat - 6:15pm</option>
          <option value="Oakley - Sun - 8:30am">Oakley - Sun - 8:30am</option>
          <option value="Oakley - Sun - 10:05am">Oakley - Sun - 10:05am</option>
          <option value="Oakley - Sun - 11:55am">Oakley - Sun - 11:55am</option>
          <option value="Oakley - Sun - 11:55am">Oakley - Sun - 11:55am</option>
          <option value="Mason - Sun - 8:15am">Mason - Sun - 8:15am</option>
          <option value="Mason - Sun - 9:45am">Mason - Sun - 9:45am</option>
          <option value="Mason - Sun - 11:30am">Mason - Sun - 11:30am</option>
          <option value="Florence - Sat - 5:30pm">Florence - Sat - 5:30pm</option>
          <option value="Florence - Sun - 9:30am">Florence - Sun - 9:30am</option>
          <option value="Florence - Sun - 11:30am">Florence - Sun - 11:30am</option>
          <option value="West Side - Sun - 8:15am">West Side - Sun - 8:15am</option>
          <option value="West Side - Sun - 10:00am">West Side - Sun - 10:00am</option>
          <option value="West Side - Sun - 11:45am">West Side - Sun - 11:45am</option>
          <option value="Uptown - Sun - 7pm">Uptown - Sun - 7pm</option>
        </select>
        <ng-messages for="adult.serviceAttend.$error" ng-if="kcAdultApplication.showError(adult, 'serviceAttend')">
          <span ng-message="required">
            <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
          </span>
        </ng-messages>
      </div>
    </div>


    <div class="row">
      <div class="form-group col-sm-6">
        <label class="control-label" for="streetAddress">Street Address</label>
        <input type="text" class="form-control" id="streetAddress" placeholder="Street Address" ng-value="kcAdultApplication.volunteer.addressLine1" disabled="true">
        <span ng-show="false">Please provide a valid value.</span>
      </div>
      <div class="form-group col-sm-6">
        <label class="control-label" for="city">City</label>
        <input type="text" class="form-control" id="city" placeholder="City" ng-value="kcAdultApplication.volunteer.city" disabled="true">
        <span ng-show="false">Please provide a valid value.</span>
      </div>
      <div class="form-group col-sm-6">
        <label class="control-label" for="state">State</label>
        <input type="text" class="form-control" id="state" placeholder="State" ng-value="kcAdultApplication.volunteer.state" disabled="true">
        <span ng-show="false">Please provide a valid value.</span>
      </div>
      <div class="form-group col-sm-6">
        <label class="control-label" for="zip">Zip</label>
        <input type="text" class="form-control" id="zip" placeholder="Zip" ng-value="kcAdultApplication.volunteer.postalCode" disabled="true">
        <span ng-show="false">Please provide a valid value.</span>
      </div>
      <div class="form-group col-sm-6">
        <label class="control-label" for="cellPhone">Cell Phone</label>
        <input type="text" class="form-control" id="cellPhone" placeholder="CellPhone" ng-value="kcAdultApplication.volunteer.mobilePhone" disabled="true">
        <span ng-show="false">Please provide a valid value.</span>
      </div>
      <div class="form-group col-sm-6">
        <label class="control-label" for="homePhone">Home Phone</label>
        <input type="text" class="form-control" id="homePhone" placeholder="Home Phone" ng-value="kcAdultApplication.volunteer.homePhone" disabled="true">
        <span ng-show="false">Please provide a valid value.</span>
      </div>

    </div>
    <!--/row-->
  </fieldset>

  <fieldset class="push-bottom">
    <legend>Employer</legend>
    <div class="row">
      <div class="form-group col-sm-6" ng-class="{'has-error': kcAdultApplication.showError(adult, 'companyName')}">
        <label class="control-label required" for="companyName">Company Name</label>
        <input type="text" class="form-control" id="companyName" name="companyName" placeholder="Company Name" ng-model="kcAdultApplication.volunteer.company" ng-model-options="{updateOn: 'blur'}"required>
        <ng-messages for="adult.companyName.$error" ng-if="kcAdultApplication.showError(adult, 'companyName')">
          <span ng-message="required">
            <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
          </span>
        </ng-messages>
      </div>
      <div class="form-group col-sm-6" ng-class="{'has-error': kcAdultApplication.showError(adult, 'companyPosition')}">
        <label class="control-label required" for="position">Position</label>
        <input type="text" class="form-control" id="position" name="companyPosition" ng-model="kcAdultApplication.volunteer.position" placeholder="Position" ng-model-options="{updateOn: 'blur'}"required>
        <ng-messages for="adult.companyPosition.$error" ng-if="kcAdultApplication.showError(adult, 'companyPosition')">

          <span ng-message="required">
            <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
          </span>
        </ng-messages>
      </div>
      <div class="form-group col-sm-6" ng-class="{'has-error': adult.workPhone.$invalid}">
        <label class="control-label" for="workPhone">Work Phone (If you can receive calls at this number)</label>
        <input type="text" class="form-control" id="workPhone" placeholder="123-456-7890" name="workPhone" ng-pattern="kcAdultApplication.phoneFormat" ng-model="kcAdultApplication.volunteer.workPhone" ng-model-options="{ updateOn: 'blur' }">
        <ng-messages for="adult.workPhone.$error" ng-if="kcAdultApplication.showError(adult, 'workPhone')">
          <span ng-message="pattern">
            <span dynamic-content="$root.MESSAGES.invalidPhone.content | html"></span>
          </span>
        </ng-messages>
      </div>
    </div>
  </fieldset>

  <fieldset class="push-bottom">
    <legend>Children's Name and Birthdays</legend>
    <div class="row">
      <div class="form-group col-sm-6">
        <label class="control-label" for="childName-1">Name</label>
        <input type="text" class="form-control" id="childName-1" placeholder="Name" name="child1" ng-model="kcAdultApplication.volunteer.child1.name">
      </div>
      <div class="form-group col-sm-6" ng-class="{'has-error': adult.childDob1.$invalid }">
        <label class="control-label" for="childDob-1">Birthday</label>
        <div class="input-group">
          <input type="text" id="childDob-1" class="form-control" name="childDob1" placeholder="Birthday" datepicker-popup="{{::kcAdultApplication.format}}" ng-model="kcAdultApplication.volunteer.child1.dob" is-open="kcAdultApplication.datePickers.childDob1" datepicker-options="kcAdultApplication.dateOptions" close-text="Close"
          />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="kcAdultApplication.open('childDob1', $event)">
              <i class="glyphicon glyphicon-calendar"></i>
            </button>
          </span>
        </div>
        <ng-messages for="adult.childDob1.$error" ng-if="adult.childDob1.$invalid">
          <span ng-message="date">
            <span dynamic-content="$root.MESSAGES.invalidData.content | html"></span>
          </span>
        </ng-messages>
      </div>
      <div class="form-group col-sm-6">
        <label class="control-label" for="childName-2">Name</label>
        <input type="text" class="form-control" id="childName-2" placeholder="Name" ng-model="kcAdultApplication.volunteer.child2.name">
        <span ng-show="false">Please provide a valid value.</span>
      </div>
      <div class="form-group col-sm-6" ng-class="{'has-error': adult.childDob2.$invalid }">
        <label class="control-label" for="childDob-2">Birthday</label>
        <div class="input-group">
          <input type="text" id="childDob-2" class="form-control" name="childDob2" placeholder="Birthday" datepicker-popup="{{::kcAdultApplication.format}}" ng-model="kcAdultApplication.volunteer.child2.dob" is-open="kcAdultApplication.datePickers.childDob2" datepicker-options="kcAdultApplication.dateOptions" close-text="Close"
          />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="kcAdultApplication.open('childDob2', $event)">
              <i class="glyphicon glyphicon-calendar"></i>
            </button>
          </span>
        </div>
        <ng-messages for="adult.childDob2.$error" ng-if="adult.childDob2.$invalid">
          <span ng-message="date">
            <span dynamic-content="$root.MESSAGES.invalidData.content | html"></span>
          </span>
        </ng-messages>
      </div>
      <div class="form-group col-sm-6">
        <label class="control-label" for="childName-3">Name</label>
        <input type="text" class="form-control" id="childName-3" ng-model="kcAdultApplication.volunteer.child3.name" placeholder="Name">
        <span ng-show="false">Please provide a valid value.</span>
      </div>
      <div class="form-group col-sm-6" ng-class="{'has-error': adult.childDob3.$invalid }">
        <label class="control-label" for="childDob-3">Birthday</label>
        <div class="input-group">
          <input type="text" id="childDob-3" class="form-control" name="childDob3" placeholder="Birthday" datepicker-popup="{{::kcAdultApplication.format}}" ng-model="kcAdultApplication.volunteer.child3.dob" is-open="kcAdultApplication.datePickers.childDob3" datepicker-options="kcAdultApplication.dateOptions" close-text="Close"
          />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="kcAdultApplication.open('childDob3', $event)">
              <i class="glyphicon glyphicon-calendar"></i>
            </button>
          </span>
        </div>
        <ng-messages for="adult.childDob3.$error" ng-if="adult.childDob3.$invalid">
          <span ng-message="date">
            <span dynamic-content="$root.MESSAGES.invalidData.content | html"></span>
          </span>
        </ng-messages>
      </div>
      <div class="form-group col-sm-6">
        <label class="control-label" for="childName-4">Name</label>
        <input type="text" class="form-control" id="childName-4" ng-model="kcAdultApplication.volunteer.child4.name" placeholder="Name">
        <span ng-show="false">Please provide a valid value.</span>
      </div>
      <div class="form-group col-sm-6" ng-class="{'has-error': adult.childDob4.$invalid }">
        <label class="control-label" for="childDob-4">Birthday</label>
        <div class="input-group">
          <input type="text" id="childDob-4" class="form-control" name="childDob4" placeholder="Birthday" datepicker-popup="{{::kcAdultApplication.format}}" ng-model="kcAdultApplication.volunteer.child4.dob" is-open="kcAdultApplication.datePickers.childDob4" datepicker-options="kcAdultApplication.dateOptions" close-text="Close"
          />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="kcAdultApplication.open('childDob4', $event)">
              <i class="glyphicon glyphicon-calendar"></i>
            </button>
          </span>
        </div>
        <ng-messages for="adult.childDob4.$error" ng-if="adult.childDob4.$invalid">
          <span ng-message="date">
            <span dynamic-content="$root.MESSAGES.invalidData.content | html"></span>
          </span>
        </ng-messages>
      </div>
    </div>
  </fieldset>

  <fieldset class="push-bottom">
    <legend>About You</legend>
    <div dynamic-content="kcAdultApplication.pageInfo.contentBlock1 | html"></div>
    <div class="row">

      <div class="form-group col-sm-12" ng-class="{'has-error': kcAdultApplication.showError(adult, 'crime') }">
        <label class="control-label block required">Have you ever been arrested, convicted of or pleaded no contest to any crime?</label>
        <label class="radio-inline">
          <input type="radio" value="No" name="crime" ng-model="kcAdultApplication.volunteer.crime" required>No
        </label>
        <label class="radio-inline">
          <input type="radio" value="Yes" name="crime" ng-model="kcAdultApplication.volunteer.crime" required>Yes
        </label>
        <ng-messages for="adult.crime.$error" ng-if="kcAdultApplication.showError(adult, 'crime')">
          <span ng-message="required">
            <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
          </span>
        </ng-messages>
      </div>

      <div class="form-group col-sm-12" ng-class="{'has-error': kcAdultApplication.showError(adult, 'addiction') }">
        <label class="control-label block required">Have you ever been concerned that you may have an addiction to drugs, alcohol, pornography, or other addiction; or has anyone suggested that you do?</label>
        <label class="radio-inline">
          <input type="radio" value="No" name="addiction" ng-model="kcAdultApplication.volunteer.addiction" required>No
        </label>
        <label class="radio-inline">
          <input type="radio" value="Yes" name="addiction" ng-model="kcAdultApplication.volunteer.addiction" required>Yes
        </label>
        <ng-messages for="adult.addiction.$error" ng-if="kcAdultApplication.showError(adult, 'addiction')">
          <span ng-message="required">
            <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
          </span>
        </ng-messages>
      </div>

      <div class="form-group col-sm-12" ng-class="{'has-error': kcAdultApplication.showError(adult, 'neglect')}">
        <label class="control-label block required">Have you ever been accused, alleged, investigated, charged or convicted of any act of neglecting,abusing, exploiting or molesting any child?</label>
        <label class="radio-inline">
          <input type="radio" value="No" name="neglect" ng-model="kcAdultApplication.volunteer.neglect" required>No
        </label>
        <label class="radio-inline">
          <input type="radio" value="Yes" name="neglect" ng-model="kcAdultApplication.volunteer.neglect" required>Yes
        </label>
        <ng-messages for="adult.neglect.$error" ng-if="kcAdultApplication.showError(adult, 'neglect')">
          <span ng-message="required">
            <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
          </span>
        </ng-messages>
      </div>

      <div class="form-group col-sm-12" ng-class="{'has-error': kcAdultApplication.showError(adult, 'psychiatricDisorder')}">
        <label class="control-label block required">Have you ever been treated for or diagnosed with a psychiatric disorder?</label>
        <label class="radio-inline">
          <input type="radio" value="No" name="psychiatricDisorder" ng-model="kcAdultApplication.volunteer.psychiatricDisorder" required >No
        </label>
        <label class="radio-inline">
          <input type="radio" value="Yes" name="psychiatricDisorder" ng-model="kcAdultApplication.volunteer.psychiatricDisorder" required>Yes
        </label>
        <ng-messages for="adult.psychiatricDisorder.$error" ng-if="kcAdultApplication.showError(adult, 'psychiatricDisorder')">
          <span ng-message="required">
            <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
          </span>
        </ng-messages>
      </div>

      <div class="form-group col-sm-12" ng-class="{'has-error':kcAdultApplication.showError(adult, 'sexuallyActive')}">
        <label class="control-label block required">Currently, or in the past year, have you been sexually active outside of marriage?</label>
        <label class="radio-inline">
          <input type="radio" value="No" name="sexuallyActive" ng-model="kcAdultApplication.volunteer.sexualyActive" required>No
        </label>
        <label class="radio-inline">
          <input type="radio" value="Yes" name="sexuallyActive" ng-model="kcAdultApplication.volunteer.sexualyActive" required>Yes
        </label>
        <ng-messages for="adult.sexuallyActive.$error" ng-if="kcAdultApplication.showError(adult, 'sexuallyActive')">
          <span ng-message="required">
            <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
          </span>
        </ng-messages>
      </div>

      <div class="form-group col-sm-12" ng-class="{'has-error': kcAdultApplication.showError(adult, 'religion')}">
        <label class="block required">How would you define your spiritual life? Pick as many as you like.</label>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-true-value="'Yes'" ng-false-value="''" name="religion" ng-model="kcAdultApplication.volunteer.religionSearchingForAnswers" ng-required="!kcAdultApplication.spiritualSelected()">Searching for answers.
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-true-value="'Yes'" ng-false-value="''" name="religion" ng-model="kcAdultApplication.volunteer.religionReceivedJesus" ng-required="!kcAdultApplication.spiritualSelected()">I have received Jesus.
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-true-value="'Yes'" ng-false-value="''" name="religion" ng-model="kcAdultApplication.volunteer.religionFocusingOnObedience" ng-required="!kcAdultApplication.spiritualSelected()">Focusing on obedience—I’ve quit negotiating with God.
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-true-value="'Yes'" ng-false-value="''" name="religion" ng-model="kcAdultApplication.volunteer.religionReplicating" ng-required="!kcAdultApplication.spiritualSelected()">I’m actively replicating my faith in others.
          </label>
        </div>
        <ng-messages for="adult.religion.$error" ng-if="kcAdultApplication.showError(adult, 'religion')">
          <span ng-message="required">
            <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
          </span>
        </ng-messages>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm-8" ng-class="{'has-error': kcAdultApplication.showError(adult, 'explainFaith') }">
        <label class="control-label required" for="explainFaith">Please Explain</label>
        <textarea class="form-control" id="explainFaith" name="explainFaith" placeholder="Please Explain" ng-model="kcAdultApplication.volunteer.explainFaith" ng-model-options="{updateOn: 'blur'}" required>
        </textarea>
        <ng-messages for="adult.explainFaith.$error" ng-if="kcAdultApplication.showError(adult, 'explainFaith')">
          <span ng-message="required">
            <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
          </span>
        </ng-messages>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-8">
        <label class="control-label" for="promptedApplication">What prompted you to fill out an application and check us out?</label>
        <input type="text" class="form-control" id="promptedApplication" ng-model="kcAdultApplication.volunteer.whatPromptedApplication" placeholder="What prompted you to fill out an application and check us out?">
        <span ng-show="false">Please provide a valid value.</span>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-8">
        <label class="control-label" for="specialSkills">Any special talents, abilities, skills or experiences that may be helpful? <span class="weight-normal">(Juggling, fire eating, acting, or making weird noises with your armpit count.)</span></label>
        <input type="text" class="form-control" id="specialSkills" ng-model="kcAdultApplication.volunteer.specialTalents" placeholder="Special talents...">
        <span ng-show="false">Please provide a valid value.</span>
      </div>
    </div>
  </fieldset>

  <fieldset class="push-bottom">
    <legend>Serving Opportunities</legend>
    <div class="row">

      <div class="form-group col-sm-12" ng-class="{'has-error': kcAdultApplication.showError(adult, 'availability') }">
        <label class="block required control-label">What is your availability?</label>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-true-value="'Yes'" ng-false-value="''" name="availability" ng-model="kcAdultApplication.volunteer.availabilityWeek" ng-required="!kcAdultApplication.availabilitySelected()"> During the Week
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-true-value="'Yes'" ng-false-value="''" name="availability" ng-model="kcAdultApplication.volunteer.availabilityWeekend" ng-required="!kcAdultApplication.availabilitySelected()"> Weekend Services
          </label>
        </div>
        <ng-messages for="adult.availability.$error" ng-if="kcAdultApplication.showError(adult, 'availability')">
          <span ng-message="required">
            <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
          </span>
        </ng-messages>
        <div class="form-group col-sm-6" ng-class="{'has-error': kcAdultApplication.showError(adult, 'availabilityWeekendSite')}" ng-if="kcAdultApplication.volunteer.availabilityWeekend">
          <label class="control-label required" for="availabilityWeekendSite">Weekend Site/Service Time</label>
          <select class="form-control col-sm-12" name="availabilityWeekendSite" ng-model="kcAdultApplication.volunteer.availabilityWeekendSite" ng-required="kcAdultApplication.volunteer.availabilityWeekend">
            <option value="">Weekend Site/Service Time</option>
            <option value="Oakley - Sat - 4:30pm">Oakley - Sat - 4:30pm</option>
            <option value="Oakley - Sat - 6:15pm">Oakley - Sat - 6:15pm</option>
            <option value="Oakley - Sun - 8:30am">Oakley - Sun - 8:30am</option>
            <option value="Oakley - Sun - 10:05am">Oakley - Sun - 10:05am</option>
            <option value="Oakley - Sun - 11:55am">Oakley - Sun - 11:55am</option>
            <option value="Oakley - Sun - 11:55am">Oakley - Sun - 11:55am</option>
            <option value="Mason - Sun - 8:15am">Mason - Sun - 8:15am</option>
            <option value="Mason - Sun - 9:45am">Mason - Sun - 9:45am</option>
            <option value="Mason - Sun - 11:30am">Mason - Sun - 11:30am</option>
            <option value="Florence - Sat - 5:30pm">Florence - Sat - 5:30pm</option>
            <option value="Florence - Sun - 9:30am">Florence - Sun - 9:30am</option>
            <option value="Florence - Sun - 11:30am">Florence - Sun - 11:30am</option>
            <option value="West Side - Sun - 8:15am">West Side - Sun - 8:15am</option>
            <option value="West Side - Sun - 10:00am">West Side - Sun - 10:00am</option>
            <option value="West Side - Sun - 11:45am">West Side - Sun - 11:45am</option>
            <option value="Uptown - Sun - 7pm">Uptown - Sun - 7pm</option>
          </select>
          <ng-messages for="adult.availabilityWeekendSite.$error" ng-if="kcAdultApplication.showError(adult, 'availabilityWeekendSite')">
            <span ng-message="required">
              <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
            </span>
          </ng-messages>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm-12">
        <label>What areas most interest you? (Check all that apply)</label>

        <div class="checkbox">
          <label>
            <input type="checkbox" ng-true-value="'Yes'" ng-false-value="''" value="classroom" ng-model="kcAdultApplication.volunteer.areaOfInterestServingInClassroom">Serving in a Classroom</label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-true-value="'Yes'" ng-false-value="''" ng-model="kcAdultApplication.volunteer.areaOfInterestWelcomingNewFamilies">Welcoming New Familites and showing them to their room</label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-true-value="'Yes'" ng-false-value="''" ng-model="kcAdultApplication.volunteer.areaOfInterestHelpSpecialNeeds">One-on-one helper with a kid who has special needs</label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-true-value="'Yes'" ng-false-value="''" ng-model="kcAdultApplication.volunteer.areaOfInterestTech">Tech (Provide tech and systems support)</label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-true-value="'Yes'" ng-false-value="''" ng-model="kcAdultApplication.volunteer.areaOfInterestRoomPrep">Prepping the rooms (set up props, activities, etc on thursday and/or friday mornings)</label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-true-value="'Yes'" ng-false-value="''" ng-model="kcAdultApplication.volunteer.areaOfInterestAdminTasks">Administrative tasks (Data entry, filing, mailing, etc)</label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-true-value="'Yes'" ng-false-value="''" ng-model="kcAdultApplication.volunteer.areaOfInterestShoppingForSupplies">Shopping for supplies</label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-true-value="'Yes'" ng-false-value="''" ng-model="kcAdultApplication.volunteer.areaOfInterestCreatingWeekendExperience">Creating the weekend experience (Write Lessons or songs, brainstorm acitivites, etc)</label>
        </div>
      </div>
      <div class="form-group col-sm-12" ng-class="{'has-error': kcAdultApplication.showError(adult, 'gradeLevel')}">
        <label class="required control-label">Want to serve directly with kids? What age do you prefer? (check all that apply)</label>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-true-value="'Yes'" ng-false-value="''" name="gradeLevel" ng-model="kcAdultApplication.volunteer.birthToTwo" ng-required="!kcAdultApplication.gradeLevelSelected()"> Birth - 2 years old
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-true-value="'Yes'" ng-false-value="''" name="gradeLevel" ng-model="kcAdultApplication.volunteer.threeToPreK" ng-required="!kcAdultApplication.gradeLevelSelected()"> 3-year olds - Pre-K
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-true-value="'Yes'" ng-false-value="''" name="gradeLevel" ng-model="kcAdultApplication.volunteer.kToFifth" ng-required="!kcAdultApplication.gradeLevelSelected()"> Kinder - 5th Grade
          </label>
        </div>
        <ng-messages for="adult.gradeLevel.$error" ng-if="kcAdultApplication.showError(adult, 'gradeLevel')">
          <span ng-message="required">
            <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
          </span>
        </ng-messages>

      </div>
  </fieldset>

  <div dynamic-content="kcAdultApplication.pageInfo.contentBlock2 | html"></div>
  <!-- Reference #1 -->
  <fieldset class="push-bottom">
    <legend>Personal References</legend>
    <div class="row">
      <p class="help-text col-sm-12">List three adults (18 or older) you have know for at least one year, who are not related to you and have a definite knowledge of your character and ability to work with kids and students (e.g. pastor, close friend, teacher, and/or employer).</p>
      <h4 class="col-sm-12">First Reference</h4>
      <div class="form-group col-sm-6" ng-class="{'has-error': kcAdultApplication.showError(adult, 'referenceName1')}">
        <label class="control-label required" for="referenceName-1">Name</label>
        <input type="text" class="form-control" id="referenceName-1" name="referenceName1" ng-model="kcAdultApplication.volunteer.referenceName1" placeholder="Name" ng-model-options="{updateOn: 'blur'}"required>
        <ng-messages for="adult.referenceName1.$error" ng-if="kcAdultApplication.showError(adult, 'referenceName1')">
          <span ng-message="required">
            <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
          </span>
        </ng-messages>

      </div>
      <div class="form-group col-sm-6" ng-class="{'has-error': kcAdultApplication.showError(adult, 'referenceTimeKnown1')}">
        <label class="control-label required" for="referenceTimeKnown-1">Length of time known</label>
        <input type="text" class="form-control" name="referenceTimeKnown1" id="referenceTimeKnown-1" ng-model="kcAdultApplication.volunteer.referenceTimeKnown1" placeholder="Length of time known" ng-model-options="{updateOn: 'blur'}"required>
        <ng-messages for="adult.referenceTimeKnown1.$error" ng-if="kcAdultApplication.showError(adult, 'referenceTimeKnown1')">
          <span ng-message="required">
            <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
          </span>
        </ng-messages>
      </div>
      </div>
      <div class="row">
      <div class="form-group col-sm-6" ng-class="{'has-error': kcAdultApplication.showError(adult, 'referenceHomePhone1')}">
        <label class="control-label" for="referenceHomePhone-1">Home Phone</label>
        <input type="text" class="form-control" id="referenceHomePhone1" name="referenceHomePhone1" ng-model="kcAdultApplication.volunteer.referenceHomePhone1" ng-pattern="kcAdultApplication.phoneFormat" placeholder="Home Phone" ng-model-options="{updateOn: 'blur'}">
        <ng-messages for="adult.referenceHomePhone1.$error" ng-if="kcAdultApplication.showError(adult, 'referenceHomePhone1')">
          <span ng-message="pattern">
            <span dynamic-content="$root.MESSAGES.invalidPhone.content | html"></span>
          </span>
        </ng-messages>
      </div>
      <div class="form-group col-sm-6" ng-class="{'has-error': kcAdultApplication.showError(adult, 'referenceMobilePhone1')}">
        <label class="control-label" for="referenceMobilePhone-1">Mobile Phone</label>
        <input type="text" class="form-control" id="referenceMobilePhone-1" name="referenceMobilePhone1" ng-model="kcAdultApplication.volunteer.referenceMobilePhone1" ng-pattern="kcAdultApplication.phoneFormat" placeholder="Mobile Phone" ng-model-options="{updateOn: 'blur'}">
        <ng-messages for="adult.referenceMobilePhone1.$error" ng-if="kcAdultApplication.showError(adult, 'referenceMobilePhone1')">
          <span ng-message="pattern">
            <span dynamic-content="$root.MESSAGES.invalidPhone.content | html"></span>
          </span>
        </ng-messages>
      </div>
      </div>
      <div class="row">
      <div class="form-group col-sm-6" ng-class="{'has-error': kcAdultApplication.showError(adult, 'referenceWorkPhone1')}">
        <label class="control-label" for="referenceWorkPhone-1">Work Phone</label>
        <input type="text" class="form-control" id="referenceWorkPhone-1" name="referenceWorkPhone1" ng-pattern="kcAdultApplication.phoneFormat" ng-model="kcAdultApplication.volunteer.referenceWorkPhone1" placeholder="Work Phone" ng-model-options="{updateOn: 'blur'}">
        <ng-messages for="adult.referenceWorkPhone1.$error" ng-if="kcAdultApplication.showError(adult, 'referenceWorkPhone1')">
          <span ng-message="pattern">
            <span dynamic-content="$root.MESSAGES.invalidPhone.content | html"></span>
          </span>
        </ng-messages>

      </div>
      <div class="form-group col-sm-6" ng-class="{'has-error': kcAdultApplication.showError(adult, 'referenceEmail1')}">
        <label class="control-label required" for="referenceEmail-1">Email</label>
        <input type="email" class="form-control" id="referenceEmail-1" name="referenceEmail1" ng-model="kcAdultApplication.volunteer.referenceEmail1" placeholder="Email" ng-model-options="{updateOn: 'blur'}"required>
        <ng-messages for="adult.referenceEmail1.$error" ng-if="kcAdultApplication.showError(adult, 'referenceEmail1')">
          <span ng-message="required">
            <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
          </span>
          <span ng-message="email">
            <span dynamic-content="$root.MESSAGES.invalidEmail.content | html"></span>
          </span>
        </ng-messages>

      </div>
      </div>
      <div class="row">
      <div class="form-group col-sm-6" ng-class="{'has-error': kcAdultApplication.showError(adult, 'referenceAssociation1')}">
        <label class="control-label required" for="referenceAssociation-1">Nature of Association</label>
        <input type="text" class="form-control" id="referenceAssociation-1" name="referenceAssociation1" ng-model="kcAdultApplication.volunteer.referenceAssociation1" placeholder="Nature of Association" ng-model-options="{updateOn: 'blur'}"required>
        <ng-messages for="adult.referenceAssociation1.$error" ng-if="kcAdultApplication.showError(adult, 'referenceAssociation1')">
          <span ng-message="required">
            <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
          </span>
        </ng-messages>

      </div>
      <div class="form-group col-sm-6" ng-class="{'has-error': kcAdultApplication.showError(adult, 'referenceOccupation1')}">
        <label class="control-label required" for="referenceOccupation-1">Occupation</label>
        <input type="text" class="form-control" id="referenceOccupation-1" name="referenceOccupation1" ng-model="kcAdultApplication.volunteer.referenceOccupation1" placeholder="Occupation" ng-model-options="{updateOn: 'blur'}"required>
        <ng-messages for="adult.referenceOccupation1.$error" ng-if="kcAdultApplication.showError(adult, 'referenceOccupation1')">
          <span ng-message="required">
            <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
          </span>
        </ng-messages>
      </div>
    </div>
    <!--/row-->

    <hr />

    <!-- Reference #2 -->
    <div class="row">
      <h4 class="col-sm-12">Second Reference</h4>
      <div class="form-group col-sm-6" ng-class="{'has-error': kcAdultApplication.showError(adult, 'referenceName2')}">
        <label class="control-label required" for="referenceName-2">Name</label>
        <input type="text" class="form-control" id="referenceName-2" name="referenceName2" ng-model="kcAdultApplication.volunteer.referenceName2" placeholder="Name" ng-model-options="{updateOn: 'blur'}"required>
        <ng-messages for="adult.referenceName2.$error" ng-if="kcAdultApplication.showError(adult, 'referenceName2')">
          <span ng-message="required">
            <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
          </span>
        </ng-messages>
      </div>

      <div class="form-group col-sm-6" ng-class="{'has-error': kcAdultApplication.showError(adult, 'referenceTimeKnown2')}">
        <label class="control-label required" for="referenceTimeKnown-2">Length of time known</label>
        <input type="text" class="form-control" name="referenceTimeKnown2" id="referenceTimeKnown-2" ng-model="kcAdultApplication.volunteer.referenceTimeKnown2" placeholder="Length of time known" ng-model-options="{updateOn: 'blur'}"required>
        <ng-messages for="adult.referenceTimeKnown2.$error" ng-if="kcAdultApplication.showError(adult, 'referenceTimeKnown2')">
          <span ng-message="required">
            <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
          </span>
        </ng-messages>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-6" ng-class="{'has-error': kcAdultApplication.showError(adult, 'referenceHomePhone2')}">
        <label class="control-label" for="referenceHomePhone-2">Home Phone</label>
        <input type="text" class="form-control" id="referenceHomePhone2" name="referenceHomePhone2" ng-model="kcAdultApplication.volunteer.referenceHomePhone2" ng-pattern="kcAdultApplication.phoneFormat" placeholder="Home Phone" ng-model-options="{updateOn: 'blur'}">
        <ng-messages for="adult.referenceHomePhone2.$error" ng-if="kcAdultApplication.showError(adult, 'referenceHomePhone2')">
          <span ng-message="pattern">
            <span dynamic-content="$root.MESSAGES.invalidPhone.content | html"></span>
          </span>
        </ng-messages>
      </div>
      <div class="form-group col-sm-6" ng-class="{'has-error': kcAdultApplication.showError(adult, 'referenceMobilePhone2')}">
        <label class="control-label" for="referenceMobilePhone-2">Mobile Phone</label>
        <input type="text" class="form-control" id="referenceMobilePhone-2" name="referenceMobilePhone2" ng-model="kcAdultApplication.volunteer.referenceMobilePhone2" ng-pattern="kcAdultApplication.phoneFormat" placeholder="Mobile Phone" ng-model-options="{updateOn: 'blur'}">
        <ng-messages for="adult.referenceMobilePhone2.$error" ng-if="kcAdultApplication.showError(adult, 'referenceMobilePhone2')">
          <span ng-message="pattern">
            <span dynamic-content="$root.MESSAGES.invalidPhone.content | html"></span>
          </span>
        </ng-messages>

      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-6" ng-class="{'has-error': kcAdultApplication.showError(adult, 'referenceWorkPhone2')}">
        <label class="control-label" for="referenceWorkPhone-2">Work Phone</label>
        <input type="text" class="form-control" id="referenceWorkPhone-2" name="referenceWorkPhone2" ng-pattern="kcAdultApplication.phoneFormat" ng-model="kcAdultApplication.volunteer.referenceWorkPhone2" placeholder="Work Phone" ng-model-options="{updateOn: 'blur'}">
        <ng-messages for="adult.referenceWorkPhone2.$error" ng-if="kcAdultApplication.showError(adult, 'referenceWorkPhone2')">
          <span ng-message="pattern">
            <span dynamic-content="$root.MESSAGES.invalidPhone.content | html"></span>
          </span>
        </ng-messages>
      </div>
      <div class="form-group col-sm-6" ng-class="{'has-error': kcAdultApplication.showError(adult, 'referenceEmail2')}">
        <label class="control-label required" for="referenceEmail-2">Email</label>
        <input type="email" class="form-control" id="referenceEmail-2" name="referenceEmail2" ng-model="kcAdultApplication.volunteer.referenceEmail2" placeholder="Email" ng-model-options="{updateOn: 'blur'}"required>
        <ng-messages for="adult.referenceEmail2.$error" ng-if="kcAdultApplication.showError(adult, 'referenceEmail2')">
          <span ng-message="required">
            <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
          </span>
          <span ng-message="email">
            <span dynamic-content="$root.MESSAGES.invalidEmail.content | html"></span>
          </span>
        </ng-messages>

      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-6" ng-class="{'has-error': kcAdultApplication.showError(adult, 'referenceAssociation2')}">
        <label class="control-label required" for="referenceAssociation-2">Nature of Association</label>
        <input type="text" class="form-control" id="referenceAssociation-2" name="referenceAssociation2" ng-model="kcAdultApplication.volunteer.referenceAssociation2" placeholder="Nature of Association" ng-model-options="{updateOn: 'blur'}"required>
        <ng-messages for="adult.referenceAssociation2.$error" ng-if="kcAdultApplication.showError(adult, 'referenceAssociation2')">
          <span ng-message="required">
            <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
          </span>
        </ng-messages>

      </div>
      <div class="form-group col-sm-6" ng-class="{'has-error': kcAdultApplication.showError(adult, 'referenceOccupation2')}">
        <label class="control-label required" for="referenceOccupation-2">Occupation</label>
        <input type="text" class="form-control" id="referenceOccupation-2" name="referenceOccupation2" ng-model="kcAdultApplication.volunteer.referenceOccupation2" placeholder="Occupation" ng-model-options="{updateOn: 'blur'}"required>
        <ng-messages for="adult.referenceOccupation2.$error" ng-if="kcAdultApplication.showError(adult, 'referenceOccupation2')">
          <span ng-message="required">
            <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
          </span>
        </ng-messages>
      </div>
    </div>
    <!--/row-->

    <hr />

    <!-- Reference #3 -->
    <div class="row">
      <h4 class="col-sm-13">Third Reference</h4>
      <div class="form-group col-sm-6" ng-class="{'has-error': kcAdultApplication.showError(adult, 'referenceName3')}">
        <label class="control-label required" for="referenceName-3">Name</label>
        <input type="text" class="form-control" id="referenceName-3" name="referenceName3" ng-model="kcAdultApplication.volunteer.referenceName3" placeholder="Name" ng-model-options="{updateOn: 'blur'}" required>
        <ng-messages for="adult.referenceName3.$error" ng-if="kcAdultApplication.showError(adult, 'referenceName3')">
          <span ng-message="required">
            <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
          </span>
        </ng-messages>
      </div>

      <div class="form-group col-sm-6" ng-class="{'has-error': kcAdultApplication.showError(adult, 'referenceTimeKnown3')}">
        <label class="control-label required" for="referenceTimeKnown-3">Length of time known</label>
        <input type="text" class="form-control" name="referenceTimeKnown3" id="referenceTimeKnown-3" ng-model="kcAdultApplication.volunteer.referenceTimeKnown3" placeholder="Length of time known" ng-model-options="{updateOn: 'blur'}" required>
        <ng-messages for="adult.referenceTimeKnown3.$error" ng-if="kcAdultApplication.showError(adult, 'referenceTimeKnown3')">
          <span ng-message="required">
            <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
          </span>
        </ng-messages>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-6" ng-class="{'has-error': kcAdultApplication.showError(adult, 'referenceHomePhone3')}">
        <label class="control-label" for="referenceHomePhone-3">Home Phone</label>
        <input type="text" class="form-control" id="referenceHomePhone3" name="referenceHomePhone3" ng-pattern="kcAdultApplication.phoneFormat" ng-model="kcAdultApplication.volunteer.referenceHomePhone3" placeholder="Home Phone" ng-model-options="{updateOn: 'blur'}">
        <ng-messages for="adult.referenceHomePhone3.$error" ng-if="kcAdultApplication.showError(adult, 'referenceHomePhone3')">
          <span ng-message="pattern">
            <span dynamic-content="$root.MESSAGES.invalidPhone.content | html"></span>
          </span>
        </ng-messages>
      </div>
      <div class="form-group col-sm-6" ng-class="{'has-error': kcAdultApplication.showError(adult, 'referenceMobilePhone3')}">
        <label class="control-label" for="referenceMobilePhone-3">Mobile Phone</label>
        <input type="text" class="form-control" id="referenceMobilePhone-3" name="referenceMobilePhone3" ng-pattern="kcAdultApplication.phoneFormat" ng-model="kcAdultApplication.volunteer.referenceMobilePhone3" placeholder="Mobile Phone" ng-model-options="{updateOn: 'blur'}">
        <ng-messages for="adult.referenceMobilePhone3.$error" ng-if="kcAdultApplication.showError(adult, 'referenceMobilePhone3')">
          <span ng-message="pattern">
            <span dynamic-content="$root.MESSAGES.invalidPhone.content | html"></span>
          </span>
        </ng-messages>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-6" ng-class="{'has-error': kcAdultApplication.showError(adult, 'referenceWorkPhone3')}">
        <label class="control-label" for="referenceWorkPhone-3">Work Phone</label>
        <input type="text" class="form-control" id="referenceWorkPhone-3" name="referenceWorkPhone3" ng-model="kcAdultApplication.volunteer.referenceWorkPhone3" ng-pattern="kcAdultApplication.phoneFormat" placeholder="Work Phone" ng-model-options="{updateOn: 'blur'}">
        <ng-messages for="adult.referenceWorkPhone3.$error" ng-if="kcAdultApplication.showError(adult, 'referenceWorkPhone3')">
          <span ng-message="pattern">
            <span dynamic-content="$root.MESSAGES.invalidPhone.content | html"></span>
          </span>
        </ng-messages>
      </div>
      <div class="form-group col-sm-6" ng-class="{'has-error': kcAdultApplication.showError(adult, 'referenceEmail3')}">
        <label class="control-label required" for="referenceEmail-3">Email</label>
        <input type="email" class="form-control" id="referenceEmail-3" name="referenceEmail3" ng-model="kcAdultApplication.volunteer.referenceEmail3" placeholder="Email" ng-model-options="{updateOn: 'blur'}" required>
        <ng-messages for="adult.referenceEmail3.$error" ng-if="kcAdultApplication.showError(adult, 'referenceEmail3')">
          <span ng-message="required">
            <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
          </span>
          <span ng-message="email">
            <span dynamic-content="$root.MESSAGES.invalidEmail.content | html"></span>
          </span>
        </ng-messages>

      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-6" ng-class="{'has-error': kcAdultApplication.showError(adult, 'referenceAssociation3')}">
        <label class="control-label required" for="referenceAssociation-3">Nature of Association</label>
        <input type="text" class="form-control" id="referenceAssociation-3" name="referenceAssociation3" ng-model="kcAdultApplication.volunteer.referenceAssociation3" placeholder="Nature of Association" ng-model-options="{updateOn: 'blur'}" required>
        <ng-messages for="adult.referenceAssociation3.$error" ng-if="kcAdultApplication.showError(adult, 'referenceAssociation3')">
          <span ng-message="required">
            <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
          </span>
        </ng-messages>

      </div>
      <div class="form-group col-sm-6" ng-class="{'has-error': kcAdultApplication.showError(adult, 'referenceOccupation3')}">
        <label class="control-label required" for="referenceOccupation-3">Occupation</label>
        <input type="text" class="form-control" id="referenceOccupation-3" name="referenceOccupation3" ng-model="kcAdultApplication.volunteer.referenceOccupation3" placeholder="Occupation" ng-model-options="{updateOn: 'blur'}" required>
        <ng-messages for="adult.referenceOccupation3.$error" ng-if="kcAdultApplication.showError(adult, 'referenceOccupation3')">
          <span ng-message="required">
            <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
          </span>
        </ng-messages>
      </div>
    </div>
    <!--/row-->

    <hr />

    <div class="row">
      <div dynamic-content="$root.MESSAGES.kc_app_disclaimer.content | html"></div>

      <div class="form-group col-sm-12" ng-class="{'has-error': kcAdultApplication.showError(adult, 'signatureAgree')}">
        <label class="block required control-label">Agree</label>
        <label class="radio-inline">
          <input type="radio" value="Yes" name="signatureAgree" ng-model="kcAdultApplication.volunteer.signatureAgree" required>Yes
        </label>
        <label class="radio-inline">
          <input type="radio" value="No" name="signatureAgree" ng-model="kcAdultApplication.volunteer.signatureAgree" required>No
        </label>
        <ng-messages for="adult.signatureAgree.$error" ng-if="kcAdultApplication.showError(adult, 'signatureAgree')">
          <span ng-message="required">
            <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
          </span>
        </ng-messages>
      </div>

      <div class="form-group col-sm-6" >
        <label class="control-label" for="signatureDate">Date</label>
        <input type="text" name="signatureDate" id="signatureDate" class="form-control"  ng-model="kcAdultApplication.volunteer.signatureDate" disabled>
      </div>
    </div>
    <!--/row-->
  </fieldset>

  <button type="submit" name="submit" id="submit" class="btn btn-primary push-half-bottom" ng-disabled="kcAdultApplication.saving"> {{kcAdultApplication.submitButtonText}} </button>

</form>
<div dynamic-content="kcAdultApplication.pageInfo.page2 | html"></div>
