<div ng-if="!EventSetupCtrl.allowAdminAccess()" class="alert alert-danger" role="alert">
  <div dynamic-content="$root.MESSAGES.mptool_invalid_access.content | html"></div>
</div>

<div ng-if="EventSetupCtrl.allowAdminAccess()" class="form-group col-lg-12">
  <h1 class="page-header">Event Setup</h1>
  <div class="push-top">
    <div class="row">
      <div class="form-group col-sm-6">
        <!--<site-filter site="EventSetupCtrl.site" on-change="EventSetupCtrl.loadEvents()"></site-filter>-->
        <site-filter site="EventSetupCtrl.site" ></site-filter>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-6">
        <date-range start-date="EventSetupCtrl.startDate" end-date="EventSetupCtrl.endDate" no-past-date="true" >Date Range Goes Here</date-range>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-6">
        <input type="submit" value="Filter" class="btn btn-primary btn-sm" ng-click="EventSetupCtrl.loadEvents()"
               ng-enabled="EventSetupCtrl.site.id !== undefined && EventSetupCtrl.saving === false && EventSetupCtrl.eventTemplatesLoading === false && EventSetupCtrl.eventsLoading === false"  />
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-6">
        <div ng-show="EventSetupCtrl.eventsReady">
          <preloader full-screen='false' ng-show="EventSetupCtrl.eventTemplatesLoading"> </preloader>
          <div ng-show="!EventSetupCtrl.eventTemplatesLoading">
            <event-filter label="Event Template" event="EventSetupCtrl.template" events="EventSetupCtrl.eventTemplates"></event-filter>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-6">
        <div ng-show="EventSetupCtrl.eventsReady">
          <preloader full-screen='false' ng-show="EventSetupCtrl.eventsLoading"> </preloader>
          <div ng-show="!EventSetupCtrl.eventsLoading">
            <event-filter label="Event" event="EventSetupCtrl.event" events="EventSetupCtrl.events"></event-filter>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group  col-sm-6">
        <div ng-show="EventSetupCtrl.eventsReady">
          <button class="btn btn-primary btn-sm" ng-class="{disabled: EventSetupCtrl.saving}" ng-click="EventSetupCtrl.setup()">Setup</button>
        </div>
      </div>
    </div>
  </div>
</div>
