<p><a href="/groups" class="btn btn-standard btn-sm pull-right btn-sm">{{$root.MESSAGES.groupToolResourcesNavBackToGroups.content | htmlToPlainText}}</a></p>
<h2 class="page-header push-half-bottom">{{$root.MESSAGES.groupToolResourcesPageHeader.content | htmlToPlainText}}</h2>
<p class="push-bottom" dynamic-content="$root.MESSAGES.groupToolResourcesPageHeaderSubtext.content | html"></p>

<preloader full-screen='false' ng-show='!groupResources.ready'> </preloader>

<div ng-show="groupResources.ready && !groupResources.hasData()" dynamic-content="$root.MESSAGES.groupToolResourcesNoResourcesFound.content | html"></div>

<div ng-show="groupResources.ready && groupResources.hasData()">
  <div tabset="" class="group-resource-tabs" vertical="false" id="group-resource-tabs">
    <div heading="View All" tab="">
      <div class="row" ng-repeat="category in groupResources.getCategories()">
        <div class="col-sm-12 text-left">
          <h3 class="group-category-title">{{category.getTitle()}}</h3>
          <p ng-bind-html="category.getDescription()" class="push-bottom"></p>
        </div>
        <div ng-repeat="resource in category.getResources()" class="col-sm-3 group-resource-item push-bottom soft-bottom"><a href="{{resource.getUrl()}}" target="_blank" ng-if="resource.hasUrl()"><span class="hidden">{{resource.getTitle()}}</span></a>
          <div class="resource-img-cont">
            <div class="aspect-content"><img ng-src="{{resource.getImage()}}" class="img-responsive" alt="" title="" /></div>
          </div>
          <svg viewbox="0 0 32 32" class="icon icon-large pull-left" ng-class="'icon' + resource.getIcon()">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" ng-attr-xlink:href="{{'#' + resource.getIcon()}}" xlink:href="">&nbsp;</use>
          </svg>
          <h5 class="flush-bottom weight-semibold">{{resource.getTitle()}}</h5>
          <p class="flush-ends author"><em>by {{resource.getAuthor()}}</em></p>
          <p class="group-resource-tagline flush-ends">{{resource.getTagline()}}</p>
        </div>
        <div class="col-sm-12 push-bottom" ng-if="category.hasFooterContent()">
          <div class="well clearfix">
            <div class="row">
              <div class="col-xs-2 col-sm-1 text-center">
                <svg viewbox="0 0 45 45" class="icon icon-screwhead icon-large">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#screwhead">&nbsp;</use>
                </svg>
              </div>
              <div class="col-xs-10 col-sm-11 hard-left">
                <div class="pull-left" ng-bind-html="category.getFooterContent()">&nbsp;</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div ng-repeat="category in groupResources.getCategories()" heading="{{category.getTitle()}}" active="category.active" tab="">
      <div class="row">
        <div class="col-sm-12 text-left">
          <h3 class="group-category-title">{{category.getTitle()}}</h3>
          <p ng-bind-html="category.description" class="push-bottom"></p>
        </div>
        <div ng-repeat="resource in category.resources" class="col-sm-3 group-resource-item push-bottom soft-bottom"><a href="{{resource.getUrl()}}" target="_blank" ng-if="resource.hasUrl()"><span class="hidden">{{resource.getTitle()}}</span></a>
          <div class="resource-img-cont">
            <div class="aspect-content"><img ng-src="{{resource.getImage()}}" class="img-responsive" alt="" title="" /></div>
          </div>
          <svg viewbox="0 0 32 32" class="icon icon-large pull-left" ng-class="'icon' + resource.getIcon()">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" ng-attr-xlink:href="{{'#' + resource.getIcon()}}" xlink:href="">&nbsp;</use>
          </svg>
          <h5 class="flush-bottom weight-semibold">{{resource.getTitle()}}</h5>
          <p class="flush-ends author"><em>by {{resource.getAuthor()}}</em></p>
          <p class="group-resource-tagline flush-ends">{{resource.getTagline()}}</p>
        </div>
        <div class="col-sm-12 push-bottom" ng-if="category.hasFooterContent()">
          <div class="well clearfix">
            <div class="row">
              <div class="col-xs-2 col-sm-1 text-center">
                <svg viewbox="0 0 45 45" class="icon icon-screwhead icon-large">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#screwhead">&nbsp;</use>
                </svg>
              </div>
              <div class="col-xs-10 col-sm-11 hard-left">
                <div class="pull-left" ng-bind-html="category.getFooterContent()">&nbsp;</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
