<div dynamic-content="$root.MESSAGES.superbowl_anywhere.content | html"></div>

<script type="text/ng-template" id="styleModalContent.html">
    <div class="modal-header">
      <h3 class="modal-title superbowl-title">Enter your zipcode to continue</h3>
    </div>
    <div class="modal-body">
    <form ng-submit="ok()">
      <div class="row">
       <div class="col-sm-12">
         <input type="number" name="myZipcodeInput" id="myZipcodeInput" ng-model='zipcodeinput' class="form-control" autofocus>
         </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="submit" ng-click="ok()">Continue</button>
      </div>
    </form>
</script>

<!-- Style is in template because we only want to blur the modal background on this page. Roboto font not working with fontface -->
<style>
.modal-open .main,
.modal-open #top-header,
.modal-open footer {
  -webkit-filter: blur(3px);
  filter: blur(3px);
}
</style>
