<div class="row">
  <div class="col-sm-10 col-sm-offset-1 col-md-8 col-sm-offset-2">

    <h4 class="team-date">{{onetimeEventBlock.getDate()}}</h4>

    <div class="row">

      <div class="col-sm-1">
        {{onetimeEventBlock.startTime()}}
      </div>

      <div class="col-sm-11">
        <div class="panel panel-default">

          <div class="panel-heading clearfix" ng-click="onetimeEventBlock.togglePanel()">
            <span class="team-name">{{onetimeEventBlock.event.name}}</span>
          </div><!--/panel-heading-->

          <div class="panel-collapse collapse" collapse="onetimeEventBlock.isCollapsed">
            <div class="panel-body soft-half-bottom">
              <form ng-submit='onetimeEventBlock.submit()'>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>Who will attend the event?</label>
                      <div ng-repeat="member in onetimeEventBlock.thisFamily">
                        <div class="checkbox" >
                          <label>
                            <input type='checkbox' ng-model="member.selected" />
                            <span>{{member.preferredName}}</span>
                            <span>{{member.emailAddress}}</span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-body text-muted">
                        <div class="pull-left">
                          <h5 class="flush-bottom"> Event Times </h5>
                          <p>{{onetimeEventBlock.startTime()}} - {{onetimeEventBlock.endTime()}}</p>
                        </div>
                        <div class="pull-left push-left">
                          <h5 class="flush-bottom"> Site </h5>
                          <p>{{onetimeEventBlock.event.location}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 serve-childcare" ng-show="onetimeEventBlock.group.childCareInd">
                    <div class="checkbox">
                      <label>
                        <input type='checkbox' ng-model="onetimeEventBlock.childcareRequested" />
                        <span>I need childcare</span>
                      </label>
                      <span class="hidden-xs visible-sm-inline visible-md-inline visible-lg-inline"
                        popover="{{ onetimeEventBlock.popoverText }}"
                        popover-placement="right">
                        <svg viewBox="0 0 32 32" class="icon icon-question-circle icon-subtle pointer">
                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#question-circle"></use>
                        </svg>
                      </span>
                    </div>
                  </div>
                  <div class="col-sm-12 serve-save soft-half-top">
                    <loading-button
                       loading-text='Saving...'
                       normal-text='Save'
                       input-type='submit'
                       input-classes='btn btn-primary btn-block-mobile'
                       loading-class='disabled'
                       loading='onetimeEventBlock.saving' >
                    </loading-button>
                  </div><!--/col-sm-12-->
                </div>
              </form>
            </div>
          </div>
          </div>

        </div><!--/panel-->
      </div><!--/col-->
    </div><!--/row-->
  </div><!--/col-->
</div><!--/row-->
