<div ng-if="!request.allowAccess && request.viewReady" class="alert alert-danger" role="alert">
  <div dynamic-content="$root.MESSAGES.mptool_invalid_access.content | html"></div>
</div>

<div ng-if="request.error && request.viewReady" class="alert alert-danger" role="alert">
  <div dynamic-content="$root.MESSAGES.childcarePendingOnlyEdit.content | html"></div>
</div>

<div ng-if="request.allowAccess  && !request.error">
  <preloader full-screen="true" ng-show="!request.viewReady"> </preloader>
  <div ng-if="request.viewReady"  class="col-md-6 col-md-offset-3"> 
    <h1> Childcare Request </h1>
    <form name="request.childcareRequestForm" novalidate ng-submit="request.submit()">

      <div class="form-group" ng-class="{'has-error': request.validateField('congregation')}">
        <label class="control-label required" for="congregation">Site</label>
        <select name="congregation" 
                class="form-control"
                ng-options="congregation.dp_RecordName for congregation in request.congregations track by congregation.dp_RecordID" 
                ng-model="request.choosenCongregation"
                required 
                ng-change="request.getGroups()">
          <option value=""> -- Choose your Site -- </option>
        </select>
        <ng-messages for="request.childcareRequestForm.congregation.$error" ng-if="request.validateField('congregation')">
          <span ng-message="required">
            <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
          </span>
        </ng-messages>
      </div>

      <div class="form-group" ng-class="{'has-error': request.validateField('ministry')}">
      	<label class="control-label required" for="ministry">Ministry</label>
      	<select name="ministry"
                class="form-control"
                ng-model="request.choosenMinistry"
                required
                ng-change="request.getGroups()"
                ng-options="ministry.dp_RecordName for ministry in request.ministries track by ministry.dp_RecordID">
          <option value=""> -- Choose your Ministry -- </option>
      	</select>
        <ng-messages for="request.childcareRequestForm.ministry.$error" ng-if="request.validateField('ministry')">
          <span ng-message="required">
            <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
          </span>
        </ng-messages>
      </div>

      <preloader full-screen="false" ng-show="request.loadingGroups"> </preloader>

      <div class="form-group" ng-class="{'has-error': request.validateField('group')}" ng-show="request.showGroups()">
      	<label class="control-label required" for="group">Group</label>
      	<select class="form-control" 
                name="group"
                ng-model="request.choosenGroup"
                required
                ng-options="group.dp_RecordName for group in request.groups track by group.dp_RecordID" >
          <option value=""> -- Choose your Group -- </option>
        </select>
        <ng-messages for="request.childcareRequestForm.group.$error" ng-if="request.validateField('group')">
          <span ng-message="required">
            <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
          </span>
        </ng-messages>
      </div>

      <div class="form-group"  ng-show="request.choosenGroup">
        <date-range required="true"
                    start-date="request.startDate"
                    end-date="request.endDate"
                    min-date="request.minDate"
                    start-date-change="request.onStartDateChange(startDate)"
                    end-date-change="request.onEndDateChange(endDate)">
          Date Range
        </date-range>
      </div>

      <div class="form-group" ng-class="{'has-error': request.validateField('frequency')}" ng-show="request.choosenGroup">
        <label class="control-label required" for="frequency">Frequency</label>
        <select class="form-control" 
                name="frequency" 
                ng-model="request.choosenFrequency"
                ng-change="request.onFrequencyChange()"
                required>
          <option value=""> -- Please choose a Frequency -- </option>
          <option value="Once"> Once </option>
          <option value="Weekly"> Weekly </option>
          <option value="Monthly"> Monthly </option>
        </select>
        <ng-messages for="request.childcareRequestForm.frequency.$error" ng-if="request.validateField('frequency')">
          <span ng-message="required">
            <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
          </span>
        </ng-messages>
      </div>


      <div class="form-group" ng-class="{'has-error': request.validateField('preferredTime')}" ng-show="request.choosenGroup">
        <label class="control-label required" for="preferredTime">Available Childcare Sessions</label>
        <select name="preferredTime"
                class="form-control"
                ng-model="request.choosenPreferredTime"
                ng-change="request.preferredTimeChanged()"
                ng-options="request.formatPreferredTime(time) for time in request.filteredTimes track by time.dp_RecordID" 
                required>
          <option value="">-- Please choose a childcare session --</option>
        </select>
        <ng-messages for="request.childcareRequestForm.preferredTime.$error" ng-if="request.validateField('preferredTime')">
          <span ng-message="required">
            <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
          </span>
        </ng-messages>
      </div>

      <div class="form-group" ng-class="{'has-error': request.validateField('dayOfWeek')}" ng-if="request.customSessionSelected">
        <label class="control-label required" for="dayOfWeek">Day of the Week</label>
        <select class="form-control" 
                name="dayOfWeek" 
                ng-model="request.dayOfWeek" 
                ng-change="request.onDayChange()"
                required>
          <option value="" selected>-- Please select a day of the week --</option>
          <option>Sunday</option>
          <option>Monday</option>
          <option>Tuesday</option>
          <option>Wednesday</option>
          <option>Thursday</option>
          <option>Friday</option>
          <option>Saturday</option>
        </select>
        <ng-messages for="request.childcareRequestForm.dayOfWeek.$error" ng-if="request.validateField('dayOfWeek')">
          <span ng-message="required">
            <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
          </span>
        </ng-messages>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="form-group well" ng-class="{'has-error': request.validateField('startTime')}" ng-if="request.customSessionSelected">
            <label class="required" for="startTime">Start Time</label>
            <timepicker name="startTime" 
                        ng-model="request.startTime" 
                        ng-class="timepicker"
                        hour-step="1"
                        minute-step="15"
                        show-meridian="true"
                        required>
            </timepicker>
             <ng-messages for="request.childcareRequestForm.startTime.$error" ng-if="request.validateField('startTime')">
              <span ng-message="required">
                <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
              </span>
            </ng-messages>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-group well" ng-class="{'has-error': request.validateField('endTime')}" ng-if="request.customSessionSelected">
            <label class="required" for="endTime">End Time</label>
            <timepicker name="endTime"
                        ng-model="request.endTime"
                        ng-class="timepicker"
                        hour-step="1"
                        minute-step="15"
                        show-meridian="true"
                        required>
            </timepicker>
            <ng-messages for="request.childcareRequestForm.endTime.$error" ng-if="request.validTimeRange(request.childcareRequestForm)">
              <span ng-message="required">
                <span dynamic-content="$root.MESSAGES.fieldCanNotBeBlank.content | html"></span>
              </span>
              <span ng-message="invalidEnd">
                <span dynamic-content="$root.MESSAGES.endTimeAfterStartTime.content | html"></span>
              </span>
            </ng-messages>
          </div>
        </div>
      </div>

      <div class="form-group" ng-if="request.customSessionSelected">
        <div dynamic-content="$root.MESSAGES.childcareThreeHourMessage.content | html"></div>
      </div>

      <div class="form-group" ng-class="{'has-error': request.validateDateSelection()}"ng-if="request.showGaps()">
          <label class="control-label"  for="checkboxes">Specific Dates</label>
          <div class="panel panel-default" >
            <div class="panel-heading"> Please uncheck any days you do not need childcare available for your group.</div>
            <div class="panel-body" style="overflow-y:auto; max-height:200px;" >
              <div class="checkbox" name="checkboxes" ng-repeat="date in request.datesList track by date.unix">
                <label>
                  <input type="checkbox"
                         name="datecheckbox"
                         checked="checked"
                         ng-required="request.validateDateSelection()"
                         ng-change="request.onDateSelectionChange()"
                         ng-model="date.selected" > {{date.date.format("L")}}
                </label>
              </div>
              <ng-messages for="request.childcareRequestForm.datecheckbox.$error" ng-show="request.validateDateSelection()" >
                <span ng-message="required">
                  <span dynamic-content="$root.MESSAGES.dateNotSelected.content | html"></span>
                </span>
              </ng-messages> 
            </div>
          </div>
      </div>

      <div class="form-group" ng-show="request.choosenGroup">
      	<label class="control-label" for="notes">Notes</label>
      	<textarea class="form-control" name="notes" ng-model="request.notes" placeholder="Enter any additional details here." />
      </div>

      <div class="form-group" >
      	<input class="btn btn-primary btn-standard pull-right"
               type="submit" 
               value="Submit" 
               ng-disabled="request.childcareRequestForm.$invalid || request.saving || !request.datesSelected">
      </div>
    </form>
  </div>
</div>
