<!-- Card Item -->
<div class="card-item" data-category="view">

  <!-- Card Header -->
  <div class="card-header card-background-dark clearfix">
    <h3 class="card-row flush-bottom">{{trip.tripName}}</h3>
    <span class="text-muted">{{ cardName(trip.eventParticipantFirstName, trip.eventParticipantLastName) }}</span> <span class="hidden-xs">&middot;</span> <br class="visible-xs" /> <span class="text-muted trip-date">{{trip.tripStartDate}} - {{trip.tripEnd}}</span>
  </div><!-- /card-heading -->

  <!-- Fund Progress Bar -->
  <div class="col-xs-12 col-top fund-progress">
    <p class="flush-bottom text-right trip-funding" style="width: 100%">${{trip.totalRaised}} Funded</p>
    <progressbar ng-class="{'progress-striped' : !goalMet(trip.totalRaised, trip.fundraisingGoal)}"type="success" max="trip.fundraisingGoal" value="trip.totalRaised"></progressbar>
    <p class="pull-right funding-goal">${{trip.fundraisingGoal}} Goal</p>
  </div><!-- /fund-progress -->

  <!-- Goal Status -->
  <div ng-if="goalMet(trip.totalRaised, trip.fundraisingGoal)" class="col-xs-12 goal-status">
    <div class="card-row days-left">Goal Reached!</div>
    <p class="text-muted">{{trip.fundraisingDays}} days remaining for raising funds</p>
  </div><!-- /goal-status -->

  <div ng-if="!goalMet(trip.totalRaised, trip.fundraisingGoal)" class="col-xs-12 push-bottom goal-status">
    <div class="card-row days-left"><span class="text-danger">{{trip.fundraisingDays}}</span> days remaining for raising funds</div>
  </div>

  <!-- Trip-Sharing -->
  <div class="col-xs-7 trip-sharing" ng-show="trip.eventParticipantId > 0">
    <sn-addthis-toolbox
      class="addthis_crossroads_sharing clearfix addthis_32x32_style push-half-bottom"
      data-url="{{trip.shareUrl}}">
        <a href class="addthis_button_facebook"
          tooltip="Share your trip fundraising page with friends and family on Facebook"
          tooltip-append-to-body="true" u
          tooltip-placement="right">
        </a>
        <a href class="addthis_button_twitter"
          tooltip="Share your trip fundraising page with friends and family on Twitter"
          tooltip-append-to-body="true"
          tooltip-placement="right">
        </a>
        <a href class="addthis_button_email"
          tooltip="Share your trip fundraising page with friends and family via Email"
          tooltip-append-to-body="true"
          tooltip-placement="right">
        </a>
    </sn-addthis-toolbox>
  </div><!--/trip-sharing-->

  <!-- Donor List -->
  <div class="clearfix col-xs-12 card-content donor-list">
    <ul class="list-group">
      <li class="list-group-item hard-sides" ng-repeat="donation in trip.tripGifts">
        <trip-donations donation="donation" trip-title='trip.tripName' ></trip-donations>
      </li><!--/list-group-item-->
    </ul>
  </div><!-- /donor-list -->
</div><!-- /card-item -->
