<div dynamic-content="$root.MESSAGES.goVolunteerUniqueSkillsQuestion.content | html"></div>
<div class="row push-half-bottom">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1">

    <div class="checkbox" ng-repeat="item in goUniqueSkills.skills">
      <!-- / Shouldn't use the title here. Should use an ID from MT -->
      <label for="{{item.skillId}}" class="control-label">
        <input type="checkbox"
               ng-value="item.skillId"
               id="{{item.skillId}}"
               ng-model="item.checked">
        {{item.label}}
      </label>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <button type="submit"
            class="btn btn-block btn-primary-gc"
            ng-click="goUniqueSkills.submit()"> Next
      <svg viewBox="0 0 32 32" class="icon icon-arrow-right9">
        <use xlink:href="#arrow-right9"></use>
      </svg>
    </button>
  </div>
</div>
