<div class="group-card-panel panel panel-default is-flex flex-col flex-grow" ng-class="{ 'group-leader': groupCard.group.isLeader() }">
  <div class="panel-heading">
    <div class="row">
      <div class="col-lg-9 col-md-8 col-sm-10 col-xs-9">
        <h3 class="panel-title tight-line-height">
          {{ groupCard.group.groupName }}
        </h3>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-2 col-xs-3 text-right">
        <span class="label label-standard">{{ groupCard.group.role() }}</span>
      </div>
    </div>
  </div>
  <div class="group-card-body panel-body flex-grow">
    <label class="flush-bottom">Category</label>
    <div class="tight-line-height">{{ groupCard.group.categoriesToString() }}</div>

    <label class="flush-bottom push-half-top">Meeting Time</label>
    <div>{{ groupCard.group.meetingTimeFrequency }}</div>

    <label class="flush-bottom push-half-top">Meeting Location</label>
    <div>{{ groupCard.group.meetingLocation() }}</div>

    <div class="group-card-buttons push-half-top">
      <div class="row">

        <div class="col-md-6 col-sm-12">
          <button type='button' class="btn btn-primary btn-block push-half-top" ui-sref='grouptool.detail({groupId: groupCard.group.groupId})'>
            <svg viewBox="0 0 32 32" class="icon icon-eye2">
              <use xlink:href="#eye2"></use>
            </svg>
            View Details
          </button>
        </div>

        <div class="col-md-6 col-sm-12 push-half-top group-email-select" ng-if="groupCard.group.isLeader()">
          <ui-select ng-model="groupCard.selectedEmailOption" on-select="groupCard.onOptionSelected($item, $model)">
            <ui-select-match class="ui-select-match" placeholder="Email Group">
              {{$select.selected.name}}
            </ui-select-match>
            <ui-select-choices class="ui-select-dropdown dropdown-menu ui-select-choices" repeat="item in groupCard.emailOptions">
              <div ng-show="item.name==='Compose Email'" class="ui-select-choices-group condensed-grid">
                <li>
                  <a href="#" target="_top" ng-click="groupCard.openEmailClient()">
                    <div class="row">
                      <span class="pull-left">
                        <svg-icon icon="{{item.icon}}">
                        </svg-icon>
                        {{item.name}}
                      </span>
                    </div>
                    <div class="row">
                      <small class="pull-left">{{item.descriptionLine1}}</small>
                    </div>
                    <div class="row">
                      <small class="pull-left">{{item.descriptionLine2}}</small>
                    </div>
                </li>
              </div>
              <div ng-show="item.name==='Copy Addresses'" class="ui-select-choices-group condensed-grid">
                <li>
                  <a ngclipboard data-clipboard-text="{{groupCard.emailList}}" ngclipboard-success="groupCard.onCopySuccess()"
                    ngclipboard-error="groupCard.onCopyError()">
                    <div class="row">
                      <span class="pull-left">
                        <svg-icon icon="{{item.icon}}">
                        </svg-icon>
                        {{item.name}}
                      </span>
                    </div>
                    <div class="row">
                      <small class="pull-left">{{item.descriptionLine1}}</small>
                    </div>
                    <div class="row">
                      <small class="pull-left">{{item.descriptionLine2}}</small>
                    </div>
                  </a>
                </li>
              </div>
            </ui-select-choices>

          </ui-select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <button ng-if="groupCard.group.isLeader()" class="btn btn-standard btn-block push-half-top" ui-sref="grouptool.detail.requests({ groupId: groupCard.group.groupId , view: 'Invite' })">
            <svg viewBox="0 0 32 32" class="icon icon-user6">
              <use xlink:href="#user6"></use>
            </svg>
            Invite Someone
          </button>
        </div>

        <div class="col-md-6 col-sm-12">
          <button ng-if="groupCard.group.isLeader()" class="btn btn-standard btn-block push-half-top" ng-click="groupCard.goToInvite()">
            <svg viewBox="0 0 32 32" class="icon icon-inbox">
              <use xlink:href="#inbox"></use>
            </svg>
            View Requests
          </button>
        </div>

      </div>
    </div>
  </div>
</div>
