<preloader full-screen='false' ng-show='!groupDetailParticipants.ready'> </preloader>

<!-- List or Edit participants -->
<div ng-show='groupDetailParticipants.ready' ng-if='groupDetailParticipants.isListView() || groupDetailParticipants.isEditView()'>

  <h4 ng-if="groupDetailParticipants.data.length > 1" class="visible-xs group-detail-title-mobile push-top soft-half-bottom border-bottom">Participants</h4>

  <div class='group-detail-participant-list row push-top'>
    <div ng-repeat='participant in groupDetailParticipants.data' class="group-detail-participant-item col-xs-12 col-sm-6 col-lg-4 push-bottom">
      <group-detail-participant-card delete-action='groupDetailParticipants.beginRemoveParticipant(participant)' role-action='groupDetailParticipants.beginChangeParticipantRole(participant)'
        participant='participant' edit='groupDetailParticipants.isEditView()'>
      </group-detail-participant-card>
    </div>
  </div>
  <div class='row'>&nbsp;</div>

  <div ng-if="groupDetailParticipants.isListView() && groupDetailParticipants.isLeader" dynamic-content="$root.MESSAGES.groupToolDetailParticipantsHelpText.content | html"
    class="text-center"></div>

  <div class="row mobile-push-half-top">
    <div ng-if='groupDetailParticipants.data.length > 1 && groupDetailParticipants.isListView()' class="col-sm-9 col-sm-push-3 col-md-7 col-md-push-5 sm-text-right group-email-select">
      <div class="col-sm-8 push-half-bottom">
        <ui-select ng-model="groupDetailParticipants.selectedEmailOption" on-select="groupDetailParticipants.onOptionSelected($item, $model)">
          <ui-select-match class="ui-select-match" placeholder="Email Group">
            {{$select.selected.name}}
          </ui-select-match>
          <ui-select-choices class="ui-select-dropdown dropdown-menu ui-select-choices" repeat="item in groupDetailParticipants.emailOptions">
            <div ng-show="item.name==='Compose Email'" class="ui-select-choices-group condensed-grid">
              <li>
                  <a href="#" target="_top" ng-click="groupDetailParticipants.openEmailClient()">
                  <div class="row">
                    <span class="pull-left">
                      <svg-icon icon="{{item.icon}}">
                      </svg-icon>
                      {{item.name}}
                    </span>
                  </div>
                  <div class="row">
                    <small class="pull-left">{{item.descriptionLine1}}</small>
                  </div>
                  <div class="row">
                    <small class="pull-left">{{item.descriptionLine2}}</small>
                  </div>
                </a>
              </li>
            </div>
            <div ng-show="item.name==='Copy Addresses'" class="ui-select-choices-group condensed-grid">
              <li>
                <a ngclipboard data-clipboard-text="{{groupDetailParticipants.emailList()}}" ngclipboard-success="groupDetailParticipants.onCopySuccess()"
                  ngclipboard-error="groupDetailParticipants.onCopyError()">
                  <div class="row">
                    <span class="pull-left">
                      <svg-icon icon="{{item.icon}}">
                      </svg-icon>
                      {{item.name}}
                    </span>
                  </div>
                  <div class="row">
                    <small class="pull-left">{{item.descriptionLine1}}</small>
                  </div>
                  <div class="row">
                    <small class="pull-left">{{item.descriptionLine2}}</small>
                  </div>
                </a>
              </li>
            </div>
          </ui-select-choices>
        </ui-select>
      </div>
      <div class="col-sm-4 push-half-bottom">
        <a type='button' class='btn btn-standard btn-block push-half-bottom' href='#' ng-click='groupDetailParticipants.setEditView()'
          ng-if='groupDetailParticipants.isLeader'>Edit Participants</a>
      </div>
    </div>
    <div ng-if='groupDetailParticipants.isEditView()' class="col-sm-6 col-sm-offset-6">
      <a type='button' class='btn btn-primary btn-block-mobile push-half-bottom' href='#' ng-click='groupDetailParticipants.setListView()'
        ng-if='groupDetailParticipants.isLeader'>Cancel</a>
    </div>
    <div ng-class="{'col-sm-pull-9 col-md-pull-7':(groupDetailParticipants.data.length > 1)}" class="col-sm-3 col-md-5 text-center sm-text-left mobile-push-half-top">
      <a ui-sref="grouptool.mygroups" ng-if="groupDetailParticipants.isListView()">
        <svg viewBox="0 0 32 32" class="icon icon-large arrow-circle-o-left">
          <use xlink:href="#arrow-circle-o-left"></use>
        </svg>
        Back to My Groups
      </a>
    </div>
  </div>
</div>

<!-- Delete a participant -->
<div class='container-fluid' ng-if='groupDetailParticipants.isDeleteView() && groupDetailParticipants.isLeader'>
  <group-message person="groupDetailParticipants.deleteParticipant" normal-loading-text="Remove Participant" loading-loading-text="Removing..."
    header="Remove Participant - {{groupDetailParticipants.deleteParticipant.getDisplayName()}}" sub-header-text="groupToolRemoveParticipantSubheaderText"
    contact-text="groupToolRemoveParticipantPleaseContactText" email-template-text="groupToolRemoveParticipantEmailTemplateText"
    cancel-action="groupDetailParticipants.cancelRemoveParticipant(person)" submit-action="groupDetailParticipants.removeParticipant(person)"
    email-message-required="true" processing="groupDetailParticipants.processing"></group-message>
</div>

<!-- Email participants -->
<div class='container-fluid' ng-if='groupDetailParticipants.isEmailView()'>
  <group-email message='groupDetailParticipants.groupMessage' cancel-action='groupDetailParticipants.cancelMessageParticipants(message)'
    submit-action='groupDetailParticipants.messageParticipants(message)' processing='groupDetailParticipants.processing' header='Email Group'
  /> />
</div>

<!-- Change Participant Role -->
<div ng-if="groupDetailParticipants.isRoleView()">
  <change-participant-role participant="groupDetailParticipants.roleParticipant" cancel-action="groupDetailParticipants.cancelChangeParticipantRole()"
    submit-action="groupDetailParticipants.finishChangeParticipantRole()"></change-participant-role>
</div>
