<div class="modal-header">
  <h3 class="modal-title">Upload Profile Image</h3>
</div>
<div class="modal-body">
  <div ng-hide="!modal.myImage" class="change-profile-pic">
    <img-crop image="modal.myImage" result-image="modal.myCroppedImage" area-type="square" ></img-crop>
  </div>
  <div class="push-ends">
      <input ng-focus="modal.focus()" type="file" id="fileInputModal" accept="image/gif,image/jpeg,image/png"/>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="modal.ok()">OK</button>
  <button class="btn btn-standard" type="button" ng-click="modal.cancel()">Cancel</button>
</div>
