<div ng-init="AdminToolController.activate()">
  <div ng-if="!AdminToolController.allowAccess" class="alert alert-danger" role="alert">
    <div dynamic-content="$root.MESSAGES.mptool_invalid_access.content | html"></div>
  </div>

  <div ng-if="AdminToolController.allowAccess">
    <div ng-if="AdminToolController.service.dto.noSelection" class="alert alert-danger" role="alert">
      Sorry, you must select a single donor record in the grid before launching this tool, or launch this tool from the edit view.
    </div>

    <div ng-if="AdminToolController.service.dto.tooManySelections" class="alert alert-danger" role="alert">
      Sorry, you cannot run this tool with multiple donors selected.  Please select only one donor.
    </div>

    <div ng-if="AdminToolController.service.dto.selectionError" class="alert alert-danger" role="alert">
      Sorry, there was an error retrieving the donor record for your selection.
    </div>
  </div>
</div>
