<preloader full-screen='false' ng-if="!groupDetailRequests.ready && groupDetailRequests.listView()"> </preloader>

<div ng-if='groupDetailRequests.listView() && groupDetailRequests.ready'>

  <!-- Invite text and button for Mobile -->
  <div class="hidden-sm hidden-md hidden-lg">
    <div ng-if="!groupDetailRequests.hasRequestsOrInvites()" class="row push-bottom push-top">
      <div class="col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
        <p dynamic-content="$root.MESSAGES.groupToolDetailRequestsHelpText.content | html" class="text-center"></p>
      </div>
    </div>

    <p class='text-center'><button type='button' class='btn btn-primary btn-block-mobile' ng-click="groupDetailRequests.setView('Invite', false)">Invite Someone</button></p>

    <h4 ng-if="groupDetailRequests.hasRequestsOrInvites()" class="group-detail-title-mobile push-top soft-half-bottom border-bottom">Requests</h4>
  </div>

  <!-- Requests Table -->
  <div ng-if="groupDetailRequests.hasRequestsOrInvites()" class="push-bottom">
    <!-- Header Row -->
    <div class="group-request-header row hidden-xs push-top soft-half-bottom">
      <div class="col-sm-10 col-md-9">
        <div class="group-request-data row">
          <div class="col-sm-3">
            Name
          </div>
          <div class="col-sm-3">
            Request Type
          </div>
          <div class="col-sm-3">
            Email Address
          </div>
          <div class="col-sm-3">
            Request Date
          </div>
        </div>
      </div>
    </div>

    <!-- Inquiries -->
    <div ng-repeat='inquiry in groupDetailRequests.inquired track by $index' class="group-request-row row soft-half-top soft-half-bottom">
      <div class="col-sm-10 col-md-9">
        <img class='img-responsive imgix-fluid group-request-image' ng-src='{{inquiry.imageUrl}}' err-src='{{inquiry.defaultProfileImageUrl}}'>
        <div class="group-request-data row">
          <div class="col-sm-3 ellipsis">
            {{inquiry.recipientName()}}
          </div>
          <div class="col-sm-3 ellipsis">
            Requested to Join
          </div>
          <div class="col-sm-3 ellipsis">
            <a href="mailto:{{inquiry.emailAddress}}">{{inquiry.emailAddress}}</a>
          </div>
          <div class="col-sm-3 ellipsis">
            {{inquiry.requestDate | date: 'MM/dd/yyyy'}}
          </div>
        </div>
      </div>
      <div class="col-sm-2 col-md-3">
        <div class="row group-request-buttons">
          <div class="col-xs-6 col-sm-12 col-md-6">
            <button type='button' class='btn btn-standard btn-block push-quarter-bottom' ng-click="groupDetailRequests.deny(inquiry)">Deny</button>
          </div>
          <div class="col-xs-6 col-sm-12 col-md-6">
            <button type='button' class='btn btn-primary btn-block push-quarter-bottom' ng-click="groupDetailRequests.approve(inquiry)">Approve</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Invites -->
    <div ng-repeat='invite in groupDetailRequests.invited track by $index' class="group-request-row row soft-half-top soft-half-bottom">
      <div class="col-sm-10 col-md-9">
        <img class='img-responsive imgix-fluid group-request-image' ng-src='{{invite.imageUrl}}'>
        <div class="group-request-data row">
          <div class="col-sm-3 ellipsis">
            {{invite.recipientName}}
          </div>
          <div class="col-sm-3 ellipsis">
            Invite Sent
          </div>
          <div class="col-sm-3 ellipsis">
            <a href="mailto:{{invite.emailAddress}}">{{invite.emailAddress}}</a>
          </div>
          <div class="col-sm-3 ellipsis">
            {{invite.requestDate | date: 'MM/dd/yyyy'}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Invite text and button for Desktop -->
  <div ng-if="!groupDetailRequests.hasRequestsOrInvites()" class="hidden-xs row push-bottom push-top">
    <div class="col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
      <p dynamic-content="$root.MESSAGES.groupToolDetailRequestsHelpText.content | html" class="text-center"></p>
    </div>
  </div>

  <div class="text-center sm-text-right">
    <button type='button' class='hidden-xs btn btn-primary' ng-click="groupDetailRequests.setView('Invite', false)">Invite Someone</button>
    <a ui-sref="grouptool.mygroups" class="sm-pull-left mobile-push-half-top">
      <svg viewBox="0 0 32 32" class="icon icon-large arrow-circle-o-left">
        <use xlink:href="#arrow-circle-o-left"></use>
      </svg>
      Back to My Groups
    </a>
  </div>

</div>

<div class='container-fluid' ng-if='groupDetailRequests.approveView()'>
  <group-message person="groupDetailRequests.selectedInquiry"
    normal-loading-text="Approve"
    loading-loading-text="Approving..."
    header="Approve Participant - {{ groupDetailRequests.selectedInquiry.recipientName() }}"
    sub-header-text="groupToolApproveInquirySubheaderText"
    email-template-text="groupToolApproveInquiryEmailTemplateText"
    cancel-action="groupDetailRequests.cancel(person)"
    submit-action="groupDetailRequests.submitApprove(person)"
    processing="groupDetailRequests.processing"
    ></group-message>
</div>

<div class='container-fluid' ng-if='groupDetailRequests.denyView()'>
  <group-message person="groupDetailRequests.selectedInquiry"
    normal-loading-text="Deny"
    loading-loading-text="Denying..."
    header="Deny Participant - {{ groupDetailRequests.selectedInquiry.recipientName() }}"
    sub-header-text="groupToolDenyInquirySubheaderText"
    email-template-text="groupToolDenyInquiryEmailTemplateText"
    cancel-action="groupDetailRequests.cancel(person)"
    submit-action="groupDetailRequests.submitDeny(person)"
    email-message-required="true"
    processing="groupDetailRequests.processing"
    ></group-message>
</div>

<div class='container-fluid' ng-if='groupDetailRequests.inviteView()'>
  <group-detail-invite on-update="groupDetailRequests.setView(newView, refresh)" group-id="groupDetailRequests.groupId"></group-detail-invite>
</div>
